doctype html
html(lang='fr')
	head
		meta(charset='utf-8')
		meta(name='hash_ressource', content='00000000')
		meta(name='pf_vitrine')
		meta(name='generator', content='special')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='fragment', content='!')
		meta(name='description', ng-attr-content='{{"META.DESCRIPTION" | translate}}')
		meta(name='author', content='PairForm')
		meta(name='keywords', content='EdTech, communauté, apprentissage, peer learning, blended learning, social learning, dispositif de formation, intelligence collective')
		meta(name='langage', ng-attr-content='{{"META.LANGAGE" | translate}}')
		//- meta(name='google-site-verification', content='S_X9E5CawtD3BNGQ4ABq9BlbhPzwZIeTAVxWPQcRnYQ')
		meta(name='google-site-verification', content='1SMtEm3iFSb_V2yX8qbPYi0g4jcilJz3Yxr7KJd1Lxc')

		meta(name='title', ng-attr-content='{{"META.TITRE.DEFAUT" | translate}}')
		title PairForm

		link(rel='shortcut icon', href='public/ico/favicon.png')
		link(href='public/lib/css/bootstrap.min.css', rel='stylesheet')
		link(href="dist/pf_vitrine.css", rel="stylesheet")
		//- link(href="private/css/accueil.css", rel="stylesheet")
		//- link(href="private/css/angular.css", rel="stylesheet")
		//- link(href="private/css/application.css", rel="stylesheet")
		//- link(href="private/css/circle.css", rel="stylesheet")
		//- link(href="private/css/conseil.css", rel="stylesheet")
		//- link(href="private/css/demo.css", rel="stylesheet")
		//- link(href="private/css/equipe.css", rel="stylesheet")
		//- link(href="private/css/fonts.css", rel="stylesheet")
		//- link(href="private/css/general.css", rel="stylesheet")
		//- link(href="private/css/keyframes.css", rel="stylesheet")
		//- link(href="private/css/kiosque.css", rel="stylesheet")
		//- link(href="private/css/livreblanc.css", rel="stylesheet")
		//- link(href="private/css/sur_mesure.css", rel="stylesheet")
		//- link(href="private/css/tarif.css", rel="stylesheet")

		script(src='public/lib/js/jquery.js', type='text/javascript')
		script(src='public/lib/js/bootstrap.min.js', type='text/javascript')
		script(src='private/js/masonry.min.js', type='text/javascript')
		script(src='app')
		script.
			PF.globals.selector = ".pf-demo span, .pf-demo li, .pf-demo div";
			PF.globals.selectorRes = "none";
			PF.globals.selectorPage = "none";
			PF.globals.selectorContent = ".pf-demo";

			PF_ready = function(PF){
				PF.updateHTML(null, "site_vitrine");
			}
		script(src='private/js/pf_vitrine.js', type='text/javascript')
		//- script(src='dist/pf_vitrine.min.js', type='text/javascript')
		script(type="text/javascript" src="https://pairform.agilecrm.com/stats/min/agile-min.js") 
		script(type="text/javascript").
			_agile.set_account('3orstj0mtk9n33am84bme2dp17', 'pairform'); _agile.track_page_view();
		script(src="https://embed.small.chat/T0A1PMF7EG6FAL417Y.js" async)
	
		script(type="text/javascript").
			_linkedin_data_partner_id = "114252";
		script(type="text/javascript").
			(function(){var s = document.getElementsByTagName("script")[0];
			var b = document.createElement("script");
			b.type = "text/javascript";b.async = true;
			b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
			s.parentNode.insertBefore(b, s);})();
		noscript
			img(height="1", width="1", style="display:none;", alt="", src="https://dc.ads.linkedin.com/collect/?pid=114252&fmt=gif")

	body
		include menu

		main.site-vitrine.container-fluid.clearfix
			.spin-box
			div(ng-view)
