.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		button.navbar-toggle(type='button')
			span.sr-only {{"MENU.AFFICHER" | translate}}
			span.icon-bar
			span.icon-bar
			span.icon-bar

		.navbar-header
			a.navbar-brand.hidden-sm(href='#!/accueil')
				img(src='public/img/logo_full.svg')
		.collapse.navbar-collapse.navbar-right#navigation-bar
			ul.nav.navbar-nav
				li(menu-item): a(href='#!/accueil') {{"MENU.ACCUEIL" | translate}}
				li(menu-item)
					a.dropdown-toggle(href='', data-toggle='dropdown') {{"MENU.OFFRES" | translate}}
						span &nbsp;
						b.caret
					ul.dropdown-menu
						li(menu-item): a(href='#!/conseil') {{"MENU.CONSEIL" | translate}}
						li(menu-item): a(href='#!/sur_mesure') {{"MENU.SUR_MESURE" | translate}}
						li(menu-item): a(href='#!/application') {{"MENU.APPLICATION" | translate}}
				li(menu-item): a(href='#!/equipe') {{"MENU.EQUIPE" | translate}}
				li(menu-item): a(href='#!/livreblanc') {{"MENU.LIVREBLANC" | translate}}
				//-li(menu-item): a(href='#!/kiosque') {{"MENU.KIOSQUE" | translate}}
				li(menu-item): a(href='https://blog.pairform.fr/', target='_bank') {{"MENU.BLOG" | translate}}
