doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='author' content='#{auteurs}')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes')
		meta(http-equiv='Refresh' content='0;URL=#{url_premiere_page}')
		title #{nom_long}
	
	body