doctype html
html
	head
		meta(charset="UTF-8")
		meta(name='author' content='#{auteurs}')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
		
		link(href='ckeditor_capsule.css', rel='stylesheet')
		link(href='css_personalise.css', rel='stylesheet')

	body
		section.ck_editor
			.content
				h1.page-title #{nom_page}
				!{contenu_page}