doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='author' content='#{auteurs}')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes')
		
		title #{nom_long}

		link(href='#{url_serveur_node}/public/lib/css/bootstrap.min.css', rel='stylesheet')
		link(href='#{url_serveur_node}/public/css/ckeditor_capsule.css', rel='stylesheet')
		link(href='#{url_serveur_node}/public/css/ckeditor_capsule_web.css', rel='stylesheet')
		link(href='css_personalise.css', rel='stylesheet')

	body
		header.ck_editor
			#title
				h1 #{nom_long}
				a#title-illustration(href="#{url_espace}")
					img(src="#{logo_espace}")
			
			a#sommaire(href="#{url_ressource}")
				img(src="#{logo_ressource}")
				//- .fa.fa-book
				h1 #{nom_ressource}

		section.ck_editor
			#toc
				nav
					ul
			.content.clearfix
				h1.page-title #{nom_page}
				!{contenu_page}
			.nav-links
				a#nav-link-previous.button.nav-link(href="" target="_self" title="Précédent")
				a#nav-link-next.button.nav-link(href="" target="_self" title="Suivant")
				.clearfix

		script(type='text/javascript' src='#{url_serveur_node}/public/js/ckeditor_sommaire_capsule.js')
		footer
			a.logo(href='#{url_serveur_node}')
				img(src="#{url_serveur_node}/public/img/pairformlogo.png")
		script(type='text/javascript' src='#{url_serveur_node}/app/#{clef_pairform}')
