doctype html
html
  head
    title Page introuvable
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel="stylesheet" href="#{url_serveur_node}/public/lib/css/bootstrap.min.css")
    link(rel="stylesheet" href="#{url_serveur_node}/public/css/pairform_landpage.css")
    
  body
    h1 >> La page demandée n'existe pas.
    main
      .panel.panel-default
        h2.panel-heading Que faire ?
        .panel-body
          ul
            li Revenez sur la page précédente, et continuez votre navigation,
            li Si vous avez rentré l'adresse dans votre navigateur, vérifiez l'exactitude de celle-ci,
            li Rendez-vous sur #[a(href="http://www.pairform.fr") www.pairform.fr] pour poursuivre sur un autre document.
      .alert.alert-warning
        | Si vous pensez qu'il s'agit d'une autre forme d'erreur, contactez-nous à l'adresse  
        span.label.label-warning 
          | contact - arobase - pairform.fr
        | , nous vous répondrons dans les meilleurs délais.
    footer
      | Pairform