doctype html
html
  head
    title PairForm indisponible
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel="stylesheet" href="#{url_serveur_node}/public/lib/css/bootstrap.min.css")
    link(rel="stylesheet" href="#{url_serveur_node}/public/css/pairform_landpage.css")
  body
    h1 >> PairForm est momentanément indisponible.
    main
      .panel.panel-default
        h2.panel-heading Que faire ?
        .panel-body
          ul
            li Réessayez dans quelques instants,
            li Retournez sur #[a(href="http://www.pairform.fr") www.pairform.fr] pour reprendre votre navigation
      .alert.alert-warning
        | Si vous pensez qu'il s'agit d'une autre forme d'erreur, contactez-nous à l'adresse  
        span.label.label-warning 
          | contact - arobase - pairform.fr
        | , nous vous répondrons dans les meilleurs délais.
    footer
      | Pairform