mixin cgu(obj_cgu)
  h1= ">> " + obj_cgu.titre
  main
    each section in obj_cgu.sections
      .panel.panel-default
        h2.panel-heading= section.titre
        .panel-body
          each clause in section.clauses
            if typeof clause == "object"
              h3= clause.titre
              ul
                each ligne in clause.lignes
                  li= ligne
            else
              p= clause

doctype html
html
  head
    title CGU utilisateur
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel="stylesheet", href="#{url_serveur_node}/public/lib/css/bootstrap.min.css")
    link(rel="stylesheet", href="#{url_serveur_node}/public/css/pairform_landpage.css")
  body
    each obj_cgu in array_cgus
      +cgu(obj_cgu)

    footer
      | Pairform