doctype html
html
  head
    title Désactivation des notifications
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel="stylesheet" href="#{url_serveur_node}/public/lib/css/bootstrap.min.css")
    link(rel="stylesheet" href="#{url_serveur_node}/public/css/pairform_landpage.css")
  body
    section
      if success == "ok"
        main
          .panel.panel-default
            h2.panel-heading Toutes les notifications ont été désactivés.
            .panel-body
              p Vous ne recevrez plus de notification de notre part.
          .alert.alert-warning
            | Si vous souhaitez réactiver ces notifications, #[a(href='#{url_serveur_node}/home/preferences') rendez-vous dans vos préférences], puis cliquez sur Activer les notifications sur les ressources que vous souhaitez.
      else
        main
          .panel.panel-error
            h2.panel-heading Lien invalide
            .panel-body
              p Si vous pensez qu'il s'agit d'une autre forme d'erreur, contactez-nous à l'adresse #[span.label.label-warning contact - arobase - pairform.fr], nous vous répondrons dans les meilleurs délais.
    footer
      | Pairform
