doctype html
html
  head
    title E-mail valid&eacute;
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel="stylesheet" href="#{url_serveur_node}/public/lib/css/bootstrap.min.css")
    link(rel="stylesheet" href="#{url_serveur_node}/public/css/pairform_landpage.css")
  body
    section
    if token_expired
      h1 >> Votre demande de réinitialisation de mot de passe a expirée.
      main
        .panel.panel-default
          h2.panel-heading Que faire ?
          .panel-body
            ul
              li Vérifiez que vous êtes bien à l'adresse indiquée dans l'email que nous vous avons envoyé,
              li Réessayez de réinitialiser votre mot de passe à nouveau.
        .alert.alert-warning
          | Si vous pensez qu'il s'agit d'une autre forme d'erreur, contactez-nous à l'adresse  
          span.label.label-warning 
            | contact - arobase - pairform.fr
          | , nous vous répondrons dans les meilleurs délais.
    else

      h1 >> Votre nouveau mot de passe a &eacute;t&eacute; envoy&eacute;.
      main
        .panel.panel-default
          h2.panel-heading Que faire ?
          .panel-body
            ul
              li  Nous vous recommandons de changer votre mot de passe dans la configuration de votre profil (roue dent&eacute;e sur l&apos;&eacute;cran de profil) d&egrave;s que possible.

    footer
      | Pairform
