doctype html
html
  head
    title E-mail valid&eacute;
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel="stylesheet" href="#{url_serveur_node}/public/lib/css/bootstrap.min.css")
    link(rel="stylesheet" href="#{url_serveur_node}/public/css/pairform_landpage.css")
  body
    section
    if erreur == "ws_utilisateur_invalide"
      h1 >> Ce lien de validation est invalide.
      main
        .panel.panel-default
          h2.panel-heading Que faire ?
          .panel-body
            ul
              li Vérifiez que vous êtes bien à l'adresse indiquée dans l'email que nous vous avons envoyé,
        .alert.alert-warning
          | Si vous pensez qu'il s'agit d'une autre forme d'erreur, contactez-nous à l'adresse  
          span.label.label-warning 
            | contact - arobase - pairform.fr
          | , nous vous répondrons dans les meilleurs délais.
    else if erreur == "ws_utilisateur_deja_valide"
      h1 >> Votre adresse e-mail est déjà validée.
      main
        .panel.panel-default
          h2.panel-heading Que faire ?
          .panel-body
            | Votre identité a déjà été validée : vous pouvez donc dès à présent utiliser PairForm sur votre #[a(href="https://www.pairform.fr") ordinateur] , #[a(href="https://itunes.apple.com/fr/app/pairform/id673935516?mt=8&amp;uo=4", target="itunes_store") iOS]  ou #[a(href="https://play.google.com/store/apps/details?id=cape.pairform") Android!]
        .alert.alert-warning
          | Si vous n'êtes pas à l'origine de la validation de l'adresse e-mail, et qu'il s'agit d'une usurpation de compte, contactez-nous à l'adresse  
          span.label.label-warning 
            | contact - arobase - pairform.fr
          | , nous vous répondrons dans les meilleurs délais.
    else 
      h1 >> Vous avez bien validé votre adresse e-mail.
      main
        .panel.panel-default
          h2.panel-heading Que faire à présent ?
          .panel-body
            ul
              li Vous pouvez donc dès à présent utiliser PairForm sur votre #[a(href="https://www.pairform.fr") ordinateur] , #[a(href="https://itunes.apple.com/fr/app/pairform/id673935516?mt=8&amp;uo=4", target="itunes_store") iOS]  ou #[a(href="https://play.google.com/store/apps/details?id=cape.pairform") Android!]
              li Vous voulez peut-être naviguer parmi #[a(href="../#/kiosque") les ressources disponibles sur PairForm], ou aller consulter un guide d'utilisation de l'application web ?
              li Si vous êtes un auteur de ressources, vous êtes peut-être interessé(e) par le #[a(href="https://www.pairform.fr/doc/24/1/25") manuel auteur] ?
        .alert.alert-warning
          | Si vous avez des question quant à l'utilisation de PairForm, contactez-nous à l'adresse  
          span.label.label-warning 
            | contact - arobase - pairform.fr
          | , nous vous répondrons dans les meilleurs délais.
    footer
      | Pairform