/*
 * style des capsules au format pairform
 */

body {
	background-color: white;
	color: #1b1b1b;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
}

section.ck_editor{
	width: 960px;
	margin:0 auto;
}
section.ck_editor main {
	padding: 10px 10px;
	background: white;
}
section.ck_editor main section:before {
	content:"";
	display:block;
	height: 40px; /* fixed header height*/
	margin: -40px 0 0; /* negative fixed header height */
}
section.ck_editor img {
	margin:0 auto;
	display: block;
	max-width: 100%;
}

video, iframe, object, table {
    max-width: 100%;
    display: block;
    margin:0 auto;
}
main h1, main h2, main h3, main h4, main h5, main h6, header h1, .page-title {
	font-family: "Raleway",Arial,sans-serif;
	font-weight: normal;
	line-height: 1;
}
section.ck_editor .page-title {
	border-bottom: 1px solid #e4e4e4;
	box-shadow: 0 10px 10px -8px #f3f3f3;
	font-size: 24px;
	margin: 0px 10px 2px;
	padding: 12px 0;
	text-align: center;
	color: #002a52;
	text-shadow: 0 -1px 0 rgb(255, 255, 255);
}					
main h2, main h3, main h4, main h5, main h6 {
	color: #4463a1;
}
main h1{
	font-size:30px;
	font-weight: 300;
}
main h2{
	font-size:26px;
}
main h3{
	font-size:20px;
	font-style: italic;
}
main h4, main h5, main h6{
	font-size:18px;
	font-style: italic;
}
main blockquote {
	border-left: none;
	padding: 15px 10px;
	border-radius:4px;
	background:rgba(255, 145, 0, 0.2);
}


main blockquote p {
	font-size:inherit;
}


.button{
    min-width: 200px;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor:pointer;
    display: inline-block;
    transition: background-color ease-out .2s !important;
    background-color: #2c7ed0;
    border-bottom: 2px solid #2268ac;
    border-radius: 4px;
    height: 44px;
    padding: 4px 10px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.39);
    color: white;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
}
.button:hover {
    background-color: #2268ac;
    border-bottom: 2px solid #024382;
    color: white;
    text-decoration: none;
}


/* 
Generic Styling, for Desktops/Laptops 
*/
table {
	width: 100% !important; /* Override de ce que CKEditor peut mettre */
	table-layout: fixed;
	word-wrap: break-word;
	font-size: 14px;
	border: 0px solid gray;
}
/* Zebra striping */
tr:nth-of-type(odd) {
	background: #fbfbfb;
}
th {
	background: #0096db;
	color: white;
	font-weight: normal;
}

td, th {
	padding: 6px;
	border: none;
	text-align: left;
}
td{
	border-left:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
}

ul{
	padding-left:20px;	
}
p {
	word-wrap:break-word;
}
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px), (max-device-width: 1024px) and (min-device-width: 768px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		/* position: absolute; */
		/* top: -9999px; */
		/* left: -9999px; */
	}
	
	tr {border: 1px solid #e4e4e4;}
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #e6e6e6;
		position: relative;
	}
	
}

/* Portrait */
@media only screen 
  and (max-width: 800px) {
	section.ck_editor{
		width: 100% !important;
		padding: 0px !important;
	}
	section.ck_editor .content, section.ck_editor .nav-links {
		width:100% !important;
		padding: 6px;
		min-height: initial !important;
		box-sizing: border-box;
	}
}
