/*
 * style des capsules au format pairform
 */

body {
  background:rgb(242,242,242);
}
section.ck_editor {
  width: 960px;
  margin:0 auto;
}
section.ck_editor .content {
  background: white;
  min-height: calc(100vh - 200px);
  box-shadow: 0px 8px 10px -5px rgba(114, 114, 114, 0.33);
  border: 1px solid #E4E4E4;
  margin: 40px;
  margin-top: 10px;
}

.pf.old_design ~  header.ck_editor {
  margin-top: 34px;
}
header.ck_editor {
  /* padding: 6px 0px; */
  background-color: rgb(42, 126, 208);
  border-bottom: 4px solid rgb(34, 104, 172);
  margin-bottom: 10px;
  color: rgb(245, 245, 245);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.39);
  clear:both;
  height: 62px;
}
section.ck_editor #toc~.content {
  width: 760px;
  margin: 0;
}

.pf.old_design ~  section.ck_editor #toc {
  top: 86px;
}

section.ck_editor #toc {
  position: fixed;
  z-index: 1000;
  width: 250px;
  top: 72px;
  left: calc(300px + 50vw);
  min-height: 300px;
  max-height: 80vh;
  /* padding: 15px; */
  overflow-y: auto;
  text-align: left;
  border-right: 1px solid rgba(255, 255, 255, 0.66);
  box-shadow: 0px 8px 10px -5px rgba(114, 114, 114, 0.33);
  background: white;
  border: 1px solid #E4E4E4;
}     
section.ck_editor #toc nav ul {
  list-style: none;
  padding:0;
  margin:0;
} 
section.ck_editor #toc nav ul li {
  /* margin: 0px 6px; */
  padding: 6px 12px;
  border-bottom: 1px solid #f3f3f3;
  font-weight: 300;
}

section.ck_editor #toc nav ul li a {
  color:#1d1d1d;
}

section.ck_editor #toc nav ul li a.page_active {
  color: #2b7ecf;
  font-weight: 500;
}

.nav-links {
    display: block;
    /* padding: 6px 10px; */
    width: 760px;
    margin-top: 10px;
    /* box-shadow: 0px 8px 10px -5px rgba(114, 114, 114, 0.33); */
    /* border: 1px solid #E4E4E4; */
    /* background: white; */
    /* clear: right; */
}

#nav-link-previous {
    /* float: left; */
    padding-left: 24px;
}

#nav-link-next {
    float: right;
    padding-right: 24px;
}

#nav-link-previous::before, #nav-link-next::before {
  position:absolute;
  color: white;
  font-size: 26px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
#nav-link-previous::before {
  content: "\276e";
  left: 10px;
  transition:left ease-out .2s;
}
#nav-link-previous:hover::before {
  left:6px;
}
#nav-link-next::before {
  content: "\276f";
  display: inline;
  right: 10px;
  transition:right ease-out .2s;
}
#nav-link-next:hover::before {
  right:6px;
}

@media only screen 
  and (max-width: 500px) {
    .nav-link{
      display:block;
      float:none !important;
      min-width: 100%;
      margin-bottom:6px;
    }
}
/* Portrait */
@media only screen 
and (max-width: 800px) {
  section.ck_editor #toc {
      transition: background ease-out .2s .1s, width ease-out .2s, min-height ease-out .2s , max-height ease-out .2s;
  }
  section.ck_editor #toc:not(:hover) {
    top: 66px;
    width: 36px;
    max-height: 36px;
    min-height: 36px;
    right: 10px;
    left: initial;
    overflow: hidden;
    background: #2b7ecf;
    border-radius: 24px;
  }
  section.ck_editor #toc:hover {
    top: 66px;
    left: initial;
    right: 20px;
    max-height: 500px;
  }
  section.ck_editor #toc:hover:before {
    display:none;
  }
  section.ck_editor #toc:hover ul {
    opacity:1;
    display: block;
  }
  section.ck_editor #toc:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 7px;
    width: 20px;
    height: 17px;
    border-top: 10px double #fff;
    border-bottom: 3px solid #fff;
  }
  section.ck_editor #toc nav ul {
    transition: all ease-in-out .3s;
    transition-delay:.3s;
    opacity:0;
    display: none;
  }
}
#title {
    font-size: 16px;
    /* min-width: 100px; */
    max-width: 400px;
    width: calc(100% - 112px);
    font-weight: 200;
    padding: 5px 10px 5px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.04);
    border-left: 2px solid rgba(0, 0, 0, 0.08);
    color: rgb(236, 236, 236);
    display: block;
    padding: 0px 120px 0px 16px;
    /* width: 100%; */
    height: 58px;
    line-height: 58px;
    float: right;
    font-family: 'Raleway';
    clear: both;
}

#title h1 {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 100;
}
#title::before {
    content: "";
    vertical-align: middle;
    display: inline-block;
    top: 0px;
    height: 58px;
    margin-left: 20px;
    width: 10px;
    background: rgb(232, 232, 232);
    z-index: 2;
    position: absolute;
    right: 90px;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(10deg, 0deg);
}
#title #title-illustration {
    vertical-align: middle;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 1;
    display: inline-block;
    height: 58px;
    margin-left: 20px;
    width: 100px;
    background: white;
}
#title #title-illustration img{
  height: 50px;
  width: 50px;
  margin: 4px 28px;
  vertical-align: unset;
}


#sommaire:hover {
  transform:scale(1.05);
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.46);
}

#sommaire {
  float:left;
  margin: 10px 22px;
  color:white;
  transition:all ease-out .2s;
}

#sommaire img {
  width:40px;
  height:40px;
  display: inline-block;
}

#sommaire .fa {
  display: block;
  font-size: 30px;
  margin-bottom:4px;
}
#sommaire h1 {
  display: inline-block;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px;
  vertical-align:  middle;
}
header a:hover, a:focus  {
  text-decoration:none;
}

footer .logo {
  float:right;
  margin:4px 12px;
}
footer .logo img {
  height:32px;
}

@media only screen and (max-width: 438px) {
    #title h1 {
        /* display: none; */
    }
    #sommaire h1 {
      display: none; 
    }
}