body {
	/*background: url("../img/bg.png") no-repeat;*/
	background: #f1f1f1;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Raleway';
}
menu {
	position: fixed;
	width: 200px;
	height: 200px;
}


header {
	text-align: center;
	color: white;
}

footer {
  color: rgb(107, 107, 107);
  text-align: center;
}
.page-header{
	border-bottom: 1px solid rgba(255, 255, 255, 0.21);
	margin: 20px 0 20px;
	box-shadow: 0 1px 0px #e0e0e0;
	padding-bottom: 10px;
}
.btn.btn-info{
	background-color:rgba(0, 164, 236, 1);
}
h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;
	font-family: 'Raleway';
}

h1 {
	font-size: 20px;
}
h2, h1 small{
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h1,h2,h3{
	font-weight: 300;
}

hr{
	border-top: 1px solid rgba(255, 255, 255, 0.21);
	box-shadow: 0 1px 0px #e4e4e4;
}

.accueil .page-header h1 {
	/*font-size: 28px;*/
	font-weight: 400;
	padding-bottom: 0px;
	/* text-shadow: 0px 1px 2px rgba(36, 36, 36, 0.16); */
}

.pf-centered {
	margin: 0 auto;
	float: none;
}

/* Variable */

.pf-background{
  color: black;
  background: white;
}

/* Navbar */

.navbar{
	-webkit-transition: opacity ease-in-out .5s;
	-o-transition: opacity ease-in-out .5s;
	transition: opacity ease-in-out .5s;
	-webkit-transition-delay: .8s;
	-o-transition-delay: .8s;
	transition-delay: .8s;
	background: white;
}


.navbar-brand {
	padding: 0px 15px;
}
.navbar-brand img {
	height: 50px;
	/* padding-left: 10px; */
}
.navbar-brand p {
	padding: 10px;
}
.navbar-default {
	z-index: 5;
	background-color: rgba(255, 255, 255, 0.88);
}

.navbar-default .navbar-toggle {
	border: none;
	box-shadow: 0 1px 1px white;
	/* border-radius: 80px; */
	padding: 9px 6px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: rgb(255, 159, 91);
	box-shadow: 0 1px 1px rgb(186, 85, 0);
}
/* Liens de la navbar */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: whitesmoke;
	background-color: rgb(0, 164, 236);
}
.navbar-default ul.dropdown-menu:hover a:focus, .navbar-default ul.dropdown-menu:hover a:hover {
	color: whitesmoke;
	background-color: rgb(0, 164, 236);
}
.navbar-default .navbar-nav>li>a {
	color: rgb(0, 164, 236);
	transition: all ease-in-out .2s;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: rgb(0, 128, 219);
}
.navbar-fixed-top, .navbar-fixed-bottom{
	border-bottom: 2px rgb(0, 164, 236) solid;
}
.navbar-default a.dropdown-toggle:hover + ul.dropdown-menu, .navbar-default ul.dropdown-menu:hover {
	display: block;
}

.pf-real-center{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Override de la taille du widget twitter, pour qu'il soit responsive. */
#twitter-widget-0 { 
  width: 100% !important; 
}
.row{
  /* margin-bottom: 20px; */
}
.alert-info {
  color: #0489C3;
  background-color: #D5E7EF;
  border-color: #00A4EC;
}


/* Spin box */
.spin-box {
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border-radius: 100%;
	width: 32px;
	height: 32px;
	box-shadow: 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf;
	-webkit-animation: spin ease 5 4s;
	/*-webkit-animation-delay: -1s;*/
	-moz-animation: spin ease 5 4s;
	/*-moz-animation-delay: -1s;*/
	-o-animation: spin ease 5 4s;
	/*-o-animation-delay: -1s;*/
	animation: spin ease infinite 4s;
	/*animation-delay:  -1s;*/
	-webkit-transition: opacity ease-in-out 2s;
	-moz-transition: opacity ease-in-out 2s;
	-o-transition: opacity ease-in-out 2s;
	transition: opacity ease-in-out 2s;
	transition-delay:1s;
}
.spin-box.disappear {
	opacity: 0;
}


main.container-fluid{
	/*width: 80%;*/
	/*min-width: 720px;*/
	margin: 84px auto 0px auto;
	color: #4A4A4A;
}
.thumbnail, .panel {
	color: #292929;
	margin-bottom: 10px;
}
.thumbnail {
	background: none;
	border: none;
}
.hidden-xs-inline{
	display: inline-block;
}


@media (max-width: 767px){
	.hidden-xs-inline {
	  display: none!important;
	}
}


img.float-left{
	float: left;
	clear: both;
	border-radius: 2px;

	width: 90px;
	margin: 6px;
}



/* Bootstrap rows */

.presentation-row {
  margin-bottom: 0px;
  padding: 20px;
}

.presentation-row .presentation-illustration > img {
	margin: 0 auto;
  border-radius: 4px;
}
.presentation-row .presentation-illustration > figcaption {
	font-style: italic;
	text-align: center;
	font-size: 12px;
	color: rgb(231, 231, 231);
	margin-top: 6px;
}

.presentation-row h1 {
	margin: 10px 0;
	text-shadow: 0 1px 2px black;
	color: rgb(236, 125, 0);
}
.flat-timeline {
	text-align: center;
}
.flat-timeline img {
	max-width: 120px;
	width: 100%;
	display: block;
	margin: 0 auto;
}
.flat-timeline a div {
  margin-top: 24px;
}


/* Override bootstrap */
.feature-item h3, .row.feature-item h2 {
	margin-bottom:8px;
	font-weight:500;
}
.feature-item {
	margin-bottom:20px;
}
.row.feature-item {
	margin:40px 0;
}

.well {
	background: #f7f7f7;
	border-color: #d0d0d0;
	box-shadow: 0px 11px 18px -14px rgba(0, 0, 0, 0.25);
}

.well fieldset.separateur {
	border-top: 0.5px solid #adadad;
	padding-top: 15px;
	margin-top: 15px
}



div.btn-group-vertical {
    border-collapse: separate;
    display: table;
    table-layout: fixed;
    width: 100%;
}