body{
 background: url("/public/img/pattern_shapes.png");
 /*background-size: cover;*/
 background-attachment: fixed;
 font-family: 'Helvetica';
 font-weight: 200;
 height: 100%;
 margin: 0%;
}
@font-face {
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 100;
 src: local('Raleway Thin'), local('Raleway-Thin'), url('/public/fonts/raleway/raleway-thin-webfont.woff') format('woff');
}
@font-face {
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 200;
 src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('/public/fonts/raleway/raleway-extralight-webfont.woff') format('woff');
}
h1, h2, h3 {
 font-family: 'Raleway';
 font-weight: 200;
 margin: 0 0 10px 0;
 color: #292929;
}
body > h1{
  margin: 10px 0;
}
h1{
  font-size: 24px;
  /* text-shadow: 0px 1px 3px rgba(72, 72, 72, 0.47); */
}
h2{
  font-size: 20px;
 font-weight:200;
}
h3{
  color: black;
 font-weight:300;
  font-size: 18px;
}
main{
 max-width: 720px;
 margin: 20px auto;
 overflow: hidden;
}
footer{
 text-align: center;
 color: rgba(97, 97, 97, 0.75);
}
main > img {
  margin:10px auto;
  display:block;  
  max-width: 200px;
  width: 100%;
}

ul li {
  margin-bottom: 4px;
}

@media only screen and (max-width: 480px) {
  main > img {
    margin:0px auto 4px;
  }
  main {
    margin:0px;
  }
}

#profil-info-inner {

  width: calc(100% - 148px);
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
  position: relative;
}
#profil-info-avatar {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 128px;
    width: 128px;
}