
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-heavy-webfont.eot');
	src: url('../fonts/raleway/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/raleway/raleway-heavy-webfont.woff') format('woff'),
	 url('../fonts/raleway/raleway-heavy-webfont.ttf') format('truetype'),
	 url('../fonts/raleway/raleway-heavy-webfont.svg#ralewayheavy') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-extrabold-webfont.eot');
	src: url('../fonts/raleway/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-extrabold-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-extrabold-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-bold-webfont.eot');
	src: url('../fonts/raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-bold-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-bold-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-semibold-webfont.eot');
	src: url('../fonts/raleway/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-semibold-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-semibold-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-medium-webfont.eot');
	src: url('../fonts/raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-medium-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-medium-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-medium-webfont.svg#ralewaymedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-regular-webfont.eot');
	src: url('../fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-regular-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-light-webfont.eot');
	src: url('../fonts/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-light-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-light-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-extralight-webfont.eot');
	src: url('../fonts/raleway/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-extralight-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-extralight-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-thin-webfont.eot');
	src: url('../fonts/raleway/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-thin-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-thin-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-thin-webfont.svg#ralewaythin') format('svg');
	font-weight: 100;
	font-style: normal;
}