.container
	h2 {{"LABEL.OPENBADGE.GERER" | translate}}

	.row
		.col-md-10
			ol.breadcrumb
				li: a(ng-href='backoffice/tableauDeBord?id_espace={{arborescence.id_espace}}') {{arborescence.nom_espace}}
				li: a(ng-href='backoffice/tableauDeBord?id_espace={{arborescence.id_espace}}&id_ressource={{arborescence.id_ressource}}') {{arborescence.nom_ressource}}
	br

	.row
		.col-md-6
			div(ng-show='!openbadge_selectionne || editer_openbadge')
				h4 {{titre}}
				br
				.well(ng-hide='url_espace')
					p.text-warning 
						| {{"LABEL.OPENBADGE.URL_ESPACE_INVALIDE_1" | translate}}
						a(ng-href='backoffice/tableauDeBord?id_espace={{arborescence.id_espace}}') {{arborescence.nom_espace}}
						| {{"LABEL.OPENBADGE.URL_ESPACE_INVALIDE_2" | translate}}

					.row(ng-show='aAccesBoutonEditerEspace()')
						.col-md-12
							a.btn.btn-primary.pull-right(ng-href='backoffice/espaces/gestionEspace/{{arborescence.id_espace}}?nom_espace={{arborescence.nom_espace}}') {{"LABEL.ESPACE.EDITER" | translate}}


				form.well(name="gestion_openbadge_form", novalidate, ng-show='url_espace')
					input(type='hidden' ng-model='id_openbadge')

					.form-group(ng-class='{ "has-error" : formulaire_soumis && gestion_openbadge_form.nom.$invalid}')
						label {{"LABEL.FORMULAIRE.NOM" | translate}}
						input.form-control(ng-model='nom', name='nom', type='text', placeholder='{{"LABEL.FORMULAIRE.NB_CARACT_MAX_35" | translate}}', ng-minlength='2', ng-maxlength='35', ng-click='openbadge_doublon = false;', required)
						span.help-block(ng-show='formulaire_soumis && gestion_openbadge_form.nom.$invalid') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_openbadge_form.nom.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_openbadge_form.nom.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
						span.help-block(ng-show='formulaire_soumis && openbadge_doublon'): p.text-danger {{"LABEL.ERREUR.DOUBLON" | translate}}
					
					.form-group(ng-class='{ "has-error" : formulaire_soumis && gestion_openbadge_form.description.$invalid}')
						label {{"LABEL.FORMULAIRE.DESCRIPTION_OBLIGATOIRE" | translate}}
						textarea.form-control(ng-model='description', name='description', placeholder='{{"LABEL.OPENBADGE.DESCRIPTION" | translate}}', ng-minlength='2', rows='5', ng-click='formulaire_soumis = false;', required)
						span.help-block(ng-show='formulaire_soumis && gestion_openbadge_form.description.$invalid') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_openbadge_form.description.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}

					label {{"LABEL.FORMULAIRE.LOGO_OBLIGATOIRE" | translate}}
					.row
						.col-md-6.form-group(ng-class='{ "has-error" : formulaire_soumis && (format_incorrect || dimensions_incorrectes || logo_selectionne || !logo_selectionne)}')
							div.btn.btn-default(ng-file-select='recupererLogo($files)') 
								span {{"LABEL.FORMULAIRE.SELECTIONNER_IMAGE" | translate}}
								br
								span: small {{"LABEL.FORMULAIRE.SELECTIONNER_IMAGE_CONTRAINTES_100" | translate}}
						.col-md-6
							span.help-block(ng-show='formulaire_soumis && !logo_selectionne'): span.text-danger {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
							span.help-block(ng-show='format_incorrect'): span.text-danger {{"LABEL.ERREUR.FORMAT_IMAGE" | translate}}
							span.help-block(ng-show='dimensions_incorrectes'): span.text-danger {{"LABEL.ERREUR.DIMENSIONS_IMAGE" | translate}}							
							span.help-block(ng-show='poids_incorrecte'): span.text-danger {{"LABEL.ERREUR.POID_MAX_256ko" | translate}}
							img.center-block.logo-pairform(ng-show='url_logo && !logo_selectionne && !dimensions_incorrectes && !format_incorrect', ng-src='{{url_logo}}', alt='{{"LABEL.FORMULAIRE.LOGO" | translate}}')
							img.center-block.logo-pairform(ng-show='logo_selectionne', ng-src='{{src_logo}}', alt='{{"LABEL.FORMULAIRE.LOGO" | translate}}')
							span.help-block(ng-show='logo_selectionne'): span.text-success {{nom_logo}}

					.checkbox
						label
							input.checkbox(ng-model='deja_emetteur_openbadges', name='deja_emetteur_openbadges', type='checkbox', value='')
							span {{"LABEL.OPENBADGE.DEJA_EMETTEUR_OPENBADGES" | translate}}
								a(alt='{{"LABEL.OPENBADGE.OPENBADGES" | translate}}', ng-href='{{"LABEL.OPENBADGE.URL_SITE_OFFICIEL_OPENBADGE" | translate}}', target='_blank') {{"LABEL.OPENBADGE.OPENBADGES" | translate}}

					.form-group(ng-show='deja_emetteur_openbadges', ng-class='{ "has-error" : formulaire_soumis && gestion_openbadge_form.issuer_externe.$invalid}')
						label {{"LABEL.OPENBADGE.URL_ISSUER_JSON" | translate}}
						input.form-control(ng-model='issuer_externe', name='issuer_externe', type='url', placeholder='{{"LABEL.OPENBADGE.URL_ISSUER_JSON_DESCRIPTION" | translate}}')
						span.help-block(ng-show='formulaire_soumis && gestion_openbadge_form.issuer_externe.$invalid') {{"LABEL.ERREUR.URL_INVALIDE" | translate}}
					br

					.row
						.col-md-12
							em {{"LABEL.FORMULAIRE.CHAMPS_OBLIGATOIRES" | translate}}
							button.btn.btn-primary.pull-right(ng-click='gererOpenBadge(gestion_openbadge_form.$valid, editer_openbadge)') {{bouton_formulaire}}

			div(ng-show='openbadge_selectionne && !editer_openbadge')
				h4 {{openbadge_selectionne.nom}}
				br

				.row
					.col-md-2
						img.center-block.logo-pairform(ng-src='{{openbadge_selectionne.url_logo}}', alt='{{"LABEL.FORMULAIRE.LOGO" | translate}}')
					.col-md-10
						p {{openbadge_selectionne.description}}
					br
				.row
					.col-md-offset-2.col-md-10
						label {{"LABEL.OPENBADGE.EMETTEUR" | translate}}
						br
						a(ng-show='openbadge_selectionne.issuer_externe', alt='{{openbadge_selectionne.issuer_externe}}', ng-href='{{openbadge_selectionne.issuer_externe}}', target='_blank') {{openbadge_selectionne.issuer_externe}}
						span(ng-show='!openbadge_selectionne.issuer_externe') {{arborescence.nom_espace}}


		.col-md-4
			h4 {{"LABEL.OPENBADGE.BADGES" | translate}}
			br

			datalist#id_liste_openbadges
				option(ng-repeat='openbadge in liste_openbadges', value='{{openbadge.nom}}')

			input.form-control(ng-model='recherche_openbadge', type='text', placeholder='{{"LABEL.OPENBADGE.CHERCHER" | translate}}', list='id_liste_openbadges')
			br

			.btn-group.btn-block
				button.btn.btn-default.btn-block.dropdown-toggle(type='button', data-toggle='dropdown') {{nom_openbadge_selectionne}}
					span &nbsp;&nbsp;
					span.caret
				ul.dropdown-menu.btn-block(role='menu')
					li.logo-pairform(ng-show='openbadge_selectionne', ng-click='openbadge_selectionne = false; nom_openbadge_selectionne = nom_openbadge_selectionne_defaut;')
						span &nbsp;&nbsp;
						span {{"LABEL.OPENBADGE.SELECTIONNER" | translate}}
					li.divider(ng-show='openbadge_selectionne')
					li.logo-pairform(ng-repeat='openbadge in liste_openbadges | filter: recherche_openbadge', ng-click='selectionnerOpenBadge(openbadge);')
						img(src='{{openbadge.url_logo}}', alt='{{openbadge.nom}}')
						span {{openbadge.nom}}

			div.btn-group-vertical(ng-show='openbadge_selectionne')
				button.btn.btn-default(ng-click='editerOpenBadge(openbadge_selectionne);') {{"LABEL.ENREGISTRER" | translate}}

			br
			button.btn.btn-primary(ng-show='openbadge_selectionne', ng-click='creerOpenBadge();') {{"LABEL.OPENBADGE.CREER" | translate}}
