.container
	h2 {{titre}}

	.row
		.col-md-10
			ol.breadcrumb
				li(ng-show='arborescence.nom_espace')
					a(ng-href='backoffice/tableauDeBord?id_espace={{arborescence.id_espace}}') {{arborescence.nom_espace}}
	br

	.row
		form.col-md-6.well.form-horizontal(name='gestion_espace_form', novalidate)
			input(type='hidden' ng-model='id_espace')

			.form-group(ng-class='{ "has-error" : formulaire_soumis && gestion_espace_form.nom_long.$invalid }')
				label.col-md-3.control-label {{"LABEL.FORMULAIRE.NOM" | translate}}
				.col-md-9
					input.form-control(ng-model='nom_long', name='nom_long', type='text', placeholder='{{"LABEL.FORMULAIRE.NB_CARACT_MAX_30" | translate}}', ng-minlength='2', ng-maxlength='30', ng-click='espace_doublon = false;', required)
					span.help-block(ng-show='formulaire_soumis && gestion_espace_form.nom_long.$invalid') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
					span.help-block(ng-show='formulaire_soumis && gestion_espace_form.nom_long.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
					span.help-block(ng-show='formulaire_soumis && gestion_espace_form.nom_long.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
					span.help-block(ng-show='formulaire_soumis && espace_doublon'): p.text-danger {{"LABEL.ERREUR.DOUBLON" | translate}}

			.form-group(ng-class='{ "has-error" : formulaire_soumis && gestion_espace_form.url.$invalid }')
				label.col-md-3.control-label {{"LABEL.FORMULAIRE.URL" | translate}}
				.col-md-9
					input.form-control(ng-model='url', name='url', type='url', placeholder='{{"LABEL.URL_DESCRIPTION" | translate}}')
					span.help-block(ng-show='formulaire_soumis && gestion_espace_form.url.$invalid') {{"LABEL.ERREUR.URL_INVALIDE" | translate}}

			.form-group(ng-class='{ "has-error" : formulaire_soumis && (format_incorrect || dimensions_incorrectes || logo_selectionne)}')
				label.col-md-3.control-label {{"LABEL.FORMULAIRE.LOGO" | translate}}
				.col-md-7
					div.btn.btn-default(ng-file-select='recupererLogo($files)' ngf-pattern="'.png,.jpg,.gif,.jpeg'" accept=".png,.jpg,.gif,.jpeg" ) 
						span {{"LABEL.FORMULAIRE.SELECTIONNER_IMAGE" | translate}}
						br
						span: small {{"LABEL.FORMULAIRE.SELECTIONNER_IMAGE_CONTRAINTES_400" | translate}}
					span.help-block(ng-show='format_incorrect'): span.text-danger {{"LABEL.ERREUR.FORMAT_IMAGE" | translate}}
					span.help-block(ng-show='dimensions_incorrectes'): span.text-danger {{"LABEL.ERREUR.DIMENSIONS_IMAGE" | translate}}
					span.help-block(ng-show='logo_selectionne'): span.text-success {{nom_logo}}
				.col-md-2
					img.center-block.logo-pairform(ng-show='url_logo && !logo_selectionne && !dimensions_incorrectes && !format_incorrect', ng-src='{{url_logo}}', alt='{{"LABEL.FORMULAIRE.LOGO" | translate}}')
					img.center-block.logo-pairform(ng-show='logo_selectionne', ng-src='{{src_logo}}', alt='{{"LABEL.FORMULAIRE.LOGO" | translate}}')
			br
			
			.row
				.col-md-12
					em {{"LABEL.FORMULAIRE.CHAMPS_OBLIGATOIRES" | translate}}
					button.btn.btn-primary.pull-right(ng-click='gererEspace(gestion_espace_form.$valid)') {{bouton_formulaire}}
