.container
	h2 {{"LABEL.GROUPE.GERER" | translate}}
	
	.row
		.col-md-8
			ol.breadcrumb
				li(ng-show='arborescence.nom_espace')
					a(ng-href='backoffice/tableauDeBord?id_espace={{arborescence.id_espace}}') {{arborescence.nom_espace}}
	br

	.row
		.col-md-4
			h4 {{"LABEL.GROUPE.GROUPES" | translate}}

			datalist#id_liste_groupes
				option(ng-repeat='groupe in liste_groupes', value='{{groupe.nom}}')

			input.form-control(ng-model='recherche_groupe', type='text', placeholder='{{"LABEL.GROUPE.CHERCHER" | translate}}', list='id_liste_groupes')
			br
			select.liste_groupes.form-control(ng-model='groupe_selectionne', ng-options='groupe.nom for groupe in liste_groupes | filter: recherche_groupe', ng-change='rechercherMembreGroupe(); editer_membres = false; editer_groupe= false; creer_groupe = false; formulaire_soumis = false; recherche_membre = "";')
				option(value='') {{"LABEL.GROUPE.SELECTIONNER" | translate}}
			
			div.btn-group-vertical(ng-show='groupe_selectionne && droit_gerer_groupes')
				button.btn.btn-default(ng-click='editer_groupe = true; creer_groupe = true; formulaire_soumis = false;', ng-hide='groupe_selectionne.obligatoire') {{"LABEL.GROUPE.EDITER_NOM" | translate}}
				button.btn.btn-default(ng-click='supprimerGroupe();', ng-hide='groupe_selectionne.obligatoire') {{"LABEL.GROUPE.SUPPRIMER" | translate}}
				button.btn.btn-default(ng-click='formulaire_soumis = false; editer_membres = true; gererMembresGroupe();', ng-hide='groupe_selectionne.nom == "Sphère publique"') {{"LABEL.GROUPE.MEMBRE.GERER" | translate}}
			br

		.col-md-4(ng-show='droit_gerer_groupes')
			div(ng-hide='creer_groupe')
				h4 {{"LABEL.GROUPE.CREER" | translate}}

				form.well.clearfix(name="creation_groupe_form", novalidate)
					.form-group(ng-class='{ "has-error" : formulaire_soumis && (creation_groupe_form.nom_nouveau_groupe.$invalid) }')
						input.form-control(ng-model='nom_nouveau_groupe', name='nom_nouveau_groupe', type='text', placeholder='{{"LABEL.GROUPE.NOM" | translate}}', ng-minlength="2", ng-click='groupe_doublon = false;', required)
						span.help-block(ng-show='formulaire_soumis && (creation_groupe_form.nom_nouveau_groupe.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
						span.help-block(ng-show='formulaire_soumis && creation_groupe_form.nom_nouveau_groupe.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
						span.help-block(ng-show='formulaire_soumis && groupe_doublon'): p.text-danger {{"LABEL.ERREUR.DOUBLON" | translate}}

					button.btn.btn-primary.pull-right(ng-click='creerGroupe(creation_groupe_form.$valid)') {{"LABEL.CREER" | translate}}

			div(ng-show='editer_groupe && groupe_selectionne')
				h4 {{"LABEL.GROUPE.EDITER_NOM" | translate}}

				form.well.clearfix(name="edition_groupe_form", novalidate)
					.form-group(ng-class='{ "has-error" : formulaire_soumis && (edition_groupe_form.nom_groupe_selectionne.$invalid) }')
						input.form-control(ng-model='nom_groupe_selectionne', name='nom_groupe_selectionne', type='text', placeholder='{{"LABEL.GROUPE.NOUVEAU_NOM" | translate}}', ng-minlength="2", ng-click='groupe_doublon = false;', required)
						span.help-block(ng-show='formulaire_soumis && (edition_groupe_form.nom_groupe_selectionne.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
						span.help-block(ng-show='formulaire_soumis && edition_groupe_form.nom_groupe_selectionne.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
						span.help-block(ng-show='formulaire_soumis && groupe_doublon'): p.text-danger {{"LABEL.ERREUR.DOUBLON" | translate}}

					button.btn.btn-primary.pull-right(ng-click='editerNomGroupe(edition_groupe_form.$valid)') {{"LABEL.ENREGISTRER" | translate}}

			button.btn.btn-primary(ng-show='creer_groupe', ng-click='editer_groupe = false; creer_groupe = false; formulaire_soumis = false;') {{"LABEL.GROUPE.CREER" | translate}}
	
	div(ng-show='!editer_membres && groupe_selectionne.nom == "Sphère publique"')
		.row
			.col-md-8
				h4 {{"LABEL.GROUPE.MEMBRE.MEMBRES" | translate}}
				p {{"LABEL.GROUPE.MEMBRE.SPHERE_PUBLIQUE_DESCRIPTION" | translate}}

	div(ng-show='!editer_membres && groupe_selectionne && groupe_selectionne.nom != "Sphère publique"')
		.row
			.col-md-8
				h4 {{"LABEL.GROUPE.MEMBRE.MEMBRES" | translate}}

				datalist#id_liste_membres
					option(ng-repeat='membre in groupe_selectionne.liste_membres', value='{{membre.nom}}')

				input.form-control(ng-model='recherche_membre', type='text', placeholder='{{"LABEL.GROUPE.MEMBRE.CHERCHER" | translate}}', list='id_liste_membres')
				br
		.row
			.col-md-4
				h5 {{"LABEL.FORMULAIRE.EMAILS" | translate}}
				.liste-membres-groupes
					table.table
						tbody
							tr(ng-repeat='membre_email in groupe_selectionne.liste_membres_email | filter: recherche_membre | limitTo: 6')
								td.membres-groupes {{membre_email.nom}}
							tr(ng-show='groupe_selectionne.liste_membres_email.length > 6')
								td.membres-groupes: em {{"LABEL.GROUPE.MEMBRE.LIMITE_TAILLE_LISTE" | translate}}
			.col-md-4
				h5 {{"LABEL.GROUPE.MEMBRE.NOM_DOMAINE" | translate}}
				.liste-membres-groupes
					table.table
						tbody
							tr(ng-repeat='membre_nom_domaine in groupe_selectionne.liste_membres_nom_domaine | filter: recherche_membre | limitTo: 6')
								td.membres-groupes {{membre_nom_domaine.nom}}
							tr(ng-show='groupe_selectionne.liste_membres_nom_domaine.length > 6')
								td.membres-groupes: em {{"LABEL.GROUPE.MEMBRE.LIMITE_TAILLE_LISTE" | translate}}

	div(ng-show='editer_membres && groupe_selectionne')
		.row
			.col-md-8
				h4 {{"LABEL.GROUPE.MEMBRE.GERER" | translate}}

	div(ng-show='editer_membres && groupe_selectionne.nom == "Espace"')
		.row
			form.col-md-10.well(name="edition_membre_espace_form", novalidate)
				.row
					.col-md-10
						span.text-warning {{"LABEL.GROUPE.MEMBRE.WARNING_SUPPRESSION_GROUPE_DANS_ESPACE" | translate}}

				.row
					.col-md-10
						datalist#id_nouvelle_liste_membres
							option(ng-repeat='membre_espace in nouvelle_liste_membres', value='{{membre_espace.nom}}')

						br
						input.form-control(ng-model='recherche_membre_espace', type='text', placeholder='{{"LABEL.GROUPE.MEMBRE.CHERCHER" | translate}}', list='id_nouvelle_liste_membres')
						br
				
				.row
					.col-md-5
						label {{"LABEL.FORMULAIRE.EMAILS" | translate}}
						.form-group(ng-class='{ "has-error" : edition_membre_espace_form.nouveaux_membres_email.$invalid }')
							.row
								.col-md-12
									textarea.form-control(ng-model='nouveaux_membres_email', name='nouveaux_membres_email', placeholder='{{"LABEL.GROUPE.MEMBRE.AJOUTER_EMAIL" | translate}}', rows='2', ng-minlength='4')
									span.help-block(ng-show='edition_membre_espace_form.nouveaux_membres_email.$invalid') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
									br
							.row
								.col-md-1
									button.btn.btn-default(ng-click='viderMembresGroupe(nouvelle_liste_membres_email);', title='{{"LABEL.SUPPRIMER" | translate}}')
										div.btn-pairform.btn-supprimer
								.col-md-1.col-md-offset-1
									button.btn.btn-default(ng-click='creerMembresGroupeEspace(nouveaux_membres_email, nouvelle_liste_membres_email, false);', ng-disabled='edition_membre_espace_form.nouveaux_membres_email.$pristine || edition_membre_espace_form.nouveaux_membres_email.$invalid', title='{{"LABEL.AJOUTER" | translate}}')
										div.btn-pairform.btn-ajouter-utilisateur
						.liste-membres-groupes
							table.table
								tbody
									tr(ng-repeat='membre_espace_email in nouvelle_liste_membres_email | filter: recherche_membre_espace | limitTo: 6')
										td: div.btn-pairform.btn-supprimer(ng-click='supprimerMembreGroupe(membre_espace_email, nouvelle_liste_membres_email)', title='{{"LABEL.SUPPRIMER" | translate}}')
										td {{membre_espace_email.nom}}
									tr(ng-show='nouvelle_liste_membres_email.length > 6')
										td
										td.membres-groupes: em {{"LABEL.GROUPE.MEMBRE.LIMITE_TAILLE_LISTE" | translate}}
					.col-md-5
						label {{"LABEL.GROUPE.MEMBRE.NOM_DOMAINE" | translate}}
						.form-group(ng-class='{ "has-error" : edition_membre_espace_form.nouveaux_membres_nom_domaine.$invalid }')
							.row
								.col-md-12
									textarea.form-control(ng-model='nouveaux_membres_nom_domaine', name='nouveaux_membres_nom_domaine', placeholder='{{"LABEL.GROUPE.MEMBRE.AJOUTER_NOM_DOMAINE" | translate}}', rows='2', ng-minlength='4')
									span.help-block(ng-show='edition_membre_espace_form.nouveaux_membres_nom_domaine.$invalid') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
									br
							.row
								.col-md-1
									button.btn.btn-default(ng-click='viderMembresGroupe(nouvelle_liste_membres_nom_domaine);', title='{{"LABEL.SUPPRIMER" | translate}}')
										div.btn-pairform.btn-supprimer
								.col-md-1.col-md-offset-1
									button.btn.btn-default(ng-click='creerMembresGroupeEspace(nouveaux_membres_nom_domaine, nouvelle_liste_membres_nom_domaine, true);', ng-disabled='edition_membre_espace_form.nouveaux_membres_nom_domaine.$pristine || edition_membre_espace_form.nouveaux_membres_nom_domaine.$invalid', title='{{"LABEL.AJOUTER" | translate}}')
										div.btn-pairform.btn-ajouter-utilisateur
						.liste-membres-groupes
							table.table
								tbody
									tr(ng-repeat='membre_espace_nom_domaine in nouvelle_liste_membres_nom_domaine | filter: recherche_membre_espace | limitTo: 6')
										td: div.btn-pairform.btn-supprimer(ng-click='supprimerMembreGroupe(membre_espace_nom_domaine, nouvelle_liste_membres_nom_domaine)', title='{{"LABEL.SUPPRIMER" | translate}}')
										td {{membre_espace_nom_domaine.nom}}
									tr(ng-show='nouvelle_liste_membres_nom_domaine.length > 6')
										td
										td.membres-groupes: em {{"LABEL.GROUPE.MEMBRE.LIMITE_TAILLE_LISTE" | translate}}
					.col-md-2
						br
						button.btn.btn-primary.btn-block.has-spinner(ng-click='editerMembresGroupe();', data-spinner='right', ng-class='{active: formulaire_edition_membres_groupe_soumis}') {{"LABEL.ENREGISTRER" | translate}}
							span &nbsp;
							span.spinner: i.fa.fa-refresh.fa-spin
						button.btn.btn-primary.btn-block(ng-click='editer_membres = false;') {{"LABEL.ANNULER" | translate}}

	div(ng-show='editer_membres && groupe_selectionne.nom != "Espace" && groupe_selectionne.nom != "Sphère publique"')
		.row
			form.col-md-10.well(name="edition_membre_groupe_form", novalidate)
				.row
					.col-md-5
						h4 {{legende_groupe_selectionne}}

						datalist#id_nouvelle_liste_membres
							option(ng-repeat='membre_groupe in nouvelle_liste_membres', value='{{membre_groupe.nom}}')

						input.form-control(ng-model='recherche_membre_groupe', type='text', placeholder='{{"LABEL.GROUPE.MEMBRE.CHERCHER" | translate}}', list='id_nouvelle_liste_membres')
						br

						h5 {{"LABEL.FORMULAIRE.EMAILS" | translate}}
						.form-group(ng-class='{ "has-error" : edition_membre_groupe_form.nouveaux_membres_groupe_email.$invalid }')
							.row
								.col-md-12
									textarea.form-control(ng-model='nouveaux_membres_groupe_email', name='nouveaux_membres_groupe_email', placeholder='{{"LABEL.GROUPE.MEMBRE.AJOUTER_EMAIL" | translate}}', rows='2', ng-minlength='4')
									span.help-block(ng-show='edition_membre_groupe_form.nouveaux_membres_groupe_email.$invalid') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
									br
							.row
								.col-md-1
									button.btn.btn-default(ng-click='viderMembresGroupe(nouvelle_liste_membres_email);', title='{{"LABEL.SUPPRIMER" | translate}}')
										div.btn-pairform.btn-supprimer
								.col-md-1.col-md-offset-1
									button.btn.btn-default(ng-click='ajouterMembresGroupe(nouveaux_membres_groupe_email, nouvelle_liste_membres_email, groupe_espace.liste_membres_email, false);', ng-disabled='edition_membre_groupe_form.nouveaux_membres_groupe_email.$pristine || edition_membre_groupe_form.nouveaux_membres_groupe_email.$invalid', title='{{"LABEL.AJOUTER" | translate}}')
										div.btn-pairform.btn-ajouter-utilisateur
						.liste-membres-groupes
							table.table
								tbody
									tr(ng-repeat='membre_groupe_email in nouvelle_liste_membres_email | filter: recherche_membre_groupe | limitTo: 6')
										td: div.btn-pairform.btn-supprimer(ng-click='supprimerMembreGroupe(membre_groupe_email, nouvelle_liste_membres_email)', title='{{"LABEL.SUPPRIMER" | translate}}')
										td {{membre_groupe_email.nom}}
									tr(ng-show='nouvelle_liste_membres_email.length > 6')
										td
										td.membres-groupes: em {{"LABEL.GROUPE.MEMBRE.LIMITE_TAILLE_LISTE" | translate}}
						h5 {{"LABEL.GROUPE.MEMBRE.NOM_DOMAINE" | translate}}
						.form-group(ng-class='{ "has-error" : edition_membre_groupe_form.nouveaux_membres_groupe_nom_domaine.$invalid }')
							.row
								.col-md-12
									textarea.form-control(ng-model='nouveaux_membres_groupe_nom_domaine', name='nouveaux_membres_groupe_nom_domaine', placeholder='{{"LABEL.GROUPE.MEMBRE.AJOUTER_NOM_DOMAINE" | translate}}', rows='2', ng-minlength='4')
									span.help-block(ng-show='edition_membre_groupe_form.nouveaux_membres_groupe_nom_domaine.$invalid') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
									br
							.row
								.col-md-1
									button.btn.btn-default(ng-click='viderMembresGroupe(nouvelle_liste_membres_nom_domaine);', title='{{"LABEL.SUPPRIMER" | translate}}')
										div.btn-pairform.btn-supprimer
								.col-md-1.col-md-offset-1
									button.btn.btn-default(ng-click='ajouterMembresGroupe(nouveaux_membres_groupe_nom_domaine, nouvelle_liste_membres_nom_domaine, groupe_espace.liste_membres_nom_domaine, true);', ng-disabled='edition_membre_groupe_form.nouveaux_membres_groupe_nom_domaine.$pristine || edition_membre_groupe_form.nouveaux_membres_groupe_nom_domaine.$invalid', title='{{"LABEL.AJOUTER" | translate}}')
										div.btn-pairform.btn-ajouter-utilisateur
						.liste-membres-groupes
							table.table
								tbody
									tr(ng-repeat='membre_groupe_nom_domaine in nouvelle_liste_membres_nom_domaine | filter: recherche_membre_groupe | limitTo: 6')
										td: div.btn-pairform.btn-supprimer(ng-click='supprimerMembreGroupe(membre_groupe_nom_domaine, nouvelle_liste_membres_nom_domaine)', title='{{"LABEL.SUPPRIMER" | translate}}')
										td {{membre_groupe_nom_domaine.nom}}
									tr(ng-show='nouvelle_liste_membres_nom_domaine.length > 6')
										td
										td.membres-groupes: em {{"LABEL.GROUPE.MEMBRE.LIMITE_TAILLE_LISTE" | translate}}

					.col-md-5
						h4 {{legende_groupe_espace}}

						datalist#id_liste_membres_groupe_espace
							option(ng-repeat='membre_groupe_espace in liste_membres_groupe_espace', value='{{membre_groupe_espace.nom}}')

						input.form-control(ng-model='recherche_membre_groupe_espace', type='text', placeholder='{{"LABEL.GROUPE.MEMBRE.CHERCHER" | translate}}', list='id_liste_membres_groupe_espace')
						br

						h5 {{"LABEL.FORMULAIRE.EMAILS" | translate}}
						.liste-membres-groupes
							table.table
								tbody
									tr(ng-repeat='membre_groupe_espace_email in groupe_espace.liste_membres_email | filter: recherche_membre_groupe_espace | limitTo: 6')
										td: div.btn-pairform.btn-fleche-gauche(ng-click='ajouterMembreGroupe(membre_groupe_espace_email, nouvelle_liste_membres_email)', title='{{"LABEL.AJOUTER" | translate}}')
										td {{membre_groupe_espace_email.nom}}
									tr(ng-show='groupe_espace.liste_membres_email.length > 6')
										td
										td.membres-groupes: em {{"LABEL.GROUPE.MEMBRE.LIMITE_TAILLE_LISTE" | translate}}
						h5 {{"LABEL.GROUPE.MEMBRE.NOM_DOMAINE" | translate}}
						.liste-membres-groupes
							table.table
								tbody
									tr(ng-repeat='membre_groupe_espace_nom_domaine in groupe_espace.liste_membres_nom_domaine | filter: recherche_membre_groupe_espace | limitTo: 6')
										td: div.btn-pairform.btn-fleche-gauche(ng-click='ajouterMembreGroupe(membre_groupe_espace_nom_domaine, nouvelle_liste_membres_nom_domaine)', title='{{"LABEL.AJOUTER" | translate}}')
										td {{membre_groupe_espace_nom_domaine.nom}}
									tr(ng-show='groupe_espace.liste_membres_nom_domaine.length > 6')
										td
										td.membres-groupes: em {{"LABEL.GROUPE.MEMBRE.LIMITE_TAILLE_LISTE" | translate}}

					.col-md-2
						br
						button.btn.btn-primary.btn-block.has-spinner(ng-click='editerMembresGroupe();', data-spinner='right', ng-class='{active: formulaire_edition_membres_groupe_soumis}') {{"LABEL.ENREGISTRER" | translate}}
							span &nbsp;
							span.spinner: i.fa.fa-refresh.fa-spin
						button.btn.btn-primary.btn-block(ng-click='editer_membres = false;') {{"LABEL.ANNULER" | translate}}

