.container
	h2 {{"LABEL.CAPSULE.VISIBILITE.GERER" | translate}}

	.row
		.col-sm-9
			ol.breadcrumb
				li: a(ng-href='backoffice/tableauDeBord?id_espace={{arborescence.id_espace}}') {{arborescence.nom_espace}}
				li: a(ng-href='backoffice/tableauDeBord?id_espace={{arborescence.id_espace}}&id_ressource={{arborescence.id_ressource}}') {{arborescence.nom_ressource}}
				li: a(ng-href='backoffice/tableauDeBord?id_espace={{arborescence.id_espace}}&id_ressource={{arborescence.id_ressource}}&id_capsule={{arborescence.id_capsule}}') {{arborescence.nom_capsule}}
				
		.col-sm-3(ng-show='aAccesBoutonGererGroupes()')
			a.btn.btn-primary.pull-right(ng-href='backoffice/groupes/gestionGroupes/{{arborescence.id_espace}}?nom_espace={{arborescence.nom_espace}}') {{"LABEL.GROUPE.GERER" | translate}}
	br

	.row
		.col-sm-12
			form.well(name='edition_capsule_visibilite_form', novalidate)
				.row
					.col-sm-12
						h4 {{sous_titre_visibilite}}
						br

				.row
					.col-sm-5
						select.form-control(ng-model='sphere_publique_visibilite_selectionne', ng-options='visibilite.nom disable when (visibilite.id_visibilite == 3 && !utilisateur_autorise) for visibilite in liste_visibilites_sphere_publique', ng-change='editerVisibilitesViaSpherePublique()')
					.col-sm-2
						p {{"LABEL.CAPSULE.VISIBILITE.POUR" | translate}}
					.col-sm-5
						h5 {{groupe_sphere_publique.nom}}
				br
				.row
					.col-sm-5
						select.form-control(ng-model='espace_visibilite_selectionne', ng-options='visibilite.nom disable when (visibilite.id_visibilite == 3 && !utilisateur_autorise) for visibilite in liste_visibilites_espace', ng-change='editerVisibilitesViaEspace()')
					.col-sm-2
						p {{"LABEL.CAPSULE.VISIBILITE.POUR" | translate}}
					.col-sm-5
						h5 {{groupe_espace.nom}}
				br
				.row
					.col-sm-5
						select.form-control(ng-model='groupe_visibilite_selectionne', ng-options='visibilite.nom for visibilite in liste_visibilites_groupe', ng-change='editerVisibilitesViaGroupe()')
							option(value='') {{"LABEL.CAPSULE.VISIBILITE.SELECTIONNER" | translate}}
					.col-sm-2
						p {{"LABEL.CAPSULE.VISIBILITE.POUR" | translate}}
					.col-sm-5
						datalist#id_liste_groupes
							option(ng-repeat='groupe in liste_groupes', value='{{groupe.nom}}')

						input.form-control(ng-model='recherche_groupe', type='text', placeholder='{{"LABEL.GROUPE.CHERCHER" | translate}}', list='id_liste_groupes')
						br

						select.form-control(ng-model='groupe_selectionne', ng-options='groupe.nom for groupe in liste_groupes | filter: recherche_groupe')
							option(value='') {{"LABEL.GROUPE.SELECTIONNER" | translate}}
				br
				.row
					.col-xs-10
						.checkbox
							label
								input.checkbox(type='checkbox' ng-model='modifier_toutes_capsules' name='modifier_toutes_capsules')
								span {{"LABEL.CAPSULE.VISIBILITE.MODIFIER_TOUTES_CAPSULES" | translate}}

					.col-xs-2
						button.btn.btn-primary.pull-right(ng-click='editerCapsuleVisibilite()') {{"LABEL.ENREGISTRER" | translate}}
				br
				.row
					.col-sm-12
						.alert.alert-info(role='alert') 
							p {{"LABEL.CAPSULE.VISIBILITE.DEFINITION_GLOBAL" | translate}}
							ul
								li {{"LABEL.CAPSULE.VISIBILITE.DEFINITION_ACCESSIBLE" | translate}}
								li {{"LABEL.CAPSULE.VISIBILITE.DEFINITION_INACCESSIBLE" | translate}}

	.row
		.col-sm-12
			.well.large-div
				h1.page-header {{"LABEL.GROUPE.GROUPES" | translate}}

				.col-sm-12.table-responsive(ng-repeat='groupe in liste_groupes | filter:recherche_groupe  | orderBy:"nom" track by groupe.id_groupe')
					table.table.table-condensed
						thead
							th.col-xs-8
								span {{groupe.nom}}
						tbody
							tr(ng-repeat='membre_groupe in groupe.liste_membres_email')
								td.col-xs-8 {{membre_groupe.nom}}
							tr(ng-repeat='membre_groupe in groupe.liste_membres_nom_domaine')
								td.col-xs-8 {{membre_groupe.nom}}
