.container
	h2 {{titre}}

	.row
		.col-md-12
			ol.breadcrumb
				li: a(ng-href='backoffice/tableauDeBord?id_espace={{arborescence.id_espace}}') {{arborescence.nom_espace}}
				li: a(ng-href='backoffice/tableauDeBord?id_espace={{arborescence.id_espace}}&id_ressource={{arborescence.id_ressource}}') {{arborescence.nom_ressource}}
				li(ng-show='arborescence.nom_capsule')
					a(ng-href='backoffice/tableauDeBord?id_espace={{arborescence.id_espace}}&id_ressource={{arborescence.id_ressource}}&id_capsule={{arborescence.id_capsule}}') {{arborescence.nom_capsule}}
	br

	.row(ng-show='capsule.id_capsule')
		.col-md-12
			p.pull-right {{"LABEL.FORMULAIRE.CREER_PAR" | translate}}
				span {{capsule.pseudo_createur}}

	.row
		form.col-md-12.well.form-horizontal(name="gestion_capsule_form", novalidate)
			.row
				input(ng-model='capsule.id_capsule', type='hidden')
				input(ng-model='capsule.id_ressource', type='hidden')

				.form-group(ng-class='{ "has-error" : formulaire_soumis && gestion_capsule_form.nom_long.$invalid}')
					label.col-md-2.control-label {{"LABEL.FORMULAIRE.NOM" | translate}}
					.col-md-6
						input.form-control(ng-model='capsule.nom_long', name='nom_long', type='text', placeholder='{{"LABEL.FORMULAIRE.NB_CARACT_MAX_50" | translate}}', ng-minlength='2', ng-maxlength='50', ng-click='capsule_doublon = false; formulaire_soumis = false;', required)
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.nom_long.$invalid') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.nom_long.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.nom_long.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
						span.help-block(ng-show='formulaire_soumis && capsule_doublon'): p.text-danger {{"LABEL.ERREUR.DOUBLON" | translate}}
					.col-md-4
						.btn.btn-success(ng-click="metadonnees_affichees = metadonnees_affichees ? false : true")
							| {{metadonnees_affichees ? 'Masquer' : 'Afficher'}} les métadonnées

				.form-group(ng-class='{ "has-error" : formulaire_soumis && gestion_capsule_form.description.$invalid}', ng-show="metadonnees_affichees")
					label.col-md-2.control-label {{"LABEL.FORMULAIRE.DESCRIPTION" | translate}}
					.col-md-6
						textarea.form-control(ng-model='capsule.description', name='description', placeholder='{{"LABEL.CAPSULE.GESTION.DESCRIPTION" | translate}}', ng-minlength='2', rows='4', ng-click='formulaire_soumis = false;')
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.description.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}

				.form-group(ng-class='{ "has-error" : formulaire_soumis && gestion_capsule_form.licence.$invalid}', ng-show="metadonnees_affichees")
					label.col-md-2.control-label {{"LABEL.FORMULAIRE.LICENCE" | translate}}
					.col-md-6
						input.form-control(ng-model='capsule.licence', name='licence', type='text', placeholder='{{"LABEL.FORMULAIRE.LICENCE_DESCRIPTION" | translate}}', ng-minlength='2', ng-maxlength='50', ng-click='formulaire_soumis = false;')
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.licence.$invalid') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.licence.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.licence.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
				
				.form-group(ng-class='{ "has-error" : formulaire_soumis && gestion_capsule_form.auteurs.$invalid}', ng-show="metadonnees_affichees")
					label.col-md-2.control-label {{"LABEL.FORMULAIRE.AUTEURS" | translate}}
					.col-md-6
						input.form-control(ng-model='capsule.auteurs', name='auteurs', type='text', placeholder='{{"LABEL.FORMULAIRE.AUTEURS_DESCRIPTION" | translate}}', ng-minlength='2', ng-maxlength='100', ng-click='formulaire_soumis = false;')
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.auteurs.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.auteurs.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}

			.row.nouveau_documents_container(ng-hide='capsule.id_capsule')
				.nouveau_document(ng-repeat="format in liste_formats | orderBy:'nom' track by format.id_format" ng-click='$parent.format_selectionne = format' ng-class="{selected : $parent.format_selectionne == format}")
					img(ng-src='/public/img/icone/{{formats_noms_icones[format.id_format]}}', alt='{{format.nom}}')
					span {{format.nom}}

			.col-xs-12(ng-show='format_selectionne.id_format == 3 && !capsule.id_capsule')
				h1 {{"LABEL.CAPSULE.GESTION.INFO_INJECTEUR_BOOKMARK_CREATION_TITRE" | translate}}
					a.btn.btn-success(ng-href="javascript:(function()%7Bfunction%20callback()%7BsetTimeout(function()%7Brequire(%5B%22injecteur%22%5D)%7D%2C4000)%7Dvar%20s%3Ddocument.createElement(%22script%22)%3Bs.src%3D%22{{url_root + 'app'}}%22%3Bif(s.addEventListener)%7Bs.addEventListener(%22load%22%2Ccallback%2Cfalse)%7Delse%20if(s.readyState)%7Bs.onreadystatechange%3Dcallback%7Ddocument.body.appendChild(s)%3B%7D)()" onclick="addToBookmark()" title="PairForm" rel="sidebar") 
						i.fa.fa-star 
						| PairFormify
				br
				h2 {{"LABEL.CAPSULE.GESTION.INFO_INJECTEUR_BOOKMARK_CREATION_ALTERNATIVE" | translate}}
				textarea.pre.
					javascript:(function()%7Bfunction%20callback()%7BsetTimeout(function()%7Brequire(%5B%22injecteur%22%5D)%7D%2C4000)%7Dvar%20s%3Ddocument.createElement(%22script%22)%3Bs.src%3D%22{{url_root + 'app'}}%22%3Bif(s.addEventListener)%7Bs.addEventListener(%22load%22%2Ccallback%2Cfalse)%7Delse%20if(s.readyState)%7Bs.onreadystatechange%3Dcallback%7Ddocument.body.appendChild(s)%3B%7D)()

			fieldset.separateur(ng-show='capsule.id_capsule && (format_selectionne.id_format == 1 || format_selectionne.id_format == 2 || format_selectionne.id_format == 3 || format_selectionne.id_format == 4 || format_selectionne.id_format == 6)')

			.row(ng-show='capsule.id_capsule && (format_selectionne.id_format == 1 || format_selectionne.id_format == 2 || format_selectionne.id_format == 3 || format_selectionne.id_format == 4 || format_selectionne.id_format == 6)')
				.col-md-6(ng-show='format_selectionne.id_format == 1 || format_selectionne.id_format == 2')
					.row
						label.col-md-5.col-md-offset-5 {{"LABEL.CAPSULE.GESTION.VERSION_MOBILE" | translate}}
					br

					.form-group(ng-hide='upload_archive_mobile', ng-class='{ "has-error" : formulaire_soumis && gestion_capsule_form.url_mobile.$invalid}')
						label.col-md-3.control-label {{"LABEL.FORMULAIRE.URL" | translate}}
						.col-md-9
							input.form-control(ng-model='capsule.url_mobile', name='url_mobile', type='url', placeholder='{{"LABEL.CAPSULE.GESTION.URL_MOBILE_DESCRIPTION" | translate}}')
							span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.url_mobile.$invalid') {{"LABEL.ERREUR.URL_INVALIDE" | translate}}

					.form-group(ng-show='!upload_archive_mobile', ng-class='{ "has-error" : formulaire_soumis && gestion_capsule_form.poid.$invalid}')
						label.col-md-3.control-label {{"LABEL.CAPSULE.GESTION.POID" | translate}}
						.col-md-9
							input.form-control(ng-model='capsule.poid', name='poid', type='number', placeholder='{{"LABEL.CAPSULE.GESTION.POID_DESCRIPTION" | translate}}', ng-maxlength='4', min='1')
							span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.poid.$invalid') {{"LABEL.ERREUR.POID_INVALIDE" | translate}}
							span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.poid.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}

					.form-group(ng-show='upload_archive_mobile', ng-class='{ "has-error" : format_mobile_incorrect }')
						.col-md-12
							button.btn.btn-default.btn-block(type='file', ngf-select='recupererArchiveMobile($file)', ngf-max-size='750MB')
								span {{"LABEL.CAPSULE.GESTION.SELECTIONNER_ARCHIVE_MOBILE" | translate}}
							span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.archive_mobile.$error.maxSize'): span.text-danger {{"LABEL.ERREUR.POID_MAX_750mo" | translate}}
							span.help-block(ng-show='format_mobile_incorrect'): span.text-danger {{"LABEL.ERREUR.FORMAT_ARCHIVE" | translate}}
							span.help-block(ng-show='archive_mobile_selectionne'): span.text-success {{nom_archive_mobile}}

					div.progress(ng-show='upload_archive_mobile && archive_mobile_selectionne && formulaire_soumis')
						div.progress-bar(role='progressbar', aria-valuenow='avancement_upload_mobile', aria-valuemin='0', aria-valuemax='100', ng-style='{width: (avancement_upload_mobile + "%")}')
							span {{avancement_upload_mobile}} %

					.row
						.checkbox.col-md-6.col-md-offset-3
							label
								input.checkbox(ng-model='upload_archive_mobile', type='checkbox')
								span {{"LABEL.CAPSULE.GESTION.UPLOAD_CAPSULE_SUR_SERVEUR" | translate}}
	
				.col-md-6(ng-show='format_selectionne.id_format == 3')
					h1 {{"LABEL.CAPSULE.GESTION.INFO_INJECTEUR_INTEGRATION_TITRE" | translate}}
					p {{"LABEL.CAPSULE.GESTION.INFO_INJECTEUR_INTEGRATION_EXPLICATION" | translate}}
					textarea.pre.
						<script src="{{url_root + 'app/' + capsule.clef_pairform}}" async />

				.col-md-6(ng-show='format_selectionne.id_format == 3')
					h1 {{"LABEL.CAPSULE.GESTION.INFO_INJECTEUR_BOOKMARK" | translate}}
						a.btn.btn-success(ng-href="javascript:(function()%7Bjavascript%3Avar%20h%3Dwindow.document.getElementsByTagName('head')%5B0%5D%3Bvar%20a%3D%20window.document.createElement('script')%3Ba.setAttribute('src'%2C'{{url_root+'app/'+capsule.clef_pairform}}')%3Ba.async%3Dtrue%3Bh.appendChild(a)%7D)()" onclick="addToBookmark()" title="PairForm" rel="sidebar") 
							i.fa.fa-star 
							| PairForm - {{capsule.nom_court}}

				.col-md-6(ng-show='format_selectionne.id_format == 4 || format_selectionne.id_format == 6')
					.alert.alert-info(ng-show='upload_archive_web')
						h2 {{"LABEL.CAPSULE.GESTION.INFO_TUTO_VIDEO_TITRE" | translate}}
						video.col-xs-12(controls ng-src='{{url_root + "public/video/storyline2_zip.mp4"}}')
						p {{"LABEL.CAPSULE.GESTION.INFO_TUTO_VIDEO_DESCRIPTION_1" | translate}}
					.alert.alert-info(ng-hide='upload_archive_web')
						p {{"LABEL.CAPSULE.GESTION.INFO_TUTO_VIDEO_DESCRIPTION_2" | translate}}
						textarea#script_storyline2.pre.
							(function(d, t) {if(PF) return; var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
							g.src = '{{url_root + 'app/' + capsule.clef_pairform}}';
							s.parentNode.insertBefore(g, s); }(document, 'script'));

						h2 {{"LABEL.CAPSULE.GESTION.TUTO_VIDEO" | translate}}
						video.col-xs-12(controls ng-src='{{url_root + "public/video/storyline2_script.mp4"}}')

				.col-md-6(ng-hide='format_selectionne.id_format == 3')
					.row
						label.col-md-5.col-md-offset-5 {{"LABEL.CAPSULE.GESTION.VERSION_WEB" | translate}}
					br

					.form-group(ng-hide='upload_archive_web', ng-class='{ "has-error" : formulaire_soumis && gestion_capsule_form.url_web.$invalid}')
						label.col-md-3.control-label {{"LABEL.FORMULAIRE.URL" | translate}}
						.col-md-9
							input.form-control(ng-model='capsule.url_web', name='url_web', type='url', ng-pattern='/^(?!.*\/co\/).*\/$/', placeholder='{{"LABEL.CAPSULE.GESTION.URL_WEB_DESCRIPTION" | translate}}')
							span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.url_web.$invalid') {{"LABEL.ERREUR.URL_INVALIDE" | translate}}
							span.help-block(ng-show='gestion_capsule_form.url_web.$invalid && gestion_capsule_form.url_web.$error.pattern').
								{{("LABEL.ERREUR.URL_INVALIDE_MAUVAIS_FORMAT" | translate) + (gestion_capsule_form.url_web.$viewValue.split("/co/")[0] + "/")}}

					.form-group(ng-show='upload_archive_web', ng-class='{ "has-error" : format_web_incorrect }')
						.col-md-12
							button.btn.btn-default.btn-block(type='file', ngf-select='recupererArchiveWeb($file)', ngf-max-size='750MB')
								span {{"LABEL.CAPSULE.GESTION.SELECTIONNER_ARCHIVE_WEB" | translate}}
							span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.archive_web.$error.maxSize'): span.text-danger {{"LABEL.ERREUR.POID_MAX_750mo" | translate}}
							span.help-block(ng-show='format_web_incorrect'): span.text-danger {{"LABEL.ERREUR.FORMAT_ARCHIVE" | translate}}
							span.help-block(ng-show='archive_web_selectionne'): span.text-success {{nom_archive_web}}

					div.progress(ng-show='upload_archive_web && archive_web_selectionne && formulaire_soumis')
						div.progress-bar(role='progressbar', aria-valuenow='avancement_upload_web', aria-valuemin='0', aria-valuemax='100', ng-style='{width: (avancement_upload_web + "%")}')
							span {{avancement_upload_web}} %

					.row(ng-hide='format_selectionne.id_format == 3')
						.checkbox.col-md-6.col-md-offset-3
							label
								input.checkbox(ng-model='upload_archive_web', type='checkbox')
								span {{"LABEL.CAPSULE.GESTION.UPLOAD_CAPSULE_SUR_SERVEUR" | translate}}

			br
			.row.ckeditor_actions(ng-show='capsule.id_capsule && format_selectionne.id_format == 0')
				.col-md-9
					.pull-left
						button.btn.btn-primary(type='file', ngf-select='convertirFichier($file, capsule, id_espace, avancement_conversion)', ngf-max-size='750MB', ngf-pattern='".docx,.odt"', ngf-accept='"application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.oasis.opendocument.text"')
							i.fa.fa-cloud-upload
							span {{"LABEL.CAPSULE.GESTION.CONVERSION_FICHIER" | translate}}
						button.btn.btn-primary(ng-show='fonctions_avancees', ng-click='afficher_css_personalise = afficher_css_personalise ? !afficher_css_personalise : true;')
							i.fa.fa-code
							span {{"LABEL.CAPSULE.GESTION.CSS_PERSONALISE" | translate}}
					.pull-right.checkbox
						label
							input.checkbox(ng-model='fonctions_avancees', type='checkbox', ng-change='changerConfig()')
							span {{"LABEL.CAPSULE.GESTION.FONCTIONS_AVANCEES" | translate}}


			.row
				.col-md-12
					div.progress-bar(role='progressbar', ng-show='avancement_conversion', aria-valuenow='avancement_conversion', aria-valuemin='0', aria-valuemax='100', ng-style='{width: (avancement_conversion + "%")}')
						span {{avancement_conversion}} %

			.row(ng-show='capsule.id_capsule && format_selectionne.id_format == 0')
				.col-md-9.ckeditor_capsule_gauche
					textarea(id='css_personalise', ng-show='afficher_css_personalise && fonctions_avancees', name='css_personalise', ng-model='css_personalise', placeholder='{{"LABEL.CAPSULE.GESTION.CSS_PERSONALISE_PLACEHOLDER" | translate}}')
					textarea(id='ckeditor_capsule')
				.col-md-3.ckeditor_capsule_droite.sommaire_capsule
					.ckeditor_pages(ng-repeat='page in sommaire.liste_pages')
						.page(draggable='true')
							button.btn.btn-default.btn-block(type='button', ng-click='editerPage(page.position)', ng-hide='page_editee == page.position') {{page.titre}}
							.input-group(ng-show='page_editee == page.position')
								input.form-control(ng-model='page.titre', name='titre', ng-change='editerTitrePage()', type='text')
								//span.input-group-addon.btn.btn-default.btn-deplacer(title='{{"LABEL.CAPSULE.GESTION.DEPLACER_PAGE" | translate}}') &nbsp;
								span.input-group-btn
									button.btn.btn-default.btn-supprimer(type='button', ng-click='supprimerPage(page.position)', title='{{"LABEL.SUPPRIMER" | translate}}') &nbsp;
					button.btn.btn-default.btn-block.btn-ajouter(type='button', ng-click='ajouterPage()', title= '{{"LABEL.CAPSULE.GESTION.AJOUTER_PAGE" | translate}}') &nbsp;
				br
				div.progress(ng-show='formulaire_soumis')
					div.progress-bar(role='progressbar', aria-valuenow='avancement_upload_ckeditor', aria-valuemin='0', aria-valuemax='100', ng-style='{width: (avancement_upload_ckeditor + "%")}')
						span {{avancement_upload_ckeditor}} %
	
			.row.etherpad_editor(ng-show='capsule.id_capsule && format_selectionne.id_format == 5')
				iframe(ng-src="{{url_etherpad + capsule.id_capsule + '?showLineNumbers=false&lang=fr&userName=' + utilisateur_local.pseudo}}")

			br
			br
			.row
				.col-md-4
					em {{"LABEL.FORMULAIRE.CHAMPS_OBLIGATOIRES" | translate}}
				.col-md-2
					.pull-right(ng-show='capsule.id_capsule && (format_selectionne.id_format == 1 || format_selectionne.id_format == 2)')
						span.text-info {{"LABEL.CAPSULE.CLEF_PAIRFORM" | translate}}
						span.text-info {{capsule.clef_pairform}}
				.col-md-6(ng-hide='format_selectionne.id_format == 3')
					button.btn.btn-primary.has-spinner.pull-right(ng-click='gererCapsule(gestion_capsule_form.$valid)', data-spinner='right', ng-class='{active: gestion_capsule_form.$valid && formulaire_soumis && !capsule_doublon}')
						i.glyphicon.glyphicon-save
						span {{bouton_formulaire}}
						span &nbsp;
						span.spinner: i.fa.fa-refresh.fa-spin
					button.btn.btn-info.has-spinner.pull-right(ng-show='capsule.id_capsule && format_selectionne.id_format != 3' ng-click='gererCapsule(gestion_capsule_form.$valid, true)', data-spinner='right', ng-class='{active: gestion_capsule_form.$valid && formulaire_soumis && !capsule_doublon}')
						i.glyphicon.glyphicon-eye-open
						span {{format_selectionne.id_format == 5 ? ("LABEL.PUBLIER_VISUALISER" | translate) : ("LABEL.ENREGISTRER_VISUALISER" | translate)}}
						span &nbsp;
						span.spinner: i.fa.fa-refresh.fa-spin
					button.btn.btn-success.has-spinner.pull-right(ng-show='capsule.id_capsule && format_selectionne.id_format == 0' ng-click='gererCapsule(gestion_capsule_form.$valid, false)', data-spinner='right', ng-class='{active: gestion_capsule_form.$valid && formulaire_soumis && !capsule_doublon}')
						i.glyphicon.glyphicon-floppy-disk
						span {{format_selectionne.id_format == 5 ? ("LABEL.PUBLIER" | translate) : ("LABEL.ENREGISTRER" | translate)}}
						span &nbsp;
						span.spinner: i.fa.fa-refresh.fa-spin

	.row
		.alert.alert-info(role='alert', ng-show='!capsule.id_capsule')
			h2
				i.glyphicon.glyphicon-info-sign
				| {{"LABEL.CAPSULE.GESTION.INFO_CREATION_TITRE" | translate}}
			| {{"LABEL.CAPSULE.GESTION.INFO_CREATION_DESCRIPTION_1" | translate}}
			br
			| {{"LABEL.CAPSULE.GESTION.INFO_CREATION_DESCRIPTION_2" | translate}}