.container.bo-ressource(ng-show='aAccesTimeline() && (selection.ressource && selection.ressource.id_usage == 1)' ng-controller='backoffice_session_formation')
	//- div(ng-controller='backoffice_session_formation')
	//- h1.section-header Session de formation

	.alert.alert-info(role='alert') 
		h2
			i.fa.fa-info
			| Organisez votre formation par sessions
		ul
			li Créez une session de formation,
			li Glissez-déposez des documents ou des items sur l'axe du temps, puis choisissez leur date de diffusion,
			li Pour les supprimer, glissez les dans la poubelle.


	.timeline-create(ng-show="!selection.ressource.sessions || selection.ressource.sessions.length == 0")
		.timeline-create-background
		.timeline-create-button.btn.btn-success.pf-real-center(ng-click="creerSession()") Créer une session
	
	.sessions-tabs(ng-show="selection.ressource.sessions.length > 0")
		.session-tab(ng-repeat="_session in selection.ressource.sessions track by _session.id_session" ng-class="{active : $parent.session == _session}")
			h2(ng-click="$parent.session = _session") {{_session.nom}}
			.session-more(ng-show="$parent.display_session == _session")
				.formBox
					.group.session-nom
						input(type="text", required, ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="_session.nom")
						.form-status
						span.bar
						label Nom

					.group.session-groupe
						select(ng-options='groupe.id_groupe as groupe.nom for groupe in liste_groupes' ng-model='_session.id_groupe')
						.form-status
						span.bar
						label Groupe #[a(target="pf_groupes" ng-href="backoffice/groupes/gestionGroupes/{{selection.espace.id_espace}}?nom_espace={{selection.espace.nom_long}}") (gérer les groupes)]

					.btn.btn-save.btn-success(ng-click="saveSession(_session)") Enregistrer

			.session-tab-more
				i.fa.fa-edit(ng-click="editerSession(_session, $event)")
					label Editer la session
				i.fa.fa-copy(ng-click="dupliquerSession(_session)")
					label Dupliquer la session
				i.fa.fa-trash(ng-click="supprimerSession(_session)")
					label Supprimer la session
		.session-tab.session-tab-new(ng-click="creerSession()")
			i.fa.fa-plus.fa-2x
			h2 Créer une session

	.session(ng-show="selection.ressource.sessions.length > 0")
		.timeline-holder.container
			//- a.left.timeline-control.control-hidden
				//- span.glyphicon.glyphicon-chevron-left
			//- a.right.timeline-control
				//- span.glyphicon.glyphicon-chevron-right

			timeline.timeline-items-container.timeline-backoffice
				.timeline
					.timeline__step.timeline-item(ng-repeat="item in session.items | orderBy:'date_diffusion' track by $index")
						span.timeline__step-date(ng-click="displayItem(item, $event)")
							i.fa.fa-calendar
							| {{moment(item.date_diffusion, "x", "fr").format('L')}}
						img.timeline__step-marker(ng-click="displayItem(item, $event)" ng-if="item.type_icone != 'fa'" draggable="true" ng-src='{{item.icone}}', alt='{{item.titre}}' item="item")
						i.timeline__step-marker.fa.fa-2x(ng-click="displayItem(item, $event)" ng-if="item.type_icone == 'fa'" ng-class="item.icone" draggable="true" item="item")
						span.timeline__step-title(ng-click="displayItem(item, $event)") {{item.titre}}
			
						.timeline-more(ng-show="$parent.display_item == item")
							.formBox
								.group.item-titre
									input(type="text", required, ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="item.titre")
									.form-status
									span.bar
									label Titre

								.group.item-url
									input(type="text", ng-disabled="item.type == 'document'" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="item.url")
									.form-status
									span.bar
									label URL

								.group.item-description
									input(type="text", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="item.description")
									.form-status
									span.bar
									label Description
								.item-date 
									h1 {{moment(item.date_diffusion, "x", "fr").format('LLLL')}}
									div(moment-picker="item.date_diffusion" locale="fr" format="x" min-view="month" max-view="hour" today="true" inline="true" set-on-select="true")
								.item-diffusion.form-check
									input.form-check-input(type="checkbox" ng-model="item.diffusion_automatique" ng-true-value="1" ng-false-value="0")
									span.form-check-label Envoyer une invitation
									a(ng-href="{{res_url_root}}mail/session/{{item.id_item}}" target="pf_mail_item" alt="Visualiser l'e-mail envoyé")
										i.fa.fa-eye
								.btn.btn-save.btn-success(ng-click="saveItem(item)") Enregistrer

	.sessions-items-container.col-xs-12(ng-show="selection.ressource.sessions.length > 0")
		h2.section-header Items
		.session-item(ng-repeat="item in session_items")
			i.timeline__step-marker.fa.fa-2x(ng-class="item.icone" draggable="true" item="item")
			span {{item.titre}}
		.session-item.session-item-trash(drag-trash)
			i.timeline__step-marker.fa.fa-2x.fa-trash
			span Supprimer
		