html
body(style='font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 14px; background-image: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);')
    section#bodyWrapper(style='min-width: 700px; width: 80%; margin: 0 auto; padding: 0 20px;')
      h1(style='font-size: 1.8em; font-weight: 100; clear: both; float: left;') Bonjour #{utilisateur.pseudo}!
      a(href='http://www.pairform.fr')
        img(style='float: right; max-height: 42px;', align='right', src='https://www.pairform.fr/public/img/pairformlogo.png')
      h2(style='font-weight: 100; clear: both; float: left;')
        | Votre inscription sur PairForm a bien été prise en compte.
      div(style="font-weight:300; clear: both; float:left;")
        | Toutefois, avant de pouvoir utiliser l'application, vous devez confirmer votre adresse e-mail.
      div(style="font-weight:300; clear: both; float:left;")
        | Pour cela, veuillez cliquer sur le lien suivant :
      div(style="font-weight:300; clear: both; float:left; margin: 10px 0;")
         a(href="#{url_validation}") #{url_validation}
      div(style="font-weight:300; clear: both; float:left;")
        | Si la redirection ne se fait pas automatiquement, veuillez copier ce lien et le coller dans votre navigateur.
      h1(style='font-size: 1.8em; font-weight: 100; clear: both; float: left; text-align: center; width: 100%;', align='center') L&apos;&eacute;quipe PairForm.
