html
body(style='font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 14px; background-image: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);')
    section#bodyWrapper(style='min-width: 700px; width: 80%; margin: 0 auto; padding: 0 20px;')
      h1(style='font-size: 1.8em; font-weight: 100; clear: both; float: left;') Bonjour #{utilisateur.pseudo}!
      a(href='http://www.pairform.fr')
        img(style='float: right; max-height: 42px;', align='right', src='https://www.pairform.fr/public/img/pairformlogo.png')
      h2(style='font-weight: 100; clear: both; float: left;')
        | Nous vous remercions d'avoir créé un compte sur PairForm depuis #{consumer_name}.
      div(style="font-weight:300; clear: both; float:left;")
        | Vous pouvez dès à présent commenter n'importe quel paragraphe à l'intérieur des documents.
        | Nous vous invitons également à visiter les autres documents présents sur PairForm!
      div(style="font-weight:300; margin: 20px 0px; clear: both; float:left;")
        | Votre identifiant : #[strong #{utilisateur.pseudo}]
        br
        | Votre mot de passe (généré automatiquement) : #[strong #{utilisateur.password}]&nbsp;
      div(style="font-weight:300; clear: both; float:left;")
        | Vous pouvez changer votre mot de passe à tout moment dans l'interface de PairForm Web, en cliquant sur votre nom, puis sur la roue dentée.
      h1(style='font-size: 1.8em; font-weight: 100; clear: both; float: left; text-align: center; width: 100%;', align='center') L&apos;&eacute;quipe PairForm.
