html
body(style='font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 14px; background-image: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);')
    section#bodyWrapper(style='min-width: 700px; width: 80%; margin: 0 auto; padding: 0 20px;')
      h1(style='font-size: 1.8em; font-weight: 100; clear: both; float: left;') Bonjour #{utilisateur.pseudo}!
      a(href='http://www.pairform.fr')
        img(style='float: right; max-height: 42px;', align='right', src='https://www.pairform.fr/public/img/pairformlogo.png')
      h2(style='font-weight: 100; clear: both; float: left;')
        | Une demande de r&eacute;initialisation a &eacute;t&eacute; faite pour votre compte.
      div(style="font-weight:300; clear: both; float:left;")
        | Si vous avez bien demand&eacute; cette r&eacute;initialisation, cliquez sur le lien ci-dessous ; sinon, veuillez ignorer cet e-mail.
      div(style="font-weight:300; clear: both; float:left;")
        a(href="#{url_reset}") Réinitialiser mon mot de passe   
      h1(style='font-size: 1.8em; font-weight: 100; clear: both; float: left; text-align: center; width: 100%;', align='center') L&apos;&eacute;quipe PairForm.
