html
body(style='font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 14px; background-image: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);')
    section#bodyWrapper(style='min-width: 700px; width: 80%; margin: 0 auto; padding: 0 20px;')
      h1(style='font-size: 1.8em; font-weight: 100; clear: both; float: left;') Bonjour #{utilisateur.pseudo}!
      a(href='http://www.pairform.fr')
        img(style='float: right; max-height: 42px;', align='right', src='https://www.pairform.fr/public/img/pairformlogo.png')
      h2(style='font-weight: 100; clear: both; float: left;')
        | Votre mot de passe a été réintialisé.
      div(style="font-weight:300; clear: both; float:left;")
        | Voici votre nouveau mot de passe : 
        h2(style="font-weight:400; ") #{password}
      div(style="font-weight:300; clear: both; float:left;")
        | Nous vous recommandons de changer votre mot de passe dans la configuration de votre profil (roue dentée sur l'écran de profil) dès que possible.
      h1(style='font-size: 1.8em; font-weight: 100; clear: both; float: left; text-align: center; width: 100%;', align='center') L&apos;&eacute;quipe PairForm.
