head
  title Connexion…
  link(rel='stylesheet', href='#{url_serveur_node}/public/lib/css/toastr.min.css')
  link(rel="stylesheet" href="#{url_serveur_node}/public/lib/css/bootstrap.min.css")
  link(rel="stylesheet" href="#{url_serveur_node}/public/css/pairform_landpage.css")
  link(rel="stylesheet" href="#{url_serveur_node}/private/css/new_forms.css")
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  style.
    section {
        margin:20px;
        text-align:center;
    }

  if nouveau_utilisateur && !error
    script(src='#{url_serveur_node}/public/lib/js/jquery-1.9.0.min.js')
    script(src='#{url_serveur_node}/public/lib/js/toastr.min.js')
    script.
      var PF = {
        url_serveur_node : "#{url_serveur_node}"
      };

      var user = !{nouveau_utilisateur};
    
    script(src='#{url_serveur_node}/private/js/sso.js')


body.pf
  if utilisateur && !error
    section 
      h1 Identification en cours… 
      h2 Cette fenêtre se fermera automatiquement.
      div.alert.alert-warning.col-sm-12
        | Si cette fenêtre ne se ferme pas, contactez-nous à l'adresse  
        span.label.label-warning 
          | contact - arobase - pairform.fr
        | , nous vous répondrons dans les meilleurs délais.
    script(type="text/javascript").
      if(window.opener){
        debugger
        var user = !{utilisateur};
        if (user) 
          window.opener.postMessage(user, "*");
        else
          window.opener.postMessage(0, "*");
      }
   else if nouveau_utilisateur && !error
    section 
      h1 Choisissez un pseudo 
      h2 pour terminer la configuration de votre compte

      form#form_pseudo.formBox
        .group
          input(type="text", required name="pseudo")
          .form-status
          span.bar
          label Pseudo
        input(type="submit" value="Continuer" style="height: 32px; width: 90px;")
      div.alert.alert-info.col-sm-12
        | Vous pourrez modifier votre pseudo plus tard.
        | Vous ne pouvez pas choisir le même pseudo qu'un autre utilisateur.

    script(type="text/javascript").

  else
    section 
      h1 Identification annulée
      h2 #{error}

      script(type="text/javascript").
        setTimeout(function(){
          window.close();
        }, 10000);

      div.alert.alert-warning.col-sm-12
        | Cette fenêtre se fermera dans 10 secondes.