doctype html
html.animated
	head
		title PairForm - Document protégé
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		script(src='#{url_serveur_node}/public/lib/js/jquery-1.9.0.js')
		link(rel='stylesheet', href='#{url_serveur_node}/private/css/toaster.css')
		script(src="#{url_serveur_node}/public/lib/js/angular.min.js")
		script(src="#{url_serveur_node}/public/lib/js/angular-touch.min.js")
		script(src="#{url_serveur_node}/public/lib/js/angular-animate.min.js")
		script(src='#{url_serveur_node}/public/lib/js/angular_toaster.js')
		script(src="#{url_serveur_node}/public/lib/js/angular-translate-2.7.2.min.js")
		script(src="#{url_serveur_node}/public/lib/js/angular-translate-loader-static-files.js")

		script.
			var PF = {
				unauthorized : #{unauthorized || false},
				unauthorized_explication : "#{unauthorized_explication}",
				url_serveur_node : "#{url_serveur_node}",
				url_to_follow : "#{url_to_follow}",
				gate_keeper : {
					id_capsule :  #{id_capsule},
					id_ressource : #{id_ressource}
				}
			};

		script(src="#{url_serveur_node}/private/js/helpers/general.js")
		script(src="#{url_serveur_node}/private/js/login_controller.js")
		link(rel="stylesheet" href="#{url_serveur_node}/public/lib/css/bootstrap.min.css")
		link(rel="stylesheet" href="#{url_serveur_node}/public/fonts/font-awesome-4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="#{url_serveur_node}/private/css/login.css")
		link(rel="stylesheet" href="#{url_serveur_node}/private/css/new_forms.css")

	body(ng-app="pf_login").pf
		br
		if id_capsule
			img#logo_ressource(src="#{url_logo}.blur.jpg")
		else
			img#logo_ressource(src="#{url_serveur_node}/private/img/accueil/header_a_blur.jpg")
		main(ng-controller="controller_connexion")
			toaster-container
			.col-xs-12.panel.panel-default#loginBox.clearfix
				.formBox.col-sm-8
					section(ng-show="mode == 'connexion'")
						.panel-heading 
							h2 
								if id_capsule
									| Le document auquel vous accédez est protégé
								else
									| Connectez vous
						.panel-body
							form#form_login.form-horizontal(method='post', ng-submit="connecter()")
								.group
									input(type='text', name="username", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="connexion.username")
									label {{"LABEL.COMPTE.IDENTIFIANT" | translate}}
								
								.group.clearfix
									input(type='password', name="password", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="connexion.password")
									label {{"LABEL.COMPTE.MOT_DE_PASSE" | translate}}					
									span.sub-input(ng-click="mode = 'mot_de_passe'") {{'WEB_BUTTON_MDP_OUBLIE' | translate}}


								input.btn-action(type='submit', value="Accéder au document")
								
								.separator 
									span ou

								.btn-action.btn-login-oauth.btn-login-linkedin(ng-click="connecterLinkedin()") 
									.fa.fa-linkedin-square
									span Connexion par Linkedin

								.btn-action.btn-login-oauth.btn-login-shibboleth(ng-click="connecterShibboleth()") 
									img(src="#{url_serveur_node}/public/img/logo_shibboleth.png")
									span Connexion par Shibboleth

								.btn-action.btn-login-oauth(ng-click="mode = 'enregistrement-0'") Créer un compte

					section(ng-show="mode == 'mot_de_passe'")
						h2.panel-heading Réinitialiser votre mot de passe : 
						.panel-body
							form#form_login.form-horizontal(method='post', ng-submit="renvoyerMotDePasse()")
								.group
									input(required, type="email", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="mot_de_passe_oublie.username")
									label {{"LABEL.COMPTE.EMAIL" | translate}}
								input.btn-action(type='submit', value="Réinitialiser")

								.separator 
									span ou

								.btn-action(ng-click="mode = 'connexion'") Retour
					section(ng-show="mode == 'enregistrement-0'")
						h2.panel-heading {{"LABEL.COMPTE.TITLE_NOUVEAU_COMPTE" | translate}} 
						.panel-body
							form#form_login.form-horizontal(name="form_enregistrement" method='post', ng-submit="form_enregistrement.$valid && enregistrer()")

								.group
									input(required, pattern=".{4,}", ng-minlength="4", title="4 caractères min.", type="text", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.username")
									span.bar
									label(for="register-username") 
										| {{"LABEL.COMPTE.PSEUDO" | translate}} 
										small 4 caractères min.
								.group
									input(required, pattern=".{6,}", ng-minlength="6", title="6 caractères min.", type="password", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.password")
									span.bar
									label(for="register-password") 
										| {{"LABEL.COMPTE.MOT_DE_PASSE" | translate}} 
										small 6 caractères min.
								.group
									input(required, pattern=".{6,}", ng-minlength="6", title="6 caractères min.", type="password", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.password2")
									span.bar
									label(for="register-password2") 
										| {{"LABEL.COMPTE.MOT_DE_PASSE_CONFIRMATION" | translate}} 
										small 6 caractères min.
								.group
									input(required, type="email", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.email")
									span.bar
									label(for="register-email") 
										| {{"LABEL.COMPTE.EMAIL" | translate}} 
										small Attention : voir encadré ci dessous
								.group
									input(required, type="text", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.name")
									span.bar
									label(for="register-name") {{"LABEL.COMPTE.NOM" | translate}} / {{"LABEL.COMPTE.PRENOM" | translate}}
								.group
									input(type="text", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.etablissement")
									span.bar
									label(for="register-etablissement") 
										| {{"LABEL.COMPTE.ETABLISSEMENT" | translate}} ({{"LABEL.OPTIONNEL" | translate}}) 
										small École, entreprise...
								
								.clearfix(style="margin-bottom:8px;")
									.sub-input(for="register-cgu") 
										input(required, type="checkbox", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.register_cgu")
										| {{"LABEL.COMPTE.COCHER_CASE" | translate}}
										a(href="https://www.pairform.fr/node/cgu/utilisateur", target="_blank", style="color:#822;") {{"LABEL.COMPTE.CONDITIONS_GENERALES_UTILISATION" | translate}}
	
								input.btn-action(type='submit', value="Créer votre compte")
								
								.separator 
									span ou

								.btn-action(ng-click="mode = 'connexion'") Retour
					section(ng-show="mode == 'enregistrement-1'")
						h2.panel-heading {{"WEB_TITLE_VALIDATION" | translate}}
						.panel-body 
							h3 {{"LABEL_CREATION_DE_COMPTE_REUSSI" | translate}}
							div(style="text-align: left;") {{"WEB_LABEL_VALIDER_MAIL" | translate}} 

							.btn-action.btn-success(ng-click="rafraichirPage()") {{"WEB_LABEL_CONTINUER" | translate}} 
				.col-sm-4.hidden-xs
					img.logo-espace(src="#{url_logo_espace}")
			if id_capsule
				div.col-sm-12.well.alert-warning.clearfix(ng-show="mode == 'enregistrement-0'")
					.col-sm-2.col-xs-4
						.fa.fa-lock.fa-4x
					.col-sm-10.col-xs-12
						h3 Attention
						| Si vous avez été invité(e) à consulter ce document par e-mail, veillez à bien utiliser l'adresse e-mail avec laquelle vous avez été contacté(e).
						br
						| Dans le cas contraire, nous ne pouvons garantir votre accès à ce document.
						
				div.well.clearfix.col-sm-12
					.col-sm-2.col-xs-4
						img#logo_espace.img-thumbnail(src="#{url_logo_espace}")
					.col-sm-10.col-xs-12
						| Le gestionnaire de l'espace 
						b #{espace_nom_long} 
						| a restreint l'accès à ce document à un groupe de personnes.
						br
						| Si vous ne parvenez pas à y accéder, et que vous estimez qu'il s'agit d'une erreur, 
						a(href="mailto:contact@pairform.fr") vous pouvez envoyer un message au gestionnaire de la ressource. 
			else
				div.well.clearfix.col-sm-12
					.col-sm-2.col-xs-4
						.fa.fa-sign-in.fa-4x
					.col-sm-10.col-xs-12
						| Vous devez être connecté pour continuer. 
						br
						br
						| Si vous n'avez pas encore de compte, vous pouvez vous en créer un quelques minutes en cliquant sur "Creer un compte".
			div.alert.alert-warning.col-sm-12
				| Si vous pensez qu'il s'agit d'une erreur, contactez-nous à l'adresse  
				span.label.label-warning 
					| contact - arobase - pairform.fr
				| , nous vous répondrons dans les meilleurs délais.
			footer.col-sm-12
				| PairForm (2017)
				
