.accueil(ng-init='$root.youtube_visible = false;')
	.popinWrapper.pf(ng-controller='controller_fiche_ressource', ng-show='$root.youtube_visible')
		.popinFocus(ng-click='$root.youtube_visible = false')
		.popin
			iframe(src='https://www.youtube.com/embed/Wlpk71Lu68c?ecver=1' frameborder='0' allowfullscreen)

	section.col-sm-12.accueil-header
		.video-background
			.video-foreground
				iframe(src='https://www.youtube.com/embed/Wlpk71Lu68c?ecver=1?controls=0&mute=1&showinfo=0&rel=0&autoplay=1&loop=1&playlist=Wlpk71Lu68c' frameborder='0' allowfullscreen)
			//*.col-md-12.col-md-push-2.col-sm-10.col-sm-push-1.col-xs-12.call-to-action
		.pf-real-center.call-to-action
			img(src="/private/img/accueil/logo_blanc.svg", alt="Logo PairForm")
			h1 {{"ACCUEIL.HEADER_1" | translate}} #[strong {{"ACCUEIL.HEADER_2" | translate}}]#[br] {{"ACCUEIL.HEADER_3" | translate}}
				
			button.btn.btn-demo(type='button', data-toggle='collapse', data-target='#demo_accueil_1', aria-expanded='false', aria-controls='demo_accueil_1') {{"BOUTONS.BOUTON_DEMO" | translate}}

	section.col-sm-12.collapse#demo_accueil_1
		include formulaire_demo

	section.saviez-vous

		.part.part-left
			.part-wrapper
				h1.stats 75#[small %]
				.stats-description
					h2 {{"ACCUEIL.SECTION_1_TEXTE_1" | translate}}
					h3 {{"ACCUEIL.SECTION_1_SOURCE_1" | translate}}
		.part.part-right
			.part-wrapper
				.stats-description
					h2 {{"ACCUEIL.SECTION_1_TEXTE_2.1" | translate}}
				h1.stats 95#[small %]
				.stats-description
					h2 {{"ACCUEIL.SECTION_1_TEXTE_2.2" | translate}}
					h3 {{"ACCUEIL.SECTION_1_SOURCE_2" | translate}}

	section.col-sm-12.accueil-activites
		h1 {{"ACCUEIL.SECTION_2_ACTIVITES" | translate}}
		.container
			.row
				.col-sm-4
					.thumbnail.text-center.activite-conseil
						img(src='private/img/conseil.svg')
						h2 {{"ACCUEIL.SECTION_2_SOUSTITRE_1.1" | translate}}
							span.colored {{"ACCUEIL.SECTION_2_SOUSTITRE_1.2" | translate}}
						label {{"ACCUEIL.SECTION_2_TEXTE_1" | translate}}
						a.btn.btn-info.btn-more(href="#!/conseil" target="_self") {{"BOUTONS.BOUTON_ACCUEIL" | translate}}

				.col-sm-4
					.thumbnail.text-center.activite-sur_mesure
						img(src='private/img/sur_mesure.svg')
						h2 {{"ACCUEIL.SECTION_2_SOUSTITRE_2.1" | translate}}
							span.colored  {{"ACCUEIL.SECTION_2_SOUSTITRE_2.2" | translate}}
						label {{"ACCUEIL.SECTION_2_TEXTE_2" | translate}}
						a.btn.btn-info.btn-more(href="#!/sur_mesure" target="_self") {{"BOUTONS.BOUTON_ACCUEIL" | translate}}
		
				.col-sm-4
					.thumbnail.text-center.activite-application
						img(src='private/img/application.svg')
						h2 {{"ACCUEIL.SECTION_2_SOUSTITRE_3.1" | translate}}
							span.colored  {{"ACCUEIL.SECTION_2_SOUSTITRE_3.2" | translate}}
						label {{"ACCUEIL.SECTION_2_TEXTE_3" | translate}}
						a.btn.btn-info.btn-more(href="#!/application" target="_self") {{"BOUTONS.BOUTON_ACCUEIL" | translate}}

	section.col-sm-12.accueil-reference
		h1 {{"ACCUEIL.SECTION_3_REFERENCES" | translate}}
		br
		.container
			.row
				.col-sm-2.col-xs-4
					.thumbnail.text-center
						img(src='private/img/partenaires/imt_atlantique.png')
						.caption.ui-tooltip.ui-tooltip-top {{"ACCUEIL.PARTENAIRE_THUMBNAIL_1" | translate}}
				.col-sm-2.col-xs-4
					.thumbnail.text-center
						img(src='private/img/partenaires/logo_imt_.png')
						.caption.ui-tooltip.ui-tooltip-top {{"ACCUEIL.PARTENAIRE_THUMBNAIL_2" | translate}}
				.col-sm-2.col-xs-4
					.thumbnail.text-center
						img(src='private/img/partenaires/cafoc.png')
						.caption.ui-tooltip.ui-tooltip-top {{"ACCUEIL.PARTENAIRE_THUMBNAIL_3" | translate}}
				.col-sm-2.hidden-xs
					.thumbnail.text-center
						img(src='private/img/partenaires/logo_ponts_paristech.png')
						.caption.ui-tooltip.ui-tooltip-top {{"ACCUEIL.PARTENAIRE_THUMBNAIL_4" | translate}}
				.col-sm-2.hidden-xs
					.thumbnail.text-center
						img(src='private/img/partenaires/logo_ul.png')
						.caption.ui-tooltip.ui-tooltip-top {{"ACCUEIL.PARTENAIRE_THUMBNAIL_5" | translate}}
				.col-sm-2.hidden-xs
					.thumbnail.text-center
						img(src='private/img/partenaires/mesr.png')
						.caption.ui-tooltip.ui-tooltip-top {{"ACCUEIL.PARTENAIRE_THUMBNAIL_6" | translate}}
		
	//- section.col-sm-12.accueil-inovation-pedagogique
		//- img(src="public/img/banniere_vote_xs_orange.png", alt="")
		.wrapper
			.accroche
				h2 Prix de l'i-novation pédagogique 2016
				h1 Votez pour notre projet !
			a.block(target="prix_innovation_pedagogique" href="https://prix-innovation-pedagogique.com/contestants/pairform/")

				img(src="public/img/logo.png")
				h2 Cliquez ici ! tiny.cc/pairform

	include footer
