.application(ng-init='$root.youtube_visible = false;')
	.popinWrapper.pf(ng-controller='controller_fiche_ressource', ng-show='$root.youtube_visible')
		.popinFocus(ng-click='$root.youtube_visible = false')
		.popin
			iframe(src='https://www.youtube.com/embed/xvZA5ArvY2Y?ecver=1' frameborder='0' allowfullscreen)

	section.col-sm-12.application-header
		.video-background
			.video-foreground
				iframe(src='https://www.youtube.com/embed/xvZA5ArvY2Y?ecver=1?controls=0&mute=1&showinfo=0&rel=0&autoplay=1&loop=1&playlist=Wlpk71Lu68c' frameborder='0' allowfullscreen)
		.pf-real-center.call-to-action
			.activite-application
				img(src='private/img/application.svg')
				.group
					h2 {{"APPLICATION.HEADER_1" | translate}} #[.colored {{"APPLICATION.HEADER_2" | translate}}]
					h3 {{"APPLICATION.HEADER_TEXTE" | translate}}
			.double-btn-header
				button.btn.btn-demo.entreprise(type='button', data-toggle='collapse', data-target='#demo_entreprise_1', aria-expanded='false', aria-controls='demo_entreprise_1') {{"BOUTONS.BOUTON_DEMO" | translate}}
				button.btn.btn-voir-video(ng-click='$root.youtube_visible = true') #[i.fa.fa-play] {{"BOUTONS.BOUTON_VIDEO" | translate}}


	section.col-sm-12.collapse#demo_entreprise_1
		include formulaire_demo

	section.col-sm-12.application-accroche 
		h1 {{"APPLICATION.SECTION_1_HEADER" | translate}}

	section.col-sm-12.application-benefices
		.container
			.row
				.select(ng-init="select = 1")
					.btn.btn-info.select-choice.choice-MOOC(ng-click="select = 1" ng-class="{active : select == 1}") {{"BOUTONS.BOUTON_CHOICE_MOOC" | translate}}
					.btn.btn-info.select-choice.choice-INFO(ng-click="select = 2" ng-class="{active : select == 2}") {{"BOUTONS.BOUTON_CHOICE_INFO" | translate}}

			.row(ng-show="select == 1")
				h2 {{"APPLICATION.SECTION_1_TITRE" | translate}}
				.col-sm-4
					.thumbnail.text-center
						img(src='private/img/application/creez.svg')
						h2 {{"APPLICATION.SECTION_1_SOUSTITRE_1" | translate}}
						hr
						h3 {{"APPLICATION.SECTION_1_TEXTE_1" | translate}}
				.col-sm-4
					.thumbnail.text-center
						img(src='private/img/application/ameliorez.svg')
						h2 {{"APPLICATION.SECTION_1_SOUSTITRE_2" | translate}}
						hr
						h3 {{"APPLICATION.SECTION_1_TEXTE_2" | translate}}

				.col-sm-4
					.thumbnail.text-center
						img(src='private/img/application/accompagnez.svg')
						h2 {{"APPLICATION.SECTION_1_SOUSTITRE_3" | translate}}
						hr
						h3 {{"APPLICATION.SECTION_1_TEXTE_3" | translate}} 

			.row(ng-show="select == 2")
				h2 {{"APPLICATION.SECTION_2_TITRE" | translate}} 
				.col-sm-4
					.thumbnail.text-center
						img(src='private/img/application/beneficiez.svg')
						h2 {{"APPLICATION.SECTION_2_SOUSTITRE_1" | translate}}
						hr
						h3 {{"APPLICATION.SECTION_2_TEXTE_1" | translate}}


				.col-sm-4
					.thumbnail.text-center
						img(src='private/img/application/garantissez.svg')
						h2 {{"APPLICATION.SECTION_2_SOUSTITRE_2" | translate}}
						hr
						h3 {{"APPLICATION.SECTION_2_TEXTE_2" | translate}}

				.col-sm-4
					.thumbnail.text-center
						img(src='private/img/application/identifiez.svg')
						h2 {{"APPLICATION.SECTION_2_SOUSTITRE_3" | translate}}
						hr
						h3 {{"APPLICATION.SECTION_2_TEXTE_3" | translate}}

	section.col-sm-12.accueil-plus-value
		h1 {{"APPLICATION.SECTION_3_PLUS_VALUE" | translate}}
		include plus_value
		.row
			.col-xs-12.text-center
				button.btn.btn-demo.bouton-benefices.entreprise(type='button', data-toggle='collapse', data-target='#demo_entreprise_2', aria-expanded='false', aria-controls='demo_entreprise_2') {{"BOUTONS.BOUTON_DEMO" | translate}}


	section.col-sm-12.collapse#demo_entreprise_2
		include formulaire_demo

	section.col-sm-12.application-fonctionnalites
		h1 {{"FONCTIONNALITES.TITRE" | translate}}
		.container
			.feature
				img.feature-image.pull-right(src='private/img/application/ecran_etherpad.png')
				h2.feature-heading {{"FONCTIONNALITES.SOUSTITRE_1" | translate}}
				ul
					li {{"FONCTIONNALITES.POINT1_1" | translate}} #[span.explication {{"FONCTIONNALITES.POINT1_1.1" | translate}}]
					li {{"FONCTIONNALITES.POINT1_2" | translate}} #[span.explication {{"FONCTIONNALITES.POINT1_2.2" | translate}}]
					li {{"FONCTIONNALITES.POINT1_3" | translate}} #[span.explication {{"FONCTIONNALITES.POINT1_3.3" | translate}}]
					li {{"FONCTIONNALITES.POINT1_4" | translate}} #[span.explication {{"FONCTIONNALITES.POINT1_4.4" | translate}}]
					li {{"FONCTIONNALITES.POINT1_5" | translate}} #[span.explication {{"FONCTIONNALITES.POINT1_5.5" | translate}}]
			hr.feature-divider
			.feature
				img.feature-image.pull-left(src='private/img/application/ecran_timeline.png')
				h2.feature-heading {{"FONCTIONNALITES.SOUSTITRE_2" | translate}}
				ul 
					li {{"FONCTIONNALITES.POINT2_1" | translate}} #[span.explication {{"FONCTIONNALITES.POINT2_1.1" | translate}}]
					li {{"FONCTIONNALITES.POINT2_2" | translate}} #[span.explication {{"FONCTIONNALITES.POINT2_2.2" | translate}}]
					li {{"FONCTIONNALITES.POINT2_3" | translate}} #[span.explication {{"FONCTIONNALITES.POINT2_3.3" | translate}}]
					li {{"FONCTIONNALITES.POINT2_4" | translate}} #[span.explication {{"FONCTIONNALITES.POINT2_4.4" | translate}}]
					li {{"FONCTIONNALITES.POINT2_5" | translate}} #[span.explication {{"FONCTIONNALITES.POINT2_5.5" | translate}}]
			hr.feature-divider
			.feature
				img.feature-image.pull-right(src='private/img/application/ecran_animer.png')
				h2.feature-heading {{"FONCTIONNALITES.SOUSTITRE_3" | translate}}
				ul 
					li {{"FONCTIONNALITES.POINT3_1" | translate}} #[span.explication {{"FONCTIONNALITES.POINT3_1.1" | translate}}]
					li {{"FONCTIONNALITES.POINT3_2" | translate}} #[span.explication {{"FONCTIONNALITES.POINT3_2.2" | translate}}]
					li {{"FONCTIONNALITES.POINT3_3" | translate}} #[span.explication {{"FONCTIONNALITES.POINT3_3.3" | translate}}]
					li {{"FONCTIONNALITES.POINT3_4" | translate}} #[span.explication {{"FONCTIONNALITES.POINT3_4.4" | translate}}]
					li {{"FONCTIONNALITES.POINT3_5" | translate}} #[span.explication {{"FONCTIONNALITES.POINT3_5.5" | translate}}]

	section.col-sm-12.application-demo
		include demo_pairform

	//-section.col-sm-12.organismes-temoignages
		h1 {{ "ENTREPRISES.SECTION_1_TITRE_3" | translate }}

	include footer
