.mentions_legales
	section.col-sm-12.mentions_legales
		.container
			.row
				h1 {{"CGU.CGU" | translate}}
				br
				p {{"CGU.UTILISATEUR" | translate}}#[a(href='https://www.pairform.fr/node/cgu/utilisateur', target='_bank') {{"CGU.LINK" | translate}}]
				p {{"CGU.RESEAU" | translate}}#[a(href='https://www.pairform.fr/node/cgu/reseau_social', target='_bank') {{"CGU.LINK" | translate}}]
				p {{"CGU.AUTEURS" | translate}}#[a(href='https://www.pairform.fr/node/cgu/auteur', target='_bank') {{"CGU.LINK" | translate}}]

	include footer