.conseil
	section.col-sm-12.conseil-header
		.pf-real-center.call-to-action
			.activite-conseil
				img(src='private/img/conseil.svg')
				.group
					h2 {{"CONSEIL.HEADER_1" | translate}} #[.colored {{"CONSEIL.HEADER_2" | translate}}]
					h3 {{"CONSEIL.HEADER_TEXTE" | translate}}

			button.btn.btn-contact(type='button', data-toggle='collapse', data-target='#devis_conseil_1', aria-expanded='false', aria-controls='devis_conseil_1') {{"BOUTONS.BOUTON_DEVIS" | translate }}

	section.col-sm-12.collapse#devis_conseil_1
		include formulaire_devis_conseil

	section.col-sm-12.conseil-accroche
		h1 {{"CONSEIL.SECTION_1_TITRE" | translate }}
	
	section.col-sm-12.conseil-process
		h1 {{"CONSEIL.SECTION_2_CONSEIL" | translate}}
		.container
			.feature.process-step
				img.feature-image.pull-left(src='private/img/conseil/1_conseil.svg', alt="")
				h2.feature-heading {{"CONSEIL.SECTION_2_SOUSTITRE_1" | translate}}
				.group
					p {{"CONSEIL.SECTION_2_TEXTE_1" | translate}}
			.feature.process-step
				img.feature-image.pull-left(src='private/img/conseil/2_conseil.svg', alt="")
				h2.feature-heading {{"CONSEIL.SECTION_2_SOUSTITRE_2" | translate}}
				.group
					p {{"CONSEIL.SECTION_2_TEXTE_2" | translate}}
			.feature.process-step
				img.feature-image.pull-left(src='private/img/conseil/3_conseil.svg', alt="")
				h2.feature-heading {{"CONSEIL.SECTION_2_SOUSTITRE_3" | translate}}
				.group
					p {{"CONSEIL.SECTION_2_TEXTE_3" | translate}}  	  

			.col-xs-12.text-center
				button.btn.btn-contact(type='button', data-toggle='collapse', data-target='#devis_conseil_2', aria-expanded='false', aria-controls='devis_conseil_2') {{"BOUTONS.BOUTON_DEVIS" | translate }}

	section.col-sm-12.collapse#devis_conseil_2
		include formulaire_devis_conseil

	section.col-sm-12.conseil-formations
		h1 {{"CONSEIL.SECTION_3_FORMATIONS" | translate}}
		.container
			.col-sm-4
				.thumbnail.text-center
					img(src='private/img/conseil/booksprint.jpg')
					h2 {{"CONSEIL.SECTION_3_SOUSTITRE_1" | translate}}
					hr
					label {{"CONSEIL.SECTION_3_TEXTE_1" | translate}}
					a.btn.btn-info.btn-more(href="https://static.pairform.fr/brochure/booksprint.pdf" target="_blank") {{"BOUTONS.BOUTON_ACCUEIL" | translate}}
				

			.col-sm-4
				.thumbnail.text-center
					img(src='private/img/conseil/atelier.png')
					h2 {{"CONSEIL.SECTION_3_SOUSTITRE_2" | translate}}
					hr
					label {{"CONSEIL.SECTION_3_TEXTE_2" | translate}}
					a.btn.btn-info.btn-more(href="https://static.pairform.fr/brochure/sensibilisation.pdf" target="_blank") {{"BOUTONS.BOUTON_ACCUEIL" | translate}}

			.col-sm-4
				.thumbnail.text-center
					img(src='private/img/conseil/formation.png')
					h2 {{"CONSEIL.SECTION_3_SOUSTITRE_3" | translate}}
					hr
					label {{"CONSEIL.SECTION_3_TEXTE_3" | translate}} We Are Peers.
					a.btn.btn-info.btn-more(href="https://www.wearepeers.com/" target="_blank") {{"BOUTONS.BOUTON_ACCUEIL" | translate}}

	section.col-sm-12.conseil-experts
		h1 {{"EXPERTS.TITRE" | translate}}
		.container
			.col-sm-3
				.thumbnail.text-center
					img.avatar(src='/private/img/personnes/christian_colin.jpg' alt="Christian Colin")
					h2 {{"EXPERTS.NOM_1" | translate}}
					hr
					-//h3 Resp. Centre d'Appui aux Pratiques d'Enseignement IMT Atlantique
					h3 {{"EXPERTS.FONCTION_1" | translate}}
					a.btn.btn-social(href="https://www.linkedin.com/in/christiancolin/", target='_blank')
						img(src="/public/img/linkedin_blanc.png", alt="Linkedin")

			.col-sm-3
				.thumbnail.text-center
					img.avatar(src='/private/img/personnes/virginie_lanlo.jpg' alt="Virginie Lanlo")
					h2 {{"EXPERTS.NOM_2" | translate}}
					hr
					-//h3 Consultante communication et conceptrice pédagogique spécialisée en e-formation
					h3 {{"EXPERTS.FONCTION_2" | translate}}
					a.btn.btn-social(href="https://www.linkedin.com/in/virginielanlo/", target='_blank')
						img(src="/public/img/linkedin_blanc.png", alt="Linkedin")

			.col-sm-3
				.thumbnail.text-center
					img.avatar(src='/private/img/personnes/francoise_philippe.jpg' alt="Francoise Philippe")
					h2 {{"EXPERTS.NOM_5" | translate}}
					hr
					-//h3 Consultante - Accompagnement des projets numériques pédagogiques
					h3 {{"EXPERTS.FONCTION_5" | translate}}
					a.btn.btn-social(href="https://www.linkedin.com/in/fran%C3%A7oise-philippe-aa119613b/", target='_blank')
						img(src="/public/img/linkedin_blanc.png", alt="Linkedin")

			.col-sm-3
				.thumbnail.text-center
					img.avatar(src='/private/img/personnes/emmanuel_moyon.jpg' alt="Francoise Philippe")
					h2 {{"EXPERTS.NOM_6" | translate}}
					hr
					-//h3 Consultante - Accompagnement des projets numériques pédagogiques
					h3 {{"EXPERTS.FONCTION_6" | translate}}
					a.btn.btn-social(href="https://www.linkedin.com/in/emmanuel-moyon-b88b0bb5/", target='_blank')
						img(src="/public/img/linkedin_blanc.png", alt="Linkedin")

	include footer
