.container
	.row
		.col-xs-12.col-sm-offset-2.col-sm-8.col-md-offset-3.col-md-6
			.demo-content-illustration
				.panel.panel-default.pf-demo
					.panel-heading
						h1 {{"DEMONSTRATION.DEMONSTRATION" | translate}}
						h3 {{"DEMONSTRATION.CLIQUEZ_ELEMENT" | translate}}
					.panel-body.pf-background
						span(pf-commentable) {{"DEMONSTRATION.POSSIBILITES_COMMENTAIRE" | translate}}
						ul
							li(pf-commentable) {{"DEMONSTRATION.POSSIBILITES_COMMENTAIRE_1" | translate}}
							li(pf-commentable) {{"DEMONSTRATION.POSSIBILITES_COMMENTAIRE_2" | translate}}
						span(pf-commentable) {{"DEMONSTRATION.POSSIBILITES_COMMENTAIRE_3" | translate}}
						div(pf-commentable)
							img.img-responsive(src='public/img/pairformlogo.png')