.equipe
	section.col-sm-12.equipe-header
		.pf-real-center.call-to-action
			h1 {{ "EQUIPE.TITLE" | translate }}
			a(href='mailto:contact[arobase]pairform.fr')
				button.btn.btn-contact {{"BOUTONS.BOUTON_CONTACT" | translate}}

	section.col-sm-12.equipe-membres
		h1 {{ "EQUIPE.EQUIPE_TITLE" | translate }}
		br
		.container
			.row
				.col-sm-4
					.thumbnail.text-center
						a(href='https://www.linkedin.com/in/albert-cau-998023120/', target='_bank')
							img.avatar(src='/private/img/equipe/albert.jpg')
							//- img.reverse(src='/private/img/personnes/albert_cau_reverse.png')
					
						hr
						h2 {{ "EQUIPE.NOM_ALBERT" | translate }}
						h3 {{ "EQUIPE.ROLE_ALBERT" | translate }}
						hr

				.col-sm-4
					.thumbnail.text-center
						a(href='https://www.linkedin.com/in/maenj/', target='_bank')
							img.avatar(src='/private/img/equipe/maen.jpg')
							//- img.reverse(src='/private/img/personnes/maen_juganaikloo_reverse.png')
						hr
						h2 {{ "EQUIPE.NOM_MAEN" | translate }}
						h3 {{ "EQUIPE.ROLE_MAEN" | translate }}
						hr

				.col-sm-4
					.thumbnail.text-center
						a(href='https://www.linkedin.com/in/christiancolin/', target='_bank')
							img.avatar(src='/private/img/equipe/christian.png')
							//- img.reverse(src='/private/img/personnes/christian_colin_reverse.png')
						hr
						h2 {{ "EQUIPE.NOM_CHRISTIAN" | translate }}
						h3 {{ "EQUIPE.ROLE_CHRISTIAN" | translate }}
						hr

	section.col-sm-12.equipe-projet
		h1 {{ "EQUIPE.PROJET_TITLE" | translate }}
		br
		.container
			.row
				.col-sm-3
					.thumbnail.text-center
						img(src='/private/img/partenaires/nantes_tech.png')
					.thumbnail.text-center
						img(src='/private/img/partenaires/logo_imt_atlantique.png')
				.col-sm-9
					p {{ "EQUIPE.PROJET_PARAGRAPH_1" | translate }}
					p {{ "EQUIPE.PROJET_PARAGRAPH_2" | translate }}
					p {{ "EQUIPE.PROJET_PARAGRAPH_3" | translate }}

	section.col-sm-12.equipe-reference
		h1 {{ "EQUIPE.REFERENCE_TITLE" | translate }}
		.container
			.row
				.col-sm-2.col-xs-4
					.thumbnail.text-center
						img(src='private/img/partenaires/logo_imt_.png')
						.caption.ui-tooltip.ui-tooltip-top {{ "EQUIPE.PARTENAIRES_THUMBNAIL_1" | translate }}
				.col-sm-2.col-xs-4
					.thumbnail.text-center
						img(src='private/img/partenaires/atlanpole.png')
						.caption.ui-tooltip.ui-tooltip-top {{ "EQUIPE.PARTENAIRES_THUMBNAIL_2" | translate }}
				.col-sm-2.col-xs-4
					.thumbnail.text-center
						img(src='private/img/partenaires/region_pdl.png')
						.caption.ui-tooltip.ui-tooltip-top {{ "EQUIPE.PARTENAIRES_THUMBNAIL_3" | translate }}
				.col-sm-2.hidden-xs
					.thumbnail.text-center
						img(src='private/img/partenaires/logo_unit.png')
						.caption.ui-tooltip.ui-tooltip-top {{ "EQUIPE.PARTENAIRES_THUMBNAIL_4" | translate }}
				.col-sm-2.hidden-xs
					.thumbnail.text-center
						img(src='private/img/partenaires/bpi_france.png')
						.caption.ui-tooltip.ui-tooltip-top {{ "EQUIPE.PARTENAIRES_THUMBNAIL_5" | translate }}
				.col-sm-2.hidden-xs
					.thumbnail.text-center
						img(src='private/img/partenaires/mesr.png')
						.caption.ui-tooltip.ui-tooltip-top {{ "EQUIPE.PARTENAIRES_THUMBNAIL_6" | translate }}

	include footer
