section.col-sm-12.footer
	.container
		.pull-left
			p 2 rue Alfred Kastler, 44306 Nantes, France
			p +33 2 51 85 80 04
			a(href='#!/mentions_legales') {{"FOOTER.MENTIONS_LEGALES" | translate}}
			br
			a(href='#!/politique_confidentialite') {{"FOOTER.POLITIQUE_CONFIDENTIALITE" | translate}}
			br
			a(href='#!/cgu') {{"FOOTER.CGU" | translate}}

		.pull-right
			p {{"FOOTER.SECTION_CONTACT" | translate}}
			a(href='mailto:contact[arobase]pairform.fr')
				img.email-contact-pairform(src="public/img/email_pairform.png")
			a(href="https://www.linkedin.com/company/15083397", target='_blank')
				img(src="public/img/linkedin_blanc.png", style="width: 42px;", alt="LinkedIn")
			a(href="https://twitter.com/PairForm", target='_blank')
				img(src="public/img/twitter_blanc.png", style="width: 70px;", alt="Twitter")
