.formation
	section.col-sm-12.formation-header
		.pf-real-center.call-to-action
			.activite-formation
				img(src='private/img/conseil.svg')
				.group
					h2 {{"FORMATION.TITRE_HEADER_1"| translate}} #[.colored {{"FORMATION.TITRE_HEADER_2"| translate}}]
					h3 {{"FORMATION.SOUSTITRE_HEADER"| translate}}
			a(href='mailto:contact[arobase]pairform.fr')
				button.btn.btn-contact {{"FORMATION.BOUTON_HEADER"| translate}}

	section.col-sm-12.formation-info
		.mini-container.container
			h2 {{"FORMATION.SECTION_1_TITRE_1" | translate}}
			h2 {{"FORMATION.SECTION_1_TITRE_2" | translate}}
			hr
			h3 {{"FORMATION.SECTION_1_QUESTION_1" | translate}}
			h3 {{"FORMATION.SECTION_1_QUESTION_2" | translate}} 
			h3 {{"FORMATION.SECTION_1_QUESTION_3" | translate}}
			.col-sm-4
				.thumbnail.text-center
					img(src='private/img/formation/formation_calendrier.svg')
					h4 {{"FORMATION.SECTION_1_SOUSTITRE_1" | translate}}

			.col-sm-4
				.thumbnail.text-center
					img(src='private/img/conseil.svg')
					h4 {{"FORMATION.SECTION_1_SOUSTITRE_2" | translate}}

			.col-sm-4
				.thumbnail.text-center
					img(src='private/img/application.svg')
					h4 {{"FORMATION.SECTION_1_SOUSTITRE_3" | translate}}

	section.pf.section-white#form-formation
		form.formBox.form-horizontal.couleurFormLabel(name='contact_form', ng-submit='demanderPlaquetteFormation(this)', ng-init="submitted = false")
			//.btn(ng-click="submitted = submitted ? false : true" ng-class="{'btn-success':submitted, 'btn-warning':!submitted}") Submitted == {{submitted}}
			.row.form-switch
				.col-sm-offset-3.col-sm-6.formulaire_demo(ng-hide="submitted")
					h1 {{"FORMULAIRE.TELECHARGER_PLAQUETTE" | translate}}
					h2 {{"FORMULAIRE.TELECHARGER_LIVRE_BLANC_SOUSTITRE" | translate}}

					.group.clearfix
						input(ng-model='$root.name', name='name', type='text', required)
						.form-status
						span.bar
						label {{"FORMULAIRE.NOM" | translate}}

					.group.clearfix
						input(ng-model='$root.email', name='email', type='email', required)
						.form-status
						span.bar
						label {{"FORMULAIRE.MAIL" | translate}}

					.text-center
						button.btn.btn-livreblanc(type='submit') #[i.fa.fa-download] {{"BOUTONS.BOUTON_LIVREBLANC" | translate}}
				
				.col-sm-offset-3.col-sm-6(ng-show='submitted').form-submitted.text-center
					i.fa.fa-paper-plane
					i.fa.fa-check
					h1 {{"FORMULAIRE.MERCI_TELECHARGER_LIVRE_BLANC" | translate}}
					h2 {{"FORMULAIRE.MERCI_TELECHARGER_LIVRE_BLANC_SOUSTITRE" | translate}}

	include footer