.container(ng-controller="mautic_form" ng-init="formId=2")
	form.new-form.form-horizontal(name='contact_form', ng-submit='envoyer($event)', ng-init="submitted = false")
		.row.form-switch
			.col-xs-10.col-xs-offset-1.col-sm-offset-3.col-sm-6.formulaire_demo(ng-hide="submitted")
				h1 {{"FORMULAIRE.TITRE_DEMO" | translate}}
				h2 {{"FORMULAIRE.SOUSTITRE" | translate}}
				br

				.group.clearfix
					input(ng-model='formulaire.nom' name='nom', type='text', required)
					.form-status
					span.bar
					label {{"FORMULAIRE.NOM" | translate}}

				.group.clearfix
					input(ng-model='formulaire.prenom' name='prenom', type='text', required)
					.form-status
					span.bar
					label {{"FORMULAIRE.PRENOM" | translate}}

				.group.clearfix
					input(ng-model='formulaire.email' name='email', type='email', required)
					.form-status
					span.bar
					label {{"FORMULAIRE.MAIL" | translate}}

				.group.clearfix
					input(ng-model='formulaire.telephone' name='telephone', type='tel', required)
					.form-status
					span.bar
					label {{"FORMULAIRE.TELEPHONE" | translate}}

				.group.clearfix.cookie_consent
					input(ng-model='formulaire.cookie_consent', name='cookie_consent', type='checkbox', required)
					span {{"LABEL_COOKIE_CONSENT_FORM" | translate}} #[a(href="#!/mentions_legales") {{"LABEL_COOKIE_CONSENT_PLUS" | translate}}]

				.text-center
						button.btn.btn-success(type='submit') {{"FORMULAIRE.ENVOYER"| translate}}

			.col-sm-offset-3.col-sm-6(ng-show="submitted").form-submitted.text-center
				i.fa.fa-check
				h1 {{"FORMULAIRE.MERCI" | translate}}
				h2 {{"FORMULAIRE.MERCI_SOUSTITRE" | translate}}

