.container(ng-controller="mautic_form" ng-init="formId=6")
	form.new-form.form-horizontal(name='contact_form', ng-submit='envoyer($event)', ng-init="submitted = false")
		.row.form-switch
			.formulaire_demo(ng-hide="submitted")
				.col-sm-offset-1.col-sm-10
					.row
						.col-sm-12.text-center
							h1 {{"FORMULAIRE.TITRE_DEVIS" | translate}}
							h2 {{"FORMULAIRE.SOUSTITRE" | translate}}
							br
					.row
						.col-sm-6
							.row
								.col-sm-6
									.group.clearfix
										input(ng-model='formulaire.nom' name='nom', type='text', required)
										.form-status
										span.bar
										label {{"FORMULAIRE.NOM" | translate}}

								.col-sm-6
									.group.clearfix
										input(ng-model='formulaire.prenom' name='prenom', type='text', required)
										.form-status
										span.bar
										label {{"FORMULAIRE.PRENOM" | translate}}

							.group.clearfix
								input(ng-model='formulaire.email' name='email', type='email', required)
								.form-status
								span.bar
								label {{"FORMULAIRE.MAIL" | translate}}

							.group.clearfix
								input(ng-model='formulaire.telephone' name='telephone', type='tel', required)
								.form-status
								span.bar
								label {{"FORMULAIRE.TELEPHONE" | translate}}

							.group.clearfix
								input(ng-model='formulaire.organisation' name='organisation', type='text', required)
								.form-status
								span.bar
								label {{"FORMULAIRE.ENTREPRISE" | translate}}

						.col-sm-6
							.group.clearfix
								select(ng-model='formulaire.interets' name='interets', required)
									option(value="") {{"FORMULAIRE.INTERETS_SUR_MESURE" | translate}}
									option(value="interoperabilite") {{"FORMULAIRE.INTERETS_SUR_MESURE_OPTION1" | translate}}
									option(value="charte") {{"FORMULAIRE.INTERETS_SUR_MESURE_OPTION2" | translate}}
									option(value="portail") {{"FORMULAIRE.INTERETS_SUR_MESURE_OPTION3" | translate}}
									option(value="cartographie") {{"FORMULAIRE.INTERETS_SUR_MESURE_OPTION4" | translate}}

							.group.clearfix
								textarea(ng-model='formulaire.projet' name='projet')
								.form-status
								span.bar
								label {{"FORMULAIRE.PROJET" | translate}}
					.row
						.col-sm-12

							.group.clearfix.cookie_consent
								input(ng-model='formulaire.cookie_consent', name='cookie_consent', type='checkbox', required)
								span {{"LABEL_COOKIE_CONSENT_FORM" | translate}} #[a(href="#!/mentions_legales") {{"LABEL_COOKIE_CONSENT_PLUS" | translate}}]

							.text-center
							button.btn.btn-success(type='submit') {{"FORMULAIRE.ENVOYER"| translate}}

			.col-sm-offset-3.col-sm-6(ng-show="submitted").form-submitted.text-center
				i.fa.fa-check
				h1 {{"FORMULAIRE.MERCI" | translate}}
				h2 {{"FORMULAIRE.MERCI_SOUSTITRE" | translate}}