section.kiosque(ng-controller='controller_kiosque')
	section.finder.col-xs-12
		h1 {{"KIOSQUE.RECHERCHE_RAPIDE" | translate}}
		.row
			.input-group.col-md-6.col-md-push-3
				input.form-control(ng-model='recherche_ressource', ng-minlength='3', type='text', placeholder='{{"KIOSQUE.RECHERCHE_RAPIDE_PLACEHOLDER" | translate}}')
				.input-group-btn
					button.btn.btn-default(type='submit')
						i.glyphicon.glyphicon-search
		.row
			.kiosque-recherche.col-md-6.col-md-push-3
				.ressources-items-container(ng-show='recherche_ressource')
					div(class='finder-no-results' ng-hide='ressources_filtre.length')
						| {{"KIOSQUE.AUCUN_RESULTAT" | translate}}
					a.ressource-item.media(ng-repeat='ressource in ressources_filtre = (ressources | filter:recherche_ressource) | limitTo:5', ng-attr-data-count='{{(typeof(nombre_messages[ressource.id_ressource]) != "undefined") ? nombre_messages[ressource.id_ressource] : "0"}}', ng-href="{{ressource.url}}" target="pairform")
						.media-left
							img.media-object.ressources-item-icon(alt='{{ressource.nom_court}}', ng-src='{{ressource.url_logo}}')
						.media-body
							h4.media-heading {{ressource.nom_long}} 
								small — {{ "TITLE_CREATION" | translate }}
									span(ng-bind="::ressource.date_creation | date_timestamp")
							.description_pre-line {{ressource.description}}

	section.filters.pf-centered.col-xs-12.clearfix
		h1 {{ "TITLE_TOUS_LES_ESPACES" | translate }}
		.form-group.col-xs-6.col-sm-3.col-sm-push-3
			h2 {{"KIOSQUE.AFFICHER_PAR" | translate}}
			select.form-control(ng-model='sort_type' ng-options='sort_mode.index as (sort_mode.label | translate) for sort_mode in sort_types')
		.form-group.col-xs-6.col-sm-3.col-sm-push-3
			h2 {{"KIOSQUE.TRIER_PAR" | translate}}
			select.form-control(ng-model='order_type' ng-options='order_type.value as (order_type.label | translate) for order_type in order_types')
			label {{"KIOSQUE.INVERSER" | translate}}
			input(ng-model='order_type_reverse' type='checkbox')

	section.col-xs-12
		.tile-container
			a.ressources.kiosque(ng-repeat='item in res_sorted[sort_type] | orderBy:order_type:!order_type_reverse track by item.nom_court' ng-href="{{item.url}}" target="pairform")
				.tile(ng-style='sort_type == 0 ? {"background-image" : "url({{item.url_logo}})"} : {"background" : colorFromString(item.nom_court)}' ng-class='{"small-tile" : item.ressources.length == 0, "large-tile" : 1 < item.ressources.length && item.ressources.length <= 3, "huge-tile" : 4 < item.ressources.length, "flipped" :$root.ressource_affiche == item.nom_court}')
					.brand
						span {{item.nom_court}}
						span.nombre_ressources(ng-class='{"small-nombre" : item.ressources.length == 0, "large-nombre" : 1 < item.ressources.length && item.ressources.length <= 3, "huge-nombre" : 4 < item.ressources.length}') {{item.ressources.length}}
