.livreblanc(ng-init='$root.youtube_visible = false;')
	.popinWrapper.pf(ng-controller='controller_fiche_ressource', ng-show='$root.youtube_visible')
		.popinFocus(ng-click='$root.youtube_visible = false')
		.popin
			iframe(src='https://www.youtube.com/embed/IfIGFkE81ZU' frameborder='0' allowfullscreen)

	section.col-sm-12.livreblanc-header
		.video-background
			.video-foreground
				iframe(src='https://www.youtube.com/embed/IfIGFkE81ZU?controls=0&mute=1&showinfo=0&rel=0&autoplay=1&loop=1&playlist=IfIGFkE81ZU' frameborder='0' allowfullscreen)
		.pf-real-center.call-to-action
			h1 {{"LIVREBLANC.HEADER" | translate}}
			h1 {{"LIVREBLANC.HEADER_2" | translate}}
			div
				//button.btn.btn-livreblanc #[i.fa.fa-download] {{"BOUTONS.BOUTON_LIVREBLANC" | translate}}
				button.btn.btn-voir-video(ng-click='$root.youtube_visible = true') #[i.fa.fa-play] {{"BOUTONS.BOUTON_VIDEO" | translate}}

	section.col-sm-12.livreblanc-stats.section-white
		.mini-container.container
			h1 {{"LIVREBLANC.STATS.TITLE" | translate}}
			h2 {{"LIVREBLANC.STATS.SUB" | translate}}
			.col-sm-4
				.thumbnail.text-center
					img(src='private/img/livreblanc/agenda.svg')
					h2 5 {{"LIVREBLANC.STATS.JOURS.TITLE" | translate}}
					//hr
					// h3 {{"LIVREBLANC.STATS.JOURS.SUB" | translate}}

			.col-sm-4
				.thumbnail.text-center
					img(src='private/img/livreblanc/participants.svg')
					h2 9 {{"LIVREBLANC.STATS.PARTICIPANTS.TITLE" | translate}}
					//hr
					// h3 {{"LIVREBLANC.STATS.PARTICIPANTS.SUB" | translate}}

			.col-sm-4
				.thumbnail.text-center
					img(src='private/img/livreblanc/articles.svg')
					h2 12 {{"LIVREBLANC.STATS.ARTICLES.TITLE" | translate}}
					//hr
					// h3 {{"LIVREBLANC.STATS.ARTICLES.SUB" | translate}} 

	section.section-white#form-livreblanc(ng-controller="mautic_form" ng-init="formId=1")
		form.new-form.form-horizontal(ng-submit='envoyer($event)')
			.row.form-switch
				.col-sm-offset-3.col-sm-6.formulaire_demo(ng-hide="submitted")
					h1 {{"FORMULAIRE.TELECHARGER_LIVRE_BLANC" | translate}}
					h2 {{"FORMULAIRE.TELECHARGER_LIVRE_BLANC_SOUSTITRE" | translate}}

					.group.clearfix
						input(ng-model='formulaire.nom', name='nom', type='text', required)
						.form-status
						span.bar
						label {{"FORMULAIRE.NOM" | translate}}

					.group.clearfix
						input(ng-model='formulaire.prenom', name='prenom', type='text', required)
						.form-status
						span.bar
						label {{"FORMULAIRE.PRENOM" | translate}}

					.group.clearfix
						input(ng-model='formulaire.email', name='email', type='email', required)
						.form-status
						span.bar
						label {{"FORMULAIRE.MAIL" | translate}}

					.group.clearfix
						input(ng-model='formulaire.organisation', name='organisation', type='text', required)
						.form-status
						span.bar
						label {{"FORMULAIRE.ENTREPRISE" | translate}}

					.group.clearfix.cookie_consent
						input(ng-model='formulaire.cookie_consent', name='cookie_consent', type='checkbox', required)
						span {{"LABEL_COOKIE_CONSENT_FORM" | translate}} #[a(href="#!/mentions_legales") {{"LABEL_COOKIE_CONSENT_PLUS" | translate}}]

					.text-center
						button.btn.btn-livreblanc(type='submit') #[i.fa.fa-download] {{"BOUTONS.BOUTON_LIVREBLANC" | translate}}
				
				.col-sm-offset-3.col-sm-6(ng-show='submitted').form-submitted.text-center
					i.fa.fa-paper-plane
					i.fa.fa-check
					h1 {{"FORMULAIRE.MERCI_TELECHARGER_LIVRE_BLANC" | translate}}
					h2 {{"FORMULAIRE.MERCI_TELECHARGER_LIVRE_BLANC_SOUSTITRE" | translate}}

	include footer