.mentions_legales
	section.col-sm-12.mentions_legales
		.container
			.row
				h1 {{"MENTIONS_LEGALES.MENTIONS_LEGALES" | translate}}
				br
				p {{"MENTIONS_LEGALES.SOUSTITRE_1" | translate}}
				p {{"MENTIONS_LEGALES.SOUSTITRE_2" | translate}}
				br
				hr
				p #[strong {{"MENTIONS_LEGALES.EDITEUR" | translate}}] 
				br
				p {{"MENTIONS_LEGALES.EDITEUR_PARAGRAPHE" | translate}}
				br
				p {{"MENTIONS_LEGALES.TVA" | translate}}
				p {{"MENTIONS_LEGALES.TELEPHONE" | translate}}
				p {{"MENTIONS_LEGALES.MAIL" | translate}}
				br 
				p {{"MENTIONS_LEGALES.DIRECTEUR_PUB" | translate}}
				br
				p {{"MENTIONS_LEGALES.HEBERGEMENT" | translate}}


	include footer