.container
	.row
		.col-sm-4
			.thumbnail.text-center
				img(src='private/img/application/creer.svg')
				br
				h2 {{"APPLICATION.SECTION_3_SOUSTITRE_1" | translate}}
				br
				h3 {{"APPLICATION.SECTION_3_TEXTE_1" | translate}}

		.col-sm-4
			.thumbnail.text-center
				img(src='private/img/application/interagir.svg')
				br
				h2 {{"APPLICATION.SECTION_3_SOUSTITRE_2" | translate}}
				br
				h3 {{"APPLICATION.SECTION_3_TEXTE_2" | translate}} 

		.col-sm-4
			.thumbnail.text-center
				img(src='private/img/application/emerger.svg')
				br
				h2 {{"APPLICATION.SECTION_3_SOUSTITRE_3" | translate}}
				br
				h3 {{"APPLICATION.SECTION_3_TEXTE_3" | translate}}