.mentions_legales
	section.col-sm-12.mentions_legales
		.container
			.row
				h1 Politique d'utilisation des cookies

				p Nous utilisons des cookies dans deux cas :
				ol
					li Pour collecter des statistiques anonymes d'utilisation du site afin d'en améliorer l'ergonomie et le contenu,
					li Pour garantir le bon fonctionnement des sessions de connexion des utilisateurs sur le site.
				p Vous êtes libres d'autoriser ou de refuser l'utilisation de cookie pour l'utilisation n°1 ; nous n'activons ces fonctionnalités que lorsque vous nous donnez explicitement l'autorisation (conformément au RGPD).
				p Cependant, si vous créez un compte sur le site pairform.fr, nous sommes obligées d'utiliser des cookies pour l'utilisation n°2.
				p Voir ci-après pour plus d'informations sur ces différents usages des cookies.

				hr
				p: strong Collecte à des fins statistiques et d'amélioration
				p Nous utilisons une version hébergée de #[a(href='https://matomo.org', target='_bank') Matomo] pour récolter des informations anonymisées sur votre navigation :
				ul
					li Adresse référente (par laquelle vous êtes arrivée sur ce site),
					li Adresse de la page consultée, 
					li Temps passé sur la page.
				p Cela nous aide à comprendre les parcours des utilisateurs de notre site, ainsi que de connaître le nombre de visiteurs et le temps passé sur notre site.
				//- h3 HotJar
				//- p Nous utilisons #[a(href="https://www.hotjar.com/") HotJar] pour enregistrer occasionnellement (lorsque nous ajoutons une nouvelle page par exemple) quelques échantillons aléatoires d'utilisation de la page. Cela comprend :
				//- ul
				//- 	li Un enregistrement vidéo de votre curseur et des zones cliquées,
				//- 	li Une détermination d'une "carte de chaleur" des différents endroits cliqués, ainsi que du défilement ("scroll") maximal de la page.
				//- p En complément de Matomo, cela nous apporte des informations plus précises sur l'adéquation entre l'ergonomie pensée (la position d'un bouton d'action sur la page par exemple) et l'utilisation réelle des utilisateurs.

				hr
				p: strong Bon fonctionnement du site
				p Lorsque vous créez un compte et vous connectez sur le site, nous avons obligatoirement besoin de déposer un cookie sur votre navigateur. Cela permet de garder votre session de connexion ouverte, même si vous changez de page ou fermez la fenêtre.
				p Sans ce cookie, nous ne pouvons pas vous connecter à votre compte sur pairform.fr.

				br
				strong De ce fait, lorsque vous créez un compte sur pairform.fr, vous acceptez sans réserve l'utilisation de cookie à des fins de gestion de mécanisme de session.
				p 
					em Notez que ce cookie est distinct de celui utilisé à des fins statistiques, et n'est en aucun cas partagé à des tiers ni utilisé à d'autres fins que celles prévues ci-dessus.


	include footer