.sur_mesure
	section.col-sm-12.sur_mesure-header
		.pf-real-center.call-to-action
			.activite-sur_mesure
				img(src='private/img/sur_mesure.svg')
				.group
					h2 {{"SUR_MESURE.HEADER_1" | translate}} #[.colored {{"SUR_MESURE.HEADER_2" | translate}}]
					h3 {{"SUR_MESURE.HEADER_TEXTE" | translate}}
			
			button.btn.btn-contact(type='button', data-toggle='collapse', data-target='#devis_sur_mesure_1', aria-expanded='false', aria-controls='devis_sur_mesure_1') {{"BOUTONS.BOUTON_DEVIS" | translate }}

	section.col-sm-12.collapse#devis_sur_mesure_1
		include formulaire_devis_sur_mesure

	section.cols-sm-12.sur_mesure-titre
		h1 {{"SUR_MESURE.SECTION_1_TITRE" | translate}}  
	
	section.col-sm-12.sur_mesure-realisations
		.container
			.feature
				.feature-image.pull-right
					img(src='private/img/sur_mesure/integration_lms.png')
					figcaption {{"SUR_MESURE.SECTION_1_INTERO_LEGENDE_1" | translate}} 
				.feature-image.pull-right
					img.ipad(src='private/img/sur_mesure/integration_wezitcamp.png')
					figcaption {{"SUR_MESURE.SECTION_1_INTERO_LEGENDE_2" | translate}} 
				h2.feature-heading {{"SUR_MESURE.SECTION_1_INTEROPERABILITE" | translate}} 
				p {{"SUR_MESURE.SECTION_1_INTERO_TEXTE" | translate}} 

			hr.feature-divider
			.feature
				.feature-image.pull-left
					img(src='private/img/sur_mesure/document_custom.png')
					figcaption {{"SUR_MESURE.SECTION_1_CHARTE_LEGENDE" | translate}} 
				h2.feature-heading {{"SUR_MESURE.SECTION_1_CHARTE" | translate}} 
				p {{"SUR_MESURE.SECTION_1_CHARTE_TEXTE" | translate}} 

			hr.feature-divider
			.feature
				.feature-image.pull-right
					img.ipad(src='private/img/sur_mesure/portail.png')
					figcaption {{"SUR_MESURE.SECTION_1_PORTAIL_LEGENDE_1" | translate}} 
				.feature-image.pull-right
					img(src='private/img/sur_mesure/serveur_video.png')
					figcaption {{"SUR_MESURE.SECTION_1_PORTAIL_LEGENDE_2" | translate}} 
				h2.feature-heading {{"SUR_MESURE.SECTION_1_PORTAIL" | translate}} 
				p {{"SUR_MESURE.SECTION_1_PORTAIL_TEXTE" | translate}} 

			hr.feature-divider
			.feature
				.feature-image.pull-left
					img(src='private/img/sur_mesure/cartotalents.png')
					figcaption {{"SUR_MESURE.SECTION_1_CARTO_LEGENDE_1" | translate}} 
				.feature-image.pull-left
					img(src='private/img/sur_mesure/carto_rm.png')
					figcaption {{"SUR_MESURE.SECTION_1_CARTO_LEGENDE_2" | translate}} 
				h2.feature-heading {{"SUR_MESURE.SECTION_1_CARTOGRAPHIE" | translate}} 
				p {{"SUR_MESURE.SECTION_1_CARTO_TEXTE" | translate}} 


	section.col-sm-12.conseil-experts
		h1 {{"EXPERTS.TITRE" | translate}}
		.container
			.col-sm-6
				.thumbnail.text-center
					img.avatar(src='/private/img/equipe/maen.jpg' alt="Maen Juganaikloo")
					h2 {{"EXPERTS.NOM_3" | translate}}
					hr
					//- h3 Resp. Centre d'Appui aux Pratiques d'Enseignement IMT Atlantique
					h3 {{"EXPERTS.FONCTION_3.1" | translate}}
					h3 {{"EXPERTS.FONCTION_3.2" | translate}}
					a.btn.btn-social(href="https://www.linkedin.com/in/maenj/")
						img(src="/public/img/linkedin_blanc.png", alt="Linkedin")

			.col-sm-6
				.thumbnail.text-center
					img.avatar(src='/private/img/equipe/albert.jpg' alt="Albert Cau")
					h2 {{"EXPERTS.NOM_4" | translate}}
					hr
					//- h3 Consultante communication et conceptrice pédagogique spécialisée en e-formation
					h3 {{"EXPERTS.FONCTION_4.1" | translate}}
					h3 {{"EXPERTS.FONCTION_4.2" | translate}}
					a.btn.btn-social(href="https://www.linkedin.com/in/albert-cau-998023120/")
						img(src="/public/img/linkedin_blanc.png", alt="Linkedin")

	include footer