.tarif
	section.col-sm-12.tarif-header
		.pf-real-center.call-to-action
			h1 {{ "TARIF.SECTION_1_HEADER" | translate }}
			a(href='mailto:contact[arobase]pairform.fr')
				button.btn.btn-contact {{"BOUTONS.BOUTON_CONTACT" | translate}}

	section.col-sm-12.tarif-formations
		.container
			.row
				.col-sm-6
					.thumbnail.text-center 
						img(src='private/img/tarif/formation_publique.png')
						br
						h2 {{"TARIF.SECTION_1_BLOC_2_TITRE" | translate}}
						h4 {{"TARIF.SECTION_1_BLOC_2_TEXTE_1" | translate}}
						h3 {{"TARIF.SECTION_1_BLOC_2_TEXTE_2" | translate}}

				.col-sm-6
					.thumbnail.text-center 
						img(src='private/img/tarif/formation_privee.png')
						br
						h2 {{"TARIF.SECTION_1_BLOC_3_TITRE" | translate}}
						h4 {{"TARIF.SECTION_1_BLOC_3_TEXTE_1" | translate}}
						h3 {{"TARIF.SECTION_1_BLOC_3_TEXTE_2" | translate}}
						H3 {{"TARIF.SECTION_1_BLOC_3_TEXTE_3" | translate}}

	section.col-sm-12.tarif-contact
		h2.text-center {{"TARIF.SECTION_1_BLOC_2_TEXTE_3" | translate}}
		.pf-real-center
			div: a(href='mailto:contact[arobase]pairform.fr')
				.btn.btn-contact {{"BOUTONS.BOUTON_CONTACT" | translate}}
				br

	include footer
