.popinWrapper(ng-controller="controller_connexion", ng-show="visible")
  .popinFocus(ng-click="visible = false")

  #popin-connexion.popin.formBox
    section#loginBox(ng-show="mode == 'connexion'")
      h1 {{"TITLE_CONNEXION" | translate}}
      form#formLog(ng-submit="connecter()", method="post")
        .group
          input(type="text", required, ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="connexion.username")
          .form-status
          span.bar
          label {{"LABEL_IDENTIFIANT" | translate}}
        .group.clearfix
          input(type="password", required, ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="connexion.password")
          .form-status
          span.bar
          label {{"LABEL_MOT_DE_PASSE" | translate}}
          span.sub-input(ng-click="setMode('mot_de_passe')") {{'WEB_BUTTON_MDP_OUBLIE' | translate}}

        input.btn-action(type="submit", value="{{'TITLE_CONNEXION' | translate}}")
        .separator 
          span ou
        input.btn-action(type="button", ng-click="setMode('enregistrement-0')", value="{{'BUTTON_CREER_UN_COMPTE' | translate}}")

    section#passwordForgotBox(ng-show="mode == 'mot_de_passe'")
      h1 {{"TITLE_REINITIALISER_MOT_DE_PASSE" | translate}}
      form#formPasswordForgot(ng-submit="renvoyerMotDePasse()", method="post")
        .group
          input(type="email", required, ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="mot_de_passe_oublie.username")
          .form-status
          span.bar
          label {{"LABEL_IDENTIFIANT" | translate}}

        input.btn-action(type="submit", value="{{'WEB_BUTTON_VALIDER' | translate}}")
        .separator 
          span ou
        input.btn-action(type="button", ng-click="setMode('connexion')", value="{{'BUTTON_CONNEXION' | translate}}")

    section#registerBox(ng-show="mode == 'enregistrement-0'")
      h1 {{"TITLE_NOUVEAU_COMPTE" | translate}}
      form#formRegister(ng-submit="enregistrer()", method="post")
        .group
          input(type="text", required, ng-minlength="4", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.username")
          .form-status
          span.bar
          label(for="register-username") {{"LABEL_PSEUDO" | translate}}
          span.sub-input 4 {{'WEB_LABEL_CARACTERES_MIN' | translate}}
        .group
          input(type="email", required, ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.email")
          .form-status
          span.bar
          label(for="register-email") {{"LABEL_EMAIL" | translate}}
        .group
          input(type="password", required, ng-minlength="6", value="", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.password")
          .form-status
          span.bar
          label(for="register-password") {{"LABEL_MOT_DE_PASSE" | translate}}
          span.sub-input 6 {{'WEB_LABEL_CARACTERES_MIN' | translate}}
        .group.clearfix
          input(type="password", required, ng-minlength="6", value="", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.password2")
          .form-status
          span.bar
          label(for="register-password2") {{"LABEL_MOT_DE_PASSE_CONFIRMATION" | translate}}
          span.sub-input 6 {{'WEB_LABEL_CARACTERES_MIN' | translate}}
        hr
        .group
          input(type="text", required, ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.name")
          .form-status
          span.bar
          label(for="register-name") {{"LABEL_NOM" | translate}} / {{"LABEL_PRENOM" | translate}}
        //- .group
          select(ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.langue", ng-options="lg.id as lg.label for lg in tableau_langues_label")
          .form-status
          span.bar
          label(for="register-langue") {{"LABEL_LANGUE_PRINCIPALE_2" | translate}}
        .group
          input(type="text", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.etablissement")
          .form-status
          span.bar
          label(for="register-etablissement") {{"LABEL_ETABLISSEMENT" | translate}} ({{"WEB_LABEL_OPTIONNEL" | translate}})
        
        .clearfix(style="margin-bottom:8px;")
          .sub-input(for="register-cgu") 
            input(type="checkbox", required, ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.register_cgu")
            |  {{"WEB_LABEL_COCHER_CASE" | translate}}
            a(href="https://www.pairform.fr/node/cgu/utilisateur", target="_blank")  {{"WEB_LABEL_CONDITIONS_GENERALES_UTILISATION" | translate}}
      
        input.btn-action(type="submit", value="{{'BUTTON_ENREGISTRER' | translate}}")
        .separator 
          span ou
        input.btn-action(type="button", ng-click="setMode('connexion')", value="{{'BUTTON_CONNEXION' | translate}}")

    section#postRegisterBox(ng-show="mode == 'enregistrement-1'")
      //- h1 {{"WEB_TITLE_VALIDATION" | translate}}
      div
        h2 {{"LABEL_CREATION_DE_COMPTE_REUSSI" | translate}}
        //- i.fa.fa-envelope-o.fa-5
      .explication-validation
        | {{"WEB_LABEL_VALIDER_MAIL" | translate}}
      .clic-en-dehors
        | {{"WEB_LABEL_CLIQUE_DEHORS" | translate}}

  #popin-choix-autres-langues-register.popin.formBox(ng-show="mode == 'langue-1'")
    section#choiceOtherLanguagesBoxRegister
      h1 {{"TITLE_AUTRES_LANGUES" | translate}}
      section#sec-other-languages
        ul#list-other-languages-register
      span#btn-ok-choice-other-languages-register.btn-action OK

  #popin-change-langue-app-register.popin.formBox(ng-show="mode == 'langue-2'")
    section#changeLanguageAppBoxRegister
      h1 {{"TITLE_LANGUE_APPLICATION" | translate}}
      p {{"LABEL_CHANGER_LANGUE_APP" | translate}}
      span#btn-yes-change-langue-app-register.btn-action {{"BUTTON_NON" | translate}}
      span#btn-no-change-langue-app-register.btn-action {{"BUTTON_OUI" | translate}}
