toaster-container(toaster-options="{'position-class': 'toast-bottom-right'}")
div.pf(ng-cloak ng-controller='controller_injecteur' lang='fr' ng-class="{'pf-blurred-content' : $storage.pf_injecteur.etape != 2}")
	#outdated
	include nav_bar.jade
	
	include connexion.jade
	include bienvenue.jade
