section#tutoriel-wrapper
  .step-tutoriel.step-tutoriel-1(ng-show="$storage.pf_injecteur.etape == 1")
    .step-tutoriel-header
      h2 Etape n°1
      h1 Créez vous un compte
    .step-tutoriel-body
      div.
        Pour cela, cliquez sur le bouton "Connexion" en haut à droite.
        Vous pouvez créer un compte rapidement en utilisant vos informations FaceBook / Google +.
      .btn-action(ng-click="changerEtape(2)") Etape suivante
      .bloc-semantique.bloc-semantique-info.
        Si vous disposez d'un compte, vous pouvez vous connecter directement.
  .step-tutoriel.step-tutoriel-2(ng-show="$storage.pf_injecteur.etape == 2")
    .step-tutoriel-header
      h2 Etape n°2
      h1 Choisissez ce qui va être commentable
    .step-tutoriel-body
      div.
        Pour ceci, cliquez sur les éléments de votre page (paragraphe, image...) que vous souhaitez.
        Lorsque vous sélectionnez un élément, tous les éléments similaires de la page seront similaires. 
      hr
      h1 Sélecteur(s) CSS utilisé(s) : 
        input(type="checkbox" ng-model="$root.mode_specific" name="mode_specific")
        label(for="mode_specific") Mode spécifique
      div
        div(ng-repeat="selecteur in $storage.pf_injecteur.selecteurs.contenu track by $index") 
          input.no-style(ng-model="$storage.pf_injecteur.selecteurs.contenu[$index]")
          span(ng-click="$storage.pf_injecteur.selecteurs.contenu.splice($index, 1)") &#10007; 
      .btn-action.btn-action-inline(ng-click="ajouterSelecteur()") Ajouter
      .btn-action.btn-action-inline(ng-click="changerEtape(3)") Etape suivante
      .bloc-semantique.bloc-semantique-info.
        Vous pouvez éditer directement les sélecteurs CSS : tout changement se reflétera sur la page.
  .step-tutoriel.step-tutoriel-3(ng-controller="controller_creation_capsule" ng-show="$storage.pf_injecteur.etape == 3")
    .step-tutoriel-header
      h2 Etape n°3
      h1 Renseignez quelques informations sur votre site :
    form.step-tutoriel-body(name="gestion_capsule_form", novalidate)
      div
        label Espace
        span.help-tooltip-mark ?
          .help-tooltip L'espace public est celui par défaut : tout le monde peut voir votre site web sur le kiosque de PairForm. Si vous souhaitez avoir votre propre espace, contactez nous.
        select(ng-model="capsule.espace" ng-options="espace as espace.nom_court for espace in utilisateur_local.liste_espaces track by espace.id_espace")
          //-option(value="0") Public
      div
        label Document
        span.help-tooltip-mark ?
          .help-tooltip Un document est un ensemble de site (apellés sections), qui permet de regrouper les sites sur un même sujet.
        select(ng-model="capsule.ressource" ng-options="ressource as ressource.nom_court for ressource in utilisateur_local.liste_ressources | filtreByIdEspace: capsule.espace.id_espace track by ressource.id_ressource ")
          //-option(value="0") Nouveau document

      div(ng-class='{ "has-error" : formulaire_soumis && (gestion_capsule_form.nom_court.$invalid) }')
        label {{"LABEL.FORMULAIRE.NOM" | translate}}
        span.help-tooltip-mark ?
          .help-tooltip Le nom qui apparaîtra sur le kiosque en ligne (30 caractères maximum).
        input(ng-model='capsule.nom_court', name='nom_court', type='text', placeholder='{{"LABEL.FORMULAIRE.NB_CARACT_MAX_30" | translate}}', ng-minlength='2', ng-maxlength='30', ng-click='capsule_doublon = false; formulaire_soumis = false;', required)
        span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.nom_court.$error.required') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
        span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.nom_court.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
        span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.nom_court.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
        span.help-block(ng-show='formulaire_soumis && capsule_doublon'): p.text-danger {{"LABEL.ERREUR.DOUBLON" | translate}}

      div(ng-class='{ "has-error" : formulaire_soumis && (gestion_capsule_form.url_web.$invalid) }')
        label {{"LABEL.FORMULAIRE.URL" | translate}}
        span.help-tooltip-mark ?
          .help-tooltip Ceci est l'adresse de votre site web : il doit contenir toutes les pages qui utiliseront PairForm. Par exemple, si toutes vos pages sont dans le dossier https://www.exemple.com/votre_site/, rentrez cette URL.
        input(ng-model='capsule.url_web', name='url_web', type='url', ng-pattern='/^(?!.*\/co\/).*\/$/', placeholder='{{"LABEL.FORMULAIRE.URL" | translate}}')
        span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.url_web.$error.required') {{"LABEL.ERREUR.URL_INVALIDE" | translate}}
        span.help-block(ng-show='(gestion_capsule_form.url_web.$invalid && gestion_capsule_form.url_web.$error.pattern)').
          {{("LABEL.ERREUR.URL_INVALIDE_MAUVAIS_FORMAT" | translate) + (gestion_capsule_form.url_web.$viewValue.split("/co/")[0] + "/")}}

      div(ng-class='{ "has-error" : formulaire_soumis && (gestion_capsule_form.description.$invalid) }')
        label {{"LABEL.FORMULAIRE.DESCRIPTION" | translate}}
        span.help-tooltip-mark ?
          .help-tooltip Une description libre de votre contenu : donnez envie d'aller voir votre site !
        textarea.form-control(ng-model='capsule.description', name='description', placeholder='{{"LABEL.FORMULAIRE.DESCRIPTION" | translate}}', ng-minlength='2', rows='8', required)
        span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.description.$error.required') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
        span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.description.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}

      .btn-action(ng-click="gererCapsule(gestion_capsule_form.$valid)") Etape suivante
      .bloc-semantique.bloc-semantique-info.
        Vous pouvez également modifier ces informations plus en détail dans le #[a(href="https://www.pairform.fr/node/backoffice" target="_blank") back-office], qui vous permet de gerer vos documents.
  .step-tutoriel.step-tutoriel-4(ng-show="$storage.pf_injecteur.etape == 4")
    .step-tutoriel-header
      h2 Etape n°4
      h1 Intégrez ce code dans toutes les pages que vous souhaitez :
    .step-tutoriel-body
      div.
        Copiez-collez ce code dans le code source de votre page, à la fin la balise &lt;head&gt; : 
      textarea.injection_code.
        <script src="{{$storage.url_app + $storage.pf_injecteur.hash_section}}"/>
      //-  <script>
          PF.globals.selector = "{{$storage.pf_injecteur.selecteurs.contenu.toString()}}";
          PF.globals.selectorContent = "none";            
        </script> 
      div.
        Et c'est terminé ! 
      .bloc-semantique.bloc-semantique-info.
        Pas besoin d'inclure ce script à la fin du &lt;body&gt; pour gagner en performance : il est déjà chargé de façon asynchrone.