
/* 
 * Globale à la page d'accueil
 */
.site-vitrine .accueil > section {
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: white;
	border-top: 1px solid #cccccc;
}
.accueil-header img {
	max-width:500px;
	width:100%;
}
.accueil-header h1 {
	color:white;
}
.site-vitrine .accueil .accueil-header {
	margin: 0px;
	color: #2b2b2b;
	text-shadow: 0 1px 1px white;
	text-align: center;
	min-height: 450px;
	background: rgba(0, 0, 0, 0.55);
}

@keyframes background { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.accueil-header .call-to-action {
	padding:10px;
	width:100%;
	color:white;
	text-shadow: 0 -1px 0px #00000082;
}

@media (max-width: 767px){
	.accueil-header {
		background: none;
		min-height:300px;
	}
	.accueil-header .call-to-action {
		background-position: 50% 50%;
		height: 100%;
	}
	.accueil-header .videoWrapper {
		margin-bottom:20px;
	}
}
.site-vitrine section h2 {
	text-align:center;
}
.accueil .videoWrapper iframe {
	width: 100%;
	height: 240px;
}
@media (min-width: 768px){
	.vertical-align-parent{
		position: relative;
		height: 400px;
	}
	.vertical-align-child{
		position: absolute;
		left:0px;
		top: 50%; /* poussé de la moitié de hauteur du référent */
		transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
		padding: 0;
	}
}
.site-vitrine .accueil-header h1, .accueil-header h2, .accueil-header h3 {
	padding-bottom:10px;
	text-shadow: 0px -1px 0px rgba(8, 8, 8, 0.4)
}
.site-vitrine .accueil-header h1 {
	font-size: 24px;
	font-weight: 250;
	margin: 20px 0px;
}
.site-vitrine .accueil-header h1 strong {
	font-size: 26px;
	color:white;
	font-weight:500;
}
.site-vitrine .accueil-header h2 {
	font-size: 20px;
	font-weight:300;
}
.site-vitrine .accueil-header h3 {
	font-size:16px;
	font-weight: 500;
	font-style:oblique;
}
/* video */
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {width: 300%;left: -100%;top: -5%;}
}

.popin iframe {
	width: 90vw;
	height: 50vh;
	max-height:  500px;
	max-width: 900px;
}

/* 
 * Icones des stores 
 */

.accueil-header .store-icons{
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.accueil-header .store-icons a{
	margin-left:8px;
	display: inline-block;
}

/*
 * .saviez-vous
 */

.site-vitrine .accueil > section.saviez-vous {
	padding: 0px;
	position:relative;
	overflow:  hidden;
}
.site-vitrine .saviez-vous > h1 {
	position:absolute;
	z-index:2;
	text-align:center;
	width:100%;
	top: -40px;
}
.saviez-vous {
	background:linear-gradient(90deg, #e76809, #3764ad)
}
.saviez-vous .part {
	display:  inline-block;
	vertical-align:  top;
	padding: 60px 30px;
	height: 290px;
	width: 50%;
	text-align:center;
	color:white;
	transform: skew(-5deg);
	background-size: 1000px !important;
}
.saviez-vous .part .part-wrapper {
	transform: skew(5deg);
}
.saviez-vous .part.part-left {
	background: url(/private/img/accueil/bg_map.png) 50%, #e76809;
	background-position-x: 80%;
}
.saviez-vous .part.part-right {
	background: url(/private/img/accueil/bg_network.png), #3764ad;
}
.saviez-vous .part .stats {
	font-size: 76px;
	padding-bottom: 12px;
}
.saviez-vous .part .stats small {
	font-size:32px;
	color:white;
}
.saviez-vous .part .stats-description {
	max-width: 330px;
	width:  100%;
	margin:  0 auto;
}
.saviez-vous .part .stats-description h3 {
	font-size:12px;
	font-weight:300;
	margin-top: 8px;
}
/* 
 * accueil-reference 
 */
.site-vitrine .accueil-reference {
	background-color: white;
}
.site-vitrine .accueil-reference img {
	transition:all ease-out .2s;
	max-height: 80px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	vertical-align: middle;
}
.site-vitrine .accueil-reference .caption {
	transition:all ease-out .2s;
	color: black;
	opacity:0;
	margin-top:10px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.site-vitrine .accueil-reference .thumbnail:hover img {
	-webkit-filter:none;
	filter:none;
}
.site-vitrine .accueil-reference .thumbnail:hover .caption{
	opacity:1;
	margin-top:20px;
}


/* 
 * accueil-activites
 */

.accueil-activites {
	background:url('/private/img/background/pattern_2.png');
}
.accueil-activites .thumbnail img {
	width:100%;
	max-width:140px;
}
.accueil-activites .thumbnail h2 {
	margin-top:10px;
	font-size:22px;
}

.accueil-activites .thumbnail label {
	margin-top:10px;
	margin-bottom:20px;
	max-width: 240px;
	font-weight:normal;
}

.accueil-activites .btn-more {
	display:block;
	width:120px;
	margin:0 auto;
	border:none;
}

.accueil-activites .activite-conseil .colored {
	color:gray;
}
.accueil-activites .activite-sur_mesure .colored {
	color:#e86808;
}
.accueil-activites .activite-application .colored {
	color:#3064ad;
}

.accueil-activites .activite-conseil .btn-more {
	background-color: #373736;
}
.accueil-activites .activite-conseil .btn-more:hover {
	background-color: #4a4a49;
}
.accueil-activites .activite-sur_mesure .btn-more {
	background-color:#e86808;
}
.accueil-activites .activite-sur_mesure .btn-more:hover {
	background-color:#F06B08;
}
.accueil-activites .activite-application .btn-more {
	background-color:#3064ad;
}
.accueil-activites .activite-application .btn-more:hover {
	background-color:#346CBA;
}
/* 
 * accueil-plus-value 
 */
.site-vitrine .accueil-plus-value{
	background:url("/private/img/background/pattern_1.png");
}
.site-vitrine .accueil-plus-value .thumbnail img {
	max-height: 150px;
	margin-bottom: 10px;
}
.site-vitrine .accueil-plus-value  h1{
	color: #2b2b2b;
	text-shadow: 0 1px 1px white;
	font-size: 30px;
	font-weight: 400;
}
.site-vitrine .accueil-plus-value  h2{
	color: #2b2b2b;
	text-shadow: 0 1px 1px white;
	font-size:20px;
	font-weight: 30;
}
.site-vitrine .accueil-plus-value  h1.plus-value#BL{
	color: #e76707;
	text-shadow: 0 1px 1px white;
	font-size:20px;
	font-weight: 30;
}
.site-vitrine .accueil-plus-value  h1.plus-value#SL{
	color: #3064ad;
	text-shadow: 0 1px 1px white;
	font-size:20px;
	font-weight: 30;
}			
.site-vitrine .accueil-plus-value .thumbnail h2{
	color: #3064ad;
	text-shadow: 0 1px 1px white;
	font-size:20px;
	font-weight:400;
}
.organismes-benefices .thumbnail h3 {
	color: #2b2b2b;
	text-shadow: 0 1px 1px white;
	font-size:16px;
	font-style:oblique;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.site-vitrine .accueil-plus-value .btn{
	margin: 0 auto;
	display: block;
	width: 160px;
}


/*
** accueil-offres
*/

.site-vitrine .accueil .accueil-offres{
	background: url("/private/img/background/pattern_2.png");
}
.site-vitrine .accueil-offres  h1{
	color: #2b2b2b;
	text-shadow: 0 1px 1px white;
	font-size:22px;
	font-weight: 500;
}
.site-vitrine .accueil-offres .thumbnail h2{
	color:white;
	font-size:20px;
	font-weight:200;
	padding-bottom: 0px;
    padding-top: 20px;
}
.site-vitrine .accueil-offres .thumbnail {
	color:white;
}
.site-vitrine .accueil-offres #offre-OF {
	background:rgb(11,150,245);
}
.site-vitrine .accueil-offres #offre-ETI {
	background:#e76707;
}


/* 
 * accueil-comment 
 */

.site-vitrine .accueil .accueil-comment{
	background: url("/private/img/background/pattern_2.png");
}
.site-vitrine .step-bar-button-container{
	text-align: center;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-top: 1px solid #d8d8d8;
	margin-bottom: 20px;
	background: #f1f1f1;
	cursor:pointer;
	padding: 0;
}
.site-vitrine .step-bar-button-container .step-bar-button{
	display: inline-block;
	border-right: 1px solid #d8d8d8;
	border-radius: 0;
	margin-bottom: 0;
}
.site-vitrine .step-bar-button-container .step-bar-button:hover {
	background: #eaeaea;
}
.site-vitrine .step-bar-button-container .step-bar-button.selected {
	background:white;
}
.site-vitrine .step-bar-button-container .step-bar-button:last-child{
	border-right: none;
}
.site-vitrine .accueil-comment .step-bar-button img {
	max-height: 80px;
	margin-bottom: 4px;
}
@media (max-width: 500px){
	.site-vitrine .accueil-comment .step-bar-button img {
		max-height:60px;
	}
}
.site-vitrine .step-display-container {
	background: rgb(255, 255, 255);
	border: 1px solid lightgray;
	margin-top: -21px;
}


/* 
 * accueil-cta 
 */

.site-vitrine .accueil .accueil-cta {
	min-height: 300px; 
	background: url("/private/img/background/pattern_blue.jpg");
	background-size:cover;
	background-position: 50%;
	color: whitesmoke;
}
.site-vitrine .accueil .accueil-cta .container {
	margin-top: 40px;
}


/* 
 * accueil-temoignages 
 */

/*.site-vitrine .accueil .accueil-temoignages{
	background: url("/private/img/background/pattern_blue.jpg");
	background-size:cover;
	background-position: 50%;
	color: whitesmoke;
}
.accueil-temoignages .media {
	background: rgba(0, 0, 0, 0.08);
	padding: 10px;
	border-radius: 6px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
	position: relative;
}
.accueil-temoignages .media::before {
	content: '”';
	font-family: cursive;
	position:absolute;
	right: 0px;
	font-size: 80px;
	margin: -30px 10px 0 0;
	opacity: 0.4;
}
.accueil-temoignages .media img {
	border-radius:50px;
	max-height:80px;
}
.accueil-temoignages .media-heading {
	color: white;
	font-weight: 200;
	padding-bottom: 4px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}*/
.accueil-media {
	background-color:none;
}
.accueil-media  h1{
	color: #2b2b2b;
	text-shadow: 0 1px 1px white;
	font-size:22px;
	font-weight: 500;
}
.accueil-media .media-object{
	max-width:120px;
}

.media-body {
	width: 10000px;
}
.media, .media-body {
	overflow: hidden;
	zoom: 1;
}
.media-body, .media-left, .media-right {
	display: table-cell;
	vertical-align: top;
}
.media-left, .media>.pull-left {
	padding: 10px 10px;
}
.site-vitrine .accueil > section.accueil-inovation-pedagogique {
	background: linear-gradient(45deg, #ee520d,#f28015);
	color:white;
}
.site-vitrine .accueil-inovation-pedagogique .wrapper {
	text-align: center;
}
.site-vitrine .accueil-inovation-pedagogique .wrapper > * {
	display:inline-block;
	vertical-align:middle;
	padding:10px 20px;
}
.site-vitrine .accueil-inovation-pedagogique h1{
	font-size: 42px;
}
.site-vitrine .accueil-inovation-pedagogique h2{
	font-size: 22px;
	color: #e0e0e0;
}
.site-vitrine .accueil-inovation-pedagogique .accroche h2,
.site-vitrine .accueil-inovation-pedagogique .accroche h1{
	text-align:right;
}
.site-vitrine .accueil-inovation-pedagogique .block {
	background: #099bdf;
	max-width: 410px;
	padding:10px 20px;
	border-radius:14px;
	text-align:left;
	transition: background ease-out .1s;
}
.site-vitrine .accueil-inovation-pedagogique .block:hover {
	background: #099bdf;
}
.site-vitrine .accueil-inovation-pedagogique .block img,
.site-vitrine .accueil-inovation-pedagogique .block h2 {
	display:inline-block;
	max-width: 70%;
	vertical-align:middle;
	font-size: 32px;
	color:white;
}
.site-vitrine .accueil-inovation-pedagogique .block img {
	width: 90px;
	margin-right:18px;
}
@media (max-width: 956px){
	.site-vitrine .accueil-inovation-pedagogique .accroche h2,
	.site-vitrine .accueil-inovation-pedagogique .accroche h1{
		text-align:center;
	}
}
@media (max-width: 445px){
	.site-vitrine .accueil-inovation-pedagogique .block img{
		display: none;
	}
}
@media (max-width: 500px){
	.accueil-media .media-object{max-width: 50%;margin: auto;}
	.media-left {
		display: block;
		width:100%;
	}
}