[ng-controller="main_controller"]:not(.ng-cloak) + .navbar{
	opacity: 1;
}

[ng-view] {
	opacity: 1;
}

/*
[ng-view].ng-leave{
	-webkit-animation: scaleOutSoft ease-in .3s;
	-moz-animation: scaleOutSoft ease-in .3s;
	-o-animation: scaleOutSoft ease-in .3s;
	animation: scaleOutSoft ease-in .3s;
	transform-origin:50% 0%;
}

[ng-view].ng-enter{
	opacity: 0;
	transform-origin:50% 0%;
	-webkit-animation: scaleInSoft ease-out .3s;
	-moz-animation: scaleInSoft ease-out .3s;
	-o-animation: scaleInSoft ease-out .3s;
	animation: scaleInSoft ease-out .3s;
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}*/