/* 
 * Globale à la page application
 */
 .site-vitrine .application > section {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: white;
  border-top: 1px solid #cccccc;
}
.site-vitrine .application .application-header {
  margin: 0px;
  color: #2b2b2b;
  text-shadow: 0 1px 1px white;
  text-align: center;
  min-height: 450px;
  background: rgba(0, 0, 0, 0.55);
}
.site-vitrine .application .application-header .pf-real-center{
  width:100%;
  background: rgba(255, 255, 255, 0.79);
  padding: 18px;
}
@keyframes background { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.application .videoWrapper iframe {
  width: 100%;
  height: 240px;
}
@media (min-width: 768px){
  .vertical-align-parent{
    position: relative;
    height: 400px;
  }
  .vertical-align-child{
    position: absolute;
    left:0px;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    padding: 0;
  }
}
.application-header .bandeau {
  color:#2b2b2b;
  background: rgba(255,255,255,0.75);
  margin-top: 110px;
  padding-top : 100px;
  padding-bottom:100px;
  border-top: none;
}
.application-header .activite-application img {
  width: 130px;
  display:inline-block;
  margin:8px 32px;
}
.application-header .activite-application .group {
  display:inline-block;
  max-width: 350px;
  vertical-align:  middle;
  text-align: left;
}
.application-header .activite-application h2 {
  font-size: 32px;
  text-align:  left;
}
.application-header .activite-application h2 .colored {
  color:#3064ad;
  text-shadow: 0 1px 1px white;
  display:  inline;
  font-weight: 500;
}
.application-header .activite-application h3 {
  font-size:20px;
  display:block;
}
.application-header .double-btn-header {
  margin-left : 140px;
}
.application-header .double-btn-header button.btn.btn-voir-video{
  margin-left:10px;
}

@media (max-width: 500px){
  .application-header {
    background: none;
    min-height:300px;
  }
  .application-header .call-to-action {
    background-position: 50% 50%;
    height: 100%;
  }
}
/*
* video
*/
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {width: 300%;left: -100%;top: -5%;}
}

.popin iframe {
  width: 90vw;
  height: 50vh;
  max-height:  500px;
  max-width: 900px;
}

/*
* application-titre
*/
.application-accroche {
  margin:0 auto;
  text-align:center;
  color:white;
  background: linear-gradient(120deg, #3064ad,#082f67);
  padding: 40px;
  border-top: none;
}
.application-accroche h1 {
  padding : 40px 5px;
}


/*
* application-benefices
*/
.application-benefices {
  background-color: white;
}
.application-benefices .select {
  margin:0 auto;
  width:100%;
  text-align:center;

}
.application-benefices .select .select-choice {
  display:inline-block;
  padding:8px;
  font-size:18px;
  margin:10px;
  border:none;
  transition: all ease-out .2s;
}
.application-benefices .select .select-choice.active {
  /* color:#e8670b; */
  font-weight:600;
  transform: scale(1.1);
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);
}

.application-benefices .select .choice-SPOC {
  background-color:gray;
}
.application-benefices .select .choice-MOOC {
  background-color:#e86808;
}
.application-benefices .select .choice-MOOC:hover {
  background-color:#F06B08;
}
.application-benefices .select .choice-INFO {
  background-color:#3064ad;
}
.application-benefices .select .choice-INFO:hover {
  background-color:#346CBA;
}

.application-benefices img {
  max-height: 140px;
  margin-bottom: 10px;
}
.application-benefices  h1 {
  color: #2b2b2b;
  text-shadow: 0 1px 1px white;
  font-size:22px;
  font-weight:500;
}
.application-benefices  h2 {
  font-size:24px;
  font-weight:300;
  margin-top:40px;
  margin-bottom: 40px;
}
.application-benefices .thumbnail h2 {
  color: #2b2b2b;
  text-shadow: 0 1px 1px white;
  font-size:18px;
  font-weight:500;
}
.application-benefices .thumbnail h3 {
  color: #2b2b2b;
  text-shadow: 0 1px 1px white;
  font-size:16px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


/*
* application-fonctionnalités
*/
.application-fonctionnalites {
  background-color: white;
}


/*
* application-demo
*/
.application-demo img.img-responsive {
  max-height : 90px;
}
.application-demo {
  background: url("/private/img/background/pattern_1.png");
}
.application-demo h1 {
  font-size:22px;
  font-weight:500;
}


/*
* application-temoignages
*/

.application-temoignages h1 {
  text-align:center;
  padding-bottom:20px;
  font-size:22px;
  font-weight:500;
}
