
.circle-container {
	position: relative;
	font-size: 20px;
	width: 24em;
	height: 24em;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 50%;
	margin: 1.75em auto 0;
}
.circle-container * {
	-webkit-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
}
.circle-container.theme-entreprise .circle-element:hover .circle-title {
  background: rgb(34, 145, 234);
  color: rgb(220, 232, 255);
}
.circle-container.theme-enseignement .circle-element:hover .circle-title {
  background: rgb(223, 127, 0);
  color: rgb(255, 241, 218);
}
.circle-element:hover ~ .circle-center{
	-webkit-filter: blur(16px);
}
.circle-element:hover ~ .circle-content{
	opacity: 1;
}
.circle-container .circle-content .circle-description{
	font-size: 14px;
	text-shadow: 0px 1px 1px rgb(208, 208, 208);
	color: rgb(6, 6, 6);
	font-weight: 500;
	display: none;
	text-align: center;
	letter-spacing: 0.05em;
}
.circle-container .circle-content{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
	background: rgba(255, 255, 255, 0.75);
	border-radius: 50%;
	-webkit-transition: opacity ease-in-out .4s;
	-o-transition: opacity ease-in-out .4s;
	transition: opacity ease-in-out .4s;
	opacity: 0;
}
.circle-container .circle-center .center-animation{	
	pointer-events: none;
	z-index: 0;
	position: absolute;
}
.circle-container .circle-element {
	display: block;
	position: absolute;
	z-index: 2;
	top: 50%; 
	left: 50%;
	width: 8em; 
	text-align: center;
	margin: -2em -4em; /* 2em = 4em/2 */ /* half the width */
}
.circle-container .circle-element .circle-title{
	color: rgb(48, 48, 48);
	font-size: 20px;
	line-height: 1em;
	padding: 8px 24px;
	border-radius: 4px;
	font-variant: small-caps;
	cursor: pointer;
	border-top-left-radius: 18px;
	border-bottom-right-radius: 18px;
}
.circle-container .circle-element:hover .circle-description{
  margin-top: 8px;
  opacity: 1;
}
.circle-element:nth-child(1):hover ~ .circle-content .circle-description:nth-child(1){
	display: block;
}
.circle-element:nth-child(1) {
	-webkit-transform: translate(12em);
	-moz-transform: translate(12em);
	-ms-transform: translate(12em);
	-o-transform: translate(12em);
	transform: translate(12em);
}
.circle-element:nth-child(2):hover ~ .circle-content .circle-description:nth-child(2){
	display: block;
}
.circle-element:nth-child(2) {
	-webkit-transform: rotate(45deg) translate(12em) rotate(-45deg);
	-moz-transform: rotate(45deg) translate(12em) rotate(-45deg);
	-ms-transform: rotate(45deg) translate(12em) rotate(-45deg);
	-o-transform: rotate(45deg) translate(12em) rotate(-45deg);
	transform: rotate(45deg) translate(12em) rotate(-45deg);
}
.circle-element:nth-child(3):hover ~ .circle-content .circle-description:nth-child(3){
	display: block;
}
.circle-element:nth-child(3) {
	-webkit-transform: rotate(135deg) translate(12em) rotate(-135deg);
	-moz-transform: rotate(135deg) translate(12em) rotate(-135deg);
	-ms-transform: rotate(135deg) translate(12em) rotate(-135deg);
	-o-transform: rotate(135deg) translate(12em) rotate(-135deg);
	transform: rotate(135deg) translate(12em) rotate(-135deg);
}
.circle-element:nth-child(4):hover ~ .circle-content .circle-description:nth-child(4){
	display: block;
}
.circle-element:nth-child(4) {
	-webkit-transform: translate(-12em);
	-moz-transform: translate(-12em);
	-ms-transform: translate(-12em);
	-o-transform: translate(-12em);
	transform: translate(-12em);
}
.circle-element:nth-child(5):hover ~ .circle-content .circle-description:nth-child(5){
	display: block;
}
.circle-element:nth-child(5) {
	-webkit-transform: rotate(225deg) translate(12em) rotate(-225deg);
	-moz-transform: rotate(225deg) translate(12em) rotate(-225deg);
	-ms-transform: rotate(225deg) translate(12em) rotate(-225deg);
	-o-transform: rotate(225deg) translate(12em) rotate(-225deg);
	transform: rotate(225deg) translate(12em) rotate(-225deg);
}
.circle-element:nth-child(6):hover ~ .circle-content .circle-description:nth-child(6){
	display: block;
}
.circle-element:nth-child(6) {
	-webkit-transform: rotate(315deg) translate(12em) rotate(-315deg);
	-moz-transform: rotate(315deg) translate(12em) rotate(-315deg);
	-ms-transform: rotate(315deg) translate(12em) rotate(-315deg);
	-o-transform: rotate(315deg) translate(12em) rotate(-315deg);
	transform: rotate(315deg) translate(12em) rotate(-315deg);
}