/* 
 * Globale à la page conseil
 */

 section {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: none;
  border-top: 1px solid #cccccc;
}

.conseil-header {
  margin: 0px;
  background-image: url('/private/img/conseil/conseil_header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #2b2b2b;
  text-shadow: 0 -1px 0px #ffffff54;
  text-align: center;
  min-height: 450px;
}
.conseil-header .call-to-action {
  padding: 20px;
  background: url('/private/img/conseil/conseil_header_flou.jpg') no-repeat;
  width:100%;
  background-size: cover;
  background-position: 0% -120px;
}
.conseil-header .activite-conseil img {
  width: 130px;
  display:inline-block;
  margin: 8px 32px;
}
.conseil-header .activite-conseil .group {
  display:inline-block;
  max-width: 350px;
  vertical-align:  middle;
  text-align: left;
}
.conseil-header .activite-conseil h2 {
  font-size: 32px;
  text-align:  left;
}
.conseil-header .activite-conseil h2 .colored {
  color: #373736;
  display:  inline;
  font-weight: 500;
}
.conseil-header .activite-conseil h3 {
  font-size:20px;
  display:block;
}

@media (max-width: 500px){
  .conseil-header {
    background: none;
    min-height:300px;
  }
  .conseil-header .call-to-action {
    background-position: 50% 50%;
    height: 100%;
  }
}


/*
* conseil-benefices
*/
.conseil-accroche {
  margin:0 auto;
  text-align:center;
  color:white;
  background: linear-gradient(120deg, #808080,#3B3B3B);
  padding: 40px;
  border-top: none;
}
.conseil-accroche h1 {
  padding : 40px 5px;
}



/*
* conseil-process
*/
.conseil-process {
  background-color: white;
}
.conseil-process .process-step {
  margin:20px 80px;
}
.conseil-process .process-step img {
  border-radius:100px;
  vertical-align:top;
  max-height: 140px;
  max-width: 80px;
}

/*
* conseil-formations
*/
.conseil-formations {
  background:url('/private/img/background/pattern_1.png');
}
.conseil-formations .thumbnail img {
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 100px;
}
.conseil-formations h2 {
  font-size:24px;
}
.conseil-formations .thumbnail label {
  margin-top:10px;
  margin-bottom:20px;
  max-width: 300px;
  font-weight:normal;
}
.conseil-formations .btn-more {
  display:block;
  width:120px;
  margin:0 auto;
  border:none;
  background-color:#3064ad;
}
.conseil-formations .btn-more:hover {
  background-color:#346CBA;
}


/*
* conseil-experts
*/
.conseil-experts {
  background:url('/private/img/background/pattern_2.png');
}
.conseil-experts .avatar {
  border-radius:100px;
  width: 150px;
}
.conseil-experts h2{
  margin:10px;
}
.conseil-experts .btn-social {
  margin-top:10px;
  border-radius:100px;
  background: #2f62ac;
  padding: 5px;
  line-height:  0px;
}
.conseil-experts h2 {
  font-size:24px;
}
.conseil-experts .btn-social img {
  width: 18px;
}