
.site-vitrine .equipe > section {
	padding-top: 30px;
	padding-bottom: 20px;
	background-color:none;
	border-top: 1px solid #cccccc;
}
.equipe-header {
	margin: 0px;
	background-image: url('/private/img/equipe/equipe_header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #2b2b2b;
	text-shadow: 0 1px 1px white;
	text-align: center;
	min-height: 450px;
}
.equipe-header .call-to-action {
	padding: 20px;
	background: url('/private/img/equipe/equipe_header_flou.jpg') no-repeat;
	width:100%;
	background-size: cover;
	background-position: 0% -130px;
}
@media (max-width: 500px){
	.equipe-header {
		background: none;
		min-height:300px;
	}
	.equipe-header .call-to-action {
		background-position: 50% 50%;
		height: 100%;
	}
}
/* 
 * equipe-membres 
 */

.site-vitrine .equipe-membres{
	background: url("/private/img/background/pattern_1.png");
}
.site-vitrine .equipe-membres img {
	max-height: 200px;
	margin-bottom: 10px;
	border-radius: 100px;
}
.site-vitrine .equipe-membre .caption {
	color:white;
	font-size:18px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
}
.site-vitrine .equipe-membres .thumbnail h2{
	color: #e76707;
	font-size:20px;
	font-weight:400;
}
.site-vitrine .equipe-membres .thumbnail .caption {
	display: block;
}
.site-vitrine .equipe-membres .thumbnail .caption.bold {
	font-weight:600;
}


/* 
 * equipe-projet 
 */

.site-vitrine .equipe .equipe-projet{
	background: #3764ad;
	background-size:cover;
	background-position: 50%;
}
.site-vitrine .equipe .equipe-projet h1 {
	text-align: center;
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: 400;
	color: white;
}
.site-vitrine .equipe-projet .container {
	background: rgb(255, 255, 255);
	border: 1px solid lightgray;
	padding-top: 18px;
	padding-bottom: 10px;
}
.site-vitrine .equipe-projet img {
	max-height: 80px;
}


/* 
 * equipe-reference 
 */
.site-vitrine .equipe-reference {
	background-color: white;
}
.site-vitrine .equipe-reference img {
	transition:all ease-out .2s;
	max-height: 80px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	vertical-align: middle;
}
.site-vitrine .equipe-reference .caption {
	transition:all ease-out .2s;
	color: black;
	opacity:0;
	margin-top:10px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.site-vitrine .equipe-reference .thumbnail:hover img {
	-webkit-filter:none;
	filter:none;
}
.site-vitrine .equipe-reference .thumbnail:hover .caption{
	opacity:1;
	margin-top:20px;
}

