section {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: none;
  border-top: 1px solid #cccccc;
}

.formation-header {
  margin: 0px;
  background-image: url('/private/img/formation/formation_header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #2b2b2b;
  text-shadow: 0 -1px 0px #ffffff54;
  text-align: center;
  min-height: 450px;
}
.formation-header .call-to-action {
  padding: 20px;
  background: url('/private/img/formation/formation_header_flou.jpg') no-repeat;
  width:100%;
  background-size: cover;
  background-position: 0% -120px;
}
.formation-header .activite-formation img {
  width: 130px;
  display:inline-block;
  margin: 8px 32px;
}
.formation-header .activite-formation .group {
  display:inline-block;
  max-width: 350px;
  vertical-align:  middle;
  text-align: left;
}
.formation-header .activite-formation h2 {
  font-size: 28px;
  text-align:  left;
}
.formation-header .activite-formation h2 .colored {
  color: #373736;
  display:  inline;
  font-weight: 500;
}
.formation-header .activite-formation h3 {
  font-size:20px;
  display:block;
}

@media (max-width: 500px){
  .landingpage_formation-header {
    background: none;
    min-height:300px;
  }
  .formation-header .call-to-action {
    background-position: 50% 50%;
    height: 100%;
  }
}

/*
accroche 
*/
.formation-info {
  background: url("/private/img/background/pattern_1.png");
}
.formation-info h2 {
  font-weight:500;
  padding:2px;
}
.formation-info h3 {
  font-weight: 16px;
  font-weight: 300;
  text-align: center;
  padding:3px;
}
.formation-info h4 {
  font-weight:200;
  font-size:16px;
}
.formation-info img {
  max-width: 150px;
  padding-top:30px;
  padding-bottom:10px;
}

/*
formulaire
*/
.section-white h1 {
  font-size:18px;
  color:#3064ad;
  font-weight: 300;
}