
body {
	background: #F7F7F7;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Raleway';
}
.page-header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.21);
	margin: 20px 0 20px;
	box-shadow: 0 1px 0px #e0e0e0;
	padding-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;
	font-family: 'Raleway';
}
h1 {
	font-size: 20px;
}
h2, h1 small {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h1,h2,h3 {
	font-weight: 300;
}
.site-vitrine section h1 {
	text-align:center;
	padding-bottom:40px;
	font-size:30px;
	font-weight:400;
}
hr {
	border-top: 1px solid rgba(255, 255, 255, 0.21);
	box-shadow: 0 1px 0px rgba(228, 228, 228, 0.5);
}
.accueil .page-header h1 {
	font-weight: 400;
	padding-bottom: 0px;
}
.pf-centered {
	margin: 0 auto;
	float: none;
}

/* 
 * boutons
 */
.btn.btn-demo {
	background-color:#e86808;
	color:white;
}
.btn.btn-demo:hover {
	background-color:#F06B08;
}
.btn.btn-demo.entreprise {
	background-color: #3064ad;
	color:white;
}
.btn.btn-demo.entreprise:hover {
	background-color:#346CBA;
}
.btn.btn-info.bouton-inscription {
	background-color:white;
	border-color:#e76707;
	color: #e76707;
}
.btn.btn-info.bouton-inscription:hover {
	background-color:white;
	border-color:rgba(231,103,7,0.7);
	color:rgba(231,103,7,0.7);
}
@media (min-width: 365px) {
	.btn.btn-info.bouton-inscription {
		margin: 15px 15px 15px 0;
	}
}
.btn.btn-info.bouton-offres#organisme {
	background-color:white;
	border-color:#0B96F5;
	color:#0B96F5;
}
.btn.btn-info.bouton-offres#organisme:hover {
	background-color:white;
	border-color:rgba(11,150,245,0.7);
	color:rgba(11,150,245,0.7);
}
.btn.btn-info.bouton-offres#entreprise {
	background-color:white;
	border-color:#e76707;
	color:#e76707;
}
.btn.btn-info.bouton-offres#entreprise:hover {
	background-color:white;
	border-color:rgba(231,103,7,0.7);
	color:rgba(231,103,7,0.7);
}
.btn.btn-info.bouton-benefices {
	background-color:#e76707;
	border-color:#e76707;
}
.btn.btn-info.bouton-benefices:hover {
	background-color:rgba(231,103,7,0.8);
}
.btn.btn-contact{
	background-color:#e86808;
	color:white;
}
.btn.btn-contact:hover{
	background-color:#F06B08;
}

/* Variable */

.pf-background{
	color: black;
	background: white;
}


/* Navbar */

.navbar{
	-webkit-transition: opacity ease-in-out .5s;
	-o-transition: opacity ease-in-out .5s;
	transition: opacity ease-in-out .5s;
	-webkit-transition-delay: .8s;
	-o-transition-delay: .8s;
	transition-delay: .8s;
	opacity: 0;
}
.navbar-brand {
	padding: 0px 15px;
}
.navbar-brand img {
	height: 30px;
	margin: 10px 0;
}
.navbar-brand p {
	padding: 10px;
}
.pf.old_design + .navbar-default {
	top:34px;
}
.navbar-default {
	z-index: 5;
	background-color: rgba(255, 255, 255, 0.88);
}
.navbar-default .navbar-toggle {
	border: none;
	box-shadow: 0 1px 1px white;
	padding: 9px 6px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: rgb(255, 159, 91);
	box-shadow: 0 1px 1px rgb(186, 85, 0);
}


/* Liens de la navbar */

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: whitesmoke;
	background-color: #3064ad;
}
.navbar-default ul.dropdown-menu:hover a:focus, .navbar-default ul.dropdown-menu:hover a:hover {
	color: whitesmoke;
	background-color: #3064ad;
}
.navbar-default .navbar-nav>li>a {
	color: rgb(48, 101, 173);
	transition: all ease-in-out .2s;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: whitesmoke;
	background-color: rgb(48, 98, 173);
}
.navbar-fixed-top, .navbar-fixed-bottom{
	border-bottom: 3px rgb(48, 101, 173) solid;
}
.navbar-default a.dropdown-toggle:hover + ul.dropdown-menu, .navbar-default ul.dropdown-menu:hover {
	display: block;
}
.pf-real-center{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


/* Override de la taille du widget twitter, pour qu'il soit responsive. */

#twitter-widget-0 { 
	width: 100% !important; 
}
.alert-info {
	color: #0489C3;
	background-color: #D5E7EF;
	border-color: #00A4EC;
}


/* Spin box */

.spin-box {
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border-radius: 100%;
	width: 32px;
	height: 32px;
	box-shadow: 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf;
	-webkit-animation: spin ease 5 4s;
	-moz-animation: spin ease 5 4s;
	-o-animation: spin ease 5 4s;
	animation: spin ease infinite 4s;
	-webkit-transition: opacity ease-in-out 2s;
	-moz-transition: opacity ease-in-out 2s;
	-o-transition: opacity ease-in-out 2s;
	transition: opacity ease-in-out 2s;
	transition-delay:1s;
}
.spin-box.disappear {
	opacity: 0;
}

.pf.old_design ~ main.container-fluid{
	margin: 84px auto 0px auto;
}
main.container-fluid{
	margin: 50px auto 0px auto;
	color: #4A4A4A;
}
.thumbnail, .panel {
	color: #292929;
	padding-bottom: 30px;
}
.thumbnail {
	background: none;
	border: none;
}
.hidden-md-inline, .hidden-sm-inline, .hidden-xs-inline{
	display: inline-block;
}

@media (max-width: 1200px){
	.hidden-md-inline {
		display: none!important;
	}
}
@media (max-width: 992px){
	.hidden-sm-inline {
		display: none!important;
	}
}
@media (max-width: 767px){
	.hidden-xs-inline {
		display: none!important;
	}
}
img.float-left{
	float: left;
	clear: both;
	border-radius: 2px;
	width: 90px;
	margin: 6px;
}


/* Bootstrap rows */

.presentation-row {
	margin-bottom: 0px;
	padding: 20px;
}
.presentation-row .presentation-illustration > img {
	margin: 0 auto;
	border-radius: 4px;
}
.presentation-row .presentation-illustration > figcaption {
	font-style: italic;
	text-align: center;
	font-size: 12px;
	color: rgb(231, 231, 231);
	margin-top: 6px;
}

.presentation-row h1 {
	margin: 10px 0;
	text-shadow: 0 1px 2px black;
	color: rgb(236, 125, 0);
}
.flat-timeline {
	text-align: center;
}
.flat-timeline img {
	max-width: 120px;
	width: 100%;
	display: block;
	margin: 0 auto;
}
.flat-timeline a div {
	margin-top: 24px;
}


/* Override bootstrap */

.feature-item h3, .row.feature-item h2 {
	margin-bottom:8px;
	font-weight:500;
}
.feature-item {
	margin-bottom:20px;
}
.row.feature-item {
	margin:40px 0;
}

/*
* footer
*/

.site-vitrine .footer {
	background: url("/private/img/background/pattern_dark.png");
	color: white;
}
.site-vitrine .footer .email-contact-pairform {
	background-color: #fbfbfb;
	border-radius: 3px;
	padding: 3px;
	margin-right: 17px;
	width: 170px;
	height: 39px;
}
.site-vitrine .footer .blog {
	background-color: #fbfbfb;
	border-radius: 3px;
	margin-right: 17px;
	width: 70px;
	height: 39px;
}

.plateformes {
	width:160px;
	margin:10px;
}

.feature-divider {
	margin: 60px 0; /* <hr> between each */
}
.feature {
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden; /* Clear floats */
}
.feature-image {
	margin-top: −120px; /* Vertically center image with the text */
}
.feature-heading {
	font-size: 24px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
	text-align: left !important;
	margin-bottom: 12px;
}
.feature-image.pull-left {
	margin-right: 40px;
}
.feature-image.pull-right {
	margin-left: 40px;
}

@media (max-width: 979px) {
	.feature {
		height: auto;
		padding: 0;
	}
	.feature-image.pull-left,
	.feature-image.pull-right {
		display: block;
		float: none;
		max-width: 40%;
		margin: 0 auto 20px;
	}
}

@media (max-width: 767px) {
	.feature-heading {
		font-size: 30px;
	}
	.feature p {
		font-size: 18px;
		line-height: 1.5;
	}
	.feature-divider {
		margin:30px 0;
	}
}

.form-switch .fa.fa-check {
	font-size: 100px;
	color:green;
	transition:all cubic-bezier(0.39, 0.58, 0.57, 1) .6s;
	transform: scale(1);
	opacity:1;
}

.form-switch .form-submitted.ng-hide .fa.fa-check {
	transform:translateY(20px) scale(0.4);
	opacity:0;
}

.form-switch .fa.fa-paper-plane + .fa.fa-check {
	transform:translate(0px) scale(1);
	transition-delay:.4s;
}

.form-switch .form-submitted.ng-hide .fa.fa-paper-plane + .fa.fa-check {
	transform:translate(0px) scale(0.4);
}
.form-switch .fa.fa-paper-plane {
	font-size: 120px;
	color: #3d3d3b;
	transition:all cubic-bezier(0.39, 0.58, 0.57, 1) 1s;
	transform:translate(0px) rotate(10deg);
	opacity:1;
	margin-bottom:32px;
}
.form-switch .form-submitted.ng-hide .fa.fa-paper-plane {
	transform:translate(-200px) rotate(65deg);
	opacity:0;
}


.cookie_consent span {
    color: #616161;
    font-family: Raleway;
    margin-left: 4px;
}

.cookie_consent span a, .cookie_consent span a:visited{
	color: #3564ab;
}
