
@-webkit-keyframes enterFromRight {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes enterFromRight {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes enterFromRight {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes enterFromRight {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes spin {
	0%,
	100% {
		box-shadow: 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf;
	}
	25% {
		box-shadow: -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49;
	}
	50% {
		box-shadow: -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf;
	}
	75% {
		box-shadow: 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49;
	}
}
@-moz-keyframes spin {
	0%,
	100% {
		box-shadow: 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf;
	}
	25% {
		box-shadow: -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49;
	}
	50% {
		box-shadow: -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf;
	}
	75% {
		box-shadow: 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49;
	}
}
@-o-keyframes spin {
	0%,
	100% {
		box-shadow: 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf;
	}
	25% {
		box-shadow: -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49;
	}
	50% {
		box-shadow: -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf;
	}
	75% {
		box-shadow: 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49;
	}
}
@keyframes spin {
	0%,
	100% {
		box-shadow: 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf;
	}
	25% {
		box-shadow: -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49;
	}
	50% {
		box-shadow: -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf;
	}
	75% {
		box-shadow: 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49;
	}
}
@-webkit-keyframes scaleOutSoft {
	0%{
		opacity: 1;
		-webkit-transform:scale(1);
	}
	100%{
		opacity: 0;
		-webkit-transform:scale(0.95);
	}
}
@-moz-keyframes scaleOutSoft {
	0%{
		opacity: 1;
		-moz-transform:scale(1);
	}
	100%{
		opacity: 0;
		-moz-transform:scale(0.95);
	}
}
@-o-keyframes scaleOutSoft {
	0%{
		opacity: 1;
		-o-transform:scale(1);
	}
	100%{
		opacity: 0;
		-o-transform:scale(0.95);
	}
}
@keyframes scaleOutSoft {
	0%{
		opacity: 1;
		transform:scale(1);
	}
	100%{
		opacity: 0;
		transform:scale(0.95);
	}
}
@-webkit-keyframes scaleInSoft {
	0%{
		opacity: 0;
		-webkit-transform:scale(1.05);
	}
	100%{
		opacity: 1;
		-webkit-transform:scale(1);
	}
}
@-moz-keyframes scaleInSoft {
	0%{
		opacity: 0;
		-moz-transform:scale(1.05);
	}
	100%{
		opacity: 1;
		-moz-transform:scale(1);
	}
}
@-o-keyframes scaleInSoft {
	0%{
		opacity: 0;
		-o-transform:scale(1.05);
	}
	100%{
		opacity: 1;
		-o-transform:scale(1);
	}
}
@keyframes scaleInSoft {
	0%{
		opacity: 0;
		transform:scale(1.05);
	}
	100%{
		opacity: 1;
		transform:scale(1);
	}
}