/* 
 * livre blanc
 */
.site-vitrine .livreblanc > section {
	padding-top: 30px;
	padding-bottom: 20px;
	border-top: 1px solid #cccccc;
}
.site-vitrine .livreblanc > section.livreblanc-stats {
	background: url("/private/img/background/pattern_1.png");
}
.site-vitrine .livreblanc-header section h1 {
	text-align:center;
	padding-bottom:20px;
	font-size:24px;
	font-weight: 400;
}
.site-vitrine .livreblanc .livreblanc-header {
	margin: 0px;
	color: #2b2b2b;
	text-shadow: 0 1px 1px white;
	text-align: center;
	min-height: 450px;
	background: rgba(0, 0, 0, 0.55);
}
.section-white {
	background-color:white;
}
.livreblanc-header .call-to-action {
	padding: 20px;
	width:100%;
	color:white;
	text-shadow: 0 -1px 0px #00000082;
}
@media (max-width: 500px){
	.livreblanc-header {
		background: none;
		min-height:300px;
	}
	.livreblanc-header .call-to-action {
		background-position: 50% 50%;
		height: 100%;
	}
}
/*
* livre blanc resume 
*/
.livreblanc-resume {
	background-color: #e76707;
}
.livreblanc-resume h1 {
	color: white;
	font-size:400;
}
.livreblanc-resume h2 {
	color: white;
	font-size:200;
}

.livreblanc-explications {
	background: url("/private/img/background/pattern_1.png");
}
/*
* boutons vers eventbrite
*/
button.btn.btn-livreblanc {
	background-color: #3565ab;
	color:white;
}
button.btn.btn-livreblanc:hover {
	background-color:#346CBA;
}
.btn-livreblanc, 
.btn-voir-video{
	margin:4px;
}
.btn-livreblanc .fa, 
.btn-voir-video .fa{
	margin-right:4px;
}

.livreblanc-stats .thumbnail img {
	max-width: 150px;
}
.livreblanc-stats .thumbnail h2 {
	font-size:20px;
	margin-top:14px;
}
.livreblanc-stats .container > h2, .livreblanc-stats .container > h1 {
	margin-top: 4px;
	margin-bottom: 20px;
}

.livreblanc-stats .container > h1 {
	padding-bottom:4px;
	margin-bottom:4px;
}
.mini-container.container {
	max-width: 840px;
}

/* video */
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {width: 300%;left: -100%;top: -5%;}
}

.popin iframe {
	width: 90vw;
	height: 50vh;
	max-height:  500px;
	max-width: 900px;
}
