.site-vitrine .mentions_legales h2, .site-vitrine  .mentions_legales h3 {
  text-align: left;
  margin:14px 0 8px;
  
  color: #3366ab
}
 .site-vitrine  .mentions_legales h3 {
     font-weight:500;
 }