/* 
 * Globale à la page sur_mesure
 */


.sur_mesure-header {
	margin: 0px;
	background-image: url('/private/img/sur_mesure/sur_mesure_header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #2b2b2b;
	text-shadow: 0 -1px 0px #ffffff54;
	text-align: center;
	min-height: 450px;
}
.sur_mesure-header .call-to-action {
	padding: 20px;
	background: url('/private/img/sur_mesure/sur_mesure_header_flou.jpg') no-repeat;
	width:100%;
	background-size: cover;
	background-position: 0% -120px;
}
.sur_mesure-header .activite-sur_mesure img {
	width: 130px;
	display:inline-block;
	margin:8px 32px;
}
.sur_mesure-header .activite-sur_mesure .group {
	display:inline-block;
	max-width: 350px;
	vertical-align:  middle;
	text-align: left;
}
.sur_mesure-header .activite-sur_mesure h2 {
	font-size: 32px;
	text-align:  left;
}
.sur_mesure-header .activite-sur_mesure h2 .colored {
	color: #e86808;
	display:  inline;
	font-weight: 500;
}
.sur_mesure-header .activite-sur_mesure h3 {
	font-size:20px;
	display:block;
}

@media (max-width: 500px){
	.sur_mesure-header {
		background: none;
		min-height:300px;
	}
	.sur_mesure-header .call-to-action {
		background-position: 50% 50%;
		height: 100%;
	}
}



/*
* sur_mesure-benefices
*/
.sur_mesure-titre {
	margin:0 auto;
	text-align:center;
	color:white;
	background: linear-gradient(120deg, #e86808,#A84B07);
	padding: 40px;
	border-top: none;
}
.sur_mesure-titre h1 {
	padding:40px 5px;
}



/*
* sur_mesure-process
*/
.sur_mesure-realisations {
	background-color: white;
}
.sur_mesure-realisations h1 {
	color:#e86808;
	margin: 20px;
}
.sur_mesure-realisations .feature-image {
	height: 200px;
}
.sur_mesure-realisations .feature-image img {
	height: 80%;
	margin:0 auto;
	display:block;
}
.sur_mesure-realisations .feature-image img.ipad {
	height: 70%;
	margin-top: 6%;
	margin-bottom: 6%;
}
.sur_mesure-realisations .feature-image figcaption {
	text-align:center;
	color:gray;
	display:  block;
	max-width: 220px;
	margin: 6px auto 0px;
	font-size: 12px;
}

/*
* sur_mesure-experts
*/
.sur_mesure-experts {
	background:url('/private/img/background/pattern_2.png');
}
.sur_mesure-experts .avatar {
	border-radius:100px;
	width: 150px;
}
.sur_mesure-experts h2{
	margin:6px;
}
.sur_mesure-experts .btn-social {
	margin-top:10px;
	border-radius:100px;
	background: #2f62ac;
	padding: 5px;
	line-height:  0px;
}
.sur_mesure-experts h2 {
	font-size:24px;
}
.sur_mesure-experts .btn-social img {
	width: 18px;
}


@media (max-width: 979px) {
	.sur_mesure-realisations .feature-image + .feature-image {
		display:none;
	}
}

@media (max-width: 767px) {
	.sur_mesure-realisations .feature-image.pull-left {
		margin-right:20px;
	}
	.sur_mesure-realisations .feature-image.pull-right {
		margin-left:20px;
	}
	.sur_mesure-realisations .feature-image img {
		max-height: 130px;
	}
	.sur_mesure-realisations .feature-image figcaption {
		max-width: 180px;
	}
}

@media (max-width: 620px) {
	.sur_mesure-realisations .feature-image {
		display:block;
		float: none !important;
		height:initial;
		margin: 0 auto 20px;
		max-width:  100%;
	}
	.sur_mesure-realisations .feature-image img{
		width:100%;
		max-height: initial;
	}

	.sur_mesure-realisations .feature-image figcaption {
		max-width: 100%;
	}
	
	.sur_mesure-realisations .feature-image img.ipad {
		width:70%;
	}
}