/* 
 * tarif
 */
.site-vitrine .tarif > section {
	padding-top: 60px;
	padding-bottom: 20px;
	background-color:none;
	border-top: 1px solid #cccccc;
}
.tarif-header {
	margin: 0px;
	background-image: url('/private/img/tarif/tarif_header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #2b2b2b;
	text-shadow: 0 1px 1px white;
	text-align: center;
	min-height: 450px;
}
.tarif-header .call-to-action {
	padding: 20px;
	background: url('/private/img/tarif/tarif_header_flou.jpg') no-repeat;
	width:100%;
	background-size: cover;
	background-position: 0% -165px;
}
@media (max-width: 500px){
	.tarif-header {
		background: none;
		min-height:300px;
	}
	.tarif-header .call-to-action {
		background-position: 50% 50%;
		height: 100%;
	}
}


/*
** tarif-titre
*/

 .site-vitrine .tarif-titre h1{
	color: #2b2b2b;
	font-size:22px;
	font-weight: 500;
}
/*
** tarif-formation
*/
.tarif-formations {
	background-color:rgb(11,150,245)
}
.tarif-formations h2 {
	color:white;
	font-size:20px;
	font-weight:500;
}
.tarif-formations h3 {
	color:white;
	font-size:18px;
	font-weight:200;
}
.tarif-formations h4 {
	color: white;
	font-size:15px;
	font-style: italic;
	padding-bottom: 30px;
}
.tarif-formations img {
	max-height:100px;
	vertical-align:middle;
}

/*
** tarif-contact
*/
.tarif-contact h2 {
	font-size:18px;
	font-weight: 500;
	padding-bottom: 110px;
	padding-top: 0px;
	padding-left:50px;
	padding-right:50px;
}
