.panel.panel-default.community(ng-controller="community")
  h3.panel-heading Communauté
  .panel-body.list-group
    .users-wrapper(ng-if="users.administrateurs.length > 0")
      h2 Administrateurs ({{users.administrateurs.length}})
      .users.users-administrateurs
        .user(ng-repeat="user in users.administrateurs | orderBy:'-offline' track by user.id_utilisateur" ng-class="{online : user.online, 'rank-1': user.id_categorie == 1, 'rank-2': user.id_categorie == 2, 'rank-3': user.id_categorie == 3, 'rank-4': user.id_categorie == 4, 'rank-5': user.id_categorie == 5}"  ng-click="chargerEtAfficherProfilFocus($event, user.id_utilisateur);" ng-mouseleave="cancelTimeoutFocus()") 
          img.avatar(ng-src="{{user.avatar_url}}")
          h2 {{user.pseudo}}

    .users-wrapper(ng-if="users.experts.length > 0")
      h2 Experts ({{users.experts.length}})
      .users.users-experts
        .user(ng-repeat="user in users.experts | orderBy:'-offline' track by user.id_utilisateur" ng-class="{online : user.online, 'rank-1': user.id_categorie == 1, 'rank-2': user.id_categorie == 2, 'rank-3': user.id_categorie == 3, 'rank-4': user.id_categorie == 4, 'rank-5': user.id_categorie == 5}"  ng-click="chargerEtAfficherProfilFocus($event, user.id_utilisateur);" ng-mouseleave="cancelTimeoutFocus()") 
          img.avatar(ng-src="{{user.avatar_url}}")
          h2 {{user.pseudo}}

    .users-wrapper(ng-if="users.learners.length > 0")
      h2 Participants ({{users.learners.length}})
      .users.users-learners
        .user(ng-repeat="user in users.learners | orderBy:'-offline' track by user.id_utilisateur" ng-class="{online : user.online, 'rank-1': user.id_categorie == 1, 'rank-2': user.id_categorie == 2, 'rank-3': user.id_categorie == 3, 'rank-4': user.id_categorie == 4, 'rank-5': user.id_categorie == 5}"  ng-click="chargerEtAfficherProfilFocus($event, user.id_utilisateur);" ng-mouseleave="cancelTimeoutFocus()") 
          img.avatar(ng-src="{{user.avatar_url}}")
          h2 {{user.pseudo}}