doctype html
html(lang='fr' ng-app="pf_app")
	head
		meta(charset='utf-8')
		meta(name='hash_ressource', content='00000000')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		meta(name='author', content='#{espace.nom_long}')
		meta(name='google-site-verification', content='S_X9E5CawtD3BNGQ4ABq9BlbhPzwZIeTAVxWPQcRnYQ')
	
		- var titre = ((ressource_selectionne ? (ressource_selectionne.nom_long + " - ") : "") + espace.nom_long);
		- var description = (ressource_selectionne ? (ressource_selectionne.description ? ressource_selectionne.description : "Retrouvez l\'ensemble des discussions et documents de " + ressource_selectionne.nom_long) : ("Retrouvez l\'ensemble des formations et ressources de l\'espace " + espace.nom_long));
		
		title #{titre} 
		meta(name='description', content='#{description}')

		link(rel='shortcut icon', href='#{url_serveur_node}/public/ico/favicon.png')
		link(href='#{url_serveur_node}/public/lib/css/bootstrap_3.3.5.min.css', rel='stylesheet')
		link(rel='stylesheet' href='#{url_serveur_node}/serveur/css/kiosque_espace.css')
		link(rel='stylesheet' href='#{url_serveur_node}/serveur/css/message-list.css')
		link(rel='stylesheet' href='#{url_serveur_node}/serveur/css/message.css')
		link(rel='stylesheet' href='#{url_serveur_node}/serveur/css/documents.css')
		link(rel='stylesheet' href='#{url_serveur_node}/private/css/timeline.css')
		link(rel='stylesheet' href='#{url_serveur_node}/serveur/css/timeline.css')
		link(rel='stylesheet' href='#{url_serveur_node}/serveur/css/shortcuts.css')
		link(rel='stylesheet' href='#{url_serveur_node}/serveur/css/community.css')
		link(rel='stylesheet' href='#{url_serveur_node}/serveur/css/objectifs.css')
		link(rel='stylesheet' href='#{url_serveur_node}/public/fonts/font-awesome-4.2.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='#{url_serveur_node}/public/css/raleway.css')
		link(rel='stylesheet' href='#{url_serveur_node}/public/lib/css/toastr.min.css')

		link(rel='stylesheet' href='#{url_serveur_node}/app/css/buttons.css')
		link(rel='stylesheet' href='#{url_serveur_node}/app/css/tooltip.css')
		link(rel='stylesheet' href='#{url_serveur_node}/app/css/new_design.css')
		link(rel='stylesheet' href='#{url_serveur_node}/app/css/new_reseaux.css')
		link(rel='stylesheet' href='#{url_serveur_node}/app/css/new_forms.css')
		link(rel='stylesheet' href='#{url_serveur_node}/app/css/ng_animations.css')
		link(rel='stylesheet' href='#{url_serveur_node}/app/css/panels.css')
		link(rel='stylesheet' href='#{url_serveur_node}/app/css/profil_focus.css')
		link(rel='stylesheet' href='#{url_serveur_node}/app/css/toaster.css')
		
		script(type="text/javascript").
			var _paq = _paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="//piwik.pairform.fr/";
				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', '1']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();

		script(src='#{url_serveur_node}/dist/lib_espace.js')
		script(type="text/javascript").
			PF = {
				globals : {
					url : {
						root : '#{url_serveur_node}/',
						websockets : '#{url_serveur_ws}/',
						etherpad : "#{url_etherpad}"
					},
					types_mime : "#{types_mime}"
				},
				espace : !{JSON.stringify(espace)}
			};

		if ressource_selectionne
			script(type="text/javascript").
				PF.ressource = !{JSON.stringify(ressource_selectionne)};
		if messages
			script(type="text/javascript").
				PF.messages = !{JSON.stringify(messages)};
		if utilisateurs
			script(type="text/javascript").
				PF.utilisateurs = !{JSON.stringify(utilisateurs)};

		script(src='#{url_serveur_node}/dist/pf_espace.js')

	body.pf
		toaster-container.pf(toaster-options="{'position-class': 'toast-bottom-right'}")
		img#logo_background(style="background-image:url(#{espace.url_logo}.blur.jpg)")

		include ../../app/views/user_short_profile
		include ../../app/views/user_menu
		include ../../app/views/connexion
		.page-header.clearfix
			.espace
				a(href=url_serveur_node + "/doc/" + espace.id_espace)
					img(src='#{espace.url_logo}').logo_espace
					.title
						h1 #{espace.nom_long}
						small #{espace.url}

			if ressource_selectionne
				if utilisateur_connecte
					- var ls = utilisateur_connecte.liste_roles, rs = ressource_selectionne;
					- var nouveau_document = utilisateur_connecte.est_admin_pairform || (ls && ls[rs.id_espace] && (ls[rs.id_espace].gerer_ressources_et_capsules || (ls[rs.id_espace][rs.id_ressource] && ls[rs.id_espace][rs.id_ressource].gerer_capsule)))
					- var gerer_ressource = utilisateur_connecte.est_admin_pairform || (ls && ls[rs.id_espace] && (ls[rs.id_espace].gerer_ressources_et_capsules || (ls[rs.id_espace][rs.id_ressource] && ls[rs.id_espace][rs.id_ressource].editer_ressource)))
					.shortcuts
						if nouveau_document
							a.btn.btn-success(ng-href="{{res_url_root + 'home/backoffice/capsules/creationCapsule/' + ressource.id_ressource + '?id_espace='+ ressource.id_espace + '&nom_espace=' + espace.nom_long + '&nom_ressource=' + ressource.nom_court}}" target="_blank") 
								//- img(alt="PairForm" src="/public/img/icone/doc_pf.png")
								i.fa.fa-plus
								label Nouveau document
						if gerer_ressource
							a.btn.btn-info(ng-href="{{res_url_root + 'home/backoffice?id_espace='+ espace.id_espace + '&id_ressource=' + ressource.id_ressource}}" target="_blank") 
								i.fa.fa-pencil
								label Gérer cette ressource

				.ressource
					a(href=url_serveur_node + "/doc/" + espace.id_espace + "/" + ressource_selectionne.id_ressource)
						img(src='#{ressource_selectionne.url_logo}').logo_ressource
						.title
							h1 #{ressource_selectionne.nom_long}
				
					if ressources.length > 1
						.list-others
							for ressource in ressources
								- var url_ressource = url_serveur_node + "/doc/" + espace.id_espace + "/" + ressource.id_ressource;
								if ressource_selectionne .id_ressource != ressource.id_ressource
									a(href=url_ressource, data-count=nombre_messages_ressources[ressource.id_ressource])
										img(src=ressource.url_logo).logo_ressource
										.other-title
											h1= ressource.nom_long 

		.container
			if !ressource_selectionne
				.col-xs-12
					.panel.panel-default
						h3.panel-heading Ressources de #{espace.nom_court} :
						.panel-body.list-group
							for ressource in ressources
								- var url_ressource = url_serveur_node + "/doc/" + espace.id_espace + "/" + ressource.id_ressource;
									a.col-md-2.col-sm-3.col-xs-4.ressource-item(href=url_ressource, data-count=nombre_messages_ressources[ressource.id_ressource])
											img(src=ressource.url_logo)
											h4= ressource.nom_long 
											//- span= "Créé le "
												span(ng-bind='::"'+ ressource.date_creation +'" | date_timestamp')
												span= " par "+ ressource.pseudo_createur

			if ressource_selectionne
				.col-lg-8.col-md-8.col-sm-7.col-xs-12
					if ressource_selectionne.description
						.alert.alert-info.description_pre-line= ressource_selectionne.description
					include timeline
					.panel.panel-default(ng-controller="messages")
						h3.panel-heading Discussions
						.panel-body.list-group
							pf-message-list(messages="messages" limit="3" utilisateur_local="utilisateur_local")
				
				.col-lg-4.col-md-4.col-sm-5.col-xs-12
					include community
					include objectifs

					if capsules
						.panel.panel-default.documents
							h3.panel-heading= "Documents de "
								span= ressource_selectionne.nom_long
							.panel-body.list-group
								- var formats_noms_icones = ["doc_pf.png", "doc_scenari.png", "doc_chainedit.png", "doc_injecteur.png", "doc_storyline2.png", "doc_etherpad.png", "doc_storyline3.png"]
								for capsule in capsules
									.media.list-group-item.capsule-item
										.media-body
											a(href=capsule.url_web data-count=nombre_messages_capsules[capsule.id_capsule])
												img.icone_format(ng-src='#{url_serveur_node}/public/img/icone/#{formats_noms_icones[capsule.id_format]}', alt='#{capsule.nom_long}')
												h4= capsule.nom_long
											i.fa.fa-info-circle(ng-click="informations_capsule_affichees = (capsule.informations_capsule_affichees == #{capsule.id_capsule} ? null : #{capsule.id_capsule})" title="Informations")
											if !capsule.url_web
												i.fa.fa-eye-slash(title="Ce document n'est pas encore publié, vous ne pouvez pas y accéder")

											.description_pre-line(ng-class="{description_on : informations_capsule_affichees == #{capsule.id_capsule}}")
												span= "Auteurs : "+ capsule.auteurs
												br
												span= "Licence : "+ capsule.licence
												br
												span= "Créé le "
													span(ng-bind='::"'+ capsule.date_creation +'" | date_timestamp')
												if capsule.date_edition
													br
													span= "Mis à jour le "
														span(ng-bind='::"'+ capsule.date_edition +'" | date_timestamp')
												br
												br
												p= capsule.description