.message-list-action-wrapper
  //- .message-list-actions
    ul.display-options
      //- li#com-move
        .fa.fa-arrows
      li#com-search
        .fa.fa-search
        input.option-label(type="search", ng-model="filtre_messages", results="5", autosave="fr.emn.pairform.search", placeholder="{{'WEB_BUTTON_RECHERCHER' | translate}}")
      //-
        li id="com-detach" ng-click="changerAffichage()" class="btn-action">
                        <span>{{(expanded ? 'web_label_reduire_panneau' : 'WEB_LABEL_AGRANDIR_PANNEAU') | translate}}</span>
                    </li
      li#com-detach(ng-click="toggleAffichageCarte(!carte_visible)")
        .fa.fa-map-marker
        span.option-label {{carte_visible ? ( "BUTTON_CACHER_CARTE" | translate ) : ( "BUTTON_AFFICHER_CARTE" | translate) }}
      li#com-sort(ng-click="changerOrdreTri()")
        .fa.fa-sort
        span.option-label {{"WEB_BUTTON_TRIER_PAR" | translate}} {{next_sort_type}}

  .message-list-write
    // Hack style="width:1px;height:1px" pour https://github.com/openlayers/ol2/issues/669
    pf-carte#map_(data="message_geolocalise", ng-show="carte_visible" style="width:320px;height:120px")
    form#formComBar(method="post", ng-submit="envoyer()" ng-class="{stick:(visible_menu_options || storage.pf_nouveau_message.contenu)}")
      textarea(ng-model="storage.pf_nouveau_message.contenu", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", placeholder="Votre commentaire...")
      #message-actions
        .message-action#message-pjs(title="{{'BUTTON_PUBLIER_MESSAGE_PIECE_JOINTE' | translate}}" ng-class="{active : pieces_jointes.length > 0}")
          #message-pjs-img.message-pjs-cog(ng-click="afficherPiecesJointes()")
        .message-action#message-options(ng-if="((utilisateur_local.rank_ressources[ressource.id_ressource].id_categorie >= 4) || (utilisateur_local.est_admin))" title="{{'BUTTON_PUBLIER_MESSAGE_OPTIONS' | translate}}")
          .message-options-cog(ng-click="afficherOptions();")
        .message-action#message-reseaux(title="{{'BUTTON_PUBLIER_MESSAGE_RESEAUX' | translate}}" ng-class="{active : nouveau.liste_reseaux.length > 0}")
          .message-action-button(ng-click="afficherReseaux();")
        //- .message-action#message-langue(title="{{'BUTTON_CHANGER_LANGUE_MESSAGE' | translate}}")
          img#message-langue-img(ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codefromid(storage.pf_nouveau_message.id_langue) + '.png'}}", ng-click="fonctionPasDisponible()", alt="")
        //- .message-action#message-geolocalisation
          #message-geolocalisation-img(ng-class="{active : storage.pf_nouveau_message.geolocalisation.longitude}" ng-click="afficherGeolocalisation()", alt="")            
          pf-menu-options-geolocalisation(ng-show="visible_menu_options == 'geolocalisation'")
          //- <img id="message-langue-img" ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codefromid(storage.pf_nouveau_message.id_langue) + '.png'}}" ng-click="visible_menu_langue = (visible_menu_langue ? false : true)" alt=""/>
          //- <pf-menu-langue ng-if="visible_menu_langue" />
        input(type="submit", value="")
      .slider(ng-show="visible_menu_options == 'pieces_jointes'")
        pf-upload-pj
      .slider(ng-show="visible_menu_options == 'message'")
        .header
          .option-defi(ng-if="((utilisateur_local.rank_ressources[ressource.id_ressource].id_categorie >= 4) || (utilisateur_local.est_admin))" class="message-defi-container")
            input(type="checkbox" ng-model="nouveau.est_defi")
            span Défi
      .slider(ng-show="visible_menu_options == 'reseaux'")
        .option-reseau
          include reseaux
.message-list-wrapper(ng-class="{'no-margin' : transversal}")
  pf-message.comBox(ng-repeat="message in messages_sorted_array = (messages | orderMessages:this) | search:filtre_messages | limitTo:limit track by message.id_message")
    include message

.message-list-charger.btn-action(ng-show="messages_sorted_array.length > limit" ng-click="increaseLimit()") 
  i.fa.fa-caret-down
  span {{ "BUTTON_AFFICHER_PLUS_DE_MESSAGES" | translate }}
