.panel.panel-default.objectifs(ng-controller="objectifs", ng-if="utilisateur_local.est_connecte && ressource.id_usage == 1")
  h3.panel-heading Objectifs d'apprentissage 
    span(ng-if="ressource.objectifs_apprentissage.liste_objectifs_apprentissage.length") ({{ressource.objectifs_apprentissage.nb_objectifs_valides + "/" + ressource.objectifs_apprentissage.liste_objectifs_apprentissage.length}})
  .panel-body.list-group.objectifs-wrapper
    ul
      li.fiche-ressource-tab-objectif-apprentissage(pf-objectif-apprentissage="", ng-repeat="objectif in ressource.objectifs_apprentissage.liste_objectifs_apprentissage track by objectif.id_objectif")
        input(type="checkbox", ng-model="objectif.est_valide", ng-checked="objectif.est_valide" ng-true-value="1" ng-false-value="0" ng-click="updateObjectif(objectif)")
        input(type="text", placeholder="Je cherche à atteindre...", ng-model="objectif.nom", ng-blur="updateObjectif(objectif)")
        .fa.fa-trash.fiche-ressource-tab-objectif-apprentissage-delete(ng-click="enleverObjectif(objectif)")
    .btn.btn-default(ng-click="ajouterObjectif()") Ajouter un objectif

  h3.panel-heading.clearfix Motivations
    .fa.fa-eye.pull-right(ng-click="profil_apprentissage_affiche = profil_apprentissage_affiche ? false : true" ng-class="{'fa-eye-slash' : profil_apprentissage_affiche}") 
  .panel-body.list-group.motivations-wrapper 
    div(ng-if="profil_apprentissage_affiche" pf-question-profil-apprentissage="", ng-repeat="question in ressource.profil_apprentissage.liste_questions track by question.id_question")
      h2.tab-header {{question.question}}
      ul
        li(ng-repeat="rep in question.liste_reponses track by rep.id_reponse")
          input(type="radio", ng-model="question.id_reponse_valide", ng-value="rep.id_reponse" ng-click="updateProfilQuestion(question)")
          label {{rep.reponse}}