.pf.reseau(ng-controller="reseaux")
  section.reseau-container
    .slider-help.clearfix
      //span(ng-repeat="reseau in nouveau.liste_reseaux track by $index") {{reseau.id_collection}};
      span(ng-if="nouveau.liste_reseaux.length == 0" title="Par défaut") Votre message sera visible par tous.
      span(ng-if="nouveau.liste_reseaux.length > 0" ) Votre message sera visible par les réseaux sélectionnés.
      span(ng-if="nouveau.message_parent_prive && nouveau.message_parent_prive != '0'") Le message auquel vous répondez est privé : vous ne pouvez pas changer la visibilité.
      a.btn.btn-info.gerer-reseau(href=urls.serveur_node + "/home/reseau" target="pf_reseaux") 
        img(src=urls.serveur_node +"/public/img/icone/reseau.png", alt="Réseaux") 
        span Gérer mes réseaux
    .slider-error.clearfix
      span(ng-if="(cercles.length == 0) && (classes.length == 0) && (classesRejointes.length == 0)") Vous n'avez pas encore de réseau.
        a.btn.btn-info.gerer-reseau(href=urls.serveur_node + "/home/reseau" target="pf_reseaux") 
          img(src=urls.serveur_node +"/public/img/icone/reseau.png", alt="Réseaux") 
          span Créer un réseau
    ul.reseau-liste(ng-if="!nouveau.message_parent_prive || nouveau.message_parent_prive == '0'" ng-show="cercles.length || classes.length || classesRejointes.length")
      li.reseau-item(ng-click="utiliserReseau(cercle)" ng-class="{selection: messageAReseau(cercle)}" ng-repeat="cercle in cercles track by cercle.id_collection", data-id_collection="{{cercle.id}}>")
        .reseau-liste-user(ng-class="{one_user : cercle.profils.length == 1, two_user : cercle.profils.length == 2, three_user : cercle.profils.length >= 3}")
          .reseau-user(ng-repeat="profil in cercle.profils | limitTo:3 track by profil.id_utilisateur ")
            img.pf-user-avatar(ng-src="{{profil.avatar_url || profil.image}}", alt="{{profil.username}}")
        span.reseau-item-label {{cercle.nom}}
      li.reseau-item(ng-click="utiliserReseau(classe)" ng-class="{selection: messageAReseau(classe)}" ng-repeat="classe in classes track by classe.id_collection", data-id_collection="{{classe.id}}")
        .reseau-liste-user(ng-class="{one_user : classe.profils.length == 1, two_user : classe.profils.length == 2, three_user : classe.profils.length >= 3}")
          .reseau-user(ng-repeat="profil in classe.profils | limitTo:3 track by profil.id_utilisateur ")
            img.pf-user-avatar(ng-src="{{profil.avatar_url || profil.image}}", alt="{{profil.username}}")
        span.reseau-item-label {{classe.nom}}
      li.reseau-item(ng-click="utiliserReseau(classeRejointe)" ng-class="{selection: messageAReseau(classeRejointe)}" ng-repeat="classeRejointe in classesRejointes track by classeRejointe.id_collection", data-id_collection="{{classeRejointe.id}}>")
        .reseau-liste-user(ng-class="{one_user : classeRejointe.profils.length == 1, two_user : classeRejointe.profils.length == 2, three_user : classeRejointe.profils.length >= 3}")
          .reseau-user(ng-repeat="profil in classeRejointe.profils | limitTo:3 track by profil.id_utilisateur ")
            img.pf-user-avatar(ng-src="{{profil.avatar_url || profil.image}}", alt="{{profil.username}}")
        span.reseau-item-label {{classeRejointe.nom}}
