div(ng-controller="timeline" ng-show="sessions.length > 0")
  .panel.panel-default(ng-repeat="session in sessions track by session.id_session")
    h3.panel-heading {{session.nom}}
    .panel-body.list-group
      .session
        .timeline-holder
          timeline.timeline-items-container.timeline-frontoffice
            .timeline
              .timeline__step.timeline-item(ng-repeat="item in session.items | orderBy:'date_diffusion' track by $index" ng-class="{disabled: item.disabled}")
                span.timeline__step-date(ng-click="displayItem(item, $event)")
                  i.fa.fa-calendar
                  | {{moment(item.date_diffusion, "x", "fr").format('L')}}
                img.timeline__step-marker(ng-click="displayItem(item, $event)" ng-if="item.type_icone != 'fa'" draggable ng-src='{{item.icone}}', alt='{{item.titre}}' item="item")
                i.timeline__step-marker.fa.fa-2x(ng-click="displayItem(item, $event)" ng-if="item.type_icone == 'fa'" ng-class="item.icone" draggable item="item")
                span.timeline__step-title(ng-click="displayItem(item, $event)") {{item.titre}}
          
                .timeline-more(ng-show="$parent.display_item == item")
                  .item-titre
                    h2 {{item.titre}}
                  .item-date 
                    i.fa.fa-calendar
                    | {{moment(item.date_diffusion, "x", "fr").format('LLLL')}}
                  .item-description.alert.alert-info.description_pre-line(ng-if="item.description") {{item.description}}
                  .link-container(ng-if="!item.disabled")
                    a.btn.btn-success(ng-href='{{item.url}}') 
                      span(ng-if='item.sub_type == "presentiel"') Ouvrir le lien
                      span(ng-if='item.sub_type == "video"') Accéder à la vidéo conférence
                      span(ng-if='item.sub_type == "quizz"') Accéder au questionnaire
                      span(ng-if='item.sub_type == "ressource"') Accéder à la ressource
                      span(ng-if='item.type == "document"') Accéder au document