#avatar_upload > form > *{
	display: inline-block;
	vertical-align: middle;
}
#avatar_upload input[type=submit] {
	float: initial;
	display: block;
}
#avatar_upload .cropArea {
    background: #F1F1F1;
    overflow: hidden;
    width: 380px;
    height: 380px;
    margin: 0 auto;
    display: block;
}
img-crop {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}
img-crop canvas {
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);/* mobile webkit */
}
