/* General */
.ressource-item, .capsule-item {
	width: 80px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align:center;
}
.ressource-item img, .capsule-item img {
    height: 48px;
    margin: 0 auto;
    display: block;
}
.ressource-item .glyphicon-lg, .capsule-item .glyphicon-lg{
	font-size: 28px;
	line-height: 40px;
	height: 48px;
	display: block;
}
.capsule-item.disabled {
  user-select: none;
  -webkit-user-drag: none;
}
.capsule-item.disabled img{
  filter: grayscale(100);
  user-select: none;
  -webkit-user-drag: none;
}
.capsule-item .disabled-icon {
  color: #a00000;
  font-size:24px;
  position:absolute;
  top: 8px; 
  left: 24px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 40px;
  padding: 4px;
}
.capsule-item .btn-group-vertical {
	position: absolute;
	width: 30px;
	top: 0;
	/* bottom: 0; */
	right: 10px;
	text-align: center;
	opacity: 0;
	transition: .2s ease-out all;
}
.capsule-item .btn-group-vertical .btn-mini {
	padding: 0px;
}
.capsule-item .btn-group-vertical.open, .capsule-item:hover .btn-group-vertical {
	opacity: 1;
	right: -10px;
}
.capsule-item .btn-group-vertical.open .hover-menu, .capsule-item:hover .btn-group-vertical .hover-menu {
	transform: translate(-60%,10%);
}
.finder {
	margin-bottom: 20px;
}
.open>.dropdown-menu {
	opacity:1;
}
.btn-wrapper{
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
}
.hover-menu {
	/* position: fixed; */
	opacity: 0;
	background: #ffffff;
	border: 1px solid #a8a8a8;
	z-index: 2000;
}
.hover-menu:after, .hover-menu:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.hover-menu:after {
	border-color: rgba(240, 240, 240, 0);
	border-bottom-color: #ffffff;
	border-width: 12px;
	margin-left: -12px;
}
.hover-menu:before {
	border-color: rgba(168, 168, 168, 0);
	border-bottom-color: #a8a8a8;
	border-width: 14px;
	margin-left: -14px;
}

.hover-menu > * {
	display: block;
	padding: 5px 12px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
	font-size: 12px;
	background: none;
	text-align: center;
	width: 100%;
}
.hover-menu > *:last-child{
	border:none;
}
.hover-menu.hover-menu-top{

}
/* Espace */

.bo-espace {
	width: 100%;
}
.bo-espace > div{
	margin-bottom:10px;
}

.espace-select, .ressource-select {
    /* max-width: 280px; */
    /* float: left; */
}
.espace-select-deselect {
  line-height: 40px;
  padding-left: 14px;
}
.ressource-select {
	text-align: right;
	float: right;
}
.btn-white {
	background:white;
	padding:4px;
}
.espace-select .dropdown-menu, .ressource-select .dropdown-menu {
	min-width:250px;
}
.espace-select .dropdown-menu li, .ressource-select .dropdown-menu  li{
	display:inline-flex;
	width:100%;
	font-size: 12px;
}

.ressource-select .btn, .espace-select .btn {
  border:none;
  background:white;
}
.ressource-select button, .espace-select button {
  border:none;
  text-align: left;
  background: none;
  padding: 0;
}
.btn-mini {
	padding: 8px 6px;
	color: #424242;
}
.glyphicon-lg {
	font-size: 22px;
	vertical-align: sub;
	/* margin-right: 14px; */
	color: #464646;
}
.top-bar .btn-mini {
	float:right;
}

.dropdown-toggle img, .dropdown-menu img, .dropdown-menu .glyphicon{
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    margin: 0px 10px;
}
.dropdown-toggle span, .dropdown-menu span{
    /* display: inline-block; */
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-line;
    line-height: 38px;
    margin: 0 4px;
}
.dropdown-menu li a{
	display: block;
	padding: 4px 0;
	width: 100%;
	text-align: left;
}

.ressource-item {
    /* background:white; */
    /* margin:4px; */
    padding: 12px 4px;
    /* border-right: 1px solid #cccccc; */
}

/* Ressource */

.carousel-indicators {
	bottom: -35px;
}
.carousel-indicators li {
	border: 1px solid rgb(94, 94, 94);
}
.carousel-indicators .active {
	background-color: #4949CE;
}


.liste-capsule {
	margin:10px 0;
}


