
#formComBar input,
#formComInline input {
	float: right;
}
#comList{
	/*margin-top: 56px;*/
	margin-top: 100px;
}
#comList.no-margin{
	margin-top: 50px;
}
#formComBar{
	display: block;
	position: relative;
	box-shadow: 0 14px 28px -14px rgba(0, 0, 0, 0.5);
	z-index: 400;
	/*overflow: hidden;*/
}
#formComBar textarea, #formComBar textarea:not(:focus){

	min-width: 495px;
	border: none;
	resize: vertical;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	border-radius: 4px;

	width: calc(100% - 64px);
	width: -moz-calc(100% - 64px);
	width: -webkit-calc(100% - 64px);
	display: block;
	font-family: Helvetica;
	padding: 12px;
	-webkit-transition:all ease-in-out .2s;
	-moz-transition:all ease-in-out .2s;
	-o-transition:all ease-in-out .2s;
	transition:all ease-in-out .2s;
}
#formComBar:not(:hover) textarea{
	height: 12px;
	overflow-y:hidden;
	/*-webkit-animation : delayedMinimize 4s ease-in-out;*/
	-webkit-transition-delay:4s;
	-moz-transition-delay:4s;
	-o-transition-delay:4s;
	transition-delay:4s;
}

#formComBar textarea ~ *{
	-webkit-transition:all ease-in-out .2s;
	-moz-transition:all ease-in-out .2s;
	-o-transition:all ease-in-out .2s;
	transition:all ease-in-out .2s;
	/*transition-delay:4s;*/
	opacity: 1;
}
#formComBar:not(:hover) > div, #formComBar:not(:hover) > pf-upload-pj{
	opacity: 0;
	visibility: hidden;
	/* display: none; */
	-webkit-transition-delay:4s;
	-moz-transition-delay:4s;
	-o-transition-delay:4s;
	transition-delay:4s;
}
#formComBar:hover textarea, #formComBar textarea:focus{
	height: 80px;
	overflow-y:auto;
	transition-delay:0s;
}

@-webkit-keyframes delayedMinimize{
	0%{
		min-height: 80px;
		height: auto;
	}

	90%{
		min-height: 80px;
		height: auto;
	}
		
	100%{
		min-height: auto;
		height: 12px;
	}
}

@-webkit-keyframes delayedMinimize{
	0%{
		min-height: 80px;
		height: auto;
	}

	90%{
		min-height: 80px;
		height: auto;
	}
		
	100%{
		min-height: auto;
		height: 12px;
	}
}
#formComBar #message-actions {
display: inline-block;
position: absolute;
right: 0px;
/*top: 0px;*/

padding: 0 8px;
background: rgba(242, 242, 242, 0.9);
border: 1px solid rgba(190, 190, 190, 0.8);
border-bottom-right-radius: 18px;
border-bottom-left-radius: 18px;
}
#formComBar input[type=submit], #message-options, #message-langue, #message-pjs{
	/*position: absolute;*/
	cursor: pointer;
	display: block;
	/*right: 0px;*/
	/*z-index: 2000;*/
	float: left;
	margin-top: 0px;
	width: 24px;
	height: 24px;
	padding: 4px;
}
#formComBar input[type=submit] {
	/*margin-top: 64px;*/
	display: block;
	border: none;
	box-sizing: content-box;
	background: url(../img/envoyer.png) no-repeat;
	background-size: 28px;
	background-position: 2px 2px;
}
#message-langue {
	/*margin-top: 32px;*/
}
#message-langue #message-langue-img {
	height: 20px;
	width: auto;
	padding: 2px;
}
.ui-tooltip-top #message-options {
margin: 0px 15px 0 0;
}
.options-cog, .message-options-cog{

	width: 24px;
	height: 24px;
	background: url(../img/gear_24.png) 50% no-repeat;
}
.message-pjs-cog{
	width: 24px;
	height: 24px;
	background: url(../img/gallerie_black.png) no-repeat;
	background-size: 24px;
}
.message-pjs-selected{
background: url(../img/gallerie_orange.png) no-repeat;background-size: 24px;
}

#pjs-layout.ng-hide {
	margin-top: -20px;
	opacity: 0;
	/* display: block !important; */
	visibility: hidden;
}

pf-upload-pj{

display: block;position: absolute;}
#pjs-layout{
	opacity: 1;
	margin-top: 0px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: rgba(255, 255, 255, 0);
	padding: 9px;
	background: rgba(242, 242, 242, 0.9);
	border: 1px solid rgba(190, 190, 190, 0.8);
	border-bottom-right-radius: 18px;
	border-bottom-left-radius: 18px;
	width: 354px;
	/* padding-right: 150px; */
	text-align: left;
	transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;
}
#pjs-layout div{
	/*width: 60px;*/
	height: 60px;
	margin: 0 5px;
	border-radius: 8px;
	vertical-align: top;
	display: inline-block;
	position: relative;
}
#pjs-layout div img{
	/*width: 60px;*/
	height: 60px;
	cursor: pointer;
	border-radius: 8px;
}
#pjs-layout .pj-file {
    border: 2px #AFAFAF solid;
    font-size: 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border-top-left-radius: 14px;
    width: 50px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    color: #585858;
    box-shadow: 62px 62px 0px -65px #EAEAEA inset;
    opacity: 0.7;
}
#pjs-layout #nouvelle-pj{
	border: 2px grey dashed;
	background-color: #FBFBFB;
	width: 60px;
	height: 60px;
	cursor: pointer;
	content: "+";
	text-align: center;
	font-size: 60px;
	line-height: 50px;
	color: #585858;
	opacity: 0.7;
}

#pjs-layout #nouvelle-pj.dragover{
	border: 2px orange dashed;
}

.pjCropArea {
	overflow: hidden;
	width:100%;
	height:300px;
	text-align: center;
	padding: 7px;
	position: relative;
}

.btn-fermer-pj{
	background: rgb(247, 80, 80);
	position: absolute;
	right: -4px;
	top: -4px;
	float: right;
	font-size: 11px;
	line-height: 14px;
	font-weight: bolder;
	content: "x";
	width: 14px;
	height: 14px;
	/* color: transparent; */
	z-index: 20000;
	/* text-shadow: 0px 1px 1px black; */
	text-align: center;
	border-radius: 50%;
	border: 1px rgba(255, 255, 255, 0.5) inset;
	/* box-shadow: 0 0 1px rgb(136, 136, 136); */
	/* opacity: 0.8; */
	cursor: pointer;
	transition: opacity ease-in-out .2s,background-color ease-in-out 0.2s;
}

.btn-valider-crop{
	background: rgb(80, 247, 80);
	position: absolute;
	left: 4px;
	top: 4px;
	float: right;
	font-size: 11px;
	line-height: 14px;
	font-weight: bolder;
	content: "ok";
	width: 14px;
	height: 14px;
	/* color: transparent; */
	z-index: 20000;
	/* text-shadow: 0px 1px 1px black; */
	text-align: center;
	border-radius: 50%;
	border: 1px rgba(255, 255, 255, 0.5) inset;
	/* box-shadow: 0 0 1px rgb(136, 136, 136); */
	opacity: 0.8;
	cursor: pointer;
	transition: opacity ease-in-out .2s,background-color ease-in-out 0.2s;
}

/*.options-cog:hover, .message-options-cog:hover{
	-webkit-animation: rotateCog 2s 1 ease-in-out;
	-moz-animation: rotateCog 2s 1 ease-in-out;
	-o-animation: rotateCog 2s 1 ease-in-out;
}*/
@-webkit-keyframes rotateCog {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotateCog {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-o-keyframes rotateCog {
	from { -o-transform: rotate(0deg); }
	to { -o-transform: rotate(360deg); }
}
pf-menu-options-message, pf-menu-changer-role {
	display: block;
 
}
pf-menu-options-message.ng-hide > .message-options-container{
	opacity: 0;
}
.message-options-container {
	opacity: 1;
	transition:all ease-in-out .2s;

	-moz-transform: translate(-50%, -100%);
	-webkit-transform: translate(-50%, -100%);
	-o-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
	margin-top: -35px;
}
.message-options-container span {
	color: white;
}
.message-options-container.message-options-tooltip{
	margin: -80px -80px;
}
.message-visibilite-container, .message-defi-container {
	display: inline-block;
	margin: 0 4px;
	vertical-align: top;
}
.message-visibilite-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 140px;
}
.message-visibilite-item {
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	padding: 2px 7px;
	margin: 2px;
	color: rgb(68, 68, 68);
	text-shadow: 0 0 2px silver;
	background: rgb(226,226,226); /* Old browsers */  background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */  background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */  background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */  background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */  background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */;
	box-shadow: 0 0 2px black;
	border-radius: 20px;
	cursor: pointer;
}
.message-visibilite-item:hover{
	background: rgb(255, 189, 48);
}
.message-visibilite-add-item {
	color: white;
	background: rgb(79, 118, 240);
	transition: background .2s ease-in-out;
	border: 2px solid white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.56);
	text-shadow: 0 0 2px black;
	padding: 0px 4px;
}
#comBar, #formComBar, nav, #profil-wrapper, textarea{

	font-size: 14px;

}
/********************** Display des commentaires **********************/
.nbreCom {
	width: 48px;
	height: 48px;
	display: block;
	float: right;
	position: relative;
	top: -24px;
	vertical-align: middle;
	text-align: center;
	line-height: 48px;
	background-image: url("../img/bubble.png");
	content: "1";
	z-index: 10;
	cursor: pointer;
}
#comBar {
	/*cursor: move;*/
	box-sizing: border-box;
	z-index: 2000;
	font-size: 14px;
	position: fixed;
	min-width: 795px;
	height: 50%;
	/*width: 60%; */
	bottom: 0px;
	overflow: auto;
	/*resize: both;*/
	background: #ECECEC;
/*  background: -moz-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(20%, #eaeaea), color-stop(80%, #dddddd), color-stop(100%, #dbdbdb));
	background: -webkit-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: -o-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: -ms-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: linear-gradient(to bottom, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dbdbdb', GradientType=0);
*/  opacity: 0.98;

	padding: 20px 0px 20px 20px;
	box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.2);
	border-top-right-radius: 4px;
	
	transition:all ease-in-out .2s;
}

#comBar .btn-cross-fermer {
	top: -14px;
	margin-right: -8px;
}

#comBar #comAction {
	display: inline-block;
	position: fixed;
	vertical-align: top;
	padding: 0 20px;
}
#comBar #comAction > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#comBar #comAction > ul li {
	cursor: pointer;
	display: block;
	line-height: 22px;
	/*width: 155px;*/
	width: 150px;

	margin-bottom: 8px;
	/*transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;
	-webkit-filter: grayscale(100%);
	-webkit-transform: translate3d(0, 0, 0);*/
	/* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

#comBar #comAction > ul li img {
	vertical-align: middle;
}
#comBar #comContainer {
	display: inline-block;
	padding: 0 20px;
/*  width: calc(100% - 240px);
	width: -moz-calc(100% - 240px);
	width: -webkit-calc(100% - 240px);
	min-width: 520px;*/
	width: 520px;
	margin-left: 185px;
	/* Customisation de la couleur des commentaires */

}
#comAction::before {
	content: "";
	position: absolute;
background: rgba(236, 236, 236, 0.9);
	top: -20px;
	left: -2px;
	width: 101%;
	display: block;
	height: 20px;
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

#comBar #comContainer::before.active::before{
	opacity:1;
}

#comBar #comContainer .comBox {
	/*padding: 12px 12px 2px 22px;*/
	padding: 20px;
	display: block;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	margin-bottom: 10px;
	border-radius: 4px;
	z-index: 25;
	clear: both;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 40px; 
  /*
      -webkit-transition: -webkit-transform .3s ease;
      -webkit-transform-origin-x: 0px;
      -webkit-transform-origin-y: 0px;
      -webkit-transform-origin-z: 0px;    
      -webkit-transform-style: preserve-3d;
      
      &:hover {
        -webkit-background-size: 225px 220px;
      
        -webkit-transform: rotateX(10deg);
      }
      */

	background: rgba(248, 248, 248, 1);
}
#comBar #comContainer .comBox.highlighted {
	-webkit-animation: highlight ease-in-out 1s normal forwards;
	-moz-animation: highlight ease-in-out 1s normal forwards;
	-o-animation: highlight ease-in-out 1s normal forwards;
	animation: highlight ease-in-out 1s normal forwards;
	-webkit-backface-visibility:hidden;
}

@-webkit-keyframes highlight{
	0% { 
		-webkit-transform: scale(1);
	}
	50%{
	 -webkit-transform: scale(1.05); 
	}
	100% { 
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes highlight{
	0% { 
		-moz-transform: scale(1);
	}
	50%{
	 -moz-transform: scale(1.05); 
	}
	100% { 
		-moz-transform: scale(1);
	}
}
@-o-keyframes highlight{
	0% { 
		-o-transform: scale(1);
	}
	50%{
	 -o-transform: scale(1.05); 
	}
	100% { 
		-o-transform: scale(1);
	}
}
@keyframes highlight{
	0% { 
		transform: scale(1);
	}
	50%{
	 transform: scale(1.05); 
	}
	100% { 
		transform: scale(1);
	}
}


#comBar #comContainer .comBox.rank-1 .comContent .comTitle .comUserRank{
	color: rgb(50, 113, 21);
}
#comBar #comContainer .comBox.rank-1{
		border-left: 2px rgba(53, 171, 0, 0.81) solid;
}
#comBar #comContainer .comBox.rank-2 .comContent .comTitle .comUserRank{
	color: rgba(17, 46, 197, 0.63);
}
#comBar #comContainer .comBox.rank-2{
		border-left: 3px rgba(17, 46, 197, 0.63) solid;
}
#comBar #comContainer .comBox.rank-3 .comContent .comTitle .comUserRank{
	color: rgb(169, 2, 2);
}
#comBar #comContainer .comBox.rank-3{
		border-left: 4px rgb(199, 0, 0) solid;
}
#comBar #comContainer .comBox.rank-4 .comContent .comTitle .comUserRank{
	color: rgb(230, 167, 1);
}
#comBar #comContainer .comBox.rank-4{
		border-left: 5px rgba(255, 184, 0, 1) solid;
}
#comBar #comContainer .comBox.rank-5 .comContent .comTitle .comUserRank{
	color: rgb(74, 74, 74) ;
}
#comBar #comContainer .comBox.rank-5{
		border-left: 7px rgb(74, 74, 74) solid;
}
#comBar #comContainer .comBox .comProfil {
	margin-right: 16px;
	float: left;
}

#comBar #comContainer .comBox .comProfil .voteSection {
	vertical-align: top;
	margin: 0 auto;
	line-height: 24px;
	height: 23px;
}
#comBar #comContainer .comBox .comProfil .voteSection div{
	display: inline-block;
}
#comBar #comContainer .comBox .comProfil .voteSection .vote {
	/* Firefox 10+, Firefox on Android */
	/* IE6-9 */
	cursor: pointer;
	margin: 0 auto;
	
    color: #444444;
    background: #e0e0e0;
	width: 22px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	border-radius: 6px;
	
}

#comBar #comContainer .comBox .comProfil .voteSection .voteYes{
	float: right;
}
#comBar #comContainer .comBox .comProfil .voteSection .voteNo{
	float: left;
}

#comBar #comContainer .comBox .comProfil .voteSection .voteYes:hover,
#comBar #comContainer .comBox .comProfil .voteSection .voteYes.active {
	/*background: url("../private/img/arrow_right.png") no-repeat;*/
	color: green;
	background: rgba(0, 228, 38, 0.1);
}
#comBar #comContainer .comBox .comProfil .voteSection .voteNo.active,
#comBar #comContainer .comBox .comProfil .voteSection .voteNo:hover {
	/*background: url("../private/img/arrow_left.png") no-repeat;*/
	color: red;
	background: rgba(250, 104, 93, 0.1);
}
#comBar #comContainer .comBox .comProfil .voteSection .voteCount {
	font-size: 18px;
	text-align: center;
	color: #444;
	vertical-align: top;
    padding: 0 2px;
}
#comBar #comContainer .comBox .comProfil .voteSection .voteCount .diff-votes{
	font-size: 14px;
}

#comBar #comContainer .comBox .comProfil .voteSection .voteCount .negatif{
	color: orange;
	display: block;
	line-height: 16px;
	border-bottom: 1px solid rgb(174, 174, 174);
}
#comBar #comContainer .comBox .comProfil .voteSection .voteCount .positif{
	color: green;
	display: block;
	line-height: 20px;
}
#comBar #comContainer .comBox .comProfil .imgProfil {
	border-radius: 20%;
	overflow: hidden;
	width: 60px;
	height: 60px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	-webkit-backface-visibility: hidden;
}
#comBar #comContainer .comBox .comContent {
	display: inline-block;
	width: calc(100% - 95px);
	width: -moz-calc(100% - 95px);
	width: -webkit-calc(100% - 95px);
}
#comBar #comContainer .comBox .comContent .comTitle {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
#comBar #comContainer .comBox .comContent .comTitle .comUserName {
	font-weight: bold;
font-size: 16px;
display: inline-block;
color: #444;
}
#comBar #comContainer .comBox .comContent .comTitle .comUserRank {
	font-size: 12px;
	font-style: italic;
	color: grey;
}
#comBar #comContainer .comBox .comContent .comTitle .timeCreated {
	font-style: italic;
	font-size: 12px;
	color: #444;
	float: right;
	padding-top: 4px;
}
#comBar #comContainer .comBox .comContent .comText {
	min-height: 40px;
	margin: 10px 0;
	white-space: pre-line;
	/*text-overflow: ellipsis;
	overflow-x: hidden;*/

	word-wrap: break-word;
	resize: none;
	color: rgb(49, 49, 49);
}
#comBar #comContainer .comBox .comContent .textEdit {
	width: 100%;
	min-height: 40px;
	margin-top: 10px;
	border: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}
#comBar #comContainer .comBox .comContent .actionSection {
	font-size: 12px;
	color: grey;
	text-align: right;
}
#comBar #comContainer .comBox .comContent .actionSection > div {
  display: inline-block;
  border-right: 1px solid #AAA;
  padding: 0 3px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
#comBar #comContainer .comBox .comContent .actionSection > div:hover {
	color: white;
	background-color: grey;
}
#comBar #comContainer .comBox .comContent .actionSection .comSupprDef:hover {
	background-color: red;
}

#comBar #comContainer .comBox .comContent .actionSection > div:last-child {
	border-right: 0px solid #FFF;
}
#comBar #comContainer .supprime {
	opacity: 0.4;
}
#comBar #comContainer .comBox.reponse, #comBar #comContainer #formComBar.reponse{
  margin-left: 30px;
}
#comBar #comContainer .comBox.reponse:before , #comBar #comContainer #formComBar.reponse:before{
  content: "\21b5";
  position: absolute;
  font-size: 3em;
  color: rgb(255, 255, 255);
  text-shadow: -1px 1px 2px rgb(175, 175, 175);
  margin-left: -70px;
  display: none;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
}
#comBar #comContainer .comBox .comMedaille,#comBar #comContainer .comBox .comDefi,#comBar #comContainer .comBox .comGeolocalise {
	width: 32px;
	height: auto;
	vertical-align: top;
}


#comBar #comContainer .comBox .comTagsLabel {

	display: inline;
	background: rgb(232, 232, 232);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;
	padding: 2px 10px;
	margin-right: 5px;
	border-radius: 18px;
	color: #666;
}

#comBar #comContainer .comBox .comTagsLabel > span {
		background: rgb(171, 45, 45);
		font-size: 14px;
		line-height: 15px;
		color: white;
		width: 16px;
		text-align: center;
		border-radius: 14px;
		cursor: pointer;
		display:none;
}

#comBar #comContainer .comBox .comTagsLabel:hover > span {
		display: inline-block;
}
#comBar #comContainer .comBox.dragging {
	-webkit-animation: turnToIcon ease-in-out 0.4s normal forwards;
	-o-animation: turnToIcon ease-in-out 0.4s normal forwards;
	animation: turnToIcon ease-in-out 0.4s normal forwards;
}

#comBar .comModifierLangue img {
height: 15px;
vertical-align: middle;
}

.pf pf-image-thumbnail {
 display:block;
}

.pf .comPjs {
	opacity: 1;
	border-radius: 8px;
	margin-top: 0px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: rgba(255, 255, 255, 0);
	padding: 2px 6px;
	background: rgba(242, 242, 242, 0.9);
	/*border: 1px solid rgba(190, 190, 190, 0.8);*/
	width: 354px;
	/* padding-right: 150px; */
	text-align: left;
	transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;
}

.pf .comPjs .comPj {
 display:inline-block;
 cursor: pointer;
 border-radius: 8px;
 margin-right: 6px;
}

.pf .comPjs .comPj img{
 
 height: 40px;
 cursor: pointer;
 /*border-radius: 8px;*/
 background: url("../img/loading.svg") no-repeat;
 background-size: contain;
	box-shadow: 0 1px 2px -1px black;
}
@-webkit-keyframes turnToIcon{
	
	0% { 
		/*background-image: none;*/
		-webkit-transform: scale(1);
		/*opacity: 1;*/
	}
	100% { 
		-webkit-transform: scale(0.2);
		opacity: 1;
	}
 /* 85%{
		-webkit-transform: scale(0.2);
		background-image: url("../img/lire.png");
		background-repeat: no-repeat;
		background-size: 28px 28px;
		background-position: 6px 6px;
		opacity: 0;
	}
	100%{
		-webkit-transform: scale(0.2);
		opacity: 1;
	}*/

}

.pf-message, .pf.pf-message {
	opacity: 0.98;
	z-index: 300;
	display: none;
	position: absolute;
	font-size: 16px;
	padding: 15px;
	color: #ffffff;
	text-align: left;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.pf-message.valid {
	background-color: #39B521;
}
.pf-message.error {
	background-color: #c04848;
}
.pf-message.info {
	background-color: #101CC4;
}
.pf-message.success {
	background-color: #111;
	color: #ddd;
}
.pf-message .success-image {
	width: 64px;
	height: 64px;
	display: inline-block;
	border-radius: 20%;
	line-height: 64px;
}
.pf-message .success-title {
	font-size: 16px;
	color: #EEE;
}
.pf-message .success-inner {
	display: inline-block;
	margin: 0 8px;
	vertical-align: top;
}
.pf-message .message-inner {
	position: relative;
}
.pf-message .message-text {
	padding: 15px;
}
.pf-message .message-close {
	padding: 2px 6px 3px 6px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #fcb2b1 !important;
	line-height: 1;
	border: 1px solid rgba(255, 255, 255, 0.2);
	margin-top: 8px;
	margin-right: 8px;
	position: absolute;
	top: 0px;
	right: 0px;
}


/* Overrides */

#comBar #comCloser{
/* margin-left: -5px; */
/* z-index: 20001; */
}
#comBar #comAction{
	/* display: none; */
	display: block;
	position: fixed;
	border-right: 0px;
	box-shadow: none;
	padding: 0px 20px;  
	text-align: center;
background: rgba(236, 236, 236, 0.9);
z-index: 20000;
}
#comBar #comContainer{
	margin-left: 0px;
}
#comBar{
	min-width: 580px;
	max-width: 580px;
	border-radius: 4px;
	padding: 20px 0;
	left: 0px;
	resize:vertical;
	max-height: calc(100% - 34px);
}


#comBar:not(.ng-animate):not(.sticky):not(:hover){
	/*opacity: 0.5;*/
	transition-delay: 2.5s;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	filter: url(blur.svg#blur);
}
#comBar.expanded:not(.ng-animate):not(.sticky):not(:hover){
	left: -330px;
}

#comBar:not(.ng-animate):not(.sticky):not(.expanded):not(:hover){
	bottom: -150px;
	left: -330px;
}
#comBar.ng-animate,
#comBar:hover{
	opacity: 0.98;
}

#comBar.ng-hide{
	/*bottom: -50%;*/
	opacity: 0;
	left: -330px;
}
#comBar:not(.expanded).ng-hide{
	bottom: -150px;
}

#comBar.expanded{
	height: calc(100% - 34px);
}

#comBar.detached{
	box-shadow: 0px 20px 20px -15px rgba(0, 0, 0, 0.3);
}

	
#comBar #comAction ul li {
		display: inline-block;
}


pf-carte {
	box-shadow: 0 20px 14px -14px rgba(0, 0, 0, 0.3);
	border: 1px solid #C7C7C7;
	display: block;
}
pf-carte .olAlphaImg {
	width: 32px !important;
	height: 32px !important;
	margin-left: -5px;
	margin-top: -4px;
}
pf-carte .olControlAttribution {
	bottom: 0px;
	right: 0px;
	background: rgba(255, 255, 255, 0.85);
	padding: 0 6px;
	border-top-left-radius: 10px;
}
pf-carte .olControlZoom  {
	bottom: 4px;
	left: 0px;
}
pf-carte .olControlZoom .olButton {
	padding: 2px 6px;
	margin:4px;
	font-size:16px;
	background: rgba(255, 255, 255, 0.85);
	border-radius:14px;
	color: #3E3D3D;
}


#comBar .btn-cross-fermer.btn-cross-expand {
	margin-right: 12px;
	/* margin-top:1px; */
	background-color: #009C00;
	border: 1px rgb(5, 113, 35) solid;
}

#comBar .btn-cross-fermer.btn-cross-expand.expanded{
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}

.comPartager-container{
	transition: opacity ease-in-out .2s;
 -moz-transform: translate(-63%,-150%);
 -webkit-transform: translate(-63%,-150%);
 -o-transform: translate(-63%,-150%);

	transform: translate(-63%,-150%);
	width: 150px;
	word-wrap: break-word;
}
.comDonnerMedaille-container{
	transition: opacity ease-in-out .2s;
 -moz-transform: translate(-60%,-135%);
 -webkit-transform: translate(-60%,-135%);
 -o-transform: translate(-60%,-135%);
 transform: translate(-60%,-135%);
}
.comModifierLangue-container{
	margin-top: -60px;
	margin-left: -48px;
	padding: 0 5px;
}

.comMessPrive {
	color: rgb(223, 101, 0);
	font-weight: 200;
	font-size: 12px;
}


.profil-ressource-upgrade {
	padding: 2px 8px;
	margin: 0;
	min-width: initial;
}

pf-menu-changer-role.ui-tooltip-bottom{ 
	-moz-transform: translate(-60%,-145%);
	-webkit-transform: translate(-60%,-145%);
	-o-transform: translate(-60%,-145%);
	transform: translate(-60%,-145%);
	
}
pf-menu-tags .ui-tooltip-bottom{ 
	transition: opacity ease-in-out .2s;
	-moz-transform: translate(-90%,-145%);
	-webkit-transform: translate(-90%,-145%);
	-o-transform: translate(-90%,-145%);
	transform: translate(-90%,-145%);
	padding: 5px;
	opacity: 1;
}
pf-menu-tags .ui-tooltip-bottom input {
	resize: none;
	height: 20px;
	width: 170px;
}
pf-menu-tags .ui-tooltip-bottom::after {
	left: 60px;
}
.comTagsContainer {
	margin-top: 8px;
}