div[ng-controller=main_controller], div[ng-controller=controller_injecteur] {
	display: none;
}
body.pf-wait *, body.pf-wait
{
	cursor: progress !important;
}

.pf{
	font-family: 'Raleway', Helvetica, Arial, sans-serif !important;
	color: #222;
	font-size: 12px;
}
.pf h1,.pf h2,.pf h3,.pf h4,.pf h5,.pf h6{
	font-family: 'Raleway';
	font-weight: 400;
	margin-top: initial;
	margin-bottom: initial;
	color: #222;
	border: none;
	text-transform: none;
	background: none;
	font-size: initial;
	padding: initial;
}

.pf .alert h1,.pf .alert h2,.pf .alert h3,.pf .alert h4,.pf .alert h5 {
	color: inherit;
}

.pf h1,.pf h2,.pf h3,.pf h4,.pf h5 {
	margin: 0 initial;
}
.pf *, .pf *:before, .pf *:after {
	/* -webkit-box-sizing: content-box; */
	/*-moz-box-sizing: border-box;*/
	/* box-sizing: content-box; */
	/*font-family: inherit;
	font-style: initial;
	font-weight: initial;*/
}
.pf h2 {
	font-size: 14px;
	font-weight:500;
	margin-bottom:4px;
}
.pf .alert i {
	margin-right:6px;
}
.pf label{
	font-weight: normal;
	margin-bottom: initial;
	display: initial;
}
.pf figcaption {
	text-align:center;
	overflow: hidden;
	text-overflow: ellipsis;
	
    height: 28px;
    line-height: 14px;
    /* white-space: nowrap; */
}
.pf input, .pf textarea, .pf select {
    line-height: initial;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #E8E8E8;
    background-color: #FFF;
    color: #484848;
    font-size: inherit;
    margin: initial;
}
.pf hr{
  border-top: 1px solid #BEBEBE;
  box-shadow: 0 -1px 0px #F5F5F5;
  margin: 20px 4px;
  clear: both;
  height: initial;
  border-bottom: none;
  padding: 0;
}
/***************
	 Commentaires 
****************/

.btn-action{
	padding: 6px;
	margin: 4px;
	line-height: 14px;
	font-size: 15px;
	display: inline-block;
	min-width: 100px;
	color: #333;
	border: none;
	text-shadow: none;
	background-color: rgb(247, 247, 247);
	border-radius: 4px;
	box-shadow: 0 1px 0 rgb(199, 195, 195);
	text-align: center;
	cursor: pointer;

	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
}
.btn-action:hover{
	background-color: #BBB;
}
.pf a.btn {
	color:white;
}

.pf .btn .glyphicon {
	color: #4a4a4a;
	transition: all .2s ease-out;
}
.pf .btn .glyphicon:hover {
	color: #DB6C00;
}
.pf a {
	text-decoration: none;
	cursor: pointer;
	color: #111111;
	transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;
}
.pf a:visited {
	/* color: #111111; */
}
.pf a:hover,
.pf a:active {
	color: #DB6C00;
}


.pf [ng-click]{
	cursor: pointer;
}

input[type=search]{-webkit-appearance: none;box-sizing: border-box;/* height: 100%; */width: 100%;border: 1px solid rgb(226, 226, 226);border-radius: 12px;resize: none;background-color: white;}
input[type=search].ng-dirty{
	border-radius: 12px;
	padding: 4px;
	border: 1px rgb(181, 181, 181) solid;
}




/* Décalage du contenu quand la barre PF est là */

/* Scenari 4.1 - style PF */
[ng-controller="main_controller"] + .pf_sc41 {
	transition: margin-top ease-in-out .4s;
	margin-top: 35px;
}
[ng-controller="main_controller"] + .pf_sc41 #tplMnu{
	top: 104px;
}

.avatar{
	border-radius:200px;
	box-shadow: 0px 1px 2px -1px black;
}

.inline-children > *{
	display: inline-block;
	vertical-align: middle;
}
.header.inline-children div:last-child{
    max-width: 300px;
    margin-left: 10px;
    white-space: normal;
}
.header{
	margin-bottom:10px;
	border-bottom: 1px solid #D0D0D0;
	padding-bottom: 10px;
}
.modal-view {
	/*width: initial;*/
}
.iframe {
    border: none;
    width: 100%;
    height: 95vh;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.finder-top-right {
	/* position: fixed; */
	display: inline-block;
	z-index: 4;
	float:  right;
}
.finder-top-right input {
	font-size:12px;
	line-height: 28px;
	height: 28px;
	padding: 0 12px;
	border-radius: 40px;
}

.finder-top-right .fa{
	color: #21cbd4;
	font-size: 20px;
	vertical-align:  middle;
	margin-left: 4px;
}
.finder-top-right {
	/* min-width: 180px; */
	margin: 0 auto;
	border-radius:8px;
	transition:all ease-in-out .2s;
	transition-delay:2s;
	white-space: nowrap;
}

.finder-top-right:hover{
	/* width: 180px; */
	transition-delay:0s;
}
.finder-top-right:hover input[type="search"]{
	background: rgba(255, 255, 255, 0.9);
	color: gray;
	transition-delay:0s;
}
.finder-top-right input[type="search"]{
	background: rgba(255, 255, 255, 0.4);
	text-align: center;
	border: none;
	color: white;
	/* text-shadow: 0px 1px 4px rgba(78, 24, 24, 0.36); */
	border-radius: 50px;
	border: 2px solid rgb(32, 203, 212);
	height: 26px;
	transition: all ease-in-out .2s;
	transition-delay:2s;
	display:  inline-block;
	width: 240px;
}
.finder-top-right input[type="search"]::-webkit-input-placeholder{
	color:gray;
}

.pf .large-div {
	background-color: #fbfbfb;
	padding: 12px;
}
.pf table .btn-action {
	line-height: 12px;
	font-size: 12px;
	margin: 0;
	padding: 2px 0;
	vertical-align: middle;
}