.step {
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 28px;
  margin: 2px;
  text-align: center;
  line-height: 28px;
  color: white;
  box-shadow: 0 2px 2px rgba(2, 2, 2, 0.16) inset, 0 2px 2px rgba(255, 255, 255, 0.77);
}
.step-1,.step-tutoriel-1 .step-tutoriel-header {
  background-color: #FD7202;
}
.step-2,.step-tutoriel-2 .step-tutoriel-header {
  background-color: #FFAA00;
}
.step-3,.step-tutoriel-3 .step-tutoriel-header {
  background-color: #FFC655;
}
.step-4,.step-tutoriel-4 .step-tutoriel-header {
  background-color: #23B502;
}
#tutoriel-wrapper {
  position: absolute;
  top: 34px;
  left: 0px;
  background: #F4F4F4;
  width: 360px;
  /* padding: 14px; */
  box-shadow: 1px 1px 4px rgba(39, 39, 39, 0.5);
}

.injecteur-selection-temp:not([ng-controller]){
  cursor: pointer;
  background-color: rgba(255, 189, 0, 0.5);
  outline: 1px solid rgba(255, 165, 0, 0.75);
  transition: all ease-in-out .4s;
  transition-delay:.5s;
  transform: scale(1.02);
}
.injecteur-selection-temp-similaires:not([ng-controller]){
  cursor: pointer;
  background-color: rgba(255, 189, 0, 0.25);
  outline: 1px solid rgba(255, 165, 0, 0.5);
  transition: all ease-in-out .4s;
  transition-delay:.5s;
  transform: scale(1.02);
}
.injecteur-selection:not([ng-controller]){ 
  cursor: pointer;
  background-color: rgba(255, 170, 0, 0.75);
  outline: 1px solid rgb(185, 120, 0);
  transition: all ease-in-out .4s;
  transition-delay: .5s;
  backface-visibility: visible;
  transform: scale(1.05);
  margin-bottom: 16px !important;
  box-shadow: 0 4px 6px -2px black;
}

.pf input.no-style {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.04);
  margin-bottom: 4px;
  border-radius: 4px;
  border: none;
  color: initial;
  display: inline-block;
  white-space: pre;
  width: 70%;
}

.pf .injection_code {
  width: 100%;
  height: 36px;
  border: 1px solid white;
  box-shadow: 0 -1px 1px #AFAFAF;
  background-color: #EAEAEA;
  color: #735220;
  resize: none;
  border-radius: 10px;
}
.step-tutoriel h2 {
  font-size: 14px;
  font-weight: 400;
  /* border-bottom: 1px solid rgb(247, 247, 247); */
  /* box-shadow: 0 1px 0 rgb(218, 218, 218); */
}
.step-tutoriel-header {
  padding: 14px;
  border-bottom: 1px solid #A2A2A2;
}
.step-tutoriel-body {
  padding: 14px;
  line-height: 18px;
}
.pf-blurred-content ~ *:not([ng-controller]):not(#toast-container) {
  transition: all ease-in-out .4s;
  transition-delay: .05s;
  -webkit-filter: blur(2px); -moz-filter: blur(2px); -o-filter: blur(2px); -ms-filter: blur(2px); filter: blur(2px); filter: url(blur.svg#blur);
  pointer-events: none;
}
[ng-controller="controller_injecteur"] ~ * a {
  pointer-events: none;
}
.bloc-semantique{
  display: block;
  padding: 8px 14px;
  border-radius: 8px;
  margin-top: 8px;
}
.bloc-semantique-info {
  background-color: rgba(0, 127, 202, 0.14);
  border: 1px solid rgba(2, 72, 160, 0.3);
  box-shadow: 0 2px 2px rgba(1, 126, 189, 0.26) inset;
}
.pf .step-tutoriel label {
    font-size: 12px;
    color: #5A5A5A;
}
.pf .step-tutoriel input,.pf .step-tutoriel textarea {
    width: 95%;
    /* height: 20px; */
}

.pf .help-tooltip-mark{
  position: relative;
  margin-left: 7px;
  padding: 1px 5px;
  color: whitesmoke;
  background-color: rgb(0, 127, 202);
  border-radius: 14px;
  font-size: 10px;
  cursor: help;
}
.pf .help-tooltip-mark:hover .help-tooltip{
  visibility: visible;
  opacity: 1;
  margin-left: 20px;
}
.pf .help-tooltip {
  transition: all ease-in-out 0.2s;
  visibility: hidden;
  z-index: 1000;
  padding: 4px 8px;
  transform: translateY(-50%);
  left: 0px;
  top: 0px;
  position: absolute;
  background-color: rgb(0, 127, 202);
  border-radius: 8px;
  box-shadow: 0 8px 8px -7px rgba(0, 0, 0, 0.44);
  font-size: 12px;
  width: 200px;
  margin-left: 10px;
  opacity: 0;
}
.pf .help-tooltip::before {
  content: "\25c0";
  position: absolute;
  left: -12px;
  font-size: 18px;
  top: 50%;
  color: #007FCA;
}
.pf .step-tutoriel-body .btn-action {
    margin: 8px auto;
    display: block;
    width: 130px;
}
.pf span.help-block {
    font-size: 12px;
    color: #D80000;
}

.navbar.navbar-fixed-top {
    top: 33px;
}
