.logo_espace{
	max-width: 100px;
	display:inline-block;
	border-radius:4px
}

.espace-container{

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	/*margin: 0px auto;*/
}
.espace .background{
	/*margin-bottom: 10px;*/
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-position: 50%;
	background-size: 100px 100px;
	background-color: white;
	-webkit-transition: all ease-in-out .5s;
	-o-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
}
.espace.small-espace{
	/*min-width: 50px;*/
	/*min-height: 50px;*/
	max-width: 100px;
	max-height: 100px;
}
.espace.large-espace{
	/*min-width: 160px;*/
	/*min-height: 160px;*/
	max-width: 250px;
	max-height: 280px;
}
.espace.huge-espace{
	/*min-width: 200px;*/
	/*min-height: 200px;*/
	max-width: 360px;
	/*max-height: 360px;*/
}
.espace .espace-content.image img{
	width: 100%;
}

.espace .nombre_ressources{
	float: right;
	background-color: rgba(255, 126, 0, 0.66);
	padding: 0 7px;
}
.espace .small-nombre{
	background-color: rgba(255, 255, 255, 0.66);
}
.espace .large-nombre{
	background-color: rgba(255, 68, 0, 0.66);
}
.espace .huge-nombre{
	background-color: rgba(255, 0, 0, 0.66);
}
.espace-group{
	width: calc(100% - 160px);
}
.espace{
	-webkit-transition: all ease-in-out .4s;
	-o-transition: all ease-in-out .4s;
	transition: all ease-in-out .4s;
	position: relative;
	display:inline-block;
	margin-right:10px;
	border: 1px solid #E2E2E2;
}
.espace:hover{
	/*-webkit-transform: scale(1.05);*/

	-webkit-filter: saturate(150%);
	-ms-filter: saturate(150%);
	-o-filter: saturate(150%);
	filter: saturate(150%);
}
.espace.flipped{
	width: initial !important;
	padding: 35px;
	height: auto !important;
}

hr{
	border-top: 1px solid rgba(255, 255, 255, 0.21);
	box-shadow: 0 1px 0px black;
}
.espace .brand {
	position: absolute;
	bottom: 0px;
	background: linear-gradient(transparent -20%, rgb(95, 95, 95) 46%);
	/* height: 30px; */
	left: 0px;
	right: 0px;
	text-align: center;
	color: #EFEFEF;
}
.pf-centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.finder-no-results{
	color: black;
	text-align: center;
}
.espace .brand .badge, .espace .espace-status .badge{
	right: 0px;
}
.espace.flipped .espace-content.image{
	/*z-index: 200;*/
/*	-webkit-transition: all ease-in-out .8s;
-o-transition: all ease-in-out .8s;
transition: all ease-in-out .8s;
*/	-webkit-filter: blur(4px);
-ms-filter: blur(4px);
-o-filter: blur(4px);
filter: blur(4px);
background: white;
/*-webkit-transform: rotateY(180deg) scale(1.5);*/
}
.espace.flipped .espace-content.image img{
opacity: 0.4;
}






.kiosque .ressources-items-container .ressource-found-item .wrap {
	margin-left: 8px;
}
.kiosque .ressources-items-container .ressource-found-item .wrap, .kiosque .ressources-items-container .ressource-found-item img {
	display: inline-block;
}
.kiosque .ressources-items-container {
	margin-bottom: 70px;
}
.kiosque .ressources-items-container .media.list-group-item{
	margin-top: 6px;
}
.kiosque .ressources-items-container  .media.list-group-item {
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.44);
	background-color: rgba(255, 255, 255, 0.84);
}
.kiosque .ressources-items-container  .list-group-item.active, .kiosque .ressources-items-container  .list-group-item.active:focus, .kiosque .ressources-items-container  .list-group-item.active:hover{
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}
.kiosque .ressources-items-container img.media-object {
	max-width: 60px;
}
.kiosque .ressources-items-container .media-heading {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.07);
	padding-bottom: 4px;
	color: #4e4e4e;
}
.kiosque .ressources-items-container .ressource-found-item.ng-enter{
	opacity:0;
}
.kiosque .ressources-items-container .ressource-found-item{
	overflow: visible;
	position: relative;
	display: block;
	background: #f7f7f7;
	border: 1px solid rgba(191, 191, 191, 0.49);
	padding: 8px 8px;
	border-radius: 4px;
	margin-bottom: -70px;
	margin-top: 0px;
	height:100px;
	transition: all .2s ease-out;
}
.kiosque .ressources-items-container .ressource-found-item:not(:last-child):hover{
	margin-bottom: 0;
}
.description_pre-line{
	white-space: pre-line;
	max-height: 40px;
	overflow:hidden;
	color: black;
}

.kiosque .ressources-items-container .ressource-found-item:not([data-count='0'])::after, .capsule-item:not([data-count='0'])::after {
	content:attr(data-count);
	min-width: 12px;
	font-size: 18px;
	font-weight: 300;
	text-shadow: 0 1px rgba(0, 0, 0, 0.62);
	text-align:center;
	color:#EFEFEF;
	display:inline;
	z-index: 200;
	border-radius: 14px;
	padding: 0px 5px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	margin:0 4px;
	background: #5CBDD9;
	background: -moz-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%, #5CBDD9), color-stop(100%, #0D8CD7));
	background: -webkit-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -o-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -ms-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
	background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CBDD9', endColorstr='#0D8CD7', GradientType=1);
	position: absolute;
	right: -8px;
	top: -10px;
}