.table {
	padding: 12px;
	background: white;
}

.table thead tr{
	background: rgba(241, 108, 2, 0.8);
	color: white;
}


#preferences-wrapper .table thead tr th{
	font-weight:normal;
	padding: 4px 4px;
	line-height:20px;
}
.table tr td:first-child{
	padding-left: 14px;
	line-height: 24px;
}
.table th img {
	width:30px;
	margin-right:10px
}
.table tr td img {
	width: 24px;
	margin-right: 4px;
}

#preferences-wrapper .finder {
	margin: 12px auto;
}