#sidebar{
	background: rgba(0, 0, 0, 0.3);
	background: rgba(255, 255, 255, 0.9);
	color: white;
	color: #717171;
	width: 200px;
	/* min-width: 190px; */
	margin-top: 10px;
	box-shadow: 0 10px 20px -14px rgba(0, 0, 0, 0.75);
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13), -22px 0px 44px  0px rgba(0, 0, 0, 0.18) inset; */
}
/*#sidebar::after{
	content:"";
	position: absolute;
	display:block;
	background: #E47300;
}
*/

#sidebar h1, #sidebar h2{
	color: white;
}
#sidebar a{
	/* color: #EFEFEF; */
	/* text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.41); */
}
#sidebar #profil{
	padding: 8px 5px;
	/* background: rgba(255, 255, 255, 0.07); */
	box-shadow: 0 6px 8px -8px rgba(0, 0, 0, 0.25);
	margin-bottom: 12px;
}


#sidebar #profil > * {
	display:inline-block;
}
#sidebar #profil .profil-infos{
	margin-left: 12px;
	vertical-align: middle;
}
#sidebar #profil .profil-infos h5{
	/* color:white; */
}
#sidebar #profil .avatar{
	width: 50px;
}
#sidebar ul{
	list-style:none;
	padding:0;
	margin: 10px;
}

#sidebar ul img {
	width: 20px;
	margin-right:8px;
}


#sidebar ul li {
	padding:4px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

.pf .section-header, .pf .page-header {
	border-bottom: 1px solid #dadada;
	padding-bottom: 6px;
	margin-bottom: 6px;
	text-shadow: none;
	font-weight:400;
	font-size: 14px;
}
.page-header img {
	width: 24px;
	margin-right: 8px;
}

@media (max-width: 760px){
	#sidebar {
		position:fixed;
		z-index:20000;
		margin: 2px 0 0 2px;
		width: 48px;
		background:none;
		box-shadow:none;
	}

	#sidebar span, #sidebar h5 {
		display:none;
	} 
	#sidebar ul {
		margin:0;
	}

	#sidebar:hover ul li {
		margin-left: 10px;
		opacity:1;

	}
	#sidebar ul li {
		background: rgba(255, 255, 255, 0.9);
		border-radius: 22px;
		padding: 6px;
		width: 33px;
		margin-bottom:4px;
		margin-left: -50px;
		opacity:0;
		transition:all ease-out .2s;
	}

	#sidebar #profil {
		padding: 0;
		margin-bottom: 0;
		box-shadow:none;
	}

	ng-view {
 	   width:100%;
 	   margin: 54px 0 0 0;
 	  }
}