
/******************************** Succes ********************************/

#success-wrapper .success-label{
	font-size: 32px;
	font-weight: 100;
	text-align: center;

}
#success-head{
	padding-bottom: 12px;
	border-bottom: 1px solid rgb(238, 238, 238); 
	box-shadow: 0 1px 0 rgb(218, 218, 218);
}
#success-head .btn-action {
	width: 150px;
	margin: 4px auto 0 auto;
	display: block;
}
#success-results{
	padding: 4px 4px 4px 0;
	overflow-y: auto;
	/*overflow-y: overlay;*/
	/*max-height: 600px;*/
}

#success-results ul{
	list-style: none;
	padding-left: 0px;

	margin: 0;
}

#success-results .success-result{
	cursor: pointer;
	border-bottom: 1px solid rgb(238, 238, 238);
	box-shadow: 0 1px 0 rgb(218, 218, 218);
	/* height: 50px; */
	padding: 4px;
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
}

#success-results .success-result:hover{
	background-color: #eda32b;
}

#success-results .success-result .success-img{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 20%;
}

#success-results .success-result .success-inner{
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
}
#success-results .success-inner .success-titre{
	font-size: 24px;
	font-weight: 100;
	text-shadow: 0 -1px #E2E2E2;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#success-results .success-inner .success-description{
	font-size: 13px;
	color: #8A8A8A;
	font-weight: 200;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}