#background {
    position: fixed;
    background-size: cover;
    left: -20%;
    right: -20%;
    z-index: -1;
    display: block;
    /* width: 120%; */
    height: 120%;
    /* filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='blur'><feGaussianBlur stdDeviation='45' /></filter></svg>#blur"); */
    /* -webkit-filter: blur(45px); */
    /* filter: blur(45px); */
}


body{
	background: #DCDCDC;
}
#sidebar, ng-view{
	display: inline-block;
	vertical-align: top;
}

ng-view{
	margin: 10px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.9);
	width: calc(100% - 220px);
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
}
/*
ng-view.ng-enter,
ng-view.ng-leave {
    -webkit-transition: all .3s ease;
    transition: all .3s ease forward;
}
ng-view.ng-enter {
    transition-delay: .6s;
    opacity: 0;
}
ng-view.ng-enter-active {
    opacity: 1;
}
ng-view.ng-leave {
    opacity: 1;
}
ng-view.ng-leave-active {
    opacity: 0;
}*/