.hasComment.readed::before {
	color: rgb(126, 126, 126);
	text-shadow: none;
	background: #F0F0F0;
	/* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #F0F0F0 36%, #D8D8D8 100%);
	/* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(36%, #F0F0F0), color-stop(100%, #D8D8D8));
	/* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #F0F0F0 36%, #D8D8D8 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #F0F0F0 36%, #D8D8D8 100%);
	/* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #F0F0F0 36%, #D8D8D8 100%);
	/* IE10+ */
	background: radial-gradient(ellipse at center, #F0F0F0 36%, #D8D8D8 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#D8D8D8', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}
.hasComment.readed:not(area):not(h1):not(h2):not(h3):not(a)  {
	border-left:1px solid #d1d1d1;
	box-shadow: -1px 0 0px #F0F0F0;
}
.hasComment::before {
	content:attr(data-count);
	font-size: 16px;
	font-family: Helvetica;
	font-weight: 200;
	text-shadow: 0 1px rgba(0, 0, 0, 0.62);
	text-align:center;
	/*position:relative;*/
	color:#EFEFEF;
	display:inline;
	z-index: 0;
	border-radius: 14px;
	padding: 0px 5px;
	/*min-width:22px;*/
	/* border: 1px solid #eee; */
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	margin:0 4px;
	background: #5CBDD9;
	background: -moz-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%, #5CBDD9), color-stop(100%, #0D8CD7));
	background: -webkit-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -o-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -ms-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
	background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CBDD9', endColorstr='#0D8CD7', GradientType=1);

	-webkit-animation:fade 0.6s ease-in-out;
	-moz-animation:fade 0.6s ease-in-out;
	-o-animation:fade 0.6s ease-in-out;
	animation:fade 0.6s ease-in-out;
}
a[pf-commentable].hasComment{
	display: inline-block;
}
a[pf-commentable].hasComment > * {
	display: inline-block;
}
a[pf-commentable].hasComment::before{
	position: relative; 
	/*z-index: 1;*/
	/* display: inline-block; */
	font-size: 1em;
	margin-left: -5px;
}

.hasComment:not(area):not(h1):not(h2):not(h3):not(a) {
	border-left: 1px solid #5CBDD9;
	box-shadow: -1px 0 0px #BEE0EA;
	padding-left: 3px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	/*cursor: pointer;*/
}

area.hasComment{
	position: absolute;
	display: block;
}
.mainContent.hasComment::before{
	position: absolute;
	/*margin-top: -30px;*/

}
.mainContent_co .hasComment{
	line-height: 1em;
	transition: all 0.2s;
}
/*.mnuFra .hasComment{
	border: none;
	box-shadow: none;
}
.mnuFra .hasComment::before{
	position: absolute; 
	z-index: 1;
	font-size: 1em;
	margin-left: -5px;
}*/
.homeBtn.hasComment, #label-title.hasComment {
	border: none;
	box-shadow: none;
	position: relative;
}
.homeBtn.hasComment::before, #label-title.hasComment::before {
	/*position: absolute;
	font-size: 1.2em;
	top: -5px;
	left: -5px;*/
	position: absolute;
	line-height: 20px;
	font-size: 16px;
	top: 5px;
	left: 10px;
}
#label-title.hasComment[data-count='0']:not(.readed)::before{
	display: none;
}


/* Desactive la selection de test dans la zone de contenu */
.focusedItem, .focusedItem h1, .focusedItem h2, .focusedItem h3, .focusedItem h4 {/*
	transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;*/
	/*-webkit-filter: drop-shadow(0 0px 8px rgba(247, 104, 27, 0.8));
	-webkit-transform: translate3d(0, 0, 0);
	opacity: 0.8;*/
	
 text-shadow: 0 0 3px rgba(255, 92, 0, 0.5); 
}

.focusedItem img, .focusedItem .eWeb{
	box-shadow: 0 0 4px 2px #DB6C00;

}
/* Mise en évidence de la zone cliquée */
.context-menu-active, .context-menu-active h1, .context-menu-active h2, .context-menu-active h3, .context-menu-active h4  {/*
	transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;*/
	/*-webkit-filter: drop-shadow(0 0px 8px rgba(140, 30, 40, 0.8));
	-webkit-transform: translate3d(0, 0, 0);*/

	text-shadow: 0 0 4px rgba(77, 145, 199, 0.7);
}
.context-menu-active img{
	box-shadow: 0 0 4px 2px rgba(77, 145, 199, 0.7);
}
.context-menu-root{
	
}
.context-menu-root .icon-commenter {
	background-image: url("../img/ecrire.png");
	background-size: 32px 32px;
	border-bottom: 1px solid #E4E4E4;
}
.context-menu-root .icon-lireCommentaires {
	background-image: url("../img/lire.png");
	background-size: 28px 28px;
	background-position: 6px 6px;
}
.context-menu-root .icon-commenter,
.context-menu-root .icon-lireCommentaires {
	background-repeat: no-repeat;
	line-height: 24px;
	transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;
}
.context-menu-root .icon-commenter span,
.context-menu-root .icon-lireCommentaires span {
	font-weight: 200;
	font-size: 15px;
	margin: 0 0 0px 16px;
	line-height: 32px;
}
.context-menu-root .icon-commenter.hover,
.context-menu-root .icon-lireCommentaires.hover {
	background-color: rgba(267, 163, 26, 0.7);
}
.activeMenuToggle a.mnu_tgle_c:before {
	position: absolute;
	content: "\2022";
	font-size: 1.4em;
	font-family: Helvetica;
	color: #5CBDD9;
	text-shadow: 0 0 3px #0D8CD7;
	top:0px;
	left: -4px;
	line-height: 1em;
}



.pf-commentable{
	/*cursor: url("../img/comment_32.png"), auto;*/
	cursor: pointer; 

	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}
.pf-commentable[ng-drop]{
	outline: 2px dotted blue;
}
.pf-commentable:hover{
 	text-shadow: 0 0 3px rgba(255, 92, 0, 0.4); 

	/*-webkit-transform:scale(1.2);*/
}
.pf-commentable img:hover, .pf-commentable:hover .eWeb, img.pf-commentable:hover{
	box-shadow: 0 0 4px 2px rgba(223, 157, 59, 0.4);
}
.pf-commentable.resInFlow{
	position: relative;
}
.pf-commentable.resInFlow::before{
	left: 10px;
	top: 10px;
	position: absolute;
	line-height: 120%;
}
.pf-droppable{
	outline: 2px dashed rgb(223, 118, 0);
}
.pf-droppable-hover{
	outline: 2px dashed rgb(0, 171, 9);
}
.ui-tooltip-top,
.ui-tooltip-bottom,
.ui-tooltip-right {
	z-index: 205;
	opacity: 0.98;
	/*min-height: 120px;
	min-width: 260px;*/
	color: #ffffff;
	cursor: normal;
	display: -moz-inline-stack;
	display: inline-block;
	font-size: 12px;
	font-family: arial;
	padding: .5em 1em;
	position: absolute;
	/*position:relative;*/

	text-align: center;
	text-shadow: 0 -1px 1px #111111;
	-webkit-border-top-left-radius: 4px ;
	-webkit-border-top-right-radius: 4px ;
	-webkit-border-bottom-right-radius: 4px ;
	-webkit-border-bottom-left-radius: 4px ;
	-khtml-border-top-left-radius: 4px ;
	-khtml-border-top-right-radius: 4px ;
	-khtml-border-bottom-right-radius: 4px ;
	-khtml-border-bottom-left-radius: 4px ;
	-moz-border-radius-topleft: 4px ;
	-moz-border-radius-topright: 4px ;
	-moz-border-radius-bottomright: 4px ;
	-moz-border-radius-bottomleft: 4px ;
	border-top-left-radius: 4px ;
	border-top-right-radius: 4px ;
	border-bottom-right-radius: 4px ;
	border-bottom-left-radius: 4px ;
	-o-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-moz-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-khtml-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-webkit-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	background-color: #3b3b3b;
	background-image: -moz-linear-gradient(top, #555555, #222222);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555555), color-stop(1, #222222));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555, EndColorStr=#222222);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555, EndColorStr=#222222);
}
.ui-tooltip-top:after,
.ui-tooltip-bottom:after,
.ui-tooltip-right:after {
	content: "\25B8";
	display: block;
	font-size: 4em;
	height: 0;
	line-height: 0;
	position: absolute;
}
.ui-tooltip-right:after {
	color: #2a2a2a;
	bottom: 0;
	left: 1px;
	text-align: center;
	text-shadow: 1px 0 2px #000000;
/*  -o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-khtml-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);*/
	width: 30px;
	height: 30px;
	right: 0px;
	/* position: absolute; */
	/* top: 0px; */
	/* display: inline-block; */
}
.ui-tooltip-bottom:after {
	color: #2a2a2a;
	bottom: 0;
	left: 1px;
	text-align: center;
	text-shadow: 1px 0 2px #000000;
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-khtml-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	width: 100%;
}
.ui-tooltip-bottom select {
	background: rgba(255, 255, 255, 0);
	font-family: "Helvetica";
	color: white;
	border: none;
	height: 30px;
}
.ui-tooltip-top:after {
	bottom: auto;
	color: #4f4f4f;
	left: -2px;
	top: 0;
	text-align: center;
	text-shadow: none;
	text-shadow: 1px 0px 0px black;
	-o-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-khtml-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	width: 100%;
}

.ui-tooltip-top.onHome:after {
	bottom: 0px;
	color: #2C2C2C;
	left: -9px;
	text-align: center;
	text-shadow: 1px 0px 0px black;
	-o-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-khtml-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	width: auto;
	top: auto;
}
.ui-tooltip-top.onHome.atTop:after {
	bottom: auto;
	color: #2C2C2C;
	left: -9px;
	text-align: center;
	text-shadow: 1px 0px 0px black;
	-o-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-khtml-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	width: auto;
	top: 0px;
}

.ui-tooltip-bottom{
	transform:translate(0px);
	transition:all ease-in-out .2s;
}
.ng-enter .ui-tooltip-bottom{
	transform:translateY(-10px);
	opacity: 0;
}
.ng-leave .ui-tooltip-bottom{
	transform:translateY(10px);
	opacity: 0;
}