doctype html
html
  head
    title Compatibilité de votre navigateur
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='#{url_serveur_node}/public/lib/css/outdatedbrowser.min.css')
    link(rel='stylesheet', href='#{url_serveur_node}/public/lib/css/bootstrap.min.css')
    link(rel='stylesheet', href='#{url_serveur_node}/private/css/compatibilite.css')
    link(rel='stylesheet', href='#{url_serveur_node}/public/css/pairform_landpage.css')
    link(href='#{url_serveur_node}/public/lib/css/angular-carousel.min.css', rel='stylesheet', type='text/css')
    script(src='#{url_serveur_node}/public/lib/js/outdated-browser-1.1.0/outdatedbrowser.min.js')
    script(src='#{url_serveur_node}/public/lib/js/angular-1.3.0.min.js')
    script(src='#{url_serveur_node}/public/lib/js/angular-touch.min.js')
    script(src='#{url_serveur_node}/public/lib/js/angular-animate.min.js')
    script(src='#{url_serveur_node}/public/lib/js/angular-carousel.min.js')
    script(src='#{url_serveur_node}/private/js/compatibilite.js')
  body
    h1 >> Compatibilité de votre navigateur
    main(ng-app='pf_compatibilite')
      section.panel.panel-default
        h2.panel-heading Vous utilisez {{navigateur_version}}
        .panel-body
          section.panel.panel-default(ng-controller='browser')
            h2.panel-heading Graphismes
            .panel-body
              .well
                | PairForm utilise les dernières avancées de CSS des navigateurs pour une expérience fluide et agréable. 
                br
                | Si vous rencontrez des problèmes d'affichage, vous pouvez essayer d'installer la dernière version de votre navigateur.
              #outdated
              h3.valid(ng-if='browser_good') Votre navigateur est assez récent.
              button(ng-click='tester()') Tester à nouveau
          section.panel.panel-default(ng-controller='localStorage')
            h2.panel-heading Fonctionnalités
            .panel-body(ng-switch='', on='has_localstorage')
              .well
                | PairForm utilise les dernières technologies web pour un fonctionnement optimal.
              div(ng-switch-when='true')
                h3.valid Votre navigateur est compatible.
              div(ng-switch-when='false')
                h3 Votre navigateur n'est pas compatible dans l'état actuel.
                h3 Quelques pistes :
                ul.image(rn-carousel='', rn-carousel-controls='', rn-carousel-transition='hexagon')
                  li
                    figcaption
                      | Version des navigateurs - vérifiez que votre version est en vert dans ce tableau.
                  li
                    figcaption
                      | Google Chrome - allez dans Préférences &gt; Confidentialité &gt; Paramètres de contenu, et vérifiez que la première ligne est cochée.
                  li
                    figcaption
                      | Safari - La navigation privée est incompatible avec PairForm.
              div(ng-switch-when='testing')
                h2 En cours de test...
              button(ng-click='tester()') Tester à nouveau
      .alert.alert-warning(role='alert')
        | Attention : cette version web n'est pas totalement compatible avec les mobiles / tablettes. Des applications natives sont disponibles pour iOS et Android.
      .alert.alert-danger
        | Si vous rencontrez toujours des problèmes, veuillez nous adresser un e-mail à l'adresse 
        span.label.label-danger contact - arobase - pairform.fr
        | , nous vous répondrons sous 24h.
      footer
        | Pairform
