/* FlowPaper */

.flowpaper-fixedlayout-text.pf-commentable {
  position:absolute !important;
}
.flowpaper-reflow-wrapper {
    top: 34px;
}

.flowpaper-fixedlayout-text.pf-commentable::after {
   margin-right: -30px; 
   margin-top: -4px;
}

.flowpaper-fixedlayout-text.pf-commentable.hasComment::after {
  margin-right: -50px; 
}

/* Storyline 2 */
div#slidecontainer .pf-commentable {
    position: absolute !important;
}

/* 360 Learning */
body.fullscreen div.platform {
  margin-top: 34px;
}

/* Scenari */

/* Cacher les éléments de la barre du haut qui collapse quand l'écran est < 365px */
.pf_sc41 #tplTop {
  overflow: hidden;
}

/* PDF.js */

.pdfViewer .textLayer {
  opacity: 1;
}
.pdfViewer .textLayer .focusedItem {
  background-color: rgba(189, 239, 255, 0.5) !important;
}
.pdfViewer .textLayer .pf-commentable {
  position: absolute !important;
}
.pdfViewer .textLayer .pf-commentable::after {
  right:-28px;
  top:-12px;
}
.pdfViewer .textLayer .pf-commentable:not(a):hover::after {
  right: -34px;
  top: -12px;
}

/* Storyline 3 */
#presentation-container .main-window-slide-container .focusedItem {
  outline:2px solid rgb(189, 239, 255);
}