
.btn-action{
  padding: 6px;
  margin: 4px;
  line-height: 14px;
  /*font-size: 15px;*/

  min-height: 30px;
  display: inline-block;
  min-width: 100px;
  color: #333;
  border: none;
  text-shadow: none;
  background-color: rgb(247, 247, 247);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgb(199, 195, 195);
  text-align: center;
  cursor: pointer;

  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.btn-action:hover{
  background-color: #BBB;
}
.pf a {
  text-decoration: none;
  cursor: pointer;
  color: #111111;
  transition: All 0.2s ease-in-out;
  -webkit-transition: All 0.2s ease-in-out;
  -moz-transition: All 0.2s ease-in-out;
  -o-transition: All 0.2s ease-in-out;
}
.pf a:visited {
  color: #111111;
}
.pf a:hover,
.pf a:active {
  color: #DB6C00;
}


.pf [ng-click]{
  cursor: pointer;
}

input[type=search]{

  -webkit-appearance: none;
  box-sizing: border-box;
  /*height: 100%;*/
  width: 100%;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 12px;
  resize: none;
  background-color: white;
}
input[type=search].ng-dirty{
  border-radius: 12px;
  padding: 4px;
  border: 1px rgb(181, 181, 181) solid;
}