
.pf [ng-controller="controller_carrousel"] .popin{
	width: 75%;
	height: 60%;
	background: #333333;
}
.pf [ng-controller="controller_carrousel"] #pj-carrousel {
	height: 100%;
}
.pf [ng-controller="controller_carrousel"] #pj-carrousel ul {
	margin: 0 auto;
	text-align: center;
	/* display: block; */
	height: 100%;
}
.pf [ng-controller="controller_carrousel"] #pj-carrousel ul li {
	height: 100%;
}
.pf [ng-controller="controller_carrousel"] #pj-carrousel ul li .center-helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.pf [ng-controller="controller_carrousel"] #pj-carrousel ul li img, .pf [ng-controller="controller_carrousel"] #pj-carrousel ul li video {
	max-width: 99%; /* 1% en moins pour pas que le hack du center-helper collapse */
	vertical-align: middle;
	max-height: 100%;
	user-drag: none; 
	-moz-user-select: none;
	-webkit-user-drag: none;
}
.pf [ng-controller="controller_carrousel"] #pj-carrousel .rn-carousel-indicator {
	text-align: center;
	font-size: 20px;
}
.pf [ng-controller="controller_carrousel"] #pj-carrousel .rn-carousel-indicator span {
	margin-right:4px;
}
.pf [ng-controller="controller_carrousel"] #pj-carrousel .rn-carousel-control {
	text-shadow:0 1px 2px black;
	color: white;
	opacity: 1;
}
.pf [ng-controller="controller_carrousel"] #pj-carrousel .pj-file {
    display:inline-block;
}
.pf [ng-controller="controller_carrousel"] #pj-carrousel .pj-file > *{
    display:block;
    color:white;
    text-shadow:none;
    margin: 10px auto;
}