
.ressources {
	margin-bottom: 10px;
	width: 375px;
}
.ressources.ressources-domaine{
	display: none;
}
.ressources-container {
	clear: right;
}
#ressources-wrapper .ressources:first-child .ressources-items-container div{
/*  -webkit-animation: shake 2s infinite ease-in-out;
	-moz-animation: shake 2s infinite ease-in-out;
	-o-animation: shake 2s infinite ease-in-out;*/
}
@-webkit-keyframes shake {
	0% { -webkit-transform: rotate(0deg)}
	15% { -webkit-transform: rotate(-4deg)}
	30% { -webkit-transform: rotate(4deg)}
	45% { -webkit-transform: rotate(-4deg)}
	60% { -webkit-transform: rotate(4deg)}
	75% { -webkit-transform: rotate(0deg)}
}
@-moz-keyframes shake {
	0% { -moz-transform: rotate(0deg)}
	15% { -moz-transform: rotate(-4deg)}
	30% { -moz-transform: rotate(4deg)}
	45% { -moz-transform: rotate(-4deg)}
	60% { -moz-transform: rotate(4deg)}
	75% { -moz-transform: rotate(0deg)}
}
@-o-keyframes shake {
	0% { -o-transform: rotate(0deg)}
	15% { -o-transform: rotate(-4deg)}
	30% { -o-transform: rotate(4deg)}
	45% { -o-transform: rotate(-4deg)}
	60% { -o-transform: rotate(4deg)}
	75% { -o-transform: rotate(0deg)}
}
.ressources .ressources-items-container {
	white-space: nowrap;
	overflow-x: auto;
	border-top: 1px solid white;
	box-shadow: 0 -1px 0px rgb(214, 214, 214);
}
.ressources .ressources-items-container div {
	margin: 10px 20px 0;
	vertical-align: top;
	display: inline-block;
	position: relative;
}
.ressources .ressources-items-container div:first-child {
	/* margin-left: 50px; */
}
.ressources .ressources-items-container div .ressources-item-icon {
	display: block;
	border-radius: 16px;
	width: 80px;
	margin: 0 auto;
	/*  transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;
	-webkit-filter: grayscale(100%);*/
	/* Chrome 19+, Safari 6+, Safari 6+ iOS */

	-webkit-backface-visibility: hidden;
}
.ressources .ressources-items-container div .ressources-item-icon:hover {
	-webkit-filter: grayscale(0%);
}
.ressources .ressources-items-container div span {
	color: #5F5F5F;
	line-height: 1em;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	display: inline-block;
	max-width: 80px;
	width:100%;
	white-space: normal;
	margin-top: 0.2em;
	text-align: center;
}
.ressources .ressources-items-container div img.icone_drap_res {
	position: absolute;
	right: 0px;
	top: 55px;
}
.ressources .ressources-title {
	display: block;
	padding: 1px 20px;
	border-radius: 4px;
	font-weight: 100;
	font-size: 20px;
	color: rgba(34, 34, 34, 1);
}

.ressources .ressources-items-container div:not([data-count='0'])::after {
	content:attr(data-count);
	min-width: 12px;
	font-size: 18px;
	font-weight: 300;
	text-shadow: 0 1px rgba(0, 0, 0, 0.62);
	text-align:center;
	/*position:relative;*/
	color:#EFEFEF;
	display:inline;
	z-index: 0;
	border-radius: 14px;
	padding: 0px 5px;
	/*min-width:22px;*/
	/* border: 1px solid #eee; */
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	margin:0 4px;
	background: #5CBDD9;
	background: -moz-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%, #5CBDD9), color-stop(100%, #0D8CD7));
	background: -webkit-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -o-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -ms-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
	background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CBDD9', endColorstr='#0D8CD7', GradientType=1);
	position: absolute;
	margin: -85px -20px;
}
.ressources .ressources-items-container div .ui-tooltip-top{
	display: none;
}