.pf nav {
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	align-items: center;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	font-size: 14px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10001;
	background: #f4f4f4;
	/* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(20%, #eaeaea), color-stop(80%, #dddddd), color-stop(100%, #dbdbdb));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #FAFAFA 0%, #F5F5F5 20%, #F0F0F0 80%, #EBEBEB 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dbdbdb', GradientType=0);
	/* IE6-9 */

	/*opacity: 0.8;*/
	height: 34px;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}
.pf nav.pf.user-connected {
	background: rgb(245,140,80); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245, 173, 132, 1) 0%, rgba(248, 131, 46, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245, 173, 132, 1)), color-stop(100%,rgba(248, 131, 46, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245, 173, 132, 1) 0%,rgba(248, 131, 46, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245, 173, 132, 1) 0%,rgba(248, 131, 46, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245, 173, 132, 1) 0%,rgba(248, 131, 46, 1) 100%); /* IE10+ */

	background: linear-gradient(to bottom,  rgba(245, 173, 132, 1) 0%,rgba(248, 131, 46, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58c50', endColorstr='#f56700',GradientType=0 ); /* IE6-9 */
}

.pf nav > div {
	line-height: 33px;
	height: 33px;
	overflow: hidden;
	display: inline-block;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-shrink: 0;
}
.pf nav > div > a img {
	vertical-align: middle;
	width: 24px;
	height: 24px;
	border-radius: 20%;
}
.pf nav > #label-title {
	text-align: center;
	/* overflow: hidden; */
	flex-grow: 1;
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;

	flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-moz-flex-shrink: 1;
	-ms-flex-shrink: 1;

}
.pf nav > #label-title > h3{
	overflow: hidden;
	margin: initial;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 34px;
}
.pf nav #btn-menu {
	padding-left: 20px;
	cursor: pointer;
}
.pf nav #btn-menu > img{
	width: auto;
	height: 34px;
	vertical-align: middle;
}

.pf nav .btn-bar{
	cursor: pointer;
	opacity: 0.4;
	display: inline-block;
	transition: opacity .2s ease-in-out;
	vertical-align: top;

	background-size: 28px;
	background-position: 3px 3px;
	background-repeat: no-repeat;
	width: 34px;
	height: 34px;
	text-align: center;
}

.pf nav .btn-bar:hover{
	opacity: 1;
}


.pf nav #btn-bar-langue img{
	width: 20px;
	height: auto;
	vertical-align: middle;
	margin: 0px auto;
}


.pf nav #btn-profil,
.pf nav #btn-login {
	border-left: 1px solid rgb(218, 218, 218);
	box-shadow: -1px 0 0 rgb(238, 238, 238);
	padding: 0 20px;
	cursor: pointer;
}
.pf nav #btn-login, nav #btn-wrapper-right{
	 /*display: none;*/
	float: right;
}
.pf nav #btn-profil{
	display: inline-block;
}
.pf nav #btn-profil > * {
	vertical-align: middle;
}
.pf nav #btn-wrapper-left, nav #btn-wrapper-right  {
	margin: 0 10px;
}

.pf nav #btn-bar-aide{
	background: url('../private/img/aide.png') no-repeat 50%;
	background-size: 34px;
}
.pf nav #btn-bar-messages-section{
	background: url('../private/img/accroche_echangez.png') no-repeat 50%;
	background-size: 34px;
}
.pf nav #btn-bar-notifications-user{
	background: url('../private/img/notifications_user.png') no-repeat 50%;
	background-size: 24px;
}
.pf nav #btn-bar-notifications-score{
	background: url('../private/img/notifications_score.png') no-repeat 50%;
	background-size: 24px;
}

.pf nav #btn-bar-actualiser-messages{
	background: url('../private/img/actualiser.png') no-repeat 50%;
	background-size: 24px;
}

.pf nav #btn-bar-deplacer-messages.ng-hide-remove{

	-webkit-animation: highlight ease-in-out 1s normal forwards;
	-moz-animation: highlight ease-in-out 1s normal forwards;
	-o-animation: highlight ease-in-out 1s normal forwards;
	animation: highlight ease-in-out 1s normal forwards;
	-webkit-backface-visibility:hidden;
}
.pf nav #btn-bar-deplacer-messages{
	background: url('../private/img/comment_unreaded_64.png') no-repeat 50%;
	background-size: 32px;
}

#btn-bar-deplacer-messages,
#btn-bar-notifications-user,
#btn-bar-notifications-score{
	position: relative;
	opacity: 1;
}
#btn-bar-notifications-user:not([data-count='0'])::before,#btn-bar-notifications-score:not([data-count='0'])::before{
	content:attr(data-count);
	font-size: 16px;
	font-family: Helvetica;
	font-weight: 200;
	text-shadow: 0 1px rgba(0, 0, 0, 0.62);
	text-align:center;
	/*position:relative;*/
	color:#EFEFEF;
	display:inline;
	z-index: 0;
	border-radius: 14px;
	padding: 0px 5px;
	/*min-width:22px;*/
	/* border: 1px solid #eee; */
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	margin:0 4px;
	background: rgb(35, 179, 224);


	-webkit-animation:fade 0.6s ease-in-out;
	-moz-animation:fade 0.6s ease-in-out;
	-o-animation:fade 0.6s ease-in-out;
	animation:fade 0.6s ease-in-out;
} 
#btn-bar-notifications-score[data-count^='-']::before{
	background: yellow;
}
#btn-bar-notifications-score:not([data-count^='-'])::before{
	background: green;
}
.btn-bar-expandable ul.ng-hide {
	top: 24px;
	opacity: 0;
}
.btn-bar-expandable ul {
	list-style: none;
	/*display: none;*/
	padding: 0;
	width: 240px;
	position: fixed;
	margin-left: -105px; 
	top: 44px;
	border-radius: 10px;
	box-shadow: 0 5px 23px -10px rgba(0, 0, 0, 1);
	opacity: 1;
	transition: all ease-in-out .2s;
}



.btn-bar-expandable ul li > .content-action {
	position: absolute;
	right: 0px;
	background: -moz-linear-gradient(left,  rgba(240,240,240,0) 0%, rgba(240,240,240,0) 2%, rgba(240,240,240,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,240,240,0)), color-stop(2%,rgba(240,240,240,0)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(240,240,240,0) 0%,rgba(240,240,240,0) 2%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(240,240,240,0) 0%,rgba(240,240,240,0) 2%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(240,240,240,0) 0%,rgba(240,240,240,0) 2%,rgba(240,240,240,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(240,240,240,0) 0%,rgba(240,240,240,0) 2%,rgba(240,240,240,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f0f0', endColorstr='#f0f0f0',GradientType=1 ); /* IE6-9 */
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
.btn-bar-expandable ul li > .content-action > *{
	display:inline-block;
	width: 25px;
	text-align: center;
	font-size: 16px;
	color: rgba(90, 90, 90, 0.83);
	/* background: orange; */
}

.arrow_box {
	position: fixed;
	background: #f0f0f0;
	border: 1px solid #a8a8a8;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(240, 240, 240, 0);
	border-bottom-color: #f0f0f0;
	border-width: 20px;
	margin-left: -21px;
}
.arrow_box:before {
	border-color: rgba(168, 168, 168, 0);
	border-bottom-color: #a8a8a8;
	border-width: 22px;
	margin-left: -23px;
}
.btn-bar-expandable ul li:not(:first-child){

	border-top: 1px solid rgba(175, 175, 175, 0.3);
}
.btn-bar-expandable ul li{
	text-align: left;
	transition: all 0.2s ease-in-out ;
	-webkit-transition: all 0.2s ease-in-out ;
	-moz-transition: all 0.2s ease-in-out ;
	-o-transition: all 0.2s ease-in-out ;

}
.btn-bar-expandable ul li:hover{
	background-color: rgba(0,0,0,0.05);
}
.btn-bar-expandable ul li > * {
	display: inline-block;
	max-width: 75%;
	vertical-align: middle;
}
.btn-bar-expandable ul li > .content-wrapper > span:first-child {
	font-size: 14px;
	color: rgb(100, 100, 100);
}

.btn-bar-expandable ul li > .content-wrapper > span {
	color: rgb(155, 155, 155);
	font-size: 12px;
	line-height: 14px;
	display: block;
}
.btn-bar-expandable ul li-header {
	text-align: center;
}
.btn-bar-expandable ul li > .illustration {
	width: 30px;
	height: 30px;
	font-size: 16px;
	text-align: center;
	margin: 0 8px;
	background-size: 24px;
	background-position: 50%;
	background-repeat: no-repeat;
}

.btn-bar-expandable ul li > .illustration.negatif{
	color: rgb(255, 173, 0);
}

.btn-bar-expandable ul li > .illustration.positif{
	color: green;
}
#btn-profil img {
	vertical-align: middle;
	width: 25px;
	margin-right: 6px;
}
#btn-profil #profil-name {
	margin-top: 8px;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;
	margin: 0;
}

#profil-pts{
	padding-left: 6px;
}
.pf nav #profil-pts, #profil-pts-label{
	color: #444;
}
.pf nav .panel {
	font-size: 14px;
	z-index: 2000;
	position: fixed;
	display: none;
	margin-top: 26px;
	min-width: 220px;
	padding: 0px;
}
.pf nav .panel ul {
	line-height: 3em;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
.pf nav .panel ul li {
	cursor: pointer;
	transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;
	background-color: white;
	opacity: 0.98;
	padding: 0px 20px;
	list-style: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pf nav .panel ul li:hover {
	background: #eda32b;
	/*color:gray;*/
}
.pf nav .panel ul li .ressources-item-icon {
	height: 3em;
	vertical-align: bottom;
	margin-right: 10px;
}
text {
	font-size: 18px;
	/*-webkit-font-smoothing: antialiased;*/
}

.pf nav #wsIndicator {
	display: none;
	/*display: inline-block;*/
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid rgb(223, 223, 223);
	box-shadow: 0 0 2px gray;
	margin-left: 4px;
}
.pf nav #wsIndicator.unsure{
	background-color: rgb(224, 139, 45);
}

.pf nav #wsIndicator.connected{
	background-color: rgb(37, 173, 37);
}

.pf nav #wsIndicator.disconnected{
	background-color: rgb(187, 20, 20);
}
.pf nav #panel-Profil,nav #panel-menu, nav #panel-Langue-App {
	font-size: 14px;
	box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 44px;
	opacity: 0;
	display: none;
	/* min-width: 220px; */
	/* width: 42px; */
	/* overflow: hidden; */
	padding: 0px;
	text-align: left;
}
.pf nav #panel-Profil{
	right: 0px;
}
.pf nav #panel-menu {
	left: 0px;
}

.pf nav #panel-Profil ul,nav #panel-menu ul, nav #panel-Langue-App ul {
	line-height: 3em;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: #f4f4f4;
	background: -moz-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(20%, #eaeaea), color-stop(80%, #dddddd), color-stop(100%, #dbdbdb));
	background: -webkit-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: -o-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: -ms-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: linear-gradient(to bottom, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dbdbdb', GradientType=0);
}
.pf nav #panel-Profil ul li,nav #panel-menu ul li, nav #panel-Langue-App ul li {
	cursor: pointer;
	transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;

	padding: 0px 10px;
	/* width: 120px; */
	list-style: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pf nav #panel-Profil ul li:hover,nav #panel-menu ul li:hover,nav #panel-Langue-App ul li:hover {
	background: #eda32b;
	/*color:gray;*/
}
.pf nav #panel-Profil ul li .ressources-item-icon,nav #panel-menu ul li .ressources-item-icon,nav #panel-Langue-App ul li .ressources-item-icon {
	height: 3em;
	vertical-align: bottom;
	margin-right: 10px;
}

body #loading-bar .bar{
	top: 33px;
	background-color: orange;
}

body #loading-bar .peg {
	-moz-box-shadow: orange 1px 0 6px 1px;
	-ms-box-shadow: orange 1px 0 6px 1px;
	-webkit-box-shadow: orange 1px 0 6px 1px;
	box-shadow: orange 1px 0 6px 1px;
}

.pf nav #sidebar {
	position: fixed;
	background: rgba(15, 15, 15, 0.85);
	color: whitesmoke;
	font-family: Raleway;
	font-weight: 300;
	font-size: 12px;
	text-shadow: 0px 1px 0px black;
	left: 0px;
	height: 100%;
	width: 72px;
	transition:all ease-in-out .2s;
}
.pf nav #sidebar.ng-hide{
	left: -72px;
	opacity: 0;
}
.pf nav #sidebar ul {
	list-style: none;
	padding: 0;
}

.pf nav #sidebar ul li {
	min-height: 54px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	padding: 4px 0px;
	margin-bottom: 10px;
	line-height: 14px;
	text-align: center;
}


.pf nav #sidebar ul li a {
    color: white;
}

.pf nav #sidebar ul li img{
	display: block;
	margin: 0 auto 4px auto;
	height: 32px;
}
.pf nav #sidebar ul li.disabled {
	opacity: 0.4;
	cursor: default;
}
