.pf.new_design {
    position: absolute;
}
.pf.user_menu {
    position:fixed;
    z-index:999999;
    left:10px;
    top:100px;
    opacity: 0;
    transform: scale(0);
    transition: all ease-out .2s;
    -webkit-animation: pop 1s ease-out 0s 1 normal forwards;
    -moz-animation: pop 1s ease-out 0s 1 normal forwards;
    -o-animation: pop 1s ease-out 0s 1 normal forwards;
    animation: pop 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms 1 normal forwards;
    will-change: top;
}
.pf.user_menu .fa {
  margin-left:4px;
}
.pf.user_menu .fa.fa-square-o {
  color:gray;
}
.pf.user_menu .fa.fa-check-square-o {
    color:green;
}
.pf.user_menu .user_badge.with_count::before {
    opacity: 1;
    background: white;
    bottom: unset;
    border-radius: 20px;
    min-width: 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36);
    right: -10px;
    line-height: 24px;
    top: -6px;
}
.pf.user_menu.active .user_badge.with_count::before {
  opacity:0;
}
.pf.user_menu .pf-user-avatar {
    width:60px;
    height:60px;
    border-radius: 60px;
    transition: all ease-out .2s;
    z-index: 2;
    user-select: none;
    -webkit-user-drag: none;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.75);
    background:white;
}

.pf.user_menu:not(.active):hover .pf-user-avatar {
    transform:scale(1.1);
}

.pf.user_menu .menu {
    
    position: absolute;
    z-index: -1;
    left:-200000px;
    transition: all ease-out .2s 2s;
}

.pf.user_menu.active .menu {
    transition: none;
    left:0px;
}
.pf.user_menu.active .menu .user-info {
    opacity: 1;
}

.pf.user_menu .menu .user-info{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition:opacity .2s ease-out;
    width: 60px;
}
.profil-pts-label img, #profil-pts-label img {
    width: 10px;
    margin-left: 2px;
    margin-top: -2px;
    vertical-align: middle;
}
.pf.user_menu .menu .menu_items{
    padding-left: 0;
    margin: 0;
    position:absolute;
    transform-origin:top;
    transform: translateY(-100%);
    margin-top: 35px;
    left:25px;
    /* border:1px solid blue; */
    user-select: none;
}

.pf.user_menu:not(.active) .menu_item {
    transform-origin:center;
    top:50%;
    left:50%;
    transform:translate(0);
}

.pf.user_menu .menu .menu_items .menu_item {
    list-style:none;
    white-space: nowrap;
    display: block;
    height:32px;
    border-radius:32px;
    transition-property: transform, opacity, max-width;
    transition-duration: .4s;
    transition-timing-function: ease-out;
    opacity:0;
}
.menu_item_wrapper{
    background: white;
    border-radius: 32px;
    transition: max-width ease-out .2s;
    min-width:32px;
    max-width:32px;
    height: 32px;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.75), 0 5px 10px -5px rgba(0, 0, 0, 0.07) inset;
}
.pf.user_menu .menu .menu_items .menu_item_wrapper:hover{
    max-width:200px;
}
.pf.user_menu .menu .menu_items .menu_item_wrapper:hover span {
  visibility:visible;
}

.pf.user_menu .menu .menu_items .menu_item .sub_menu {
    display:inline-block !important;
    position:absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-20px) translateY(-50%);
    list-style:none;
    margin-top: 16px;
    padding-left:0px;
    background:white;
    border-left-width: 2px;
    border-left-style: solid;
    border-radius: 4px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: transform ease-out .2s, opacity ease-out .2s;
}

.pf.user_menu .menu .menu_items .menu_item .sub_menu::before {
    /*content:"{";*/
    position:absolute;
    height: 100%;
    font-size: 45px;
    color:red;
}

.pf.user_menu .menu .menu_items .menu_item:hover .sub_menu, .pf.user_menu .menu .menu_items .menu_item .sub_menu:not(.ng-hide) {
    visibility:visible;
    opacity: 1;
    transform: translateX(0px) translateY(-50%);
}
.pf.user_menu .messages-move-pop-up li {
    position:relative;
}

.sub_menu.teal {
    border-left-color:#4ed0d6;
}
.sub_menu.blue {
    border-left-color:#263cab;
}
.sub_menu.pink {
    border-left-color:#e97687;
}
.sub_menu.orange {
    border-left-color:#d97f29;
}
.sub_menu.gray {
    border-left-color:#636363;
}


.pf.user_menu .menu .menu_items .sub_menu .sub_menu_item{
    padding: 8px 0px;
    margin: 0 8px;
    border-top:1px solid #d4d4d4;
}

.pf.user_menu .menu .menu_items .sub_menu .sub_menu_item:first-child{
    border-top:none;
}
.pf.user_menu .menu .menu_items .menu_item_wrapper > img {
    width:20px;
    margin:6px;
    display: inline-block;
} 
.pf.user_menu .menu .menu_items .menu_item_wrapper > span{
    transition: all ease-out .2s;
    display: inline-block;
    opacity: 0;
    /* margin-left:32px; */
    padding-right:10px;
    color: #383838;
    line-height: 32px;
    white-space: nowrap;
    visibility: hidden;
    vertical-align: top;
} 

.pf.user_menu .menu .menu_items .menu_item_wrapper:hover span{
    opacity: 1;
} 

.pf.user_menu.active .menu .menu_items .menu_item {
    opacity:1;
}

.menu_item:nth-child(1) {
    transition-delay:.1s;
    transform:translate(0px);
    /*background:#0089ff;*/
}
.menu_item:nth-child(2) {
    transition-delay:.2s;
    transform:translate(38px, 0px);
    /*background:#f37000;*/
}
.menu_item:nth-child(3) {
    transition-delay:.3s;
    transform:translate(48px, 12px);
    /*background:#e80000;*/
}
.menu_item:nth-child(4) {
    transition-delay:.4s;
    transform:translate(38px, 24px);
    /*background:#0ebb3b;*/
}

.menu_item:nth-child(5) {
    transition-delay:.5s;
    transform:translate(0px, 28px);
    /*background:#8a0acb;*/
}


@-webkit-keyframes pop {
    0% { 
        opacity: 0;
        transform: scale(0);
    }
    80% { 
        opacity: 1;
        transform: scale(1.1);
    }
    100% { 
        opacity: 1;
        transform: scale(1);
    }
}
@-moz-keyframes pop {
    0% { 
        opacity: 0;
        transform: scale(0);
    }
    80% { 
        opacity: 1;
        transform: scale(1.1);
    }
    100% { 
        opacity: 1;
        transform: scale(1);
    }
}
@-o-keyframes pop {
    0% { 
        opacity: 0;
        transform: scale(0);
    }
    80% { 
        opacity: 1;
        transform: scale(1.1);
    }
    100% { 
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes pop {
    0% { 
        opacity: 0;
        transform: scale(0);
    }
    80% { 
        opacity: 1;
        transform: scale(1.1);
    }
    100% { 
        opacity: 1;
        transform: scale(1);
    }
}

.btn-action.with_count{
  position:relative;
}
.pf.user_menu .menu_item.with_count:hover::before{
  display:none;
}
.pf.user_menu .menu_item.with_count::before {
    right: unset;
    left: 34px;
    top: 5px;
    background: white;
    bottom: unset;
    border-radius: 20px;
    min-width: 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36);
    line-height: 24px;
}
.with_count:not([data-count='0'])::before {
    content:attr(data-count);
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 200;
    text-align:center;
    position: absolute;
    bottom: 6px;
    right: 2px;
    color:#EFEFEF;
    display:inline;
    z-index: 1;
    -: 0px
    margin:0 4px;
    margin: 2px 4px;
    top: 0;
    bottom:  0;
    color: rgb(35, 179, 224);
    -webkit-animation:fade 0.6s ease-in-out;
    -moz-animation:fade 0.6s ease-in-out;
    -o-animation:fade 0.6s ease-in-out;
    animation:fade 0.6s ease-in-out;
} 
.with_count[data-count-type="us"][data-count^='-']::before{
    color: yellow;
}
.with_count[data-count-type="us"]:not([data-count^='-'])::before{
    color: green;
}

.notification{
  position:relative;
}

.notification::before {
    background: #0096db;
    position: absolute;
    right: 20px;
    top: 24px;
    content: "";
    box-shadow: 0px 2px 4px 1px rgba(255, 255, 255, 0.25) inset;
    margin-right: -16px;
    margin-top: -16px;
    width: 12px;
    height: 12px;
    opacity: 0;
    border-radius: 50px;
    border: 1px rgb(0, 144, 210) solid;
    transition: opacity cubic-bezier(0.79, 0.07, 1, 1) 1.5s 1s, box-shadow ease-out 2s 0s;
}

.notification:not(.est_lu)::before {
    opacity: 1;
}

.notification.est_lu::before {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9) inset;
    opacity: 0;
}

.pf.user_menu .arrow_box.ng-hide {
    top: 24px;
    opacity: 0;
}
.pf.user_menu .arrow_box {
    list-style: none;
    /*display: none;*/
    padding: 0;
    width: 240px;
    position: fixed;
    /* margin-left: -105px; */
    top: 44px;
    border-radius: 10px;
    box-shadow: 0 5px 23px -10px rgba(0, 0, 0, 1);
    opacity: 1;
    transition: all ease-in-out .2s;
}
.pf.user_menu .arrow_box_options {
    width: 90%;
    max-width: 380px;
    margin: 4px auto;
    background-color: rgb(247, 247, 247);
    border-radius: 4px;
    box-shadow: 0 1px 0 rgb(199, 195, 195);
}
.pf.user_menu .arrow_box_options .btn-action {
    width:50%;
    border-radius: 4px;
}



.pf.user_menu .arrow_box li > .content-action {
    position: absolute;
    right: 0px;
    top: 6px;
    background: -moz-linear-gradient(left,  rgba(240,240,240,0) 0%, rgba(240,240,240,0) 2%, rgba(240,240,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,240,240,0)), color-stop(2%,rgba(240,240,240,0)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(240,240,240,0) 0%,rgba(240,240,240,0) 2%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(240,240,240,0) 0%,rgba(240,240,240,0) 2%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(240,240,240,0) 0%,rgba(240,240,240,0) 2%,rgba(240,240,240,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(240,240,240,0) 0%,rgba(240,240,240,0) 2%,rgba(240,240,240,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f0f0', endColorstr='#f0f0f0',GradientType=1 ); /* IE6-9 */
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.pf.user_menu .arrow_box li > .content-action > *{
    display:inline-block;
    width: 25px;
    text-align: center;
    font-size: 16px;
    color: rgba(90, 90, 90, 0.83);
    /* background: orange; */
}

.pf.user_menu .arrow_box {
    position: fixed;
    background: #ffffff;
    border: 1px solid #a8a8a8;
}
.pf.user_menu .arrow_box.arrow_box_top:after, .pf.user_menu .arrow_box.arrow_box_top:before {
    top: -19px;
    left: 26px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.pf.user_menu .arrow_box.arrow_box_top:after {
    border-color: rgba(240, 240, 240, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -21px;
}
.pf.user_menu .arrow_box.arrow_box_top:before {
    border-color: rgba(168, 168, 168, 0);
    border-bottom-color: #a8a8a8;
    border-width: 11px;
    margin-left: -22px;
    margin-top: -3px;
}
.pf.user_menu .arrow_box li:not(:first-child){

    border-top: 1px solid rgba(175, 175, 175, 0.3);
}
.pf.user_menu .arrow_box li{
    text-align: left;
    transition: all 0.2s ease-in-out ;
    -webkit-transition: all 0.2s ease-in-out ;
    -moz-transition: all 0.2s ease-in-out ;
    -o-transition: all 0.2s ease-in-out ;

}
.pf.user_menu .arrow_box li:hover{
    background-color: rgba(0,0,0,0.05);
}
.pf.user_menu .arrow_box li > * {
    display: inline-block;
    max-width: 75%;
    vertical-align: middle;
}
.pf.user_menu .arrow_box li > .content-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pf.user_menu .arrow_box li > .content-wrapper > span:first-child {
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.pf.user_menu .arrow_box li > .content-wrapper > span {
    color: rgb(155, 155, 155);
    font-size: 12px;
    line-height: 14px;
    display: block;
}
.pf.user_menu .arrow_box li-header {
    text-align: center;
}
.pf.user_menu .arrow_box li > .illustration {
    width: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    margin: 0 2px;
    background-size: 24px;
    background-position: 50%;
    background-repeat: no-repeat;
}

.pf.user_menu .arrow_box li > .illustration.negatif{
    color: rgb(255, 173, 0);
}

.pf.user_menu .arrow_box li > .illustration.positif{
    color: green;
}


.pf.user_menu .arrow_box .arrow_box_section {
  max-height:220px;
  overflow-x:hidden;
  overflow-y:auto;
}
.pf.user_menu .arrow_box .btn-tab {
    display:  inline-block;
    box-sizing: border-box;
    width: 50%;
    text-align:  center;
    position:  relative;
    padding: 4px 10px 2px 10px;
    transition:border ease-out .2s;
    border-bottom:2px solid transparent;
}
.pf.user_menu .arrow_box .btn-tab:first-child {
    border-bottom-left-radius:4px;
}
.pf.user_menu .arrow_box .btn-tab:last-child {
    border-bottom-right-radius:4px;
}
.pf.user_menu .arrow_box .btn-tab.selected {
    border-bottom:2px solid orange;

}
/* Animation */
.user_menu:before,
.user_menu:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.user_menu:before {
  left:-2px;
  right:2px;
  box-shadow: 0 0 0 4px #0089de; 
  animation: ripple .8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 50ms 1 normal forwards;
}

.user_menu:after {
  top:4px;
  left:4px;
  right:-4px;
  bottom:-4px;
  box-shadow: 0 0 0 4px orange; 
  animation: ripple .8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms 1 normal forwards;
}

@keyframes ripple {
  0% {
    transform: scale(0.4);
    opacity: 0; }
  80% {
    transform: scale(1.2);
    opacity: 1; }
  100% {
    transform: scale(1.4);
    opacity: 0; } 
}

.pf .loading-bar-spinner {
    display: block;
    z-index: 10002;
    position: fixed;
    top: -4px;
    left: -4px;
}


.pf .loading-bar-spinner .spinner-icon, .pf .loading-bar-spinner .spinner-icon-reverse {
      
  width: 65px;
  height: 65px;

  border:  solid 2px transparent;
  border-top-color:  orange;
  /* border-left-color: #29d; */
  border-radius: 100px;
  -webkit-animation: loading-bar-spinner 0.8s cubic-bezier(0.6, 0.46, 0.35, 0.93) infinite;
  -moz-animation:    loading-bar-spinner 0.8s cubic-bezier(0.6, 0.46, 0.35, 0.93) infinite;
  -ms-animation:     loading-bar-spinner 0.8s cubic-bezier(0.6, 0.46, 0.35, 0.93) infinite;
  -o-animation:      loading-bar-spinner 0.8s cubic-bezier(0.6, 0.46, 0.35, 0.93) infinite;
  animation: loading-bar-spinner 0.8s cubic-bezier(0.6, 0.46, 0.35, 0.93) infinite;
}
.pf .loading-bar-spinner .spinner-icon-reverse {
  border-left-color: #29d;
  border-top-color: transparent;
  position: fixed;
  z-index: 2000000;
  top: -8px;
  left: -8px;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  -webkit-animation: loading-bar-spinner 0.9s .1s cubic-bezier(0.6, 0.46, 0.35, 0.93) infinite reverse;
  -moz-animation:    loading-bar-spinner 0.9s .1s cubic-bezier(0.6, 0.46, 0.35, 0.93) infinite reverse;
  -ms-animation:     loading-bar-spinner 0.9s .1s cubic-bezier(0.6, 0.46, 0.35, 0.93) infinite reverse;
  -o-animation:      loading-bar-spinner 0.9s .1s cubic-bezier(0.6, 0.46, 0.35, 0.93) infinite reverse;
  animation: loading-bar-spinner 0.9s .1s cubic-bezier(0.6, 0.46, 0.35, 0.93) infinite reverse;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}