.pf .formBox h1 {
  font-weight: 400;
  color: #3796f7;
  text-shadow: 0 -1px white;
  text-align:center;
  font-size:20px;
}
.pf .formBox .group        {
  position:relative;
  margin-bottom: 5px;
  margin-top: 26px;
}
.pf .formBox .separator {
  display:block;
  text-align:center;
  color: #909090;
  margin: 10px 0px;
}
.pf .formBox input[type="submit"], .pf .formBox input[type="button"]{
  margin:0 auto;
  height: 18px;
  text-align:center;
  display: block;
}
.pf .formBox .separator span::before, .pf .formBox .separator span::after {
  content:"";
  display: inline-block;
  width: 30%;
  height: 1px;
  margin: 3px 8px;
  background: #cccccc;
}

.pf .formBox input:not([type="submit"]):not([type="button"]):not([type="checkbox"]), .pf .formBox select{
  box-sizing:border-box;
  font-size:18px;
  padding: 6px 6px 10px 6px;
  display:block;
  width: 100%;
  border:none;
  border-bottom: 1px solid #a7a7a7;
}

.pf .formBox select {
  height: 38px;
}
.pf input:focus     { outline:none; }

.pf input[type="submit"]{
  background: #3696f6;
  color: white;
}
/* LABEL ======================================= */
.pf .formBox label          {
  color: #999;
  font-size: 16px;
  font-weight: 100;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  -webkit-transition:0.2s ease-out top, 0.2s ease-out font-size, 0.2s ease-out color;
  -moz-transition:0.2s ease-out top, 0.2s ease-out font-size, 0.2s ease-out color;
  transition:0.2s ease-out top, 0.2s ease-out font-size, 0.2s ease-out color;
}
.pf .formBox label a{
    pointer-events: initial;
}
.pf .formBox  textarea {
  width: 100%;
  min-height: 150px;
  resize: vertical;
  border: 0px;
  border-bottom: 1px solid #a7a7a7;
}
/* active state */
.pf .formBox input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):focus ~ label,
.pf .formBox input:not([type="submit"]):not([type="button"]):not([type="checkbox"])[required]:valid ~ label,
.pf .formBox input:not([type="submit"]):not([type="button"]):not([type="checkbox"]).ng-valid ~ label,
.pf .formBox input:not([type="submit"]):not([type="button"]):not([type="checkbox"]).ng-dirty ~ label,
.pf .formBox input:not([type="submit"]):not([type="button"]):not([type="checkbox"])[disabled] ~ label,
.pf .formBox textarea:focus ~ label,
.pf .formBox textarea.ng-not-empty ~ label,
.pf .formBox select ~ label    {
  top:-20px;
  font-size:14px;
  color: #999;
}
.pf .formBox input:not([type="submit"]):not([type="button"]):not([type="checkbox"])[disabled] {
  color:gray;
  cursor: not-allowed;
}

.pf .formBox .sub-input {
  float:right;
  color: gray;
  font-weight: 200;
  font-size: 13px;
  margin: 4px;
  transition:color ease-out .2s;
}
.pf .formBox .sub-input:hover {
  color:#999;
}
.pf .formBox .sub-input::after {
  /* clear:both; */
  /* content:""; */
  /* display:block; */
}
/* BOTTOM BARS ================================= */
.pf .formBox .bar  {position:relative;display:block;width: 100%;}
.pf .formBox .bar:before,
.pf .formBox .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom: 0px;
  position:absolute;
  background: #999;
  -webkit-transition:0.2s ease-out left, 0.2s ease-out right;
  -moz-transition:0.2s ease-out left, 0.2s ease-out right;
  transition:0.2s ease-out left, 0.2s ease-out right;
}
.pf .formBox .bar:before {
  left:50%;
}
.pf .formBox .bar:after {
  right:50%; 
}

/* active state */
.pf .formBox input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):focus ~ .bar:before,
.pf .formBox input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.pf .formBox .highlight {
  position:absolute;
  display: none;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.pf .formBox input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease-out;
  -moz-animation:inputHighlighter 0.3s ease-out;
  animation:inputHighlighter 0.3s ease-out;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}


/* FORM STATUS */

.form-status::after {
  position: absolute;
  z-index: 200;
  top: 10px;
  transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ng-valid + .form-status::after {
  content: "\f00c";
  color: green;
  }

.ng-touched.ng-invalid-required + .form-status::after {
  content: "\f00d";
  color: red; 
}

.form-status::after {
  right: 0px;
  opacity: 0; 
}

.ng-dirty + .form-status::after, .ng-pristine + .form-status::after {
  right: 20px;
  opacity: 1; 
}


.pf #postRegisterBox {
  text-align: center;
}


.explication-validation{
    
    margin: 12px 0px;
    color: #3696f6;
    text-align: justify;
}
.clic-en-dehors{
  color: #868686;
}


.btn-login-oauth {
  margin: 0 auto;
  display: block;
  /*min-width: 180px;*/
  width: 200px;
  margin-bottom: 8px;
  line-height: 22px;
}
.btn-login-oauth span {
    vertical-align: middle;
  text-shadow: 0px -1px 1px rgba(31, 25, 25, 0.15);
}

.btn-login-linkedin {
    background: rgb(17,120,179);
    color: white;
}
.btn-login-linkedin:hover {
    background: rgb(11,76,113);
}
.btn-login-linkedin .fa { 
    font-size: 24px;
    margin-right: 6px;
    vertical-align: middle;
}
.btn-login-shibboleth {
    background: #f47201;
    color: white;
}
.btn-login-shibboleth:hover {
    background: #d46403;
}

.btn-login-shibboleth img { 
  height:24px;
    margin-right: 6px;
    vertical-align: middle;
}