/*.reseau{
  z-index:2000;
  transition:all ease-out .2s;
  transform:translateX(0px);
  opacity:1;
  visibility:visible;
  overflow-x: auto;
  overflow-y: visible;
}
.reseau.ng-hide {
  transform:translateX(-4px);
  opacity:0;
  visibility:hidden;
}*/
.reseau-container{

}
.reseau-liste{
  list-style:none;
  padding: 6px 0;
  margin: 0;
}
.reseau-item{
  width: 70px;
  min-height: 70px;
  position:relative;
  cursor:pointer;
  vertical-align: top;
  display:inline-block;
  transform:scale(0.95);
  opacity: 0.9;
}
.reseau-item:hover, .reseau-item.selection {
  transform:scale(1);
}
.reseau-item.selection .reseau-liste-user {
  opacity: 1;
  border: 2px solid #01770b;
}
.reseau-item-label{
  text-align:center;
  display: block;
  /* overflow: hidden; */
  width: 70px;
  /* height: 56px; */
  /* text-overflow: ellipsis; */
  white-space: normal;
  color: #505050;
}
.reseau-liste-user {
  position:relative;
  box-sizing: content-box;
  width: 52px;
  height: 52px;
  padding: 4px;
  margin:0 auto;
  border-radius:100px;
  border: 2px solid #8c8c8c;
  box-shadow: 0 6px 4px -5px black;
  background: #fdfdfd;
  transition: border .2s ease-out;
}
.reseau-user {
  position:absolute;
}
.reseau-liste-user.one_user .reseau-user:nth-child(1){
  left:4px;
  top:4px;
}
.reseau-liste-user.one_user .reseau-user img{
  width:52px;
}
.reseau-liste-user.two_user .reseau-user:nth-child(1){
  left: 18px;
  top: 15px;
}
.reseau-liste-user.two_user .reseau-user:nth-child(2){
  left:4px;
  top:4px;
}
.reseau-liste-user.two_user .reseau-user img{
  width: 38px;
}
.reseau-liste-user.three_user .reseau-user:nth-child(1){
  left: 8px;
  top: 22px;
}
.reseau-liste-user.three_user .reseau-user:nth-child(2){
  left:23px;
  top:15px;
}
.reseau-liste-user.three_user .reseau-user:nth-child(3){
  left:6px;
  top:4px;
}
.reseau-liste-user.three_user .reseau-user img{
  width:32px;
}
