

.user-short-profile {
    position: fixed;
    visibility: hidden;
    border-radius: 4px;
    opacity: 0;
    transition: width ease-out .2s, max-height ease-out 0.3s .2s, background ease-out .5s;
    overflow: hidden;
    width:50px;
    max-height:50px;
    background: rgb(255, 255, 255);
    z-index: 20000;
    box-shadow: 0px 2px 4px -2px #3a3a3a;
    padding: 6px 12px;
    border: 1px solid #e4e4e4;
}
.user-short-profile.displayed {
    opacity: 1;
    visibility: visible;
    width:280px;
    max-height: 200px;
    overflow: visible;
    /* persist overflow value from animation */
    animation: 1s delay-overflow;
}
.user-short-avatar .pf-user-avatar {
    width: 50px;
    height: 50px;
}
.user-short-avatar.online {
    position: relative;
    height: 50px;
}
.user-short-avatar.online::after {    
    content: "";
    display: block;
    background: #00bb00;
    border: 2px solid white;
    border-radius: 12px;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.user-short-avatar {
    display:inline-block;
}
.user-short-header-info {
    display:inline-block;
    vertical-align:top;
    margin-left:8px;
}
.user-short-header-info {
  max-width:calc(100% - 60px);
}
.user-short-header-info .username {
    font-size:18px;
}

.user-short-profile .etablissement{
    color:#4e4e4e;
}
.user-short-profile .profil-ressource-upgrade {
    color:teal;
  padding: 0;
  margin: 0;
}

.user-short-profile .rank-upgrade-wrapper.ui-tooltip-bottom{ 
  -moz-transform: translate(-70%,-105%);
  -webkit-transform: translate(-70%,-105%);
  -o-transform: translate(-70%,-105%);
  transform: translate(-70%,-105%);
  
}


.user-short-profile .status{
    font-size: 12px;
    font-weight: 400;
    color: #9ea09e;
}
.user-short-profile .status.online{
    color: green;
}
@keyframes delay-overflow {
  from { overflow: hidden; }
}
