
/************************************************************************************************************************/
/************************************************************************************************************************/
/*********** Tooltips */
/************************************************************************************************************************/
/************************************************************************************************************************/

.ui-tooltip-top,
.ui-tooltip-bottom,
.ui-tooltip-right {
  z-index: 205;
  opacity: 0.98;
  /*min-height: 120px;
  min-width: 260px;*/
  color: #545454;
  cursor: normal;
  display: -moz-inline-stack;
  display: inline-block;
  font-size: 12px;
  font-family: arial;
  padding: .5em 1em;
  position: absolute;
  /*position:relative;*/

  text-align: center;
  text-shadow: 0 -1px 0px #ffffff;
  border-radius: 4px ;
  box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  background-color: rgba(255, 255, 255, 0.9);
}
.ui-tooltip-top:after,
.ui-tooltip-bottom:after,
.ui-tooltip-right:after {
  content: "\25B8";
  display: block;
  font-size: 4em;
  height: 0;
  line-height: 0;
  position: absolute;
}
.ui-tooltip-right:after {
  color: white;
  bottom: 0;
  left: 1px;
  text-align: center;
  text-shadow: 1px 0 2px #000000;
  width: 30px;
  height: 30px;
  right: 0px;
}
.ui-tooltip-bottom:after {
  color: rgba(255, 255, 255, 1);
  bottom: -3px;
  left: 1px;
  text-align: center;
  text-shadow: 1px 0 2px rgba(0, 0, 0, 0.6);
  transform: rotate(90deg);
  width: 100%;
}
.ui-tooltip-bottom select {
  background: rgba(255, 255, 255, 0);
  font-family: "Helvetica";
  color: white;
  border: none;
  height: 30px;
}
.ui-tooltip-top:after {
  bottom: auto;
  
  color: rgba(255, 255, 255, 1);
  left: -2px;
  top: 0;
  text-align: center;
  text-shadow: 1px 0 0px rgba(0, 0, 0, 0.6);
  transform: rotate(-90deg);
  width: 100%;
}

.ui-tooltip-bottom{
  transform:translateY(-120%) translateX(-63%);
  transition:all ease-in-out .2s;
}
.ng-enter .ui-tooltip-bottom{
  transform:translateY(-110%) translateX(-63%);
  opacity: 0;
}
.ng-leave .ui-tooltip-bottom{
  transform:translateY(-130%) translateX(-63%);
  opacity: 0;
}
