.pf(ng-controller="avatar_upload")
  section.panel-wrapper
    section.panel-head
      h1.panel-title {{"TITLE_MODIFIER_AVATAR" | translate}}
    section#avatar_upload.formBox
      form
        | {{ "CHOISIR_IMAGE" | translate }} :
        input.btn.btn-action(type="file", ngf-select="recupererLogo($files)", ngf-multiple="false")
        .cropArea(ng-show="src_avatar")
          img-crop(image="src_avatar", result-image="avatar", area-type="circle", area-min-size="100", result-image-size="100")
        button.btn.btn-action(ng-click="uploadAvatar()") {{ "BUTTON_RESTAURATION_AVATAR" | translate }}
        button.btn.btn-action(ng-click="uploadAvatar(avatar)") {{ "BUTTON_SAUVEGARDER" | translate }}
