.backoffice(ng-controller='backoffice')

	.container.bo-espace(ng-controller='backoffice_espace')
		.top-bar
			.espace-select.btn-group
				h2 {{ "ESPACE" | translate}} 
				.btn-white
					button.dropdown-toggle(type='button', data-toggle='dropdown')
						img(ng-src='{{selection.espace.url_logo}}', alt='{{selection.espace.nom_long}}')
						span {{selection.espace.nom_long || "Sélectionnez un espace…" }}

					.btn-wrapper(ng-show='selection.espace')
						a.btn.btn-mini.dropdown-toggle(ng-show='aAccesBoutonGererGroupes() || aAccesBoutonGererRolesEspace() || est_admin_pairform',data-toggle='dropdown') 
							i.glyphicon.glyphicon-cog
						a.btn.btn-mini(ng-show='aAccesBoutonEditerEspace()', ng-href='backoffice/espaces/gestionEspace/{{selection.espace.id_espace}}?nom_espace={{selection.espace.nom_long}}', alt='{{"LABEL.ESPACE.EDITER" | translate}}', title='{{"LABEL.ESPACE.EDITER" | translate}}')
							i.glyphicon.glyphicon-pencil
						a.btn.btn-mini(ng-href='{{res_url_root + "doc/" +  selection.espace.id_espace}}', target='{{selection.espace.id_espace}}', alt='{{"LABEL.ESPACE.ACCES" | translate}}', title='{{"LABEL.ESPACE.ACCES" | translate}}')
							i.glyphicon.glyphicon-share-alt

						ul.dropdown-menu.hover-menu.hover-menu-top.btn-block(role='menu')
							a(
								ng-show='aAccesBoutonGererGroupes()',
								ng-href='backoffice/groupes/gestionGroupes/{{selection.espace.id_espace}}?nom_espace={{selection.espace.nom_long}}'
							) {{"LABEL.GROUPE.GERER" | translate}}
							a(
								ng-show='aAccesBoutonGererRolesEspace()',
								ng-href='backoffice/roles/gestionRolesEspace/{{selection.espace.id_espace}}?nom_espace={{selection.espace.nom_long}}'
							) {{"LABEL.ROLE.ROLE_ESPACE.GERER" | translate}}
							a(
								ng-show='est_admin_pairform',
								ng-click='supprimerEspace(selection.espace);'
							) {{"LABEL.ESPACE.SUPPRIMER" | translate}}

					ul.dropdown-menu.btn-block(role='menu')
						li.espace-select-deselect.logo-pairform(ng-show='selection.espace', ng-click='selectionnerEspace()') Déselectionner l'espace
						li 
							a(ng-show='est_admin_pairform', href='backoffice/espaces/creationEspace') 
								i.glyphicon.glyphicon-lg.glyphicon-plus
								| {{"LABEL.ESPACE.CREER" | translate}}

						li.divider(ng-show='est_admin_pairform || selection.espace')

						li.logo-pairform(ng-repeat='espace in liste_espaces | filter: recherche_espace', ng-click='selectionnerEspace(espace);')
							img(src='{{espace.url_logo}}', alt='{{espace.nom_long}}')
							div {{espace.nom_long}}

			.ressource-select.btn-group(ng-show='selection.ressource')
				h2 Ressource

				.btn-white
					button.dropdown-toggle(type='button', data-toggle='dropdown') 
						img(ng-src='{{selection.ressource.url_logo}}', alt='{{selection.ressource.nom_court}}')
						span {{selection.ressource.nom_long}}

					.btn-wrapper(ng-show='selection.ressource')
						a.btn.btn-mini.dropdown-toggle(ng-show='aAccesBoutonAfficherStatistiquesRessource() || aAccesBoutonGererOpenBadgesRessource() || aAccesBoutonGererRolesRessource() || aAccesBoutonSupprimerRessource()', data-toggle='dropdown')
							i.glyphicon.glyphicon-cog
						a.btn.btn-mini(ng-show='aAccesBoutonEditerRessource()', ng-href='backoffice/ressources/gestionRessource/{{selection.ressource.id_ressource}}?id_espace={{selection.ressource.id_espace}}&nom_espace={{selection.espace.nom_long}}&nom_ressource={{selection.ressource.nom_court}}&cree_par={{selection.ressource.cree_par}}', alt='{{"LABEL.RESSOURCE.EDITER" | translate}}', title='{{"LABEL.RESSOURCE.EDITER" | translate}}') 
							i.glyphicon.glyphicon-pencil
						a.btn.btn-mini(ng-href='{{res_url_root + "doc/" + selection.ressource.id_espace}}/{{selection.ressource.id_ressource}}', target='{{selection.ressource.id_ressource}}', alt='{{"LABEL.RESSOURCE.ACCES" | translate}}', title='{{"LABEL.RESSOURCE.ACCES" | translate}}')
							i.glyphicon.glyphicon-share-alt

						ul.dropdown-menu.hover-menu.hover-menu-top.btn-block(role='menu')
							a(
								ng-show='aAccesBoutonAfficherStatistiquesRessource()', 
								ng-href='backoffice/statistiques/statistiquesRessource/{{selection.ressource.id_ressource}}?id_espace={{selection.ressource.id_espace}}&nom_espace={{selection.espace.nom_long}}&nom_ressource={{selection.ressource.nom_court}}&ressource_cree_par={{selection.ressource.cree_par}}'
							) {{"LABEL.STATISTIQUE.AFFICHER" | translate}}
							a(
								ng-show='aAccesBoutonGererOpenBadgesRessource()', 
								ng-href='backoffice/openBadges/gestionOpenBadges/{{selection.ressource.id_ressource}}?id_espace={{selection.ressource.id_espace}}&nom_espace={{selection.espace.nom_long}}&url_espace={{selection.espace.url}}&nom_ressource={{selection.ressource.nom_court}}&ressource_cree_par={{selection.ressource.cree_par}}'
							) {{"LABEL.OPENBADGE.GERER" | translate}}
							a(
								ng-show='aAccesBoutonGererRolesRessource()', 
								ng-href='backoffice/roles/gestionRolesRessource/{{selection.ressource.id_ressource}}?id_espace={{selection.ressource.id_espace}}&nom_espace={{selection.espace.nom_long}}&nom_ressource={{selection.ressource.nom_court}}&ressource_cree_par={{selection.ressource.cree_par}}'
							) {{"LABEL.ROLE.ROLE_RESSOURCE.GERER" | translate}}
							a(
								ng-show='aAccesBoutonSupprimerRessource()',
								ng-click='supprimerRessource(selection.ressource, selection.ressource.id_espace);'
							) {{"LABEL.RESSOURCE.SUPPRIMER" | translate}}

					ul.dropdown-menu.btn-block(role='menu')
						li 
							a(
								ng-show='aAccesBoutonCreerRessource()',
								ng-href='backoffice/ressources/creationRessource/{{selection.espace.id_espace}}?nom_espace={{selection.espace.nom_long}}'
							)
								i.glyphicon.glyphicon-lg.glyphicon-plus
								| {{"LABEL.RESSOURCE.CREER" | translate}}
						
						li.divider

						li.logo-pairform(ng-repeat='ressource in liste_ressources | filter: recherche_ressource | filter: aAccesRessource | filtreByIdEspace: selection.espace.id_espace', ng-click='selectionnerRessource(ressource);')
							img(src='{{ressource.url_logo}}', alt='{{ressource.nom_court}}')
							div {{ressource.nom_long}}

		.liste-ressources.row.container(ng-hide='selection.ressource')
			h1.section-header {{"LABEL.RESSOURCE.RESSOURCES" | translate}}

			.finder.pf-centered.col-sm-6.row(ng-hide='selection.ressource')
				.input-group
					input.form-control(ng-model='recherche_ressource', type='text', placeholder='{{"LABEL.RESSOURCE.CHERCHER" | translate}}', list='id_liste_ressources')
					.input-group-btn
						button.btn.btn-default(type='submit')
							i.glyphicon.glyphicon-search
			.ressource-item(ng-repeat='ressource in liste_ressources | filter: recherche_ressource | filter: aAccesRessource | filtreByIdEspace: selection.espace.id_espace', ng-click='selectionnerRessource(ressource);')
				img(src='{{ressource.url_logo}}', alt='{{ressource.nom_court}}')
				figcaption {{ressource.nom_long}}
			a.ressource-item(
					ng-show='selection.espace && aAccesBoutonCreerRessource()', 
					ng-href='backoffice/ressources/creationRessource/{{selection.espace.id_espace}}?nom_espace={{selection.espace.nom_long}}'
				)
				i.glyphicon.glyphicon-lg.glyphicon-plus
				figcaption {{"LABEL.AJOUTER" | translate}}

			.alert.alert-info(role='alert') 
				h2
					i.glyphicon.glyphicon-info-sign
					| {{ "TITLE_ESPACES_ET_RESSOURCES" | translate }}
				| {{ "CONTENU_ESPACES_ET_RESSOURCES_1" | translate }}
				br
				| {{ "CONTENU_ESPACES_ET_RESSOURCES_2" | translate }}
				br
				br
				| {{ "CONTENU_ESPACES_ET_RESSOURCES_3" | translate }}
	
	include ../../backoffice/views/pages/timeline

	.container.bo-items(ng-show='selection.ressource' ng-controller='backoffice_items')
		h1.section-header {{"LABEL.CAPSULE.CAPSULES" | translate}}
		.finder.pf-centered.col-sm-6.row
			.input-group
				input.form-control(ng-model='recherche_capsule', ng-click='selection.capsule = {};', type='text', placeholder='{{"LABEL.CAPSULE.CHERCHER" | translate}}', list='id_liste_capsules')
				.input-group-btn
					button.btn.btn-default(type='submit')
						i.glyphicon.glyphicon-search
		.liste-capsule.row
			.capsule-item(ng-repeat='capsule in liste_capsules | filtreByIdRessource:selection.ressource.id_ressource | filter: recherche_capsule', draggable="true", capsule="capsule", ng-class='{disabled : !capsule.url_web}')
				img(ng-src='#{url_serveur_node}/public/img/icone/{{formats_noms_icones[capsule.id_format]}}', alt='{{capsule.nom_long}}')
				figcaption {{capsule.nom_long}}
				i.disabled-icon.fa.fa-eye-slash(title="Ce document n'est pas encore publié, vous ne pouvez pas y accéder" ng-if="!capsule.url_web")
				.btn-group-vertical.btn-block
					a.btn.btn-mini.dropdown-toggle(ng-show='aAccesBoutonGererVisibiliteCapsule(capsule) || aAccesBoutonDeplacerCapsule() || aAccesBoutonSupprimerMessagesCapsule(capsule) || aAccesBoutonSupprimerCapsule(capsule)', data-toggle='dropdown')
						i.glyphicon.glyphicon-cog
					a.btn.btn-mini(ng-show='aAccesBoutonEditerCapsule(capsule)', ng-href='backoffice/capsules/gestionCapsule/{{capsule.id_capsule}}?id_espace={{selection.espace.id_espace}}&nom_espace={{selection.espace.nom_long}}&id_ressource={{capsule.id_ressource}}&nom_ressource={{selection.ressource.nom_court}}&nom_capsule={{capsule.nom_long}}&cree_par={{capsule.cree_par}}', alt='{{"LABEL.CAPSULE.EDITER" | translate}}', title='{{"LABEL.CAPSULE.EDITER" | translate}}')
						i.glyphicon.glyphicon-pencil
					a.btn.btn-mini(ng-disabled='!capsule.url_web', ng-href='{{capsule.url_web}}', target='{{capsule.id_capsule}}', alt='{{"LABEL.CAPSULE.ACCES" | translate}}', title='{{"LABEL.CAPSULE.ACCES" | translate}}')
						i.glyphicon.glyphicon-share-alt

					ul.dropdown-menu.hover-menu.hover-menu-top.btn-block(role='menu')
						a(
							ng-show='aAccesBoutonGererVisibiliteCapsule(capsule)',
							ng-href='backoffice/capsules/gestionVisibiliteCapsule/{{capsule.id_capsule}}?id_espace={{selection.espace.id_espace}}&nom_espace={{selection.espace.nom_long}}&id_ressource={{capsule.id_ressource}}&nom_ressource={{selection.ressource.nom_long}}&nom_capsule={{capsule.nom_long}}&cree_par={{capsule.cree_par}}'
						) {{"LABEL.CAPSULE.VISIBILITE.GERER" | translate}}
						a(
							ng-show='aAccesBoutonDeplacerCapsule()',
							ng-click='afficherFenetreSelectionRessource(capsule);'
						) {{"LABEL.CAPSULE.DEPLACER" | translate}}
						a(
							ng-show='aAccesBoutonSupprimerMessagesCapsule(capsule)',
							ng-click='supprimerMessagesCapsule(capsule, selection.ressource.id_ressource, selection.espace.id_espace);'
						) {{"LABEL.CAPSULE.SUPPRIMER_MESSAGES" | translate}}
						a(
							ng-show='aAccesBoutonSupprimerCapsule(capsule)',
							ng-click='supprimerCapsule(capsule, selection.ressource.id_ressource, selection.espace.id_espace);'
						) {{"LABEL.CAPSULE.SUPPRIMER" | translate}}
			a.capsule-item(
				ng-show='aAccesBoutonCreerCapsule()', 
				ng-href='backoffice/capsules/creationCapsule/{{selection.ressource.id_ressource}}?id_espace={{selection.ressource.id_espace}}&nom_espace={{selection.espace.nom_long}}&nom_ressource={{selection.ressource.nom_court}}&ressource_cree_par={{selection.ressource.cree_par}}'
			)
				i.glyphicon.glyphicon-lg.glyphicon-plus
				figcaption {{"LABEL.AJOUTER" | translate}}


	include mixins
	+modal("fenetre_selection_ressource")
		#recherche-container.panel-container-left.pf
			h1.page-header {{'LABEL.RESSOURCE.SELECTIONNER' | translate}}
			section#search-wrapper.panel-wrapper
				section#ressources-head.panel-head
					section#search-actions.panel-actions
						input(type='search', ng-model='filtre_ressources', results='5', name='nom_court', autosave='fr.emn.pairform', placeholder='{{"LABEL.RESSOURCE.CHERCHER" | translate}}')
				section#search-results
					h1.search-not-found {{'web_label_aucun_resultat' | translate}}
					ul#search-list-results
						li.search-result-item(ng-click='deplacerCapsule(ressource.id_ressource)', ng-repeat='ressource in liste_ressources | filtreByIdEspace: selection.espace.id_espace | search:filtre_ressources:["nom_court"]:"OR" | limitTo:limit')
							img.search-img(ng-src='{{ressource.url_logo}}', alt='{{ressource.nom_court}}')
							.search-inner
								h1.search-name {{ressource.nom_court}}

				.btn-action.pull-right(ng-click='increaseLimit()') {{'LABEL.AFFICHER_PLUS' | translate}}
