.success-container(ng-controller="badges")
  section#success-wrapper.panel-wrapper
    section#success-head
      #btn-badge-fermer.btn-cross-fermer(ng-click="remove()") x
      h1#success-user.success-label
        | {{"TITLE_DERNIERS_BADGES" | translate}} ({{utilisateur.nb_openbadges}})
    section#success-results
      ul#success-list-results
        li.success-result(ng-repeat="badge in utilisateur.openbadges")
          img.success-img(ng-src="{{badge.url_logo}}")
          .success-inner
            h2.success-titre {{badge.nom}}
            .success-description {{ "WEB_LABEL_BADGE_SUCCESS_DESCRIPTION_1" | translate }} {{badge.emetteur}} {{ "WEB_LABEL_BADGE_SUCCESS_DESCRIPTION_2" | translate }} {{badge.id_ressource}} - {{badge.description}}
