div(ng-controller="connexion")
  #popin-connexion.formBox
    section#loginBox(ng-show="mode == 'connexion'")
      h1 {{"TITLE_CONNEXION" | translate}}
      form#formLog(ng-submit="connecter()", method="post")
        label {{"LABEL_IDENTIFIANT" | translate}} : 
        input(type="text", placeholder="{{'LABEL_IDENTIFIANT' | translate}}", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="connexion.username")
        br
        label {{"LABEL_MOT_DE_PASSE" | translate}} :
        input(type="password", placeholder="{{'label_mot_de_passe' | translate}}", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="connexion.password")
        br
        input.btn-action(type="button", ng-click="mode = 'enregistrement-0'", value="{{'BUTTON_CREER_UN_COMPTE' | translate}}")
        input.btn-action(type="button", ng-click="mode = 'mot_de_passe'", value="{{'WEB_BUTTON_MDP_OUBLIE' | translate}}")
        input.btn-action(type="submit", value="{{'WEB_BUTTON_VALIDER' | translate}}")
    section#passwordForgotBox(ng-show="mode == 'mot_de_passe'")
      h1 {{"TITLE_REINITIALISER_MOT_DE_PASSE" | translate}}
      form#formPasswordForgot(ng-submit="renvoyerMotDePasse()", method="post")
        label {{"LABEL_IDENTIFIANT" | translate}} : 
        input(type="email", required="", placeholder="{{'LABEL_IDENTIFIANT' | translate}}", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="mot_de_passe_oublie.username")
        br
        input.btn-action(type="button", ng-click="mode = 'connexion'", value="{{'BUTTON_CONNEXION' | translate}}")
        input.btn-action(type="submit", value="{{'WEB_BUTTON_VALIDER' | translate}}")
    section#registerBox(ng-show="mode == 'enregistrement-0'")
      h1 {{"TITLE_NOUVEAU_COMPTE" | translate}}
      form#formRegister(ng-submit="enregistrer()", method="post")
        label(for="register-username") {{"LABEL_PSEUDO" | translate}} : 
        input(type="text", required="", ng-minlength="4", placeholder="4 {{'WEB_LABEL_CARACTERES_MIN' | translate}}", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.username")
        br
        label(for="register-password") {{"LABEL_MOT_DE_PASSE" | translate}} : 
        input(type="password", required="", ng-minlength="6", placeholder="6 {{'WEB_LABEL_CARACTERES_MIN' | translate}}", value="", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.password")
        br
        label(for="register-password2") {{"LABEL_MOT_DE_PASSE_CONFIRMATION" | translate}} : 
        input(type="password", required="", ng-minlength="6", placeholder="6 {{'WEB_LABEL_CARACTERES_MIN' | translate}}", value="", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.password2")
        br
        label(for="register-email") {{"LABEL_EMAIL" | translate}} : 
        input(type="email", required="", placeholder="mail@exemple.com", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.email")
        br
        label(for="register-name") {{"LABEL_NOM" | translate}} / {{"LABEL_PRENOM" | translate}} : 
        input(type="text", required="", placeholder="{{'web_label_nom_maj' | translate}} {{'LABEL_PRENOM' | translate}}", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.name")
        br
        label(for="register-langue") {{"LABEL_LANGUE_PRINCIPALE_2" | translate}} : 
        select(ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.langue", ng-options="lg.id as lg.label for lg in tableau_langues_label")
        br
        label(for="register-etablissement") {{"LABEL_ETABLISSEMENT" | translate}} ({{"WEB_LABEL_OPTIONNEL" | translate}}) : 
        input(type="text", placeholder="{{'WEB_LABEL_ECOLE_ENTREPRISE' | translate}}", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.etablissement")
        br
        input(type="checkbox", required="", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.register_cgu")
        label.label-small(for="register-cgu")
          | {{"WEB_LABEL_COCHER_CASE" | translate}}
          a(href="https://www.pairform.fr/node/cgu/utilisateur", target="_blank", style="color:#822;") {{"WEB_LABEL_CONDITIONS_GENERALES_UTILISATION" | translate}}
        input.btn-action(type="button", ng-click="mode = 'connexion'", value="{{'BUTTON_CONNEXION' | translate}}")
        input.btn-action(type="submit", value="{{'BUTTON_ENREGISTRER' | translate}}")
    section#postRegisterBox(ng-show="mode == 'enregistrement-1'")
      h1 {{"WEB_TITLE_VALIDATION" | translate}}
      div
        h3 {{"LABEL_CREATION_DE_COMPTE_REUSSI" | translate}}
        span
          | {{"WEB_LABEL_CLIQUE_DEHORS" | translate}}
  #popin-choix-autres-langues-register.formBox(ng-show="mode == 'langue-1'")
    section#choiceOtherLanguagesBoxRegister
      h1 {{"TITLE_AUTRES_LANGUES" | translate}}
      section#sec-other-languages
        ul#list-other-languages-register
      span#btn-ok-choice-other-languages-register.btn-action OK
  #popin-change-langue-app-register.formBox(ng-show="mode == 'langue-2'")
    section#changeLanguageAppBoxRegister
      h1 {{"TITLE_LANGUE_APPLICATION" | translate}}
      p {{"LABEL_CHANGER_LANGUE_APP" | translate}}
      span#btn-yes-change-langue-app-register.btn-action {{"BUTTON_NON" | translate}}
      span#btn-no-change-langue-app-register.btn-action {{"BUTTON_OUI" | translate}}
