include mixins
#dashboard(ng-controller="dashboard").container
  h1.page-header 
    img(src="#{url_serveur_node}/public/img/icone/dashboard.png", alt="dashboard")
    | {{ "WEB_LABEL_MENU_DASHBOARD" | translate }}

  .last-messages.tile.col-lg-6.col-md-8.col-sm-12.col-xs-12
    h2 {{ "TITLE_DERNIERS_MESSAGES" | translate }}
    pf-message-list(messages="messages" transversal="transversal" limit="5" utilisateur_local="utilisateur_local")

  .last-notifications-activites.tile.col-lg-3.col-md-4.col-sm-6.col-xs-12
    h2 {{ "TITLE_ACTIVITÉ" | translate }}  
    ul
      li.notification.notification-empty.notification-header(ng-show="notifications.un.length == 0") {{"WEB_LABEL_AUCUNE_NOTIFICATION_RECENTE" | translate}}
      li.notification(ng-click="actionNotification(notif, 'un')", ng-repeat="notif in notifications.un | limitTo:10  track by notif.id_notification", data-type="un")
        .illustration(ng-style="{'background-image' : 'url(' + res_url_private + 'img/' + (notif.sous_type == 'gs' ? 'succes/' : '')+  notif.image + (notif.sous_type == 'gm' ? notif.contenu.split(' - ')[1] : '')+ '.png)'}")
        .content-wrapper
          span {{notif.titre}}
          span {{notif.label}}

  .last-notifications-scores.tile.col-lg-3.col-md-4.col-sm-6.col-xs-12
    h2 {{ "TITLE_CHANGEMENT_DE_SCORES" | translate }}
    ul
      li.notification.notification-empty.notification-header(ng-show="notifications.us.length == 0") {{"WEB_LABEL_AUCUNE_NOTIFICATION_RECENTE" | translate}}
      li.notification(ng-click="actionNotification(notif, 'us')", ng-repeat="notif in notifications.us | limitTo:10  track by notif.id_notification", data-type="us")
        .illustration(ng-class="{'positif' : notif.points > 0, 'negatif' : notif.points < 0}")
          | {{notif.points > 0 ? ("+" + notif.points) : notif.points}}
        .content-wrapper
          span {{notif.titre}}
          span {{notif.label}}


  //- .last-ressources.tile.col-lg-6.col-md-8.col-sm-12.col-xs-12
    h2 {{ "TITLE_DERNIÈRES_RESSOURCES_PARUES" | translate }}
    .ressources-items-container
      div(ng-repeat="ressource in ressources", ng-attr-data-count="{{(typeof(nombre_messages[ressource.id_ressource]) != 'undefined') ? nombre_messages[ressource.id_ressource] : '0'}}", title="{{ressource.description + '\
      Auteurs : ' + ressource.auteur}}", ng-click="afficherFicheRessource(ressource.id_ressource)")
        img.ressources-item-icon(alt="{{ressource.nom_court}}", ng-src="{{ressource.url_logo}}")
        span {{ressource.nom_court}}
        img.icone_drap_res(ng-src="{{res_url_private}}img/langue/icone_drapeau_rond_{{ressource.code_langue}}.png", alt="{{ressource.code_langue}}")


+modal("modal_ressource")
  include ressource
