.kiosque(ng-controller="kiosque")
  h1.page-header 
    img(src="#{url_serveur_node}/public/img/icone/kiosque.png", alt="kiosque")
    | {{ "WEB_LABEL_SIDEBAR_KIOSK" | translate }}
  .finder.pf-centered.col-md-6
    h1 {{"KIOSQUE.RECHERCHE_RAPIDE" | translate}}
    .input-group
      input.form-control(ng-model='recherche_ressource', ng-minlength='3', type='text', placeholder='{{"KIOSQUE.RECHERCHE_RAPIDE_PLACEHOLDER" | translate}}')
      .input-group-btn
        button.btn.btn-default(type='submit')
          i.glyphicon.glyphicon-search
    .ressources.kiosque-recherche
      .ressources-items-container(ng-show='recherche_ressource')
        span(class='finder-no-results' ng-hide='ressources_filtre.length')
          | {{"KIOSQUE.AUCUN_RESULTAT" | translate}}
        a.ressource-found-item(ng-repeat='ressource in ressources_filtre = (ressources | filter:recherche_ressource)', ng-attr-data-count='{{(typeof(nombre_messages[ressource.id_ressource]) != "undefined") ? nombre_messages[ressource.id_ressource] : "0"}}', title='{{ressource.description + "Auteurs : " + ressource.auteur}}', ng-href='/doc/{{ressource.id_espace}}/{{ressource.id_ressource}}' target="{{ressource.id_ressource}}")
          img.ressources-item-icon(alt='{{ressource.nom_court}}', ng-src='{{ressource.url_logo}}')
          .wrap
            h1 {{ressource.nom_long}}
            h2 {{ressource.espace_nom_court}}
          //- img.icone_drap_res(ng-src='private/img/langue/icone_drapeau_rond_{{ressource.code_langue}}.png', alt='{{ressource.code_langue}}')
  hr
  .filters.clearfix
    .col-sm-6
      .form-group.col-sm-6
        h2 {{"KIOSQUE.AFFICHER_PAR" | translate}}
        select.form-control(ng-model='sort_type' ng-options='sort_mode.index as (sort_mode.label | translate) for sort_mode in sort_types')
      .form-group.col-sm-6
        h2 {{"KIOSQUE.TRIER_PAR" | translate}}
        select.form-control(ng-model='order_type' ng-options='order_type.value as (order_type.label | translate) for order_type in order_types')
        label {{"KIOSQUE.INVERSER" | translate}}
        input(ng-model='order_type_reverse' type='checkbox')
    .input-group.col-sm-6
      input.form-control(ng-model='recherche_espace', ng-minlength='3', type='text', placeholder='{{"KIOSQUE.RECHERCHE_RAPIDE_PLACEHOLDER_ESPACE" | translate}}')
      .input-group-btn
        button.btn.btn-default(type='submit')
          i.glyphicon.glyphicon-search
  .espace-container
    a.espace(ng-repeat='item in res_sorted[sort_type] | orderBy:order_type:!order_type_reverse | filter:recherche_espace track by item.nom_court' href="{{'/doc/' + item.id_espace}}" target="{{item.id_espace}}")
      .background(ng-style='sort_type == 0 ? {"background-image" : "url({{item.url_logo}})"} : {"background" : colorFromString(item.nom_court)}' ng-class='{"small-espace" : item.ressources.length == 0, "large-espace" : 1 < item.ressources.length && item.ressources.length <= 3, "huge-espace" : 4 < item.ressources.length, "flipped" :$root.ressource_affiche == item.nom_court}', ng-click='')
        //- .ressources-items-container.kiosque(ng-show='$root.ressource_affiche == item.nom_court')   
        //-   div(ng-repeat='ressource in item.ressources', ng-attr-data-count='{{(typeof(nombre_messages[ressource.id_ressource]) != "undefined") ? nombre_messages[ressource.id_ressource] : "0"}}', title='{{ressource.description + "Auteurs : " + ressource.auteur}}', ng-click='afficherFicheRessource(ressource.id_ressource)')
        //-     img.ressources-item-icon(alt='{{ressource.nom_court}}', ng-src='{{ressource.url_logo}}')
        //-     span {{ressource.nom_court}}
        //-     img.icone_drap_res(ng-src='private/img/langue/icone_drapeau_rond_{{ressource.code_langue}}.png', alt='{{ressource.code_langue}}')
        .brand
          span {{item.nom_court}}
          span.nombre_ressources(ng-class='{"small-nombre" : item.ressources.length == 0, "large-nombre" : 1 < item.ressources.length && item.ressources.length <= 3, "huge-nombre" : 4 < item.ressources.length}') {{item.ressources.length}}
