.comProfil
  a(ng-href="{{'profil/' + message.id_auteur}}")
    img.imgProfil.avatar(ng-click="afficherProfil(message.id_auteur)", ng-src="{{message.url_avatar_auteur}}", title="{{'WEB_LABEL_CLIQUE_VISUALISER_PROFIL' | translate}}")
  .voteSection
    .vote.voteNo(ng-click="voter(message, -1)", ng-class="{'active' : (message.utilisateur_a_vote == '-1')}", title="{{'WEB_LABEL_COMMENTAIRE_INUTILE' | translate}}") -
    .voteCount(title="Cliquez ici pour afficher les votes négatifs et positifs", ng-click="afficherVotes(message)")
      span.somme-votes(ng-hide="message.toggle_somme_votes") {{message.somme_votes}}
      span.diff-votes(ng-show="message.toggle_somme_votes")
        span.negatif {{message.votes_negatif}}
        span.positif {{message.votes_positif}}
    .vote.voteYes(ng-click="voter(message, 1)", ng-class="{'active' : (message.utilisateur_a_vote == '1')}", title="{{'WEB_LABEL_COMMENTAIRE_UTILE' | translate}})") +
  img.comMedaille(ng-if="message.medaille != ''", ng-src="{{(message.medaille != '') ? (res_url_private + 'img/medaille_' + message.medaille + '.png') : ''}}", title="{{'web_label_message_pertinant_collaborateur' | translate}}")
  img.comDefi(ng-if="message.defi_valide > 0", ng-src="{{res_url_private + 'img/defivalid.png'}}", title="{{'WEB_LABEL_REPONSE_VALIDEE_PAR_DEFIEUR' | translate}}")
  img.comDefi(ng-if="message.est_defi == 1", ng-src="{{res_url_private + 'img/defiactif.png'}}", title="{{'WEB_LABEL_MESSAGE_DEFI_ACTIF' | translate}}")
  img.comDefi(ng-if="message.est_defi == 2", ng-src="{{res_url_private + 'img/defifini.png'}}", title="{{'WEB_LABEL_MESSAGE_DEFI_TERMINE' | translate}}")
  img.comGeolocalise(ng-if="message.estGeolocalise", ng-src="{{res_url_private + 'img/marqueur_carte_actif.png'}}", ng-click="showMarqueurs(message)", title="{{'web_label_message_geolocalise' | translate}}")
.comContent
  .comTitle
    h5.comUserName {{::message.pseudo_auteur}}
    span.comUserRank  - {{("LABEL_USER_" + message.role_auteur.toUpperCase()) | translate }}
    span.comMessPrive(ng-if="message.prive == 1")  - {{"WEB_LABEL_MESSAGE_PRIVE" | translate}}
    .timeCreated {{::message.date_creation | date_timestamp }}
  .comText(ng-bind-html="((message.supprime_par == '0') || (utilisateur_local.rank[capsule.id_capsule].id_categorie >= 3)) ? (message.contenu | linky:'_blank') : ('WEB_LABEL_MSG_SUPPRIME' | translate)")
  pf-image-thumbnail(ng-if="message.pieces_jointes.length", images="message.pieces_jointes")
  .actionSection
    .comLinkToRes(ng-if="transversal")
      a(ng-href="{{res_url_root + 'webServices/message/rediriger?id_message=' + message.id_message}}" target="_blank") {{"WEB_BUTTON_CONTEXT" | translate}}
    .comRepondre(ng-if="!transversal", ng-click="repondre(message)")
      | {{"BUTTON_REPONDRE" | translate}}
    //- <div ng-if="message.estGeolocalise" class="comCarte" ng-click="showMarqueurs(message)">{{'WEB_BUTTON_CONTEXT' | translate}}</div>
    .comSuppr(ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 3) || (message.id_auteur == utilisateur_local.id_utilisateur))", ng-click="supprimer(message)")
      | {{(message.supprime_par == "0" ? "BUTTON_SUPPRIMER" : "WEB_BUTTON_RETABLIR") | translate}}
    .comDonnerMedaille(ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.id_auteur != utilisateur_local.id_utilisateur))", ng-click="visible_menu_medaille = visible_menu_medaille ? undefined : message.id_message")
      | {{"LABEL_MEDAILLE" | translate}}
      pf-menu-medaille(ng-if="visible_menu_medaille == message.id_message")
    .comAjouterTags(ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2", ng-click="visible_menu_tags = visible_menu_tags ? undefined : message.id_message")
      | {{"LABEL_TAGS" | translate}}
      pf-menu-tags(stop-event="click", ng-if="visible_menu_tags == message.id_message")
    .comSupprDef(ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie == 5", ng-click="supprimer(message,true)")
      | {{"WEB_LABEL_SUP_MSG_DEFINITIVEMENT" | translate}}
    .comValiderMessage(ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.message_parent.est_defi == 1))", ng-click="validerMessageDefi(message)")
      | {{(message.defi_valide == "0" ? "web_label_valider" : "WEB_LABEL_INVALIDER") | translate}}
    .comTerminerDefi(ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.id_auteur == utilisateur_local.id_utilisateur) && (message.est_defi == 1))", ng-click="terminerDefi(message)")
      | {{"BUTTON_TERMINER_DEFI" | translate}}
    .comPartagerMessage(ng-click="partagerMessage(message)")
      | {{ "BUTTON_PARTAGER" | translate }}
      pf-menu-partager(stop-event="click", ng-if="visible_menu_partager == message.id_message")
    .comValiderMessage(draggable="true", ng-if="utilisateur_local.est_connecte && (utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2)", ng-click="deplacerMessage(message)")
      | d&#233;placer
    //-
                            <div ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4) || (message.id_auteur == utilisateur_local.id_utilisateur))" ng-click="visible_menu_langue = visible_menu_langue ? undefined : message.id_message" class="comModifierLangue">
                                <img ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codefromid(message.id_langue) + '.png'}}" alt="langue">
                                <pf-menu-langue ng-if="visible_menu_langue == message.id_message" stop-event/>
                            </div> 
    .comModifierLangue(ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4) || (message.id_auteur == utilisateur_local.id_utilisateur))", ng-click="fonctionPasDisponible()")
      img(ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codefromid(message.id_langue) + '.png'}}", alt="langue")
      //- <pf-menu-langue ng-if="visible_menu_langue == message.id_message" stop-event/>
.comTagsContainer(ng-show="message.tags.length > 0")
  .comTagsLabel(ng-repeat="tag in parseJSON(message.tags)")
    | div (id="{{tag}}")
    span(ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2", ng-click="supprimerTag(message, tag)") x
