nav(ng-controller="controller_nav_bar")
	// Module de barre de navigation
	#btn-menu(ng-click="sidebar_visible = !sidebar_visible")
		img(ng-src="{{res_url_private + 'img/menu_bouton_noir.png'}}")
		#sidebar(ng-show="sidebar_visible")
			ul
				li#btn-menu-dashboard(ng-class="{disabled : !utilisateur_local.est_connecte}", ng-click="afficherDashboard()")
					img(ng-src="{{res_url_private + 'img/menu/dashboard.png'}}", alt="")
					| {{"WEB_LABEL_MENU_DASHBOARD" | translate}}
				li#btn-menu-messages(ng-click="afficherMessagesTransversal()")
					img(ng-src="{{res_url_private + 'img/menu/messages.png'}}", alt="")
					| {{"WEB_LABEL_MENU_MESSAGES" | translate}}
				li#btn-menu-ressources(ng-click="afficherRessources()")
					img(ng-src="{{res_url_private + 'img/menu/ressources.png'}}", alt="")
					| {{"WEB_LABEL_MENU_RESSOURCES" | translate}}
				li#btn-menu-recherche(ng-click="afficherRecherche()")
					img(ng-src="{{res_url_private + 'img/menu/recherche_utilisateur.png'}}", alt="")
					| {{"WEB_LABEL_MENU_RECHERCHE" | translate}}
				li#btn-menu-preferences(ng-click="afficherPreferences()")
					img(ng-src="{{res_url_private + 'img/menu/preferences.png'}}", alt="")
					| {{"WEB_LABEL_MENU_PREFERENCES" | translate}}
				li#btn-menu-presentation(ng-click="afficherPresentation()")
					img(ng-src="{{res_url_private + 'img/menu/aide.png'}}", alt="")
					| {{"WEB_LABEL_MENU_PRESENTATION" | translate}}
				li(ng-click="switchToInjecteur()", ng-show="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie == 5")
					img(ng-src="{{res_url_private + 'img/gear_24.png'}}", alt="")
					| Basculer vers l"injecteur
	#btn-wrapper-left
		#btn-bar-capsule-icone.btn-bar(ng-click="afficherFicheRessource()", title="{{capsule.nom_long}}", ng-style="{'background-image':'url(' + capsule.url_logo_ressource+')'}")

	#label-title
		h3 {{capsule.nom_long}}
	#btn-login(ng-hide="utilisateur_local.est_connecte", ng-click="afficherConnexion()")
		span {{"BUTTON_CONNEXION" | translate}}
	#btn-wrapper-right(ng-show="utilisateur_local.est_connecte")
		#btn-bar-deplacer-messages.btn-bar.btn-bar-expandable(draggable="true", ng-show="array_messages_deplacement.length", ng-click="afficherMessagesDeplacement()")
			ul.arrow_box(ng-show="messages_deplacement_visible")
				li(draggable="true", ng-repeat="message in array_messages_deplacement track by message.id_message")
					.illustration(ng-style="{'background-image' : 'url('+message.url_avatar_auteur+')'}")
					.content-wrapper
						span {{message.pseudo_auteur}}
						span {{message.contenu | limitTo:20}}&#8230;
					.content-action
						div(ng-click="supprimerDeplacementMessage(message)") &#10007;
						a(ng-href="{{res_url_root + 'webServices/message/rediriger?id_message=' + message.id_message}}") &#10095;
		#btn-bar-actualiser-messages.btn-bar(ng-click="actualiser()", title="{{'BUTTON_RECUPERER_NOUVEAUX_MESSAGES' | translate}}")
		#btn-bar-notifications-score.btn-bar.btn-bar-expandable(ng-click="afficherNotification('us')", data-count="{{notifications.count_us}}", title="Notifications de changement de score")
			ul.arrow_box(ng-show="notifications.visible == 'us'")
				li.notification.notification-empty.notification-header(ng-show="notifications.us.length == 0") {{"WEB_LABEL_AUCUNE_NOTIFICATION_RECENTE" | translate}}
				li.notification(ng-click="actionNotification(notif, 'us')", ng-repeat="notif in notifications.us | limitTo:15  track by notif.id_notification", data-type="us")
					.illustration(ng-class="{'positif' : notif.points > 0, 'negatif' : notif.points < 0}")
						| {{notif.points &#62; 0 ? ("+" + notif.points) : notif.points}}
					.content-wrapper
						span {{notif.titre | translate}}
						span {{notif.label | translate}}
						div
		#btn-bar-notifications-user.btn-bar.btn-bar-expandable(ng-click="afficherNotification('un')", data-count="{{notifications.count_un}}", title="Notifications")
			ul.arrow_box(ng-show="notifications.visible == 'un'")
				li.notification.notification-empty.notification-header(ng-show="notifications.un.length == 0") {{"WEB_LABEL_AUCUNE_NOTIFICATION_RECENTE" | translate}}
				li.notification(ng-click="actionNotification(notif, 'un')", ng-repeat="notif in notifications.un | limitTo:15  track by notif.id_notification", data-type="un")
					.illustration(ng-style="{'background-image' : 'url(' + res_url_private + 'img/' + (notif.sous_type == 'gs' ? 'succes/' : '')+ + notif.image + (notif.sous_type == 'gm' ? notif.contenu.split(' - ')[1] : '')+ '.png)'}")
					.content-wrapper
						span {{notif.titre | translate}}
						span {{notif.label | translate}}
						div
		#btn-profil(ng-click="afficherProfil()")
			img(ng-src="{{utilisateur_local.avatar_url}}")
			h5#profil-name {{utilisateur_local.username}}
			span#profil-pts {{utilisateur_local.rank[capsule.id_capsule].score}}
			span#profil-pts-label  {{"LABEL_PTS" | translate}}
			#wsIndicator.unsure(title="{{'WEB_LABEL_MAJ_TEMPS_REEL' | translate}}")
			#panel-Profil
				ul
					li#btn-mon-profil {{"BUTTON_PROFIL" | translate}}
					li#btn-menu-notifications
					li#btn-menu-noms-reels
					li#btn-reinitmesslus {{"WEB_BUTTON_REINIT_MESSAGES_LUS" | translate}}
					li#btn-refreshPage {{"BUTTON_RECUPERER_NOUVEAUX_MESSAGES" | translate}}
					li#btn-logout {{"BUTTON_DECONNEXION" | translate}}
