#preferences-container.panel-container-left.pf(ng-controller="preferences")
  h1.page-header 
    img(src="#{url_serveur_node}/public/img/icone/preferences.png", alt="preferences")
    | {{ "TITLE_PREFERENCES" | translate }}
  section#preferences-wrapper.panel-wrapper
    section.preferences-container
      #preferences-wrapper.container
        //- .col-sm-12.large-div
        //-   h1 Compte


        //-       .btn-action(ng-click="fonctionPasDisponible()")
        //-         | {{(preferences.connexion_automatique ? "web_label_desactiver" : "WEB_LABEL_ACTIVER") | translate}} {{"WEB_LABEL_CONNEXION_AUTOMATIQUE" | translate}}
        //-       label(for="register-langue") {{"LABEL_LANGUE_PRINCIPALE_2" | translate}} : 
        //-       select(ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="id_langue", ng-init="id_langue = current_code_langue", ng-change="selectLangue(id_langue)", ng-options="lg.id as lg.label for lg in tableau_labels")
        
        .col-sm-12.large-div.container
          h1.page-header {{ "TITLE_NOTIFICATIONS" | translate }}
          .alert.alert-info(role="alert") 
            h2
              i.glyphicon.glyphicon-info-sign
              | {{ "TITLE_FREQUENCE_NOTIFICATIONS" | translate }}
            | {{ "TITLE_TYPES_NOTIFICATIONS" | translate }}:
            ol
              li #[b {{ "TITLE_NOTIFICATIONS_RESUME" | translate  }}] : {{ "CONTENU_NOTIFICATIONS_RESUME" | translate }}
              li #[b {{ "TITLE_NOTIFICATIONS_DOCUMENTS_FAVORIS" | translate }}] : {{ "CONTENU_NOTIFICATIONS_DOCUMENTS_FAVORIS" | translate }}
              li #[b {{ "TITLE_NOTIFICATIONS_REPONSES" | translate }}] : {{ "CONTENU_NOTIFICATIONS_REPONSES" | translate }}
              li #[b {{ "TITLE_NOTIFICATIONS_NOUVELLES" | translate }}] : {{ "CONTENU_NOTIFICATIONS_NOUVELLES" | translate }}

          .finder.pf-centered.col-sm-6.row
            .input-group
              input.form-control(ng-model='recherche_ressource', type='text', placeholder='{{"LABEL.RESSOURCE.CHERCHER" | translate}}', list='id_liste_ressources')
              .input-group-btn
                button.btn.btn-default(type='submit')
                  i.glyphicon.glyphicon-search
          .btn-action(ng-click="switchNouvellesNotificationsMail()")
            | {{(utilisateur_local.notifications_envoyees_par_mail ? "WEB_LABEL_DESACTIVER" : "WEB_LABEL_ACTIVER") | translate}} {{"WEB_LABEL_NOUVELLES_NOTIFICATIONS" | translate}}
          //- .btn-action(ng-click="switchNotificationMailRessource(ressource)")
            | Désactiver les résumés
          //- .btn-action(ng-click="switchWatchMailRessource(ressource)")
            | Enlever tous les favoris
          .col-sm-12.table-responsive(ng-repeat="ressource in capsules_notifications | filter:recherche_ressource  | orderBy:'nom_court' track by ressource.id_ressource")
            table.table.table-condensed
              thead
                th.col-xs-8
                  img(ng-src="{{ressource.url_logo}}")
                  span {{ressource.nom_court}}
                th.col-xs-2
                  //- .btn-action(ng-click="switchNotificationMailRessource(ressource)")
                    | {{"WEB_LABEL_DESACTIVER" | translate}} toutes  {{"WEB_LABEL_LES_NOTIFICATIONS" | translate}}
                th.col-xs-2
                  //- .btn-action(ng-click="switchWatchMailRessource(ressource)")
                    | Enlever tous les favoris

              tr(ng-repeat="capsule in ressource.capsules track by capsule.id_capsule | orderBy:'capsule.notification_mail'")
                td.col-xs-8 {{capsule.nom_long_capsule}}
                td.col-xs-2
                  .btn-action(ng-click="switchNotificationMail(capsule)")
                    | {{(capsule.notification_mail ? "WEB_LABEL_DESACTIVER" : "WEB_LABEL_ACTIVER") | translate}} {{"WEB_LABEL_LES_RESUMES" | translate}}

                td.col-xs-2
                  .btn-action(ng-click="switchWatchMail(capsule)")
                    img(ng-src="{{res_url_private + 'img/' + (capsule.watch_mail ? 'watch_on.png' : 'watch_off.png')}}")
                    | {{(capsule.watch_mail ? "WEB_LABEL_FAVORI" : "WEB_LABEL_NON_FAVORI") | translate}}
            //- li
              .btn-action(ng-if="utilisateur_local.est_admin", ng-click="fonctionPasDisponible()")
                | {{(preferences.afficher_noms_reels ? "WEB_LABEL_DESACTIVER" : "WEB_LABEL_ACTIVER") | translate}} {{"WEB_LABEL_AFFICHAGE_DES_NOMS_REELS" | translate}}
        
        //- .col-sm-12.large-div
        //-   h1 Actions manuelles
        //-   ul
        //-     li
        //-       .btn-action(ng-click="reinitialiserMessagesLus()") {{"WEB_BUTTON_REINIT_MESSAGES_LUS" | translate}}
        //-     li
        //-       .btn-action(ng-click="actualiserMessages()") {{"BUTTON_RECUPERER_NOUVEAUX_MESSAGES" | translate}}
        //-     li
        //-       .btn-action(ng-click="effacerToutesDonnees()") {{"BUTTON_EFFACER_DONNEES" | translate}}
