include mixins
div(ng-controller="profil")
  h1.page-header 
    img(src="#{url_serveur_node}/public/img/icone/profil.png", alt="profil")
    | {{ "TITLE_PROFIL" | translate}}

  section#profil-wrapper.panel-wrapper.error(ng-if="error")
    .pf-centered
      h1(style="padding: 120px 0px; text-align:  center; ") {{error | translate}}
  section#profil-wrapper.panel-wrapper(ng-if="!error")
    section#profil-info
      #profil-info-avatar
        img#profil-img.avatar(ng-src="{{utilisateur.avatar_url}}", alt="")
        img#profil-icone-langue(ng-src="{{res_url_private}}img/langue/icone_drapeau_rond_{{codefromid(utilisateur.langue_principale)}}.png", alt="")
        a#profil-info-avatar-label(ng-if="is_connected_user", ng-click="$root.modal_avatar_upload = true") {{"TITLE_MODIFIER_AVATAR" | translate}}
      #profil-info-inner
        h1#profil-username {{utilisateur.username}}
        #profil-etablissement {{utilisateur.etablissement}}
        #profil-status(ng-class="(utilisateur.offline != false) ? 'offline' : 'online'") {{utilisateur.labelStatus}}
    section.panel-actions
      a#btn-profil-messages.btn-action(ng-href="{{'messages/utilisateur/' + utilisateur.id_utilisateur}}")
        | {{(is_connected_user ? "BUTTON_MES_MESSAGES" : "BUTTON_SES_MESSAGES") | translate}}
      a#btn-profil-mon-reseau.btn-action(ng-href="{{'reseau'}}")
        | {{(is_connected_user ? "BUTTON_CERCLES" : "BUTTON_AJOUTER") | translate}}
      a.btn-action(ng-click="$root.modal_profil_config = true" ng-show="is_connected_user")
        | {{"TITLE_MODIFIER_COMPTE" | translate}}
      .btn-action(ng-click="deconnecter(); remove();" ng-show="is_connected_user")
        | {{"BUTTON_DECONNEXION" | translate}}
    .container
      .col-md-7.col-sm-6
        section#profil-badge
          span#profil-badge-label
            | {{"TITLE_DERNIERS_BADGES" | translate}} ({{utilisateur.nb_openbadges}})
          a#profil-badge-container(ng-href="{{'profil/' + utilisateur.id_utilisateur + '/badges'}}")
            img(ng-repeat="badge_recent in utilisateur.openbadges | limitTo:15", ng-src="{{badge_recent.url_logo}}")
        section#profil-succes
          span#profil-succes-label
            | {{"TITLE_DERNIERS_SUCCES" | translate}} ({{utilisateur.nb_succes_gagnes}}/74)
          a#profil-succes-container(ng-href="{{'profil/' + utilisateur.id_utilisateur + '/succes'}}")
            img(ng-repeat="succes_recent in utilisateur.derniers_succes | limitTo:15", ng-src="{{res_url_private + 'img/succes/' + succes_recent.nom_logo + '.png'}}")
        section#profil-niveaux
          span#profil-niveaux-label
            | {{(is_connected_user ? "TITLE_MES_RESSOURCES" : "TITLE_SES_RESSOURCES") | translate}}
          ul#profil-ressource-container
            li.profil-ressource(ng-repeat="ressource in utilisateur.ressources")
              img.profil-ressource-image(ng-src="{{res_url_root + ressource.url_logo}}", ng-click="afficherFicheRessource(ressource.id_ressource)")
              .profil-ressource-inner
                .profil-ressource-nom {{ressource.nom_court}}
                .profil-ressource-rang
                  | {{("LABEL_USER_" + ressource.nom_categorie.toUpperCase()) | translate}}
                .profil-ressource-points {{ressource.score}} pts
                .btn-action.profil-ressource-upgrade(ng-if="utilisateur_local.est_connecte && (utilisateur_local.rank_ressources[ressource.id_ressource].id_categorie >= 4) && (is_connected_user == false)", ng-click="$parent.upgrade_ressource = ($parent.upgrade_ressource == ressource.id_ressource) ? false : ressource.id_ressource")
                  | Modifier...
                  pf-menu-changer-role.ui-tooltip-bottom.rank-upgrade-wrapper(ng-if="$parent.upgrade_ressource == ressource.id_ressource")
      .col-md-5.col-sm-6
        pf-message-list(messages="messages" transversal="true" limit="5" utilisateur_local="utilisateur_local")
+modal("modal_profil_config")
    include profil_config
+modal("modal_avatar_upload")
    include avatar_upload
+modal("modal_ressource")
  include ressource
