#profil-config-panel-container(ng-controller="profil_config")
  section#profil-config-wrapper.panel-wrapper
    #btn-profil-config-fermer.btn-cross-fermer(ng-click="$root.modal_profil_config = false") x
    section#profil-config-head.panel-head
      h1#profil-config-user.panel-title {{"TITLE_MODIFIER_COMPTE" | translate}}
    section.profil-config-container.formBox
      form#profil-config-form(ng-submit="enregistrerModifications()")
        h3 {{"LABEL_MOT_DE_PASSE" | translate}} :
          .group
            input#register-password-old(type="password", placeholder="", ng-model="informations.current_password", ng-minlength="6")
            .form-status
            span.bar
            label {{"LABEL_MOT_DE_PASSE_ANCIEN" | translate}}
          .group
            input#register-password(type="password", placeholder="6 {{'WEB_LABEL_CARACTERES_MIN' | translate}}", ng-model="informations.password", ng-minlength="6")
            .form-status
            span.bar
            label {{"LABEL_MOT_DE_PASSE_NOUVEAU" | translate}}
          .group
            input#register-password2(type="password", placeholder="6 {{'WEB_LABEL_CARACTERES_MIN' | translate}}", ng-model="informations.password2", ng-minlength="6")
            .form-status
            span.bar
            label {{"LABEL_MOT_DE_PASSE_CONFIRMATION" | translate}}
        h3 {{"WEB_LABEL_INFOS_PERSO" | translate}} :
          .group
            input#register-name(type="text", placeholder="{{'WEB_LABEL_NOM_MAJ' | translate}} {{'LABEL_PRENOM' | translate}} ", ng-model="informations.name")
            .form-status
            span.bar
            label {{"LABEL_NOM" | translate}} / {{"LABEL_PRENOM" | translate}}
          .group
            input#register-etablissement(type="text", placeholder="{{'WEB_LABEL_ECOLE_ENTREPRISE' | translate}}", ng-model="informations.etablissement")
            .form-status
            span.bar
            label {{"LABEL_ETABLISSEMENT" | translate}}
          .group
            select#register-langue-principale(ng-model="informations.langue", ng-options="lg.id as lg.label for lg in tableau_langues_label")
            .form-status
            span.bar
            label {{"LABEL_LANGUE_PRINCIPALE_2" | translate}}
          //- .group
            spab {{"LABEL_AUTRES_LANGUES" | translate}}
            #btn-profil-autres-langues.btn.btn-info {{"BUTTON_CHOISIR" | translate}}...
        button.clearfix#btn-profil-config-valider.btn.btn-success {{"BUTTON_ENREGISTRER" | translate}}
    hr
    section.profil-config-container
      .alert.alert-info
        span {{"LABEL_RGPD" | translate}}
      .action-wrapper
        a.btn.btn-info(href="/webServices/utilisateur/exporter" download="pairform_data.json")
          | {{"LABEL_RGPD_EXPORT" | translate}}
        a.btn.btn-danger(ng-click="deleteAccount()" ng-disabled="is_deleting")
          .fa.fa-spinner.fa-spin(ng-show="is_deleting")
          | {{"LABEL_RGPD_DELETE" | translate}}
  //- #popin-choix-autres-langues.popin.formBox
    section#choiceOtherLanguagesBox
      h1 {{"TITLE_AUTRES_LANGUES" | translate}}
      section#sec-other-languages
        ul#list-other-languages
      span#btn-ok-choice-other-languages.btn-action OK
  //- #popin-change-langue-app-profil.popin.formBox
    section#changeLanguageAppBoxProfil
      h1 {{"TITLE_LANGUE_APPLICATION" | translate}}
      p {{"LABEL_CHANGER_LANGUE_APP" | translate}}
      span#btn-yes-change-langue-app-profil.btn-action {{"BUTTON_NON" | translate}}
      span#btn-no-change-langue-app-profil.btn-action {{"BUTTON_OUI" | translate}}
