include mixins

+modal("modal_connexion")
	include connexion
	
#sidebar(ng-controller="sidebar")
	#profil(ng-if="!utilisateur_local || !utilisateur_local.est_connecte")
		a.btn-action(ng-click="$root.modal_connexion = true") Connexion
	#profil(ng-if="utilisateur_local && utilisateur_local.est_connecte")
		img.avatar(ng-src="{{utilisateur_local.avatar_url}}")
		.profil-infos
			h5#profil-name {{utilisateur_local.username}}
			//- span#profil-pts {{utilisateur_local.rank[capsule.id_capsule].score}}
			//- span#profil-pts-label  {{"LABEL_PTS" | translate}}
	ul
		li
			a(href="dashboard")
				img(src="#{url_serveur_node}/public/img/icone/dashboard.png", alt="dashboard")
				span {{ "WEB_LABEL_SIDEBAR_DASHBOARD" | translate }}
		li
			a(href="messages")
				img(src="#{url_serveur_node}/public/img/icone/messages.png", alt="messages")
				span {{ "WEB_LABEL_SIDEBAR_MESSAGES" | translate }}
		li
			a(href="profil/moi")
				img(src="#{url_serveur_node}/public/img/icone/profil.png", alt="profil")
				span {{ "WEB_LABEL_SIDEBAR_PROFILE" | translate }}
		li(ng-show='utilisateur_local.est_admin_pairform')
			a(href="reseau") 
				img(src="#{url_serveur_node}/public/img/icone/reseau.png", alt="reseau")
				span {{ "WEB_LABEL_SIDEBAR_NETWORK" | translate }}
		li(ng-show='utilisateur_local.est_admin_pairform')
			a(href="kiosque")
				img(src="#{url_serveur_node}/public/img/icone/kiosque.png", alt="kiosque")
				span {{ "WEB_LABEL_SIDEBAR_KIOSK" | translate }}
		li
			a(href="utilisateurs")
				img(src="#{url_serveur_node}/public/img/icone/utilisateur.png", alt="reseau")
				span {{ "WEB_LABEL_SIDEBAR_USERS" | translate }}
		li
			a(href="preferences")
				img(src="#{url_serveur_node}/public/img/icone/preferences.png", alt="preferences")
				span {{ "WEB_LABEL_SIDEBAR_PREFERENCES" | translate }}
		//- li
			a(href="aide") {{ "WEB_LABEL_SIDEBAR_HELP" | translate }}
		li(ng-show='utilisateur_local.liste_roles || utilisateur_local.est_admin_pairform')
			a(href="backoffice")
				img(src="#{url_serveur_node}/public/img/icone/backoffice.png", alt="backoffice")
				span {{ "WEB_LABEL_SIDEBAR_RESOURCES" | translate }}

