.panel-container-left.pf(ng-controller="succes")
  section#success-wrapper.panel-wrapper
    section#success-head
      #btn-succes-fermer.btn-cross-fermer(ng-click="remove()") x
      h1#success-user.success-label(ng-if="mode == 'user'")
        | {{"WEB_LABEL_SUCCES_DEBLOQUES" | translate}} ({{userSuccessCount}}/{{allSuccessCount}})
      h1#success-global.success-label(ng-if="mode != 'user'")
        | {{"WEB_LABEL_LISTE_DES" | translate}} {{allSuccessCount}} {{"WEB_LABEL_SUCCES" | translate}}
    section#success-results
      ul#success-list-results
        li.success-result(ng-repeat="succes_row in succes")
          img.success-img(ng-src="{{res_url_private}}img/succes/{{succes_row.succes_est_gagne == 1 ? succes_row.nom_logo : 'default'}}.png")
          .success-inner
            h2.success-titre {{succes_row.nom}}
            .success-description {{succes_row.description}}
