doctype html
html(ng-app="pf_app")
	head
		base(href="/home/")
		meta(charset="UTF-8")
		title PairForm
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		script.
			typeof PF == "undefined" ? PF = {
				globals : {
					url : {
						root : '#{url_serveur_node}/',
						etherpad : "#{url_etherpad}"
					}
				}
			} : null;

		link(rel="stylesheet" href="#{url_serveur_node}/public/lib/css/bootstrap.min.css")
			
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/general.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/avatar_upload.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/backoffice.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/panels.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/ng_animations.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/raleway.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/user.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/sidebar.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/kiosque.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/recherche.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/reseaux.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/succes.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/ressource.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/preferences.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/dashboard.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/message.css")
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/toaster.css")
		link(rel="stylesheet" href="#{url_serveur_node}/private/css/timeline.css")
		link(rel="stylesheet" href="#{url_serveur_node}/private/css/new_forms.css")

		//Components
		link(rel="stylesheet" href="#{url_serveur_node}/home/css/profil.css")
		
		// Backoffice
		link(href='#{url_serveur_node}/public/lib/css/outdatedbrowser.min.css', rel="stylesheet")
		link(href='#{url_serveur_node}/public/lib/css/toastr.min.css', rel="stylesheet")
		link(href='#{url_serveur_node}/public/lib/css/angular-datepicker.min.css', rel="stylesheet")
		link(href="#{url_serveur_node}/public/lib/css/angular-moment-picker.min.css", rel="stylesheet")

		link(href='#{url_serveur_node}/public/css/raleway.css', rel="stylesheet")
		link(href='#{url_serveur_node}/public/css/pairform.css', rel="stylesheet")
		link(href='#{url_serveur_node}/private/css/backoffice.css', rel="stylesheet")
		link(href='#{url_serveur_node}/public/fonts/font-awesome-4.2.0/css/font-awesome.min.css', rel="stylesheet")

		script(src="#{url_serveur_node}/dist/lib_home.js" type="text/javascript")
		script(src="#{url_serveur_node}/public/lib/js/Raven.min.js" type="text/javascript")
		script.
			Raven.config('https://4bc358261036432cbfe36480b0052f61@sentry.io/99551').install();

		//- script(src="https://cdn.ravenjs.com/3.7.0/angular/raven.min.js" crossorigin="anonymous")

		//- script(src="#{url_serveur_node}/dist/pf_home.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/helpers/http.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/helpers/langue.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/app.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/config.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/routes.js" type="text/javascript")

		script(src="#{url_serveur_node}/home/js/classes/message.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/classes/notification.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/classes/panneau.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/classes/reseau.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/classes/utilisateur.js" type="text/javascript")

		script(src="#{url_serveur_node}/home/js/filters/search.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/filters/date_timestamp.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/filters/orderMessages.js" type="text/javascript")

		script(src="#{url_serveur_node}/home/js/helpers/general.js" type="text/javascript")

		script(src="#{url_serveur_node}/home/js/directives/timeline.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/directives/draggable_timeline.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/directives/pfMessage.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/directives/pfMessageList.js" type="text/javascript")

		script(src="#{url_serveur_node}/home/js/controllers/root.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/connexion.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/ressource.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/profil.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/profil_config.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/avatar_upload.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/reseau.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/sidebar.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/kiosque.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/utilisateurs.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/messages.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/dashboard.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/preferences.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/succes.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/badges.js" type="text/javascript")
		script(src="#{url_serveur_node}/home/js/controllers/backoffice.js" type="text/javascript")
    

		script(src='#{url_serveur_node}/public/lib/ckeditor/ckeditor.js', type='text/javascript')
		script(src='#{url_serveur_node}/dist/lib_backoffice.js', type='text/javascript')

		script(src="#{url_serveur_node}/public/lib/js/moment-with-locales.min.js", type='text/javascript')
		script(src="#{url_serveur_node}/public/lib/js/angular-moment-picker.min.js", type='text/javascript')

		script(src='#{url_serveur_node}/dist/pf_backoffice.js', type='text/javascript')

	body.pf(ng-controller="root")
		#background(ng-style="{'background-image' : 'url({{utilisateur_local.avatar_url_blur}})'}")
		toaster-container(toaster-options="{'position-class': 'toast-bottom-right'}")
		include sidebar
		ng-view