#recherche-container(ng-controller="utilisateurs")
  h1.page-header 
    img(src="#{url_serveur_node}/public/img/icone/utilisateur.png", alt="reseau")
    | {{"TITLE_UTILISATEURS" | translate }}
  section#search-wrapper.panel-wrapper
    section#ressources-head.panel-head
      //- h1.panel-title
        | {{(mode == "recherche_profil" ? "web_label_menu_recherche" : "WEB_BUTTON_AJOUTER_UNE_PERSONNE_CERCLE") | translate}}
      section#search-actions.panel-actions
        input(type="search", ng-model="filtre_utilisateurs", results="5", name="username", autosave="fr.emn.pairform", placeholder="{{'LABEL_PSEUDO' | translate}}")
    section#search-results
      h1.search-not-found {{"WEB_LABEL_AUCUN_RESULTAT" | translate}}
      ul#search-list-results
        li.search-result-item(ng-repeat="utilisateur in utilisateurs_array | search:filtre_utilisateurs:['username','etablissement']:'OR' | limitTo:limit")
          a(ng-href="{{mode == 'recherche_profil' ? 'profil/' + utilisateur.id_utilisateur : ''}}")
            img.avatar.search-img(ng-src="{{utilisateur.image}}", alt="")
            .search-inner
              h1.search-name {{utilisateur.username}}
              .search-etablissement {{utilisateur.etablissement}}
            .reseaux-add.search-add-item(ng-click="ajouterUtilisateurDansReseauDepuisRecherche(utilisateur)", ng-if="mode == 'reseau'", title="{{'BUTTON_AJOUTER' | translate}}") +

    .btn-action(ng-click="increaseLimit()") {{ "BUTTON_AFFICHER_PLUS_UTILISATEURS" | translate }}
