.popinWrapper(ng-controller="controller_accroche", ng-show="visible")
  .popinFocus
  .popin
    .btn-cross-fermer(ng-click="remove()", title="{{'WEB_LABEL_FERMER_PANNEAU' | translate}}") x
    section#presBox
      h1 {{"WEB_LABEL_SITE_UTILISE_PAIRFORM" | translate}} :
      ul#pres-thumbnails-list
        li
          img(ng-src="{{res_url_private + 'img/accroche_etudiez.png'}}", alt="{{'WEB_LABEL_ETUDIEZ' | translate}}", title="{{'WEB_LABEL_ETUDIEZ' | translate}}")
          .pres-thumb-label
            h2 {{"WEB_LABEL_ETUDIEZ" | translate}}
            | {{"WEB_LABEL_NOTIONS_CONTENUS_RESSOURCES" | translate}}
        li
          img(ng-src="{{res_url_private + 'img/accroche_echangez.png'}}", alt="{{'WEB_LABEL_PARTAGEZ' | translate}}", title="{{'WEB_LABEL_PARTAGEZ' | translate}}")
          .pres-thumb-label
            h2 {{"WEB_LABEL_PARTAGEZ" | translate}}
            | {{"WEB_LABEL_QUESTIONS_IDEES" | translate}}
        li
          img(ng-src="{{res_url_private + 'img/accroche_beneficiez.png'}}", alt="{{'WEB_LABEL_BENIFICIEZ' | translate}}", title="{{'WEB_LABEL_BENIFICIEZ' | translate}}")
          .pres-thumb-label
            h2 {{"WEB_LABEL_BENIFICIEZ" | translate}}
            | {{"WEB_LABEL_RETOUR_AUTEURS_EXPERTS_PARTICIPANTS" | translate}}
        li
          img(ng-src="{{res_url_private + 'img/accroche_decouvrez.png'}}", alt="{{'WEB_LABEL_POURSUIVEZ' | translate}}", title="{{'WEB_LABEL_POURSUIVEZ' | translate}}")
          .pres-thumb-label
            h2 {{"WEB_LABEL_POURSUIVEZ" | translate}}
            | {{"WEB_LABEL_AVEC_AUTRES_RESSOURCES" | translate}}
      footer
        span
          | {{"WEB_LABEL_FORMER_AVEC_VOS_PAIRS" | translate}},
          #btn-accr-creer-compte.btn-action(ng-click="fermerEtAfficherConnexion()") {{"WEB_BUTTON_CREEZ_VOUS_UN_COMPTE" | translate}}
        br
        span
          | {{"WEB_LABEL_EN_SAVOIR_PLUS" | translate}},
          #btn-afficher-plus.btn-action(ng-click="fermerEtAfficherPresentation()") {{"WEB_BUTTON_CLIQUEZ_ICI" | translate}}.
        i.utilisation_cookies {{"WEB_LABEL_UTILISATION_COOKIES" | translate}}
