.panel-container-right.pf(ng-controller="controller_avatar_upload", ng-show="visible")
  section.panel-wrapper
    .btn-cross-fermer(ng-click="remove()") x
    section.panel-head
      h1.panel-title {{"TITLE_MODIFIER_AVATAR" | translate}}
    section#avatar_upload.formBox
      form
        | Choisissez une image :
        input.btn.btn-action(type="file", ngf-select="recupererLogo($files)", ngf-multiple="false")
        .cropArea(ng-show="src_avatar")
          img-crop(image="src_avatar", result-image="avatar", area-type="circle", area-min-size="100", result-image-size="100")
        button.btn.btn-action(ng-click="uploadAvatar()") Restaurer l"avatar par d&#233;faut
        button.btn.btn-action(ng-click="uploadAvatar(avatar)") Sauvegarder
