.popinWrapper(ng-controller="controller_carrousel", ng-show="visible")
  .popinFocus(ng-click="remove()")
  .popin
    .btn-cross-fermer(ng-click="remove()", title="{{'WEB_LABEL_FERMER_PANNEAU' | translate}}") x
    section#pj-carrousel
      ul.carrousel.image(rn-carousel="", rn-carousel-index="index_pj", rn-carousel-controls="", rn-carousel-controls-allow-loop="")
        li(ng-repeat="pj in array_pj")
          span.center-helper(ng-if="pj.type != 'video'")
          a.pj-file(ng-if="pj.type == 'file'", href="{{pj.url}}", download="{{pj.nom_original_pj}}")
            img(ng-src="{{pj.thumbnail_url}}", alt="{{pj.nom_original_pj}}")
            span T&#233;l&#233;charger {{pj.nom_original_pj}}
          img(ng-if="pj.type == 'image'", draggable="false", ng-src="{{pj.url}}", alt="{{pj.nom}}")
          video(ng-if="pj.type == 'video'", ng-src="{{pj.url}}", alt="{{pj.nom}}", controls="")
      div(rn-carousel-indicators="", ng-if="array_pj.length > 1", slides="array_pj", rn-carousel-index="index_pj")
