.popinWrapper(ng-controller="controller_cookie_consent" ng-show="display" role="dialog" aria-live="polite" aria-label="cookie-consent" aria-describedby="cookie-consent:desc")
  .popinFocus(ng-click="visible = false")
  .popin.cookie-consent
    .description
      h2.title Respect de votre vie privée
      span {{"LABEL_COOKIE_CONSENT" | translate}} #[a(href="/cgu/reseau_social" target="pf_cgu") {{"LABEL_COOKIE_CONSENT_PLUS" | translate}}]
    .buttons
      .btn.btn-light.cancel(ng-click="declinerCookies()")
        span {{"LABEL_COOKIE_CONSENT_REFUSER" | translate}}
      .btn.btn-success.agree(ng-click="autoriserCookies()")
        span {{"LABEL_COOKIE_CONSENT_ACCEPTER" | translate}}


        