toaster-container.pf(toaster-options="{'position-class': 'toast-bottom-right'}")
div.pf(ng-cloak ng-controller='main_controller' class="new_design" lang='fr')

	#outdated
	include connexion
	//- include accroche
	include presentation
	include carrousel

	include ressource

	include user_menu
	include new_messages
	include user_short_profile
	include cookie_consent
	
	//- include new_reseau
	//- include special_event