#comBar.pf(ng-controller="controller_messages", ng-class="{'expanded' : expanded}", ng-show="visible")
  #comAction
    ul
      li#com-search.btn-action
        input(type="search", ng-model="filtre_messages", results="5", autosave="fr.emn.pairform.search", placeholder="{{'WEB_BUTTON_RECHERCHER' | translate}}")
      //-
        li id="com-detach" ng-click="changerAffichage()" class="btn-action">
                        <span>{{(expanded ? 'web_label_reduire_panneau' : 'WEB_LABEL_AGRANDIR_PANNEAU') | translate}}</span>
                    </li
      li#com-detach.btn-action(ng-click="toggleAffichageCarte(!carte_visible)")
        span {{carte_visible ? ( "BUTTON_CACHER_CARTE" | translate ) : ( "BUTTON_AFFICHER_CARTE" | translate) }}
      li#com-sort.btn-action(ng-click="changerOrdreTri()")
        span {{"WEB_BUTTON_TRIER_PAR" | translate}} {{next_sort_type}}
    pf-carte#map_(data="message_geolocalise", ng-show="carte_visible", style="width:520px;height:350px")
    form#formComBar(ng-hide="transversal || capsule.est_bloquee", method="post", ng-submit="envoyer()")
      textarea(ng-model="storage.pf_nouveau_message.contenu", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", placeholder="Votre commentaire...")
      #message-actions
        #message-pjs(title="Ajouter une pièce jointe")
          #message-pjs-img.message-pjs-cog(ng-click="toggleAffichagePJ()")
        #message-options(title="{{'BUTTON_PUBLIER_MESSAGE_OPTIONS' | translate}}")
          .message-options-cog(ng-click="visible_menu_options_message = !visible_menu_options_message")
          pf-menu-options-message(ng-show="visible_menu_options_message")
        //- #message-langue(title="{{'BUTTON_CHANGER_LANGUE_MESSAGE' | translate}}")
          img#message-langue-img(ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codefromid(storage.pf_nouveau_message.id_langue) + '.png'}}", ng-click="fonctionPasDisponible()", alt="")
        #message-geolocalisation
          #message-geolocalisation-img(ng-class="{active : storage.pf_nouveau_message.geolocalisation.longitude}" ng-click="visible_menu_options_geolocalisation = !visible_menu_options_geolocalisation", alt="")            
          pf-menu-options-geolocalisation(ng-show="visible_menu_options_geolocalisation")
          //- <img id="message-langue-img" ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codefromid(storage.pf_nouveau_message.id_langue) + '.png'}}" ng-click="visible_menu_langue = (visible_menu_langue ? false : true)" alt=""/>
          //- <pf-menu-langue ng-if="visible_menu_langue" />
        input(type="submit", value="")
      pf-upload-pj
    #comCloser.btn-cross-fermer(ng-click="remove()") x
    .btn-cross-fermer.btn-cross-expand(ng-class="{'expanded' : expanded}", ng-click="changerAffichage()") &#9650;
  #comContainer
    #comList(ng-class="{'no-margin' : transversal}")
      pf-message.comBox(ng-repeat="message in messages_sorted_array = (messages_array | orderMessages:this) | search:filtre_messages | limitTo:limit:limit_begin")
        .comProfil
          img.imgProfil.pf-user-avatar(ng-click="afficherProfil(message.id_auteur)", ng-src="{{message.url_avatar_auteur}}", title="{{'WEB_LABEL_CLIQUE_VISUALISER_PROFIL' | translate}}")
          .voteSection
            .vote.voteNo(ng-click="voter(message, -1)", ng-class="{'active' : (message.utilisateur_a_vote == '-1')}", title="{{'WEB_LABEL_COMMENTAIRE_INUTILE' | translate}}") -
            .voteCount(title="Cliquez ici pour afficher les votes négatifs et positifs", ng-click="afficherVotes(message)")
              span.somme-votes(ng-hide="message.toggle_somme_votes") {{message.somme_votes}}
              span.diff-votes(ng-show="message.toggle_somme_votes")
                span.negatif {{message.votes_negatif}}
                span.positif {{message.votes_positif}}
            .vote.voteYes(ng-click="voter(message, 1)", ng-class="{'active' : (message.utilisateur_a_vote == '1')}", title="{{'WEB_LABEL_COMMENTAIRE_UTILE' | translate}})") +
          img.commedaille(ng-if="message.medaille != ''", ng-src="{{(message.medaille != '') ? (res_url_private + 'img/medaille_' + message.medaille + '.png') : ''}}", title="{{'WEB_LABEL_MESSAGE_PERTINANT_COLLABORATEUR' | translate}}")
          img.comdefi(ng-if="message.defi_valide > 0", ng-src="{{res_url_private + 'img/defivalid.png'}}", title="{{'WEB_LABEL_REPONSE_VALIDEE_PAR_DEFIEUR' | translate}}")
          img.comdefi(ng-if="message.est_defi == 1", ng-src="{{res_url_private + 'img/defiactif.png'}}", title="{{'WEB_LABEL_MESSAGE_DEFI_ACTIF' | translate}}")
          img.comdefi(ng-if="message.est_defi == 2", ng-src="{{res_url_private + 'img/defifini.png'}}", title="{{'WEB_LABEL_MESSAGE_DEFI_TERMINE' | translate}}")
          img.comgeolocalise(ng-if="message.estgeolocalise", ng-src="{{res_url_private + 'img/marqueur_carte_actif.png'}}", ng-click="showMarqueurs(message)", title="{{'WEB_LABEL_MESSAGE_GEOLOCALISE' | translate}}")
        .comContent
          .comTitle
            h5.comUserName {{::message.pseudo_auteur}}
            span.comUserRank  - {{("LABEL_USER_" + message.role_auteur.toUpperCase()) | translate }}
            span.comMessPrive(ng-if="message.prive == 1")  - {{"WEB_LABEL_MESSAGE_PRIVE" | translate}}
            .timeCreated {{::message.date_creation | date_timestamp }}
          .comText(ng-bind-html="((message.supprime_par == '0') || (utilisateur_local.rank[capsule.id_capsule].id_categorie >= 3)) ? (message.contenu | linky:'_blank') : ('WEB_LABEL_MSG_SUPPRIME' | translate)")
          pf-image-thumbnail(ng-if="message.pieces_jointes.length", images="message.pieces_jointes")
          .actionSection
            .comLinkToRes(ng-if="transversal")
              a(ng-href="{{res_url_root + 'webServices/message/rediriger?id_message=' + message.id_message}}") {{"WEB_BUTTON_CONTEXT" | translate}}
            .comRepondre(ng-if="!transversal", ng-click="repondre(message)")
              | {{"BUTTON_REPONDRE" | translate}}
            //- <div ng-if="message.estGeolocalise" class="comCarte" ng-click="showMarqueurs(message)">{{'WEB_BUTTON_CONTEXT' | translate}}</div>
            .comSuppr(ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 3) || (message.id_auteur == utilisateur_local.id_utilisateur))", ng-click="supprimer(message)")
              | {{(message.supprime_par == "0" ? "BUTTON_SUPPRIMER" : "WEB_BUTTON_RETABLIR") | translate}}
            .comDonnerMedaille(ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.id_auteur != utilisateur_local.id_utilisateur))", ng-click="visible_menu_medaille = visible_menu_medaille ? undefined : message.id_message")
              | {{"LABEL_MEDAILLE" | translate}}
              pf-menu-medaille(ng-if="visible_menu_medaille == message.id_message")
            .comAjouterTags(ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2", ng-click="visible_menu_tags = visible_menu_tags ? undefined : message.id_message")
              | {{"LABEL_TAGS" | translate}}
              pf-menu-tags(stop-event="click", ng-if="visible_menu_tags == message.id_message")
            .comSupprDef(ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie == 5", ng-click="supprimer(message,true)")
              | {{"WEB_LABEL_SUP_MSG_DEFINITIVEMENT" | translate}}
            .comValiderMessage(ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.message_parent.est_defi == 1))", ng-click="validerMessageDefi(message)")
              | {{(message.defi_valide == "0" ? "web_label_valider" : "WEB_LABEL_INVALIDER") | translate}}
            .comTerminerDefi(ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.id_auteur == utilisateur_local.id_utilisateur) && (message.est_defi == 1))", ng-click="terminerDefi(message)")
              | {{"BUTTON_TERMINER_DEFI" | translate}}
            .comPartagerMessage(ng-click="partagerMessage(message)")
              | partager
              pf-menu-partager(stop-event="click", ng-if="visible_menu_partager == message.id_message")
            .comValiderMessage(draggable="true", ng-if="utilisateur_local.est_connecte && (utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2)", ng-click="deplacerMessage(message)")
              | d&#233;placer
            //-
                                    <div ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4) || (message.id_auteur == utilisateur_local.id_utilisateur))" ng-click="visible_menu_langue = visible_menu_langue ? undefined : message.id_message" class="comModifierLangue">
                                        <img ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codefromid(message.id_langue) + '.png'}}" alt="langue">
                                        <pf-menu-langue ng-if="visible_menu_langue == message.id_message" stop-event/>
                                    </div> 
            .comModifierLangue(ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4) || (message.id_auteur == utilisateur_local.id_utilisateur))", ng-click="fonctionPasDisponible()")
              img(ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codefromid(message.id_langue) + '.png'}}", alt="langue")
              //- <pf-menu-langue ng-if="visible_menu_langue == message.id_message" stop-event/>
        .comTagsContainer(ng-show="message.tags.length > 0")
          .comTagsLabel(ng-repeat="tag in parseJSON(message.tags)")
            | {{'#' + tag}}
            span(ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2", ng-click="supprimerTag(message, tag)") x
      //- <div class='ng-hide comBar-no-element'>
      .comBar-no-element(ng-if="messages_array.length == 0")
        //-
           <div class='comBar-arrow-placeholder'>
                            <img src='/img/combar-arrow.png'/>
                        </div> 
        .comBar-label
          h2 {{"LABEL_LISTE_MESSAGES_VIDE" | translate}}
          div {{"WEB_LABEL_ELEMENT_PAS_DE_CONTENU" | translate}}
          h3 {{"WEB_LABEL_REAGIR_SUR_PARTIE" | translate}}
