#preferences-container.panel-container-left.pf(ng-controller="controller_preferences", ng-show="visible")
  section#preferences-wrapper.panel-wrapper
    #btn-preferences-fermer.btn-cross-fermer(ng-click="remove()") x
    section#preferences-head.panel-head
      h1.panel-title {{"WEB_LABEL_MENU_PREFERENCES" | translate}}
    section.preferences-container
      #preferences-wrapper
        div
          h1 Compte
          ul
            li
              .btn-action(ng-click="fonctionPasDisponible()")
                | {{(preferences.connexion_automatique ? "WEB_LABEL_DESACTIVER" : "WEB_LABEL_ACTIVER") | translate}} {{"WEB_LABEL_CONNEXION_AUTOMATIQUE" | translate}}
            li
              label(for="register-langue") {{"LABEL_LANGUE_PRINCIPALE_2" | translate}} : 
              select(ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="id_langue", ng-init="id_langue = current_code_langue", ng-change="selectLangue(id_langue)", ng-options="lg.id as lg.label for lg in tableau_labels")
        div
          h1 Sur cette ressource
          ul
            li
              .btn-action(ng-click="switchNotificationMail()")
                | {{(preferences.notification_mail ? "WEB_LABEL_DESACTIVER" : "WEB_LABEL_ACTIVER") | translate}} {{"WEB_LABEL_LES_NOTIFICATIONS" | translate}}
            li
              .btn-action(ng-if="utilisateur_local.est_admin", ng-click="fonctionPasDisponible()")
                | {{(preferences.afficher_noms_reels ? "WEB_LABEL_DESACTIVER" : "WEB_LABEL_ACTIVER") | translate}} {{"WEB_LABEL_AFFICHAGE_DES_NOMS_REELS" | translate}}
        div
          h1 Actions manuelles
          ul
            li
              .btn-action(ng-click="reinitialiserMessagesLus()") {{"WEB_BUTTON_REINIT_MESSAGES_LUS" | translate}}
            li
              .btn-action(ng-click="actualiserMessages()") {{"BUTTON_RECUPERER_NOUVEAUX_MESSAGES" | translate}}
            LI
              .btn-action(ng-click="effacerToutesDonnees()") {{"BUTTON_EFFACER_DONNEES" | translate}}
