#pres-container.popinWrapper(ng-controller="controller_presentation", ng-show="visible")
  .popinFocus(ng-click="visible = false")
  .popin
    .btn-pres-fermer.btn-cross-fermer(title="{{'WEB_LABEL_FERMER_PANNEAU' | translate}}", ng-click="visible = false") x
    section.pres-header
      img(ng-src="{{res_url_private + 'img/pairformfullfinal@2x.png'}}", alt="{{'WEB_LABEL_LOGO_PAIRFORM' | translate}}", title="{{'WEB_LABEL_LOGO_PAIRFORM' | translate}}")
      p {{"WEB_LABEL_NAVIGUER_SITE_PAIRFORM" | translate}}
      h1 {{"WEB_LABEL_CHANGE" | translate}}
    hr
    section.pres-section
      .pres-content
        h2 1 - {{"WEB_LABEL_ECHANGER_AVEC_PAIRS" | translate}}
        p
          | {{"WEB_LABEL_COMMENTAIRES_BULLE_ROUGE" | translate}}
          br
          br
          // {{'WEB_LABEL_UTILISEZ_LE' | translate}} <b>{{'WEB_LABEL_CLIC_DROIT' | translate}}</b> {{'WEB_LABEL_VOTRE_SOURIS_VISUALISER' | translate}}.
          | {{"WEB_LABEL_CLIC_AFFICHE_COMMENTAIRES" | translate}}
      aside.pres-content-illustration
        img(ng-src="{{res_url_private + 'img/pres/lire0.png'}}", alt="{{'WEB_LABEL_CLIC_DROIT_COMMENTAIRE' | translate}}", title="{{'WEB_LABEL_CLIC_DROIT_COMMENTAIRE' | translate}}")
      .pres-content
        // <h3>{{'WEB_LABEL_ET_VOILA' | translate}}</h3>
        p
          | {{"WEB_LABEL_VOUS_POUVEZ" | translate}} :
          ul
            li {{"WEB_LABEL_ECRIRE_NOUVEAU_MESSAGE" | translate}},
            li {{"WEB_LABEL_REPONDRE_MESSAGE_EXISTANT" | translate}},
            li {{"WEB_LABEL_VOTER_UTILITE_MESSAGE" | translate}},
            li {{"WEB_LABEL_AUTRES_ACTIONS" | translate}}...
      aside.pres-content-illustration
        img(ng-src="{{res_url_private + 'img/pres/lire1.png'}}", alt="{{'WEB_LABEL_MESSAGES_ATTACHES' | translate}}", title="{{'WEB_LABEL_MESSAGES_ATTACHES' | translate}}")
    hr
    section.pres-section
      .pres-content
        h2 2 - {{"WEB_LABEL_PRENEZ_NOTORIETE" | translate}}
        p
          | {{"WEB_LABEL_ACTION_RESEAU_SOCIAL" | translate}}.
          br
          br
          | {{"WEB_LABEL_PAR_EXEMPLE" | translate}} :
          div
            .pres-score-container
              .pres-score-value +10
              .pres-score-action {{"WEB_LABEL_ECRIRE_MESSAGE" | translate}}
            .pres-score-container
              .pres-score-value +1
              .pres-score-action {{"WEB_LABEL_VOTER_MESSAGE" | translate}}
            .pres-score-container
              .pres-score-value +30
              .pres-score-action {{"WEB_LABEL_GAGNER_DEFI" | translate}}
            .pres-score-container
              .pres-score-value.pres-score-value-neg -30
              .pres-score-action {{"WEB_LABEL_SE_FAIRE_SUP_MSG" | translate}}
      aside.pres-content-illustration.no-slide
        img(ng-src="{{res_url_private + 'img/pres/rep0.png'}}", alt="{{'WEB_LABEL_PROFIL_UTILISATEUR' | translate}}", title="{{'WEB_LABEL_PROFIL_UTILISATEUR' | translate}}")
      .pres-content
        br
        | {{"WEB_LABEL_PROPRES_A_CHAQUE_RESSOURCE" | translate}}
        br
        br
        | {{"WEB_LABEL_POINTS_DROITS" | translate}}
        br
        br
        br
        br
        | {{"WEB_LABEL_PAR_EXEMPLE" | translate}} :
        ul
          li {{"WEB_LABEL_SUP_MSG_AUTRES" | translate}},
          li {{"WEB_LABEL_DONNER_MEDAILLES" | translate}},
          li {{"WEB_LABEL_ATTRIBUER_TAGS" | translate}}.
    hr
    section.pres-section
      .pres-content-full
        h2 3 - {{"WEB_LABEL_CREEZ_UN_COMPTE" | translate}}
        p
          | {{"WEB_LABEL_PARTICIPER_RESEAU_SOCIAL_CREER_COMPTE" | translate}}
        #btn-pres-creer-compte.btn-action {{"BUTTON_CREER_UN_COMPTE" | translate}}
    i.pres-footer
      .btn-action.btn-pres-fermer(ng-click="visible = false") {{"WEB_LABEL_CLIQUEZ_ICI" | translate}}
      | {{"WEB_LABEL_POUR_FERMER_FENETRE" | translate}}.
      br
      | {{"WEB_LABEL_AFFICHER_A_PROPOS" | translate}}
