.panel-container-right.pf(ng-controller="controller_profil", ng-show="visible")
  section#profil-wrapper.panel-wrapper
    #btn-profil-fermer.btn-cross-fermer(ng-click="remove()") x
    section#profil-info
      #profil-info-avatar
        img#profil-img.pf-user-avatar(ng-src="{{utilisateur.avatar_url}}", alt="")
        img#profil-icone-langue(ng-src="{{res_url_private}}img/langue/icone_drapeau_rond_{{codefromid(utilisateur.langue_principale)}}.png", alt="")
        #profil-info-avatar-label(ng-if="is_connected_user", ng-click="afficherChangerAvatar()") {{"TITLE_MODIFIER_AVATAR" | translate}}
      #profil-info-inner
        h1#profil-username {{utilisateur.username}}
        #profil-etablissement {{utilisateur.etablissement}}
        #profil-status(ng-class="(utilisateur.offline != false) ? 'offline' : 'online'") {{utilisateur.labelStatus}}
    section.panel-actions
      #btn-profil-messages.btn-action(ng-click="afficherMessagesUtilisateur(utilisateur.id_utilisateur)")
        | {{(is_connected_user ? "BUTTON_MES_MESSAGES" : "BUTTON_SES_MESSAGES") | translate}}
      #btn-profil-mon-reseau.btn-action(ng-click="is_connected_user ? afficherReseau('gestion') :  afficherReseau('ajout', utilisateur)")
        | {{(is_connected_user ? "BUTTON_CERCLES" : "BUTTON_AJOUTER") | translate}}
    section.panel-actions(ng-if="is_connected_user")
      #btn-profil-messages.btn-action(ng-click="afficherProfilConfig()")
        | {{"TITLE_MODIFIER_COMPTE" | translate}}
      .btn-action(ng-click="deconnecter(); remove();")
        | {{"BUTTON_DECONNEXION" | translate}}
    section#profil-succes
      span#profil-succes-label
        | {{"TITLE_DERNIERS_SUCCES" | translate}} ({{utilisateur.nb_succes_gagnes}}/74)
      #profil-succes-container(ng-click="afficherSucces(utilisateur.id_utilisateur, utilisateur.succes)")
        img(ng-repeat="succes_recent in utilisateur.derniers_succes | limitto:5", ng-src="{{res_url_private + 'img/succes/' + succes_recent.nom_logo + '.png'}}")
    section#profil-niveaux
      span#profil-niveaux-label
        | {{((is_connected_user == "true") ? "TITLE_MES_RESSOURCES" : "TITLE_SES_RESSOURCES") | translate}}
      ul#profil-ressource-container
        li.profil-ressource(ng-repeat="ressource in utilisateur.ressources")
          img.profil-ressource-image(ng-src="{{res_url_root + ressource.url_logo}}", ng-click="afficherFicheRessource(ressource.id_ressource)")
          .profil-ressource-inner
            .profil-ressource-nom {{ressource.nom_court}}
            .profil-ressource-rang
              | {{("LABEL_USER_" + ressource.nom_categorie.toUpperCase()) | translate}}
            .profil-ressource-points {{ressource.score}} pts
            .btn-action.profil-ressource-upgrade(ng-if="utilisateur_local.est_connecte && (utilisateur_local.rank_ressources[ressource.id_ressource].id_categorie >= 4) && (is_connected_user == false)", ng-click="$parent.upgrade_ressource = ($parent.upgrade_ressource == ressource.id_ressource) ? false : ressource.id_ressource")
              | Modifier...
              pf-menu-changer-role.ui-tooltip-bottom.rank-upgrade-wrapper(ng-if="$parent.upgrade_ressource == ressource.id_ressource")
