#profil-config-panel-container.panel-container-right.pf(ng-controller="controller_profil_config", ng-show="visible")
  section#profil-config-wrapper.panel-wrapper
    #btn-profil-config-fermer.btn-cross-fermer(ng-click="remove()") x
    section#profil-config-head.panel-head
      h1#profil-config-user.panel-title {{"TITLE_MODIFIER_COMPTE" | translate}}
    section.profil-config-container.formBox
      form#profil-config-form(ng-submit="enregistrerModifications()")
        h3 {{"LABEL_MOT_DE_PASSE" | translate}} :
        span {{"LABEL_MOT_DE_PASSE_ANCIEN" | translate}} : 
        input#register-password-old(type="password", placeholder="", ng-model="informations.current_password", ng-minlength="6")
        br
        span {{"LABEL_MOT_DE_PASSE_NOUVEAU" | translate}} : 
        input#register-password(type="password", placeholder="6 {{'WEB_LABEL_CARACTERES_MIN' | translate}}", ng-model="informations.password", ng-minlength="6")
        br
        span {{"LABEL_MOT_DE_PASSE_CONFIRMATION" | translate}} : 
        input#register-password2(type="password", placeholder="6 {{'WEB_LABEL_CARACTERES_MIN' | translate}}", ng-model="informations.password2", ng-minlength="6")
        br
        h3 {{"WEB_LABEL_INFOS_PERSO" | translate}} :
        span {{"LABEL_NOM" | translate}} / {{"LABEL_PRENOM" | translate}} : 
        input#register-name(type="text", placeholder="{{'WEB_LABEL_NOM_MAJ' | translate}} {{'LABEL_PRENOM' | translate}} ", ng-model="informations.name")
        br
        span {{"LABEL_ETABLISSEMENT" | translate}} : 
        input#register-etablissement(type="text", placeholder="{{'WEB_LABEL_ECOLE_ENTREPRISE' | translate}}", ng-model="informations.etablissement")
        br
        h3 {{"LABEL_LANGUES" | translate}} :
        span {{"LABEL_LANGUE_PRINCIPALE" | translate}} : 
        select#register-langue-principale(ng-model="informations.langue", ng-options="lg.id as lg.label for lg in tableau_langues_label")
        br
        span {{"LABEL_AUTRES_LANGUES" | translate}} : 
        span#btn-profil-autres-langues.btn-action {{"BUTTON_CHOISIR" | translate}}...
        br
        button#btn-profil-config-valider.btn-action {{"BUTTON_ENREGISTRER" | translate}}
  #popin-choix-autres-langues.popin.formBox
    section#choiceOtherLanguagesBox
      h1 {{"TITLE_AUTRES_LANGUES" | translate}}
      section#sec-other-languages
        ul#list-other-languages
      span#btn-ok-choice-other-languages.btn-action OK
  #popin-change-langue-app-profil.popin.formBox
    section#changeLanguageAppBoxProfil
      h1 {{"TITLE_LANGUE_APPLICATION" | translate}}
      p {{"LABEL_CHANGER_LANGUE_APP" | translate}}
      span#btn-yes-change-langue-app-profil.btn-action {{"BUTTON_NON" | translate}}
      span#btn-no-change-langue-app-profil.btn-action {{"BUTTON_OUI" | translate}}
