#profil-recherche-container.panel-container-left.pf(ng-controller="controller_recherche_profil", ng-show="visible")
  section#profil-search-wrapper.panel-wrapper
    #btn-profil-search-fermer.btn-cross-fermer(ng-click="remove()") x
    section#ressources-head.panel-head
      h1.panel-title
        | {{(mode == "recherche_profil" ? "WEB_LABEL_MENU_RECHERCHE" : "WEB_BUTTON_AJOUTER_UNE_PERSONNE_CERCLE") | translate}}
      section#profil-search-actions.panel-actions
        input(type="search", ng-model="filtre_utilisateurs", results="5", name="username", autosave="fr.emn.pairform", placeholder="{{'LABEL_PSEUDO' | translate}}")
        // <div id="btn-profil-search-trigger" class="btn-action">{{'WEB_BUTTON_RECHERCHER' | translate}}</div>
    section#profil-search-results
      h1.profil-search-not-found {{"WEB_LABEL_AUCUN_RESULTAT" | translate}}
      ul#profil-search-list-results
        // ng-class="{online : (utilisateur.offline == false)}"
        li.profil-search-result-user(ng-click="mode == 'recherche_profil' ? afficherProfil(utilisateur.id_utilisateur) : angular.noop()", ng-repeat="utilisateur in utilisateurs_array | search:filtre_utilisateurs:['username','etablissement']:'OR' | limitTo:limit")
          img.profil-search-img.pf-user-avatar(ng-src="{{utilisateur.image}}", alt="")
          .profil-search-inner
            h1.profil-search-username {{utilisateur.username}}
            .profil-search-etablissement {{utilisateur.etablissement}}
          .reseaux-add.profil-search-add-user(ng-click="ajouterUtilisateurDansReseauDepuisRecherche(utilisateur)", ng-if="mode == 'reseau'", title="{{'BUTTON_AJOUTER' | translate}}") +
