#ressources-container.panel-container-left.pf(ng-controller="controller_ressources", ng-show="visible")
  section#ressources-wrapper.panel-wrapper
    #btn-ressources-fermer.btn-cross-fermer(ng-click="remove()") x
    section#ressources-head.panel-head
      h1.panel-title {{"WEB_TITLE_RESSOURCES_PAIRFORM" | translate}}
      section#ressources-actions.panel-actions
        input(type="search", ng-model="filtre_ressource.nom_court", results="5", autosave="fr.emn.pairform.search", placeholder="{{'WEB_BUTTON_RECHERCHER' | translate}}")
        #btn-ressources-switch.btn-action(ng-click="switch_sort_mode = 0+!switch_sort_mode")
          | {{(switch_sort_mode == 1 ? "WEB_LABEL_TRIER_PAR_ESPACE" : "WEB_LABEL_TRIER_PAR_THEME") | translate}}
    section.ressources-container
      #ressources-wrapper
        .ressources(ng-repeat="(espace_nom_court, ressources) in res_sorted[switch_sort_mode] | orderBy:espace_nom_court")
          h2.ressources-title {{espace_nom_court}}
          .ressources-items-container
            div(ng-repeat="ressource in ressources | filter:filtre_ressource", ng-attr-data-count="{{(typeof(nombre_messages[ressource.id_ressource]) != 'undefined') ? nombre_messages[ressource.id_ressource] : '0'}}", title="{{ressource.description + '\
            Auteurs : ' + ressource.auteur}}", ng-click="afficherFicheRessource(ressource.id_ressource)")
              img.ressources-item-icon(alt="{{ressource.nom_court}}", ng-src="{{ressource.url_logo}}")
              span {{ressource.nom_court}}
              img.icone_drap_res(ng-src="{{res_url_private}}img/langue/icone_drapeau_rond_{{ressource.code_langue}}.png", alt="{{ressource.code_langue}}")
