.pf.user_menu(ng-controller="controller_nav_bar" pf-user-menu ng-class="{active: display_user_menu}")
  .user_badge.with_count(data-count="{{notifications.count_un}}" data-count-type="un" )
    img.pf-user-avatar(ng-src=urls.serveur_node + "/res/avatars/defaut.png" ng-click="afficherConnexion()" ng-hide="utilisateur_local.est_connecte")
    img.pf-user-avatar(ng-src="{{utilisateur_local.avatar_url}}" ng-click="display_user_menu = display_user_menu ? false : true" ng-show="utilisateur_local.est_connecte")
  .menu
    .user-info(ng-if="capsule || ressource")
      //- h5#profil-name {{utilisateur_local.username}}
      span#profil-pts {{utilisateur_local.rank[capsule.id_capsule].score || utilisateur_local.rank_ressources[ressource.id_ressource].score}}
      span#profil-pts-label
        img(src=urls.serveur_node+"/public/img/logo_32.png", alt="points")
    ul.menu_items
      //- a.menu_item(href=urls.serveur_node + "/home/dashboard")
      //-   .menu_item_wrapper
      //-     img(src=urls.serveur_node + "/public/img/icone/dashboard.png", alt="dashboard")
      //-     span {{ "WEB_LABEL_SIDEBAR_DASHBOARD" | translate }}
      a.menu_item(href=urls.serveur_node + "/home/backoffice")
        .menu_item_wrapper
          img(src=urls.serveur_node + "/public/img/icone/backoffice.png", alt="backoffice")
          span Mes ressources
      .menu_item(ng-click="show_sub_menu = show_sub_menu == 'messages' ? false : 'messages'")
        .menu_item_wrapper
          img(src=urls.serveur_node + "/public/img/icone/messages.png", alt="messages")
          //- span {{ "WEB_LABEL_SIDEBAR_MESSAGES" | translate }}
          ul.sub_menu.teal(ng-show="show_sub_menu == 'messages'")
            li.sub_menu_item(ng-if="capsule" ng-click="afficherMessagesTransversal(); display_user_menu = false") Messages sur ce document
            li.sub_menu_item(ng-click="actualiser()", title="{{'BUTTON_RECUPERER_NOUVEAUX_MESSAGES' | translate}}") {{'BUTTON_RECUPERER_NOUVEAUX_MESSAGES' | translate}}
            li.sub_menu_item(draggable="true", ng-show="array_messages_deplacement.length", ng-click="afficherMessagesDeplacement()") Messages à déplacer…
            ul.arrow_box.arrow_box_top.messages-move-pop-up(ng-show="messages_deplacement_visible && array_messages_deplacement.length" style="margin-top: 60px;")
              li(draggable="true", ng-repeat="message in array_messages_deplacement track by message.id_message")
                // <li ng-drag-start="messageDragStart($data,$event)" ng-drag-start="messageDragStop($data,$event)" ng-drag="true" ng-drag-data="message" ng-center-anchor="true" ng-repeat="message in array_messages_deplacement track by message.id_message">
                .illustration(ng-style="{'background-image' : 'url('+message.url_avatar_auteur+')'}")
                .content-wrapper
                  span {{message.pseudo_auteur}}
                  span {{message.contenu | limitTo:20}}&#8230;
                .content-action
                  div(ng-click="supprimerDeplacementMessage(message)") &#10007;
                  a(ng-href="{{res_url_root + 'webServices/message/rediriger?id_message=' + message.id_message}}") &#10095;
            //- li.sub_menu_item Mes messages sur ce document
            //- li.sub_menu_item 
              a(href=urls.serveur_node + "/home/messages") Tous les messages 

      .menu_item(ng-click="show_sub_menu = show_sub_menu == 'ressource' ? false : 'ressource'" ng-if="capsule || ressource")
        .menu_item_wrapper
          img(ng-src="{{capsule.url_logo_ressource || ressource.url_logo}}", ng-alt="{{ capsule.nom_long }}")
          //- span {{ capsule.nom_long }}
          ul.sub_menu.gray(ng-show="show_sub_menu == 'ressource'")
            li.sub_menu_item
              a(href=urls.serveur_node + "/doc/{{(capsule || ressource).id_espace}}/{{(capsule || ressource).id_ressource}}") Voir la ressource
            li.sub_menu_item(ng-if="capsule" ng-click="switchWatchCapsule()", title="{{capsule.nom_long}}", ng-show="utilisateur_local.est_connecte") 
              | Surveiller ce document
              i.fa.fa-check-square-o(ng-show="utilisateur_local.rank[capsule.id_capsule].watch_mail")
              i.fa.fa-square-o(ng-show="!utilisateur_local.rank[capsule.id_capsule].watch_mail")
            li.sub_menu_item(ng-if="capsule" ng-show="utilisateur_local.est_connecte && utilisateur_local.est_admin_pairform || utilisateur_local.liste_roles[capsule.id_espace]['gerer_toutes_ressources_et_capsules'] || utilisateur_local.liste_roles[capsule.id_espace][capsule.id_ressource]['gerer_toutes_capsules'] || ( utilisateur_local.liste_roles[capsule.id_espace][capsule.id_ressource]['gerer_capsule'] && capsule.cree_par == utilisateur_local.id_utilisateur )")
              a(ng-href="{{res_url_root + 'home/backoffice/capsules/gestionCapsule/' + capsule.id_capsule + '?id_espace='+ capsule.id_espace + '&nom_espace=' + ressource.espace_nom_long + '&id_ressource=' + capsule.id_ressource + '&nom_ressource=' + ressource.nom_court + '&nom_capsule=' + capsule.nom_long}}", target='_blank')
                | Éditer ce document
      .menu_item(ng-click="show_sub_menu = show_sub_menu == 'profil' ? false : 'profil'")
        .menu_item_wrapper
          img(src=urls.serveur_node + "/public/img/icone/profil.png", alt="profil")
          ul.sub_menu.blue(ng-show="show_sub_menu == 'profil'")
            li.sub_menu_item 
              a(href=urls.serveur_node + "/home/profil/moi") Voir mon profil ({{utilisateur_local.username}})
            li.sub_menu_item
              a(href=urls.serveur_node + "/home/dashboard") Tableau de bord
            li.sub_menu_item(ng-click="deconnecter(); display_user_menu = false") Me déconnecter
      .menu_item.with_count(data-count="{{notifications.count_un}}" data-count-type="un")
        .menu_item_wrapper(ng-click="afficherNotification('un')")
          img(src=urls.serveur_node + "/private/img/notifications_user.png", alt="preferences")
          span Notifications
        ul.arrow_box.arrow_box_top(ng-show="notifications.visible")
          div.arrow_box_options
            .btn-tab.with_count(ng-click="afficherNotification('un')", data-count-type="un", ng-class="{selected : (notifications.visible == 'un')}" data-count="{{notifications.count_un}}") Actions
            .btn-tab.with_count(ng-click="afficherNotification('us')", data-count-type="us", ng-class="{selected : (notifications.visible == 'us')}" data-count="{{notifications.count_us}}") Score
          .arrow_box_section(ng-show="notifications.visible == 'un'")
            li.notification.notification-empty.notification-header(ng-show="notifications.un.length == 0") {{"WEB_LABEL_AUCUNE_NOTIFICATION_RECENTE" | translate}}
            li.notification(ng-click="actionNotification(notif, 'un')", ng-repeat="notif in notifications.un | limitTo:20  track by notif.id_notification", data-type="un", ng-class="{est_lu : notif.date_vue}")
              .illustration(ng-style="{'background-image' : 'url(' + res_url_private + 'img/' + (notif.sous_type == 'gs' ? 'succes/' : '')+ notif.image + (notif.sous_type == 'gm' ? notif.contenu.split(' - ')[1] : '')+ '.png)'}")
              .content-wrapper
                span {{notif.titre | translate}}
                span {{notif.label | translate}}

          .arrow_box_section(ng-show="notifications.visible == 'us'")
            li.notification.notification-empty.notification-header(ng-show="notifications.us.length == 0") {{"WEB_LABEL_AUCUNE_NOTIFICATION_RECENTE" | translate}}
            li.notification(ng-click="actionNotification(notif, 'us')", ng-repeat="notif in notifications.us | limitTo:20  track by notif.id_notification", data-type="us", ng-class="{est_lu : notif.date_vue}")
              .illustration(ng-class="{'positif' : notif.points > 0, 'negatif' : notif.points < 0}")
                | {{notif.points &#62; 0 ? ("+" + notif.points) : notif.points}}
              .content-wrapper
                span {{notif.titre | translate}}
                span {{notif.label | translate}}

  //- .community
    .user_badge
      img.pf-user-avatar(src="http://localhost:3000/res/avatars/2.png")
    .user_badge
      img.pf-user-avatar(src="http://localhost:3000/res/avatars/2.png")
    .user_badge
      img.pf-user-avatar(src="http://localhost:3000/res/avatars/2.png")
    .user_badge
      img.pf-user-avatar(src="http://localhost:3000/res/avatars/2.png")