.user-short-profile(ng-mouseleave="cacherProfilFocus()" ng-controller="controller_profil_focus")
  a.user-short-avatar(ng-click="cacherProfilFocus()" ng-class="{online : online}")
    img.pf-user-avatar(ng-src="{{utilisateur_focus.avatar_url}}")
  .user-short-header-info
    a.username(ng-click="afficherProfil(utilisateur_focus.id_utilisateur)", title="{{'WEB_LABEL_CLIQUE_VISUALISER_PROFIL' | translate}}") 
      span.pseudo {{utilisateur_focus.pseudo}} 
    .etablissement(ng-show="utilisateur_focus.etablissement") {{utilisateur_focus.etablissement}}
    .flair
      span.reputation-role {{utilisateur_focus.getCategorieForRessource((capsule.id_ressource || ressource.id_ressource)).nom_categorie}} 
      span.profil-ressource-upgrade(ng-if="utilisateur_local.est_connecte && (utilisateur_local.rank_ressources[(capsule.id_ressource || ressource.id_ressource)].id_categorie >= 4) && (utilisateur_local.id_utilisateur != utilisateur_focus.id_utilisateur)", ng-click="$parent.upgrade_ressource = ($parent.upgrade_ressource == (capsule.id_ressource || ressource.id_ressource)) ? false : (capsule.id_ressource || ressource.id_ressource)") (modifier)
        .ui-tooltip-bottom.rank-upgrade-wrapper(ng-if="$parent.upgrade_ressource == (capsule.id_ressource || ressource.id_ressource)")
          ul.rank-upgrade-list
            li.rank-upgrade-list-item.btn-action(ng-click='changerRole((capsule.id_ressource || ressource.id_ressource), 5)' ng-if="utilisateur_local.est_connecte && (utilisateur_local.rank_ressources[(capsule.id_ressource || ressource.id_ressource)].id_categorie >= 5)") {{"LABEL_USER_ADMINISTRATEUR" | translate}}  
            li.rank-upgrade-list-item.btn-action(ng-click='changerRole((capsule.id_ressource || ressource.id_ressource), 4)') {{"LABEL_USER_EXPERT" | translate}}  
            li.rank-upgrade-list-item.btn-action(ng-click='changerRole((capsule.id_ressource || ressource.id_ressource), 3)') {{"LABEL_USER_ANIMATEUR" | translate}}  
            li.rank-upgrade-list-item.btn-action(ng-click='changerRole((capsule.id_ressource || ressource.id_ressource), 2)') {{"LABEL_USER_COLLABORATEUR" | translate}}  
            li.rank-upgrade-list-item.btn-action(ng-click='changerRole((capsule.id_ressource || ressource.id_ressource), 1)') {{"LABEL_USER_PARTICIPANT" | translate}}  
            li.rank-upgrade-list-item.btn-action(ng-click='changerRole((capsule.id_ressource || ressource.id_ressource), 0)') {{"WEB_LABEL_REVENIR_ROLE_NORMAL" | translate}}


      span.reputation-score(title='Nombre de points sur ce document', dir='ltr') - {{utilisateur_focus.getCategorieForRessource((capsule.id_ressource || ressource.id_ressource)).score}}
      span.profil-pts-label
        img(src=urls.serveur_node+"/public/img/logo_32.png", alt="points")
      //- span.reputation-score(title='Nombre de ressources', dir='ltr') {{utilisateur_focus.ressources.length}} ressources
      //- span(title='44 gold badges')
      //-   span.badge1
      //-   span.badgecount 
    span.status(ng-class="{online : online}") {{labelStatus}} 
  .actions
    //- .btn-action(ng-click="is_connected_user ? afficherReseau('gestion') :  afficherReseau('ajout', utilisateur)") Se connecter
    a.btn-action(ng-click="afficherMessagesUtilisateur(utilisateur_focus.id_utilisateur)" ng-href="{{afficherMessagesUtilisateur ? '' : (res_url_root + 'home/messages/utilisateur/' + utilisateur_focus.id_utilisateur)}}" target="pf.utilisateur") Ses messages
    a.btn-action(ng-href="{{res_url_root + 'home/profil/' + utilisateur_focus.id_utilisateur}}" target="pf.utilisateur") Voir son profil