
/**/

.timeline-holder {
  /* position: relative; */
  /* height: 297px; */
  /* border-left: none; */
  /* border-right: none; */
  /* background: white; */
  /* height: 100px; */
  /* padding: 0; */
}

.timeline-items-container.pf-droppable{
  transform:scale(1.02);
  background:#ffffffa1;
  /*border:2px solid rgba(0, 0, 0, 0.08);*/
  box-shadow: 0 20px 15px -20px rgba(0, 0, 0, 0.38);
}

.timeline-items-container{
  overflow-x:scroll;
  overflow-y: hidden;
  /* white-space: nowrap; */
  background: #ffffff00;
  padding: 60px 0;
  display: block;
  transition:all ease-out .2s;
}
.timeline__step-content input {
  width:80px;
  border: 0;
  text-align: center;
  font-size: 13px;
  /* line-height: 12px; */
  background: none;
  padding: 0px;
}

.timeline-holder datepicker {
  display: block;
  line-height: initial;
}
.timeline-holder ._720kb-datepicker-calendar {
  /* top: -10%; */
  /* left: 100%; */
  /* line-height: 12px; */
  width: 220px;
}
.timeline-holder ._720kb-datepicker-calendar-day {
  margin: 0;
}
.timeline-holder ._720kb-datepicker-calendar-header  {
  line-height: 32px;
  background: #ff8d00 !important;
}
/**/
/**/
/**/
/**/
/**/

.timeline {
  margin: 2px 0px;
  padding: 0;
  border-top: 2px solid #428bca;
  list-style: none;
  display: block;
  width: 8000px;
}

.timeline__step {
  float: left;
  width: 90px;
  /* padding-top: 30px; */
  margin-top: -42px;
  /*position: relative;*/
  padding-left: 0px;
  box-sizing:  content-box;
  transition: all .2s ease-out !important;
}
.timeline__step.pf-droppable-hover {
  padding-left: 20px;
}
/*
.timeline__step:first-of-type:before, .timeline__step:last-of-type:before {
  content: "";
  width: 50%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: -2px;
  left: 0;
}*/
.timeline__step:last-of-type:before {
  left: 50%;
  display: none;
}
.timeline__step:hover .timeline__step-label {
  opacity: 1;
  bottom: -30%;
}
.timeline__step:hover .timeline__step-label:before, .timeline__step:hover .timeline__step-label:after {
  display: block;
}

.timeline__step-label {
  padding: 5px 0px;
  z-index: 2;
  height: auto;
  font-size: 12px;
  border-radius: 4px;
  border-width: 2px;
  width: 90px;
  margin: 0 0 45px -55px;
  border-style: solid;
  border-color: #428bca;
  background: #fff;
  font-weight: normal;
  position: absolute;
  left: 50%;
  bottom: 80%;
  transition: all ease-out .2s;
}
.timeline__step-label:before, .timeline__step-label:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
}
.timeline__step-label:before {
  border-top-color: #428bca;
  border-width: 8px;
  margin-left: -8px;
}
.timeline__step-label:after {
  border-top-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

.timeline__step-content {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.timeline__step-title {
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 4px;
  line-height: 14px;
}

.timeline .timeline__step-marker {/* margin-left: -25px; *//* position: absolute; *//* top: -26px; *//* left: 50%; */display:  block;width: 50px;margin:  0 auto;}
.timeline__step-marker {
  width: 50px;
  height: 50px;
  text-align: center;
  color: #428bca;
  font-size: 24px;
  line-height: 36px;
  font-style: normal;
  /* box-shadow: 0 0 0 10px #fff; */
}

i.timeline__step-marker{
  border: 4px solid #428bca;
  border-radius: 50%;
  line-height: 42px;
  background: #fff;
}

.timeline img.timeline__step-marker {
  width: auto;
  /* margin-left: -20px; */
  /* -webkit-user-drag:  none; */
}
.done .timeline__step-marker {
  background: #428bca;
  color: #fff;
}

.timeline__step-radio {
  display: none;
  /**
   * not needed for now,
   * because markers won't be clicked in horz version
   */
}

.timeline--summary {
  width: 200px;
  border-width: 2px;
}
.timeline--summary .timeline__step-label {
  margin-bottom: 19px;
}
.timeline--summary .timeline__step-title {
  padding: 10px 0 0;
  font-size: 8px;
  font-weight: bold;
}
.timeline--summary .timeline__step-marker {
  width: 12px;
  height: 12px;
  margin-left: -6px;
  border-width: 2px;
  text-indent: -999em;
  box-shadow: 0 0 0 3px #fff;
  top: -7px;
}
.timeline__step-date {
    font-size:11px;
    display:  block;
    text-align:  center;
    color: #5d5d5d;
}

.timeline__step-date .fa {
  margin-right:4px;
  color:#b3b3b3;
}
.timeline-create {
  position: relative;
}
.timeline-create-background {
  background: url("../img/timeline-blur.png") no-repeat;
  background-size: cover;
  background-position:0% 50%;
  width: 100%;
  height:180px;
}

/* Sessions items */

.sessions-items-container {
  margin-bottom:30px;
}
.session-item {
  display: inline-block;
  text-align: center;
  width: 90px;
  vertical-align: top;
}
.session-item span {
  display: block;
}
.session-item span {
  display: block;
  margin-top: 4px;
  line-height: 14px;
}

[draggable] {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
[draggable]:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


.timeline-more, .session-more {
    position:  absolute;
    background:  white;
    padding: 10px 14px;
    /* transform: translate(90px, -100px); */
    z-index:  2;
    box-shadow: 0 10px 20px -10px #00000063;
    border: 2px solid rgb(250, 222, 204);
    width:  300px;
    opacity:  1;
    margin-left: 0px;
    transition:all ease-out .2s;
}
.timeline-more{
    /*top: 0px;
    right: 0px;
    transform: translateX(100%);*/
    margin-left:0px;
}
.session-more {
  transform: translateY( -25px);
}

.timeline-more.ng-hide, .session-more.ng-hide {
    opacity: 0;
    margin-left: -20px;
    transition-delay:.05s;
}
.timeline-more.ng-hide {
  margin-left:-10px;
  /*transform: translateX(95%);*/
}

.timeline-more:after, .timeline-more:before, .session-more:after, .session-more:before {
    top: 25px;
    left: 0px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.timeline-more:after, .session-more:after {
    border-color: rgba(240, 240, 240, 0);
    border-right-color: white;
    border-width: 15px;
    margin-left: -28px;
}
.timeline-more:before, .session-more:before {
    border-color: rgba(168, 168, 168, 0);
    border-right-color: rgb(250, 221, 203);
    border-width: 16px;
    margin-left: -32px;
    margin-top: -1px;
}

.timeline-items-container {
  height: 130px;
}
.timeline-items-container.noscroll {
  overflow:  visible;
  width: 100%;
  /* white-space: nowrap; */
}
.timeline-items-container.noscroll-remove {
  animation:overflowDelay .2s forwards;
}
.timeline-items-container.noscroll .timeline {
  width: 100%;
}


@keyframes overflowDelay{
  0%{
    overflow:visible;
  }
  99%{
    overflow:visible;
  }
  100%{
    overflow-x:scroll;
    overflow-y:hidden;
  }
}

.timeline-more .item-date h1{
  margin:6px;
}

.pf .timeline .formBox input:not([type="submit"]):not([type="button"]):not([type="checkbox"]) {
    font-size: 14px;
    /* padding: 6px 6px 6px 6px; */
    border-radius:  0;
}

.timeline-more .btn-save, .session-more .btn-save {
    display: block;
    width: 120px;
    margin: 10px auto 0;
}

/* TABS */

.sessions-tabs {
  border-bottom: 1px solid #dadada;
   white-space:  nowrap; 
  word-break: break-all;
   overflow: auto; 
}

.sessions-tabs.noscroll {
  overflow:  visible; 
  width: 100%;
}
.sessions-tabs.noscroll-remove {
  animation:overflowDelay .2s forwards;
}
.session-tab {
  display:inline-block;
  padding: 4px 8px;
  border-right: 1px solid #dadada;
  background: white;
  line-height:  25px;
}


.session-tab h2 {
  display:inline-block;
}
.session-tab.active h2 {
  color:#e76908;
}
.session-tab .session-tab-more {
  display:inline-block;
  visibility:hidden;
  transition:all ease-out .2s;
  margin-left: -20px;
  opacity:0;
  max-width: 20px;
  transition:  all ease-out .2s;
  white-space: nowrap;
}
.session-tab.active .session-tab-more {
  visibility:visible;
  opacity:1;
  margin-left: 10px;
  max-width:400px;
}
.session-tab .session-tab-more i {
  font-size:14px;
  margin-right:0px;
  max-width: 20px;
  transition:  all ease-out .2s;
  white-space: nowrap;
}
.session-tab .session-tab-more i.fa-trash {
  color:#a00000;
}
.session-tab .session-tab-more i label {
  display:inline-block;
  visibility:hidden;
  transition:all ease-out .2s;
  margin-left: -20px;
  opacity:0;
  font-family: Raleway;
  font-size: 12px;
  padding:4px;
}
.session-tab .session-tab-more i:hover {
  color:#e76908;
  max-width:200px;
}
.session-tab .session-tab-more i:hover label {
  visibility:visible;
  margin-left: 0px;
  opacity:1;
}

.session-tab.session-tab-new {
  max-width:32px;
  white-space:nowrap;
  /*border-radius:50px;*/
  transition: all ease-out .2s;
  color:  #5f5f5f;
}
.session-tab.session-tab-new:hover {
  max-width:150px;
  color:  green;
  /*border-radius:0px;*/
}

.session-tab.session-tab-new i {
  font-size: 18px;
  vertical-align:  middle;
  margin-right: 4px;
}
.session-tab.session-tab-new h2 {
  color: green;
  font-size:  12px;

  visibility:hidden;
  transition:all ease-out .2s;
  margin-left: -20px;
  opacity:0;

}
.session-tab.session-tab-new:hover h2 {

  visibility:visible;
  margin-left: 0px;
  opacity:1;
}

.session-item-trash {
  color: #a00000;
  transform:scale(0.8);
  opacity: 0;
  transition: all ease-out .2s;
}
.session-item-trash i.timeline__step-marker {
  border: 4px solid #a00000;
  color: #a00000;
}
.session-item-trash.pf-droppable{
  transform:scale(1);
  opacity: 1;
}
.session-item-trash.pf-droppable.pf-droppable-hover{
  transform:scale(1.2);
}

.item-diffusion{
    margin: 20px 0px;
    font-size:14px;
}
.item-diffusion i, .item-diffusion span{
  margin-left:4px;
}