
.community h2 {
    display:block;
    /* white-space:  normal; */
    overflow:  hidden;
    text-overflow:  ellipsis;
    font-size:14px;
    text-shadow:none;
    color:#383838;
    font-weight:400;
}
.users{
  overflow-x:scroll;
  overflow-y:  hidden;
  height: 80px;
  white-space: nowrap;
}
.user {
    display:inline-block;
    margin:0 4px;
    text-align:  center;
    max-width:  50px;
}
.user img.avatar {
    /* border:1px solid red; */
    width: 44px;
    border-radius:50px;
}
.user h2 {
    font-size:12px;
    text-align:center;
}

.user.rank-1 img {
    border: 2px rgba(53, 171, 0, 0.81) solid;
}
.user.rank-2 img {
    border: 2px rgba(17, 46, 197, 0.63) solid;
}
.user.rank-3 img {
    border: 2px rgb(199, 0, 0) solid;
}
.user.rank-4 img {
    border: 2px rgba(255, 184, 0, 1) solid;
}
.user.rank-5 img {
    border: 2px rgb(74, 74, 74) solid;
}

.user.online {
    position: relative;
    height: 50px;
}
.user.online::after {
    content: "";
    display: block;
    background: #00bb00;
    border: 2px solid white;
    border-radius: 12px;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 6px;
    right: 0px;
}