.documents .icone_format {
  width:20px;
  height: auto;
  margin-right: 6px;
}

.bouton-information {
	font-family: "Helvetica";
	font-weight: initial;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(145, 145, 145);
	border-radius: 20px;
	color: rgb(82, 82, 82);
	cursor: pointer;
	display: inline-block;
	line-height: normal;
	padding: 0 6px;
	transition: all 0.2s ease-in-out 0s;
}
.bouton-information + a{
	display:inline-block;
	margin-left:6px;
}
.bouton-information:hover {
	background: orange;
}
.media-body .description_pre-line {
	opacity: 0;
	max-height: 0;
	overflow-y:auto;
	transition: opacity .2s ease-out, max-height ease-out .5s;
}
.media-body .description_pre-line.description_on {
	opacity: 1;
	max-height: 700px;	
}

.documents .media-body a img, .documents .media-body a h4{
	display: inline;
	margin-bottom:  0;
	vertical-align:  middle;
}
.documents .media-body i {
	color:#84c9e3;
	margin-left: 6px;
	vertical-align: middle;
}
.documents .media-body .description_pre-line {
	color:#757575;
	padding-top: 0px;
}