body{
	font-size: 13px;
	background-repeat: no-repeat;
	font-family: 'Raleway', 'Helvetica';
}

.pf .pf-user-avatar {
	border-radius: 50px;
}
.panel-body {
    padding: 0px 14px 10px;
}
.page-header {
    margin: 0px 0 20px;
    background: white;
    padding: 0;
}
.espace, .ressource{
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	float: left;
	margin: 0 14px;
	padding: 0px;
}
.espace a > * , .ressource a > * {
	display:inline-block;
	margin-left:12px;
	vertical-align: middle;
}
.logo_espace, .logo_ressource{
  max-width: 90px;
  margin: 5px;
	display:inline-block;
	border-radius:4px
}
.ressource {
	float:right;
	margin-top: 26px;
}
.ressource h1 {
	font-size:16px;
	max-width: 100px;
	text-align: left;
}
.ressource:hover .list-others {
	opacity:1;
	max-height:400px;
	padding-top:12px;
}
.ressource .list-others {
	position:absolute;
	z-index:3;
	background:white;
	padding:6px;
	overflow:  scroll;
	width: 210px;
	opacity:0;
	max-height:0px;
	transition:all ease-out .2s;
	box-shadow:0 2px 6px -2px #00000099;
}
.ressource .list-others a {
	display:block;
	text-align:left;
	padding:4px;
}
.ressource .list-others img{
	margin:0;
}
.logo_ressource {
	width: 50px;
}
.description_pre-line{
	white-space: pre-line;
	opacity: 0.9;
	color: #3366ab;
	background: rgba(255, 255, 255, 0.66);
	border-color: rgba(51, 102, 171, 0.4);
}
h1, h2, h3, h4, h5 {
	margin-top: 0;
	font-family: 'Raleway';
	margin-top: 0;
	font-family: 'Raleway';
}
h3, h4, h5 {
	font-weight: 300;
}
h1{
	font-size: 2.2rem;
	font-weight: 100;
	color: #313131;
	/* text-shadow: 0px 1px 0px #000; */
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.8rem;
}
h4, h3 span {
	font-size: 1.6rem;
}
h5 {
	font-size: 1.3rem;
}
.btn-action.btn-success {
	color: white;
	background-color: rgba(0, 128, 0, 0.7);
}
.btn-action.btn-success:hover {
	background-color: darkgreen;
}
.panel, .well {
	background-color: rgba(255, 255, 255, 0.71);
}
.panel-default>.panel-heading {
	background: rgba(255, 255, 255, 0.27);
}
.panel-vide{
	padding-top: 130px;
	height: 325px;
	text-align: center;
}
.panel{
	box-shadow: 0px 5px 12px -6px rgba(0, 0, 0, 0.53);
}
.media.list-group-item {
	margin-top: 6px;
}
body .media.list-group-item {
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.09);
	background-color: rgba(255, 255, 255, 0.84);
	background-color: white;
	border-top: 0;
}
body .list-group-item.active, body .list-group-item.active:focus, body .list-group-item.active:hover {
  color: #444;
  background-color: rgb(220, 245, 255);
  border-color: #3e95b5;
}
body .ressource-item:hover, body .capsule-item a:hover {
	color: #db6c00;
	text-decoration: none;
}
body .capsule-item a {
	color: #555;
}
img.media-object {
	max-width: 50px;
}
#logo_background {
	width: 140%;
	/*  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='blur'><feGaussianBlur stdDeviation='45' /></filter></svg>#blur");
  -webkit-filter: blur(45px);
  filter: blur(45px);*/
	background-size: cover;
	height: 150vh;
	left: -20%;
	z-index: -1;
	top: -20%;
	position: fixed;
	-webkit-user-drag: none;
}
.media-heading {	
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.07);
	padding-bottom: 4px;
}
.ressource-item, .capsule-item{
	overflow: visible;
}
.ressource-item:not([data-count='0'])::after {
	content:attr(data-count);
	opacity: 1;
	padding: 0px 8px 0px 26px;
	margin: 2px 0px;
	right: 0px;
	font-size: 16px;
	font-family: Raleway;
	font-weight: 400;
	text-align:center;
	background: url("/private/img/comment_blue_64.png") no-repeat;
	background-size: contain;
	font-weight: 600;
	color: #3ba6ce;
	text-shadow: 0px -1px 0px #dcf5ff;
	position: absolute;
	right: 0px;
	top: 0px;
}
.list-group .ressource-item {
	text-align:center;
	margin:8px 0;
	position:relative;
  height: 150px;
}

.ressource-item img {
	width:  100%;
	max-width:  100px;
}

.ressource-item h4 {
	margin-top:8px;
	text-align:center;
}

.capsule-item a[data-count]:not([data-count='0'])::after {
	content:attr(data-count);
	opacity: 1;
	padding: 0px 4px 0px 20px;
	margin: 2px 0px 2px 8px;
	right: 0px;
	font-size: 16px;
	font-family: Raleway;
	font-weight: 400;
	text-align:center;
	background: url("/private/img/comment_blue_64.png") no-repeat;
	background-size: contain;
	font-weight: 600;
	color: #3ba6ce;
	text-shadow: 0px -1px 0px #dcf5ff;
}

.documents .media-body a:not([href]) {
    filter: grayscale(100);
    /* opacity: 0.3; */
}

.documents .media-body i.fa.fa-eye-slash {
	color: #a00000;
}

@media only screen and (max-width: 480px) {
	.container {
		padding: 0px;
	}
	.page-header .ressource .title, .page-header .espace .title {
		display:none;
	}
	.page-header > .shortcuts {
		float: right;
		margin-right:20px;
	}
	.page-header > .shortcuts > a .fa {
		margin-right: 0;
		line-height: 22px;
		font-size:  20px;
	}
	.page-header > .shortcuts > a > label {
		display:none;
	}
	#logo_background {
	    width: 200%;
	    left: -100%;
	}

	.pf .pf.user_menu {
    top: 80%;
    /*bottom: 100px;*/
	}
	.timeline-more {
    left: 0px !important;
    right: 0px !important;
    width: 100% !important;
    margin-top: 120px !important;
	}

	.timeline-more::before, .timeline-more::after {
    display:none;
	}
	.ressource .list-others {
		right:0px;
	}
}

/* Regle pour quand on est sur une page espace uniquement */
.pf.user_menu .menu .menu_items {
	height: 160px;
}