.objectifs ul{
  padding-left:0px;
  list-style:none;
}
.fiche-ressource-tab-objectif-apprentissage input[type=text] {
  width: calc(100% - 40px);
  line-height: 22px;
  margin-left: 4px;
}

.fiche-ressource-tab-objectif-apprentissage {
  margin-bottom: 10px;
}
.fiche-ressource-tab-objectif-apprentissage-delete {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  color: rgba(90, 90, 90, 0.83);
  cursor: pointer;
}

.objectifs .motivations-wrapper h2 {
  font-size: 14px;
}
.objectifs .motivations-wrapper label {
  font-weight:300;
  word-wrap: break-word;
  display:  inline;
  margin-left: 4px;
}