.shortcuts {
  display:inline-block;
  float:right;
  margin: 20px 14px 0 0;
  text-align: left;
}
.shortcuts a {
  display: block;
  color:white !important;
  line-height: 15px;
  margin-bottom: 4px;
  text-align: left;
}
.shortcuts a .fa{
  margin-right:8px;
}
.shortcuts a label {
  font-weight:200 !important;
  margin-bottom: 0;
}