html
  head
    meta(charset='UTF-8')
    title Test de vitesse
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='#{url_serveur_node}/public/lib/js/jquery-1.9.0.min.js')
    script(src='#{url_serveur_node}/public/lib/js/angular.min.js')
    script(src='#{url_serveur_node}/public/lib/js/toastr.min.js')
    link(rel='stylesheet', href='#{url_serveur_node}/public/lib/css/toastr.min.css')
    script.
      var PF = {
        url_serveur_node : "#{url_serveur_node}"
      }  
    script(src='#{url_serveur_node}/private/js/speed_test.js', type='text/javascript')
    link(rel='stylesheet', href='#{url_serveur_node}/private/css/speed_test.css')
  body
    h1 >> Plateforme de test de WS
    main(ng-app='speed_test')
      section(ng-controller='settings')
        #settings-panel
          h1 Paramètres :
          label(for='platform') Plateforme à tester : 
          select(ng-model='platform', name='platform', ng-options="(platform.name + ' - ' + platform.url) for platform in platforms")
            // <option value="{{item}}" label="{{item.url}}">{{item.name}}</option>
          label(for='method') Méthode : 
          input(type='radio', ng-model='method', value='POST')
          | POST
          input(type='radio', ng-model='method', value='DELETE')
          | DELETE
          input(type='radio', ng-model='method', value='PUT')
          | PUT
          input(type='radio', ng-model='method', value='GET')
          | GET
          br
          label(for='ws') Nom du webservice : 
          input(type='text', ng-model='ws', name='ws', ng-change='update_param()', list='ws_list', placeholder='ex: messages/recupererMessages.php')
          datalist#ws_list
            option(ng-repeat='(ws_name, ws_params) in platform.ws_list track by $index', value='{{ws_name}}') {{ws_name}}
          label(for='param') Paramètres : 
          textarea(type='text', ng-model='param', name='param', placeholder='ex: {"id_ressource" : 51, "blah" : "foo"}') {{ws}}
          label(for='os') OS à tester : 
          input(type='radio', ng-model='os', value='Web', selected='')
          | Web
          input(type='radio', ng-model='os', value='iOS')
          | iOS
          input(type='radio', ng-model='os', value='Android')
          | Android
          input(type='radio', ng-model='os', value='Aucun')
          | Aucun
          br
          label(for='version') Version : 
          input(type='text', ng-model='app_version')
          label(for='version') Authentification : 
          input(type='checkbox', ng-model='auth', name='auth', ng-change='handle_auth()')
          br
          hr
          label(for='num') Nombre de tests : 
          input(type='text', ng-model='num', name='num')
          label(for='interval') Intervalle entre les tests en ms (0 pour tests concurrents) :
          input(type='text', ng-model='interval', name='interval')
          label(style='display:inline-block', for='should_log') Afficher les résultats dans le log 
          input(style='display:inline-block; width:initial;', type='checkbox', name='should_log', ng-model='should_log')
          br
          br
          #test-button.button(ng-class="idle ? 'idle' : 'pending'", ng-click='idle ? tester() : stopper()') {{idle ? &apos;Tester&apos; : &apos;Stop&apos;}}
          #effacer-button.button(ng-click='effacer()') Effacer les résultats
        #ws-response
          h1 Réponse du serveur :
          pre.prettyprint
            code(data-ng-bind-html="response")

      section(ng-controller='results')
        h1 Résultats des tests :
        span Moyenne : {{med_arr.length ? med / med_arr.length : 0}}ms
        ul#log
          li(ng-repeat='result in results track by $index')
            span(style='color:gray;') {{result.date}} - 
            span(style='color:white;') {{result.req}}
            span(style='color:white;') {{result.param}}
            // <span style="color:white;">{{result.description}}</span>
            span(ng-class="result.elapsed_time < 1000 ? 'result-good' : 'result-bad'") {{result.elapsed_time}}ms
